popup-width = 436px

.modal-mask
  visibility hidden
  position fixed
  z-index 9998
  top 0
  left 0
  width 100%
  height 100%
  display block

  &.show
    display block

  .modal-container
    max-width popup-width
    visibility visible
    margin 0px auto
    padding 16px
    background-color #fff
    border-radius 2px
    box-shadow 0 2px 8px rgba(0, 0, 0, .33)
    font-family Helvetica, Arial, sans-serif
    position absolute

    &.center
      top 50%
      left 50%
      transform translate(-50%, -50%)

    &.left
      bottom 30px
      left 30px

    &.right
      bottom 30px
      right 30px

    .close
      position absolute
      width 15px
      height 15px
      background url("../images/icons/close_w.svg") no-repeat center
      right 20px
      top 20px
      cursor pointer

  .banner
    margin-bottom 12px
    display block

    img
      max-width 100%
      border-radius 4px

  .text
    margin-bottom 12px

  button
    height 40px
    padding 0 16px

  .footer-type-subscribe
    display flex
    justify-content space-between

    .email
      margin 0
      flex 1
      margin-right 12px

      input[type=email]
        height 40px
        background-color light-grey

  .footer-type-buttons
    display flex
    justify-content space-between
    flex-wrap wrap

    button
      flex 1

      &:first-child
        margin-right 12px

  .message-subscribe
    font base-font
    text-align center
    padding 12px
    background-color light-green
    border-radius 4px
    color primary-black