<div class="banner">
    <img src="/public/static/banners/weekly/divany@2x.jpg" alt="0-0-24">

    <!--<div class="video-btn info-hint youtube-modal" data-code="dWt8LhnOxBI" data-title="Рассрочка 0-0-24"></div>-->
</div>

<div class="conditions">

    <div class="timer">
        <div class="timer-head">
            <div>Спеши!</div>
            <div>До конца акции осталось:</div>
        </div>

        <ms-countdown end-date="{{ endDate }}"></ms-countdown>
    </div>

    <div class="conditions-info">
        <div class="valid">
            <span class="status">Действует</span>
            <span class="dates">{{ startOfWeek }} - {{ endOfWeek }}</span>
        </div>
        <div class="description">
            Самые популярные товары по мнению наших покупателей с максимальными скидками.
            Специальная цена распространяется только на заказы, сделанные на этой неделе.
        </div>
    </div>

</div>
