<!--
<div class="js-set_top_bar">
</div>
-->

<div class="product-grid">
    <div class="product-grid-list">

        {% set columnClass  = 'static-cols-3'   %}
        {% set products = __SELF__.products %}
        {% set withoutCart = 'true' %}

        {% if products.count %}
            {% for product in products %}
                {% include 'partials.grid.product' with { product : product.good, imageType : 'preview_mobile_image' } %}
            {% endfor %}
        {% endif %}

    </div>
</div>

<!--<div class="modal fade video-modal js-related_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>-->
