<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ product.name ~ ' ' ~ product.subname }}</h4>
</div>
<div class="modal-body">
    <div class="related-detail">
        <div class="row">
            <div class="col-sm-12">
                <div class="slider">
                    <div class="js-related_slider owl-carousel">
                        {% for image in product.detail_images %}
                            <img class="owl-lazy" data-src="{{ image.getSource() }}" alt="{{ product.type_name_for_page ~ ' ' ~ product.name ~ ' ' ~ product.subname ~ ' ' ~ product.variant_of_design ~ ' фото(' ~ loop.index ~ ')'}}" title="{{ 'Фото(' ~ loop.index ~ ') ' ~ product.type_name_for_page ~ ' ' ~ product.name ~ ' ' ~ product.subname ~ ' ' ~ product.variant_of_design}}">
                        {% endfor %}
                    </div>
                    <div class="related-slider-controls js-slider_controls">
                        {% for image in product.detail_images %}
                            <img src="{{ image.getSource() }}" style="" class="slider-control" data-id="{{ loop.index0 }}" alt="{{ product.name ~ ' ' ~ product.subname}}">
                        {% endfor %}
                    </div>
                </div>

                <div class="row product-info">
                    <div class="col-sm-6">
                        <h3 class="main-title">{{ product.name }} </h3>
                        <div class="subtitle">{{ product.subname }}</div>
                    </div>
                    <div class="col-sm-6 prices">
                        {% set price_description = product.getPriceDescription() %}
                        <span class="old-price">
                            <del>{{ product.getStrikedPrice()|number_format(0,'',' ') }}</del>
                            {% if product.isWeekPromo() %}
                                <div class="week-promo">
                                    <span class="discount">-{{ product.getMixedDisount() }}</span>
                                    <span class="promo-percent">%</span>
                                </div>
                            {% endif %}
                        </span>
                        <span class="new-price {% if product.isWeekPromo() %} week-promo-price{% endif %}"><span>{{ product.getActivePrice()|number_format(0,'',' ') }}<i class="fa fa-rub"></i></span></span>
                        <!-- {{ product.price_promo }} -->
                        {% if product.units %}
                            <div class="discount-condition units">за {{ product.units }}</div>
                        {% endif %}
                        {% if price_description != '' %}
                            <div class="discount-condition units">{{ price_description }}</div>
                        {% endif %}
                        {% if product.price_promo==0 and product.discount_condition != '' %}
                            <div class="discount-condition">{{ product.discount_condition }}<br>Обычная цена {{ product.price_lower_b|number_format(0,'',' ') }}
                            </div>
                        {% endif %}
                        <!--
                        {% if product.discount_special > 0 %}
                            <div class="percent">-{{ product.discount_special }}%</div>
                        {% endif %}
                        -->
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row characters">
            <div class="col-sm-8">
                {{product.description}}
            </div>
            <div class="col-sm-4 specs">
                {# dump(product.getDescriptions()) #}
                {% for dName, dValue in product.getDescriptions() %}
                    {% if dValue %}
                        <div class="row">
                            <div class="col-xs-6">
                                {{ dName }}
                            </div>
                            <div class="col-xs-6">
                                {{ dValue }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if productionMode %}
    <script>
        // Ecommerce event for GTM. Product Detail Impressions.
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'ecommerce': {
                'detail': {
                    'products': [{
                        'id': '{{ product.id }}',
                        'name': '{{ product.name ~ ' ' ~ product.subname}}',
                        'price': '{{ product.getActivePrice() }}',
                        'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                        'variant': '{{ product.subname }}'
                    }]
                }
            },
            'event': 'gtm-ee-event',
            'gtm-ee-event-category': 'Enhanced Ecommerce',
            'gtm-ee-event-action': 'Product Details',
            'gtm-ee-event-non-interaction': 'True'
        });

        // Ecommerce event for GTM. Product Clicks
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'ecommerce': {
                'click': {
                    'products': [
                        {
                            'id': '{{ product.id }}',
                            'name': '{{ product.name ~ ' ' ~ product.subname}}',
                            'price': '{{ product.getActivePrice() }}',
                            'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                            'variant': '{{ product.subname }}'
                        }
                    ]
                }
            },
            'event': 'gtm-ee-event',
            'gtm-ee-event-category': 'Enhanced Ecommerce',
            'gtm-ee-event-action': 'Product Clicks',
            'gtm-ee-event-non-interaction': 'False'
        });
    </script>

    <!-- RetailRocket -->
    <script type="text/javascript">
        (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
            try{ rrApi.view("{{ product.nid.numeric_id }}"); } catch(e) {}
        });
    </script>
    <!-- /RetailRocket -->
{% endif %}