{% set popup = __SELF__.popup %}

{% if popup %}
{% if popup.type == 4 %}
<div id="promo-drawer">
    <div id="drawer-tab" class="ready">
        <div class="drawer-trigger">
            <h3><i class="fa fa-gift"></i> {{ popup.float_header }} <i class="fa fa-angle-double-up"></i></h3>
        </div>
    </div>
    <div>
        {% if popup.image_url != "" %}
        <a href="{{ popup.image_url }}">
            <img class="popup-image-url" src="{{ popup.image.getPath() }}" data-item="{{ popup.popup_name }}" alt=""
                 style="width: 100%;max-width: 600px"></a>
        {% else %}
        <img src="{{ popup.image.getPath() }}" alt="" style="width: 100%;max-width: 600px">
        {%endif%}
        <h4>{{ popup.message }}</h4>
        <div>
            {% if popup.variant_footer_popup == "button" %}
            {% if popup.type_button == "button" %}
            <button type="button" class="btn btn-lg ms-action-button page_popup_yes button-popup-yes"
                    data-item="{{ popup.popup_name }}"
                    data-color="{{ popup.left_button_color }}" data-href="{{ popup.left_button_link }}"
                    id="{{ popup.id }} {{ popup.name }} {{ popup.left_button_id }}">{{ popup.left_button_text }}
            </button>
            <button type="button" class="btn btn-lg ms-button-gray page_popup_no button-popup-no" data-dismiss="modal"
                    data-color="{{ popup.right_button_color }}" data-item="{{ popup.popup_name }}"
                    id="{{ popup.id }} {{ popup.name }} {{ popup.right_button_id }}">{{ popup.right_button_text }}
            </button>
            {% else %}
            <a href="#" class="page_popup_yes button-popup-yes" data-color="{{ popup.left_button_color }}"
               data-href="{{ popup.left_button_link }}" data-item="{{ popup.popup_name }}"
               id="{{ popup.id }}-{{ popup.popup_name }} {{ popup.left_button_id }}">{{
                popup.left_button_text }}
            </a>
            <a href="#" class="page_popup_no button-popup-no" data-dismiss="modal"
               data-color="{{ popup.right_button_color }}" data-item="{{ popup.popup_name }}"
               id="{{ popup.id }}-{{ popup.popup_name }} {{ popup.right_button_id }}">{{
                popup.right_button_text }}
            </a>
            {% endif %}
            {% elseif popup.variant_footer_popup == "subscribe" %}
            {% partial __SELF__~"::form_subscribe" %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="page_popup" style="display: none;">
    <!-- Modal -->
    <div class="modal modalpagepopup fade" data-timeout="{{ popup.timeout }}" id="pagePopup" tabindex="-1" role="dialog"
         aria-labelledby="pagePopupLabel" data-backdrop="false">
        {% if popup.type == 1 and __SELF__.isMobile == false %}
        <div class="modal-dialog modal-{{ popup.modal_size }} page_popup_left" role="document">
            {% elseif popup.type == 2 and __SELF__.isMobile == false %}
            <div class="modal-dialog modal-{{ popup.modal_size }} page_popup_right" role="document">
                {% else %}
                <div class="modal-dialog modal-{{ popup.modal_size }} page_popup_center" role="document">
                    {% endif %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close-outer rotate-close close-popup-button"
                                    data-dismiss="modal"
                                    data-item="{{ popup.popup_name }}" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                {% if popup.image_url != "" %}
                                <a href="{{ popup.image_url }}">
                                    <img class="popup-image-url" src="{{ popup.image.getPath() }}"
                                         data-item="{{ popup.popup_name }}" alt="" style="width: 100%;max-width: 600px"></a>
                                {% else %}
                                <img src="{{ popup.image.getPath() }}" alt="" style="width: 100%;max-width: 600px">
                                {%endif%}
                            </div>
                            {% if popup.message|length %}
                            <h4>{{ popup.message }}</h4>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            {% if popup.variant_footer_popup == "button" %}
                            {% if popup.type_button == "button" %}
                            <button type="button" class="btn btn-lg ms-action-button page_popup_yes button-popup-yes"
                                    data-item="{{ popup.popup_name }}"
                                    data-color="{{ popup.left_button_color }}" data-href="{{ popup.left_button_link }}"
                                    id="{{ popup.id }} {{ popup.popup_name }} {{ popup.left_button_id }}">{{
                                popup.left_button_text }}
                            </button>
                            <button type="button" class="btn btn-lg ms-button-gray page_popup_no button-popup-no"
                                    data-dismiss="modal"
                                    data-color="{{ popup.right_button_color }}" data-item="{{ popup.popup_name }}"
                                    id="{{ popup.id }} {{ popup.popup_name }} {{ popup.right_button_id }}">{{
                                popup.right_button_text }}
                            </button>
                            {% else %}
                            <a href="#" class="page_popup_yes button-popup-yes" data-item="{{ popup.popup_name }}"
                               data-color="{{ popup.left_button_color }}" data-href="{{ popup.left_button_link }}"
                               id="{{ popup.id }}-{{ popup.popup_name }}-{{ popup.left_button_id }}">{{
                                popup.left_button_text }}
                            </a>
                            <a href="#" class="page_popup_no button-popup-no" data-dismiss="modal"
                               data-item="{{ popup.popup_name }}"
                               data-color="{{ popup.right_button_color }}"
                               id="{{ popup.id }}-{{ popup.popup_name }}-{{ popup.right_button_id }}">{{
                                popup.right_button_text }}
                            </a>
                            {% endif %}
                            {% elseif popup.variant_footer_popup == "subscribe" %}
                            {% partial __SELF__~"::form_subscribe" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!-- Modal -->
        {#<div class="modal fade" id="myPagePopupHTMLModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <div class="myPagePopupHTMLModalContent">

                        </div>
                    </div>
                </div>
            </div>
        </div>#}
