{% set popup = __SELF__.popup %}
{% if popup.promo_code == 0 %}
<!-- Subscription Form -->
<div class="sp-form-outer">
    <div id="sp-form-113932" sp-id="113932" sp-hash="1acaba4e35066893522b98e34b8382ce3582b3e68a3a0ab039c95231c02df32d"
         sp-lang="ru" class="sp-form sp-form-regular sp-form-embed sp-form-horizontal"
         sp-show-options="%7B%22satellite%22%3Afalse%2C%22maDomain%22%3A%22login.sendpulse.com%22%2C%22formsDomain%22%3A%22forms.sendpulse.com%22%2C%22condition%22%3A%22onEnter%22%2C%22scrollTo%22%3A25%2C%22delay%22%3A10%2C%22repeat%22%3A3%2C%22background%22%3A%22rgba(0%2C%200%2C%200%2C%200.5)%22%2C%22position%22%3A%22bottom-right%22%2C%22animation%22%3A%22%22%2C%22hideOnMobile%22%3Afalse%2C%22urlFilter%22%3Afalse%2C%22urlFilterConditions%22%3A%5B%7B%22force%22%3A%22hide%22%2C%22clause%22%3A%22contains%22%2C%22token%22%3A%22%22%7D%5D%2C%22analytics%22%3A%7B%22ga%22%3A%7B%22eventLabel%22%3A%22%D0%A4%D0%BE%D1%80%D0%BC%D0%B0_%D0%BF%D0%BE%D0%B4%D0%BF%D0%B8%D1%81%D0%BA%D0%B8_%D1%81%D0%B1%D0%BE%D1%80_%D0%BC%D0%B5%D0%B9%D0%BB%D0%BE%D0%B2_%D0%BD%D0%B0_%D1%81%D0%B0%D0%B9%D1%82%D0%B5%22%2C%22send%22%3Afalse%7D%2C%22ym%22%3A%7B%22counterId%22%3Anull%2C%22eventLabel%22%3A%22%D0%A4%D0%BE%D1%80%D0%BC%D0%B0_%D0%BF%D0%BE%D0%B4%D0%BF%D0%B8%D1%81%D0%BA%D0%B8_%D1%81%D0%B1%D0%BE%D1%80_%D0%BC%D0%B5%D0%B9%D0%BB%D0%BE%D0%B2_%D0%BD%D0%B0_%D1%81%D0%B0%D0%B9%D1%82%D0%B5%22%2C%22targetId%22%3Anull%2C%22send%22%3Afalse%7D%7D%7D">
        <div class="sp-form-fields-wrapper">
            <div class="sp-message">
                <div></div>
            </div>
            <form novalidate="" class="sp-element-container ui-sortable ui-droppable sp-sm ">
                <div class="sp-field sp-field-full-width" sp-id="sp-e1ee01e6-70fd-4837-b441-b51147fa8509">
                    <div style="font-family: inherit; line-height: 1.2;"><p><span>{{ popup.text_subscribe }}</span>
                    </p></div>
                </div>
                <div class="sp-field " sp-id="sp-bf1a4c3a-8781-47e7-932e-ae17031088f3">
                    <input type="email" sp-type="email" name="sform[email]"
                           class="sp-form-control subscribe-email-input"
                           placeholder="Ваш email"
                           sp-tips="%7B%22required%22%3A%22%D0%9E%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%BE%D0%BB%D0%B5%22%2C%22wrong%22%3A%22%D0%9D%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D1%8B%D0%B9%20email-%D0%B0%D0%B4%D1%80%D0%B5%D1%81%22%7D"
                           required="required">
                </div>
                <div class="sp-field sp-button-container " sp-id="sp-ed00c826-2fea-4208-bf80-ab9e3dbc2549">
                    <button id="sp-ed00c826-2fea-4208-bf80-ab9e3dbc2549" class="sp-button button-popup-subscribe"
                            data-item="{{ popup.popup_name }}">Подписаться
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="//static-login.sendpulse.com/apps/fc3/build/default-handler.js?1544170009291"></script>
<!-- /Subscription Form -->
{% else %}
<div class="subscribe-response">
    <div class="text-subscribe">{{ popup.text_subscribe }}</div>
    <form id="form-subscribe" class="form-subscribe">
        <input type="email" name="email-subscribe" class="input-subscribe" placeholder="Ваш email" required="required">
        <button class="button-subscribe" data-item="{{ popup.popup_name }}">Подписаться</button>
    </form>
</div>
{% endif %}
