<div class="modal fade js-together_item_modal together_item_modal"
     data-timeout="{{ __SELF__.popupTogetherCheaper.timeout }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="together-cheaper">
                <div class="title"><span>КУПИТЬ КОМПЛЕКТ С ЭКОНОМИЕЙ</span></div>
                <ul class="offers">
                    <li class="row js-offer js-offer-modal">
                        {% partial __SELF__~"::offer_item" product=__SELF__.product support=__SELF__.supportProduct %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>