{% set supportProduct = support.getSupportProduct() %}
<div class="col-md-4 col-xs-6 item m-b-10">
    <img class='js-lazy_tab' src="{{ product.images.first.getPreviewSource() }}" alt="{{ product.name~' '~product.subname }}">
    <div class="text">
        <div class="header">Ваш товар</div>
        <div class="price">{{ product.getActivePrice()|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
        <div><span class="type">{{ product.type_name_for_page }}</span>{{ product.name }}</div>
        <div class="subname">{{ product.subname }}</div>
    </div>
    <div class="icon plus">+</div>
</div>
<div class="col-md-4 col-xs-6 text-left m-b-10">
    <div class="item">
        <img class='js-lazy_tab' src="{{ supportProduct.images.first.getPreviewSource() }}" alt="{{ supportProduct.name~' '~supportProduct.subname }}">
        <div class="text">
            <div class="header">Второй товар</div>
            <div class="price">{{ supportProduct.price_lower_b|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
            <div><span class="type">{{ supportProduct.type_name_for_page }}</span>{{ supportProduct.name }}</div>
            <div class="subname">{{ supportProduct.subname }}</div>
        </div>
        <div class="icon equal m-t-30 hidden-xs hidden-sm hidden-md">=</div>
    </div>
</div>
<div class="hidden-xs hidden-sm hidden-md col-md-2 col-xs-6 item m-b-10">
    <div class="text">
        <div class="header">Обычная цена</div>
        <div class="price"><del>{{ (product.getActivePrice()+supportProduct.price_lower_b)|number_format(0,'',' ') }} <i class="fa fa-rub"></i> </del></div>
    </div>
</div>
<div class="col-md-2 col-xs-12 total-wrap">
    <div class="total">
        <div>
            <div>Экономия
                <b>{{ support.saving | number_format(0,'',' ') }} </b><i class="fa fa-rub"></i>
            </div>
            <div class="price">
                {{ (product.getActivePrice()+supportProduct.price_lower_b-support.saving)|number_format(0,'',' ') }} <i class="fa fa-rub"></i>
            </div>
        </div>
        <!--<button class="js-order_form_button ms-action-button btn-lg btn order-button" data-id="{{ product.id~','~supportProduct.id }}">-->
        <button class="ms-action-button btn-lg btn order-button" data-id="{{ product.id }}" data-support-id="{{ supportProduct.id }}"
                onclick="Application.$bus.$emit('cart.pickOffer', { nid: '{{ offer.primary.nid.numeric_id }}', offerId: '{{ offer.id }}', price: '{{ offer.active_price }}' })">
            Купить комплект
        </button>
    </div>
</div>
