==
Запрос на консультацию
Продукт:
{{ data.product_name }}
{% if data.product_url %}
Ссылка на продукт:
{{ data.product_url }}
{% endif %}

Данные пользователя:
Имя: {{ data.first_name }}
Телефон: {{ data.phone }}
Удобное время: {{ data.time }}
==
<h3>Запрос на консультацию</h3>
<h4>Продукт:</h4>
<p>{{ data.product_name }}</p>
{% if data.product_url %}
<h4>Ссылка на продукт:</h4>
<a href="{{ data.product_url }}">{{ data.product_url }}</a>
{% endif %}
<br>
<h4>Данные пользователя:</h4>
<p><b>Имя:</b> {{ data.first_name }}</p>
<p><b>Телефон:</b> {{ data.phone }}</p>
<p><b>Удобное время:</b> {{ data.time }}</p>
