==
Номер заказа: {{ data.orderNumber }}
Уникальный номер заказа в системе: {{ data.mdOrder }}
Продукты:
{% for product in data.products %}
    {{ product.type_name_for_page }}
    {{ product.name }}
    {{ product.subname }}
    {% if product.url %}
    Ссылка:
    {{ product.url }}
    {% endif %}
    Кол-во:
    {{ product.count }}шт.
    Сумма:
    {{ product.total }}₽ {{ product.discount }}
{% endfor %}

Стоимость товаров:
{{ data.total }} ₽
Стоимость доставки:
{{ data.total_delivery }} ₽
Стоимость сборки: {{ data.assembly ? 'Не заказывать сборку' : '' }}
{{ data.assembly ? 0 : data.total_assembling }} ₽
Оплачено бонусами:
{{ data.use_bonus }} ₽ ({{ data.use_bonus ? (data.use_bonus/data.total)*100 : 0 }}%)
{% if data.promo_code and data.promo_code_amount > 0 %}
Был использован промокод {{ data.promo_code }} на сумму {{ data.promo_code_amount }} ₽
{% endif %}
{% if data.buy_today_discount > 0 %}
Скидка по акции "Купи сегодня":
{{ data.buy_today_discount }} ₽
{% endif %}
Общая сумма:
{{ data.total + data.total_delivery + (data.assembly ? 0 : data.total_assembling) - data.use_bonus - data.buy_today_discount }} ₽

Способ оплаты:  {{ data.payment_method }}
Данные пользователя:
Фамилия: {{ data.second_name }}
Имя: {{ data.first_name }}
Отчество: {{ data.middle_name }}
Телефон: {{ data.phone }}
Email: {{ data.email }}
{% if data.payment_method == "credit" %}
Паспорт: {{ data.passport }}
{% endif %}

{% if data.delivery_method == "option1" %}
    Способ доставки: самовывоз
{% elseif data.delivery_method == "option2" %}
    Способ доставки: по адресу
    Город: {{ data.city }}
    Улица: {{ data.street }}
    Дом/Корпус: {{ data.house }}
    Квартира: {{ data.apartment }}
    Этаж: {{ data.floor }}
    Доступен грузовой лифт: {{ data.elevator == 1 ? 'да' : 'нет' }}
{% elseif data.delivery_method == "option3" %}
    Способ доставки: до пункта выдачи
    {{ data.issue_point }}
{% else %}
    Способ доставки: не указано
{% endif %}
Комментарий: {{ data.comment }}
==
<p><b>Номер заказа: </b> {{ data.orderNumber }}</p>
<p><b>Уникальный номер заказа в системе: </b> {{ data.mdOrder }}</p>
<h4>Продукты:</h4>
<table border="1">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for product in data.products %}
        <tr>
            <td>
                <p>{{ product.type_name_for_page }}</p>
                <p><a href="{{ product.url }}">{{ product.name }}</a></p>
                <p>{{ product.subname }}</p>
            </td>
            <td>{{ product.count }}шт.</td>
            <td>{{ product.total }}₽ {{ product.discount }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Стоимость товаров</td>
            <td>{{ data.total }} ₽</td>
        </tr>
        <tr>
            <td colspan="2">Стоимость доставки</td>
            <td>{{ data.total_delivery }} ₽</td>
        </tr>
        <tr>
            <td colspan="2">Стоимость сборки {{ data.assembly ? '(Не заказывать сборку)' : '' }}</td>
            <td>{{ data.assembly ? 0 : data.total_assembling }} ₽</td>
        </tr>
        <tr>
            <td colspan="2">Оплачено бонусами</td>
            <td>{{ data.use_bonus }} ₽ ({{ data.use_bonus ? (data.use_bonus/data.total)*100 : 0 }}%)</td>
        </tr>
        <tr>
            <td colspan="2">Общая сумма</td>
            <td>{{ data.total + data.total_delivery + (data.assembly ? 0 : data.total_assembling) - data.use_bonus - data.buy_today_discount }} ₽</td>
        </tr>
    </tfoot>
</table>
{% if data.buy_today_discount > 0 %}
<p><b>Скидка на акцию "Купи сегодня":</b> {{ data.buy_today_discount }}</p>
{% endif %}
<p><b>Промо Код: </b> {{ data.promo_code }}</p>
<p><b>Способ оплаты: </b> {{ data.payment_method }}</p>
<h4>Данные пользователя:</h4>
<p><b>Фамилия:</b> {{ data.second_name }}</p>
<p><b>Имя:</b> {{ data.first_name }}</p>
<p><b>Отчество:</b> {{ data.middle_name }}</p>
<p><b>Телефон:</b> {{ data.phone }}</p>
<p><b>Email:</b> {{ data.email }}</p>
{% if data.delivery_method == "option1" %}
    <p><b>Способ доставки:</b> самовывоз</p>
{% elseif data.delivery_method == "option2" %}
    <p><b>Способ доставки:</b> по адресу</p>
    <p>Город: {{ data.city }}</p>
    <p>Улица: {{ data.street }}</p>
    <p>Дом/Корпус: {{ data.house }}</p>
    <p>Квартира: {{ data.apartment }}</p>
    <p>Этаж: {{ data.floor }}</p>
    <p>Лифт: {{ data.elevator }}</p>
{% elseif data.delivery_method == "option3" %}
    <p><b>Способ доставки:</b> до пункта выдачи</p>
    <p>{{ data.issue_point }}</p>
{% else %}
    <p><b>Способ доставки:</b> не указано</p>
{% endif %}
<p><b>Комментарий:</b> {{ data.comment }}</p>
