subject = "Заказ на звонок со промо о рассрочке"
==
Заказ на звонок со промо о рассрочки

Данные пользователя:
Телефон: {{ phone }}

==
<h3>Данные пользователя:</h3>
<p>Телефон: <b>{{ phone }}</b></p>
<br>
