==
Продукты:
{% for product in data.products %}
    {{ product.name }}
    {% if product.url %}
    Ссылка на продукт:
    {{ product.url }}
    {% endif %}
{% endfor %}

Данные пользователя:
Имя: {{ data.first_name }}
Телефон: {{ data.phone }}
Email: {{ data.email }}
Промо Код: {{ data.promocode }}
==
<h4>Продукты:</h4>
{% for product in data.products %}
    <p>{{ product.name }}</p>
    {% if product.url %}
        <h4>Ссылка на продукт:</h4>
        <a href="{{ product.url }}">{{ product.url }}</a>
    {% endif %}
{% endfor %}
<br>
<h4>Данные пользователя:</h4>
<p><b>Имя:</b> {{ data.first_name }}</p>
<p><b>Телефон:</b> {{ data.phone }}</p>
<p><b>Email:</b> {{ data.email }}</p>
<p><b>Промо Код:</b> {{ data.promocode }}</p>
<p><b>Адрес доставки / Комментарии:</b><br> {{ data.comment }}</p>
