subject = "mebelshara.ru | Вопрос на сайте"
==
Данные пользователя:
Имя: {{ name }}
Почта: {{ email }}
Телефон: {{ phone }}
Город: {{ city }}


Вопрос:
{{ text }}

==
<h3>Данные пользователя:</h3>
<p><b>Имя:</b> {{ name }}</p>
<p><b>Почта:</b> {{ email }}</p>
<p><b>Телефон:</b> {{ phone }}</p>
<p><b>Город:</b> {{ city }}</p>
<br>
<h3>Вопрос:</h3>
<p>{{ text }}</p>