subject = "Заказ в один клик"
==
Заказ в один клик

Данные пользователя:
Имя: {{ name }}
Телефон: {{ phone }}

Продукт:
{{ productType }} {{ productTitle }}
Ссылка на страницу товара: {{ url }}
==
<h3>Данные пользователя:</h3>
<p>Имя: <b>{{ name }}</b> </p>
<p>Телефон: <b>{{ phone }}</b></p>
<br>
<h3>Продукт:</h3>
<p> {{ productType }} <b>{{ productTitle }}</b></p>
<p>Ссылка на страницу товара: <b>{{ url }}</b></p>