subject = "mebelshara.ru | Забронирован товар"
==
Товар:
{{ reserve.product.name }} ({{ reserve.product.subname }})

Данные формы:
Имя: {{ reserve.name }}
Город: {{ reserve.city.name }}
Магазин: {{ reserve.shop.mall_name }} ({{ reserve.shop.street_address }})
Телефон: {{ reserve.phone }}
Время, когда перезвонить: {{ reserve.time_to_call }}


Сообщение:
{{ reserve.message }}

==
<h3>Товар:</h3>
<p>{{ reserve.product.name }} ({{ reserve.product.subname }})</p>
<br>
<h3>Данные формы:</h3>
<p><b>Имя:</b> {{ reserve.name }}</p>
<p><b>Город:</b> {{ reserve.city.name }}</p>
<p><b>Магазин:</b> {{ reserve.shop.mall_name }} ({{ reserve.shop.street_address }})</p>
<p><b>Телефон:</b> {{ reserve.phone }}</p>
<p><b>Время, когда перезвонить:</b> {{ reserve.time_to_call }}</p>
<br>
<h3>Сообщение:</h3>
<p>{{ reserve.message }}</p>