subject = "[mebelshara.ru переписка #{{ id }}] Переписка #{{ id }} на сайте Мебель Шара"
==
Данные клиента:
Имя: {{ review.name }}
Телефон: {{ review.phone }}
Почта: {{ review.email }}
Город: {{ review.city.name }}
{{ review.contract_number ? 'Номер договора: '~review.contract_number : '' }}



Переписка:
{% for answer in review.messages %}
    {{ answer.direction == 1 ? 'Клиент' : 'Администратор' }}, {{ answer.created_at|date('d.m.Y H:i') }}
    {{ answer.text }}
{% endfor %}
==
<h3>Данные клиента:</h3>
<p><b>Имя:</b> {{ review.name }}</p>
<p><b>Телефон:</b> {{ review.phone }}</p>
<p><b>Почта:</b> {{ review.email }}</p>
<p><b>Город:</b> {{ review.city.name }}</p>
{{ (review.contract_number ? '<p><b>Номер договора: </b>' ~ review.contract_number ~ '</p>' : '')|raw }}

<br/>
<h3>Переписка:</h3>
{% for answer in review.messages %}
    <div style="margin-bottom: 30px; {{ answer.direction == 2 ? 'color: #076F92;' : '' }}">
        <p>
            <b>{{ answer.direction == 1 ? 'Клиент' : 'Администратор' }}</b>, {{ answer.created_at|date('d.m.Y H:i') }}
        </p>
        <p>{{ (answer.text|replaceLineEnds)|raw }}</p>
    </div>
{% endfor %}
