subject = "mebelshara.ru | Заполнена анкета"
==
Город:
{{ request.city.name }}

Вакансия:
{{ request.vacancy.name }}

Данные пользователя:
Фамилия: {{ request.last_name }}
Имя: {{ request.first_name }}
Отчество: {{ request.middle_name }}
Дата рождения: {{ request.birth_date|date2str }}
Гражданство: {{ request.citizenship }}
Контактный телефон: {{ request.phone }}
Образование: {{ request.education }}
Email: {{ request.email }}
Специальность: {{ request.specialty }}

Опыт работы:
{{ request.experience }}

Дополнительные сведения:
{{ request.additional_information }}

==
<h3>Город:</h3>
<p>{{ request.city.name }}</p>
<br>
<h3>Вакансия:</h3>
<p>{{ request.vacancy.name }}</p>
<br>
<h3>Данные пользователя:</h3>
<p><b>Фамилия:</b> {{ request.last_name }}</p>
<p><b>Имя:</b> {{ request.first_name }}</p>
<p><b>Отчество:</b> {{ request.middle_name }}</p>
<p><b>Дата рождения:</b> {{ request.birth_date|date2str }}</p>
<p><b>Гражданство:</b> {{ request.citizenship }}</p>
<p><b>Контактный телефон:</b> {{ request.phone }}</p>
<p><b>Образование:</b> {{ request.education }}</p>
<p><b>Email:</b> {{ request.email }}</p>
<p><b>Специальность:</b> {{ request.specialty }}</p>
<br>
<h3>Опыт работы:</h3>
<p>{{ request.experience }}</p>
<br>
<h3>Дополнительные сведения:</h3>
<p>{{ request.additional_information }}</p>