<div class="email_input_wrapper">
    <div class="email_input_container">
        <label>
            <input type="text" name="email_input" placeholder="email" value="{{ emails }}">
            Введите email через кому
        </label>
    </div>
</div>
