{% if is_mobile %}
{% for row in elements %}
    <div class="products">
            {% for product in row.products %}
                <div class="row">
                    <div class="product clearfix" style="width:100%;" data-ecommerce="{{ product.product_obj.getDataForEcommerce({'list': 'catalog'})|json_encode }}">
                        {% if __SELF__.mixedPromotion and product.product_obj.has_mixed_promo %}
                            <div class="mixed-discount">
                                <img src="{{ '/themes/shara/assets/images/mixed-discount-yellow.png'}}"><span class="discount">-{{ product.product_obj.getMixedDisount() }}</span>
                            </div>
                        {% endif %}

                        <a href="{{ url('/catalog/'~product.product_obj.category.slug~'/'~product.product_obj.slug) }}">
                            <img src="{{ product.product_obj.images[0].getPreviewSource() }}" title="{{ product.type_name_for_page ~ ' ' ~  product.name}}" alt="{{ product.type_name_for_page ~ ' ' ~  product.name}}" style="width:100%">

                            <div class="cat-availability {{ product.product_obj.getAvailabilityClass() }}">
                                {% if product.product_obj.residual_indicator == 0 %}
                                    предзаказ {{ product.product_obj.max_order_item~' '~'{0} дней|{1} день|[2,4] дня|[5,Inf] дней'|transchoice(product.product_obj.max_order_item|default(0)) }}
                                {% elseif product.product_obj.residual_indicator == 1 %}
                                    в ограниченном количестве
                                {% elseif product.product_obj.residual_indicator == 2 %}
                                    в наличии
                                {% endif %}
                            </div>
                            {% if (product.product_obj.getActivePrice()) > 2000 and product.product_obj.installments %}
                                <div class="btn-icon-credit"></div>
                            {% endif %}

                            <div class="row product-title">
                                <div class="col-xs-12">
                                    <div class="product-name"><span class="product-type">{{ product.product_obj.type_name_for_page }}</span> {{ product.product_obj.name }}</div>
                                </div>
                                <div class="col-xs-12 header">
                                    {% if not product.product_obj.isWeekPromo() and product.product_obj.getActiveDiscount() > 0 %}
                                        <div class="discount">-{{ product.product_obj.getActiveDiscount() }}</div>
                                    {% endif %}
                                    {% if product.product_obj.isWeekPromo() %}
                                        <div class="discount week">-{{ product.product_obj.getActiveDiscount() }}</div>
                                    {% endif %}
                                    {% if (product.product_obj.price_special > 0 ? product.product_obj.price_special : product.product_obj.getActivePrice()) < product.product_obj.getStrikedPrice() %}
                                        <div class="old-price">
                                            цена:<br>
                                            <b><del>{{ product.product_obj.getStrikedPrice()|number_format(0,'','.') }}<i class="fa fa-rub"></i></del></b>
                                        </div>
                                    {% endif %}
                                    <div class="price">
                                        {% set price = product.product_obj.getActivePrice()|number_format(0,'','.')|split('.') %}
                                        {{ price[0] }} {{ price[1] }}<i class="fa fa-rub"></i>
                                    </div>

                                    {% set packageProducts = product.product_obj.getPackageProducts() %}
                                    {% if packageProducts.count > 0 %}
                                        <div class="tooltip-button-wrapper price-set">
                                            <div class="tooltip-button js-set_popup">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                            <div class="content js-set_content">
                                                <ul>
                                                    {% for item in packageProducts %}
                                                        <li>
                                                            <span>
                                                                <img src="{{ item.images.first.getSource() }}" alt="{{ item.name }}">
                                                                <div class="text">
                                                                    <div class="name">{{ item.name }}</div>
                                                                    <div class="subname">{{ item.subname }}</div>
                                                                    <div class="price">{{ item.getActivePrice()|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
                                                                </div>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="features">
                                {% for item in product.product_obj.getPopupSpecifications() %}
                                    {% for value in item.items %}
                                        {{ value.name }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="button-wrapper m-t-10 m-b-10">
                                {% if product.sub_category_id == 2 %}
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.product_obj.id }}"
                                            data-nid="{{ product.product_obj.nid.numeric_id }}" data-price="{{ product.product_obj.getActivePrice()}}" data-type="order" data-title="Заказать консультацию">
                                        Заказать консультацию
                                    </button>
                                    <button class="ms-action-button btn-lg btn order_form_button order-button hidden-xs" data-id="{{ product.product_obj.id }}" data-request="onSignInProdBoard">
                                        <i class="fa fa-cube" aria-hidden="true"></i>Создать 3D проект
                                    </button>
                                {% else %}
                                    <button class="js-product_cart_button ms-action-button btn-lg btn order-button order_form_button" data-id="{{ product.product_obj.id }}" data-request-success="alert('Yay!')">
                                        <i class="my-cart_white" aria-hidden="true"></i>В корзину
                                    </button>
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.product_obj.id }}" data-nid="{{ product.product_obj.nid.numeric_id }}"
                                        data-price="{{ product.product_obj.getActivePrice() }}">
                                        Купить в 1 клик
                                    </button>
                                {% endif %}
                            </div>

                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
{% for row in elements %}
<div class="product_row {{row.config.location}} {{row.config.type}}">
    <div class="product_row_wrap">
        {% for product in row.products %}
        <div class="product width_{{product.width}}" data-ecommerce="{{ product.product_obj.getDataForEcommerce({'list': 'catalog'})|json_encode }}">
            {% if __SELF__.mixedPromotion and product.product_obj.has_mixed_promo %}
                <div class="mixed-discount">
                    <img src="{{ '/themes/shara/assets/images/mixed-discount-yellow.png'}}"><span class="discount">-{{ product.product_obj.getMixedDisount() }}</span>
                </div>
            {% endif %}
            <a href="{{ url('/catalog/'~product.product_obj.category.slug~'/'~product.product_obj.slug) }}">
                        {#<div class="js-image_slider owl-carousel">#}
                            {#{% for image in product.product_obj.images %}#}
                                {#{% set origImageSize = image.getPreviewSize() %}#}
                                {#<img src="{{ image.getPreviewSource() }}" alt="{{product.product_obj.name ~ ' ' ~ product.product_obj.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">#}
                            {#{% endfor %}#}
                        {#</div>#}

                        {% set origImageSize = product.product_obj.images[0].getPreviewSize() %}
                        <img src="{{ product.product_obj.images[0].getPreviewSource() }}" alt="{{product.product_obj.name ~ ' ' ~ product.product_obj.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">

                        <div class="cat-availability {{ product.product_obj.getAvailabilityClass() }}">
                            {% if product.product_obj.residual_indicator == 0 %}
                                предзаказ {{ product.product_obj.max_order_item~' '~'{0} дней|{1} день|[2,4] дня|[5,Inf] дней'|transchoice(product.product_obj.max_order_item|default(0)) }}
                            {% elseif product.product_obj.residual_indicator == 1 %}
                                в ограниченном количестве
                            {% elseif product.product_obj.residual_indicator == 2 %}
                                в наличии
                            {% endif %}
                        </div>

                        {% if (product.product_obj.getActivePrice()) > 2000 and product.product_obj.installments %}
                            <div class="btn-icon-credit"></div>
                        {% endif %}

                        <div class="row product-title">
                            <div class="col-xs-12">
                                <div class="product-name"><span class="product-type">{{ product.product_obj.type_name_for_page }}</span> {{ product.product_obj.name }}</div>
                            </div>
                            <div class="col-xs-12 header">
                                {% if not product.product_obj.isWeekPromo() and product.product_obj.getActiveDiscount() > 0 %}
                                    <div class="discount">-{{ product.product_obj.getActiveDiscount() }}</div>
                                {% endif %}
                                {% if product.product_obj.isWeekPromo() %}
                                    <div class="discount week">-{{ product.product_obj.getActiveDiscount() }}</div>
                                {% endif %}
                                {% if (product.product_obj.price_special > 0 ? product.product_obj.price_special : product.product_obj.getActivePrice()) < product.product_obj.getStrikedPrice() %}
                                    <div class="old-price">
                                        цена:<br>
                                        <b><del>{{ product.product_obj.getStrikedPrice()|number_format(0,'','.') }}<i class="fa fa-rub"></i></del></b>
                                    </div>
                                {% endif %}
                                <div class="price">
                                    {% set price = product.product_obj.getActivePrice()|number_format(0,'','.')|split('.') %}
                                    {{ price[0] }} {{ price[1] }}<i class="fa fa-rub"></i>
                                </div>

                                {% set packageProducts = product.product_obj.getPackageProducts() %}
                                {% if packageProducts.count > 0 %}
                                    <div class="tooltip-button-wrapper price-set">
                                        <div class="tooltip-button js-set_popup">
                                            <i class="fa fa-info" aria-hidden="true"></i>
                                        </div>
                                        <div class="content js-set_content">
                                            <ul>
                                                {% for item in packageProducts %}
                                                    <li>
                                                        <span>
                                                            <img src="{{ item.images.first.getSource() }}" alt="{{ item.name }}">
                                                            <div class="text">
                                                                <div class="name">{{ item.name }}</div>
                                                                <div class="subname">{{ item.subname }}</div>
                                                                <div class="price">{{ item.getActivePrice()|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
                                                            </div>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.product_obj.sub_category_id == 2 %}
                                <div class="col-xs-12 small-text">за 1 погонный метр</div>
                            {% endif %}
                        </div>

                        <div class="product-hover">
                            <div class="features">
                                {% for item in product.product_obj.getPopupSpecifications() %}
                                    {% for value in item.items %}
                                        {{ value.name }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="button-wrapper m-t-15 {{ row.count <= 3 ? 'inline' : '' }}">
                                {% if product.sub_category_id == 2 %}
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.product_obj.id }}" data-nid="{{ product.product_obj.nid.numeric_id }}"
                                            data-price="{{ product.product_obj.getActivePrice() }}" data-type="order" data-title="Заказать консультацию">
                                        Заказать консультацию
                                    </button>
                                    <button class="ms-action-button btn-lg btn order_form_button order-button hidden-xs" data-id="{{ product.product_obj.id }}" data-request="onSignInProdBoard">
                                        <i class="fa fa-cube" aria-hidden="true"></i>Создать 3D проект
                                    </button>
                                {% else %}
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.product_obj.id }}" data-nid="{{ product.product_obj.nid.numeric_id }}"
                                            data-price="{{ product.product_obj.getActivePrice() }}">
                                        Купить в 1 клик
                                    </button>
                                    <button class="js-product_cart_button ms-action-button btn-lg btn order_form_button order-button" data-id="{{ product.product_obj.id }}" data-request-success="alert('Yay!')">
                                        <i class="my-cart_white" aria-hidden="true"></i>В корзину
                                    </button>
                            </div>
                            {% endif %}
                        </div>
                    </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endif %}
