.address

  display flex
  flex-wrap wrap

  .city-list
    width 333px
    margin-right gutter
    max-height 65vh
    overflow-y auto
    padding-right 12px
    @extend .modern-scroll

    .expand-block

      &.active

        .expand-block-content
          max-height 1000px

    .city-shops

      &:not(:nth-child(1))
        padding-top 16px


    .city-name
      @extend .head-text-4
      cursor pointer
      margin-bottom 12px
      font-weight bold

    .shop-list

      .shop-list-item
        //margin-top 16px
        cursor pointer
        padding 15px 32px 15px 38px
        border-radius 4px
        transition .3s

        &:hover
        &.active
          background-color light-grey

        &:first-child
          margin-top 0

        .shop-name
          @extend .head-text-4
          font-weight bold
          position relative
          margin-bottom 4px

          &::before
            content ''
            position absolute
            width 20px
            height 20px
            background transparent url("../images/icons/marker.svg") no-repeat center/11px
            left -28px

        .shop-discount
          display inline-block
          margin-bottom 10px
          background-color base-yellow
          border-radius 4px
          padding 4px
          font-size 13px
          font-weight bold

        .shop-address
          margin-bottom 6px

        .shop-phone
          margin-bottom 6px

        .shop-work-time
        .shop-weekends
          font second-font
          color primary-grey

  .map-container
    flex 1
    height 65vh

  @import "_media.styl"