$button
  display inline-block
  width auto
  height 44px
  max-height 44px !important
  padding 12px 16px
  border none
  border-radius 4px
  color #fff !important
  font base-font
  text-align center
  text-decoration none
  user-select none
  cursor pointer
  white-space nowrap

  &:focus
    text-decoration none

// green button
.btn-1
  @extend $button
  background-color accent-color

  &:hover
    background-color darken(@background-color, 5%)

  &:active
    background-color darken(@background-color, 9%)

// orange button
.btn-2
  @extend $button
  background-color base-orange

  &:hover
    background-color darken(@background-color, 5%)

  &:active
    background-color darken(@background-color, 9%)

// white button
.btn-3
  @extend $button
  background-color #fff
  color primary-grey !important
  border 1px solid light-grey

  &:hover
    background-color darken(@background-color, 5%)

  &:active
    background-color darken(@background-color, 9%)



$hamburger //div>span
  display inline-flex
  position relative
  width 32px
  height @width
  cursor pointer
  align-items center
  justify-content center
  user-select none

  span
  span::before
  span::after
    position absolute
    top 50%
    height 2px
    margin-top -1px
    display block
    width 20px
    background-color primary-grey


  span::before
  span::after
    content ''

  span::before
    transform translateY(-6px)

  span::after
    transform translateY(6px)

.hamburger-btn
  @extend $hamburger

// close button
.cls-btn
  display inline-block
  width 32px
  height 32px
  padding 0
  background url("../images/icons/delete.svg")
  background-repeat no-repeat
  background-position center
  cursor pointer
  border: 1px solid light-grey
  border-radius 50%

.btn-arrow
  width 44px
  height @width
  border-radius 50%
  border 1px solid light-grey
  background #fff url("../images/icons/arrow_g.svg") no-repeat center
  cursor pointer
  transition background-color .3s

  &:hover
    background-color accent-color
    background-image url("../images/icons/arrow_w.svg")

.play-btn
  width 36px
  height @width
  background-color accent-color
  border-radius 50%
  border none
  cursor pointer
  position relative

  &::after
    content ''
    position absolute
    top 50%
    left 50%
    transform translate(-3px, -50%)
    display inline-block
    width 0
    height 0
    border-style solid
    border-width 6px 0 6px 9px
    border-color transparent transparent transparent #fff

  &.pulse-b
    animation pulse 2s infinite

    @keyframes pulse

      0%
        box-shadow 0 0 0 4px rgba(58, 190, 22, .1)

      50%
        box-shadow 0 0 0  4px rgba(58, 190, 22, .4)

      100%
        box-shadow 0 0 0 4px rgba(58, 190, 22, .1)
