@font-face
  font-family 'Museo Sans Cyrl'
  src url('../fonts/Museo Sans/MuseoSansCyrl-300.eot')
  src local('MuseoSansCyrl-300'),
  local('MuseoSansCyrl'),
  local('Museo Sans Cyrl'),
  url('../fonts/Museo Sans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo Sans/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/Museo Sans/MuseoSansCyrl-300.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Museo Sans Cyrl'
  src url('../fonts/Museo Sans/MuseoSansCyrl-700.eot')
  src local('MuseoSansCyrl-700'),
  local('MuseoSansCyrl'),
  local('Museo Sans Cyrl'),
  url('../fonts/Museo Sans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo Sans/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/Museo Sans/MuseoSansCyrl-700.ttf') format('truetype')
  font-weight bold
  font-style normal
