input-border = 1px solid light-grey
input-border-hover = darck-grey
input-border-focus = accent-color
input-border-radius = 4px


.f-group
.f-group-2
  text-align left
  margin-bottom 15px
  position relative

  .f-row
    display flex
    margin 16px -8px 0

    &:first-child
      margin-top 0

    input
      width 100% !important

    .f-col
      margin 0 8px

    &.cols-1

      .f-col
        flex 0 1 100%

    &.cols-2

      .f-col
        flex 0 1 50%

    &.cols-3

      .f-col
        flex 0 1 33.333%

  label
    font-weight 400
    margin-bottom 11px
    font base-font

  input
  select
  textarea
    border input-border
    border-radius input-border-radius
    transition .3s
    font base-font

    &:hover
      border-color input-border-hover

    &:focus
      border-color input-border-focus

  &.error
  & .f-col.error
    input[type=text]
    input[type=email]
    input[type=password]
    input[type=tel]
      border 1px solid base-orange

    .error-message
      display block
      margin-top 7px
      color base-orange

      &::before
        content url("../images/icons/warning.svg")
        vertical-align middle
        margin-left 3px
        margin-right 8px

  .error-message
    display none

  &.warning
    .warning-message
      display block
      padding 12px 16px
      background-color light-grey
      border-radius 4px
      margin-top 13px
      color primary-black
      position relative
      margin-bottom 8px

      &::before
        content ''
        position absolute
        left 20px
        border 0 solid transparent
        border-right-width 8px
        border-left-width @border-right-width
        border-bottom 10px solid light-grey
        top -(@border-bottom)

      > *
        cursor pointer

  .warning-message
    display none

  &.radio-group

    > div
      margin-bottom 12px

      &:last-child
        margin-bottom 0

  input[type=text]
  input[type=email]
  input[type=password]
  input[type=tel]
  select
  textarea
    padding 10.8px 16px
    width 100%
    color primary-black

    &::placeholder
      color darck-grey
      font base-font

  select
    height 36px
    padding 0 0 0 12px
    color darck-grey
    background-color #fff

    option
      color primary-black

  input[type=checkbox]
  input[type=radio]
    display none

    & ~ label
      position relative
      font-weight 400
      padding-left 34px

      &::before
        content ''
        display inline-block
        width 24px
        height @width
        margin-right 10px
        border 1px solid light-grey
        vertical-align middle
        background-repeat no-repeat
        background-position center
        transition .3s
        position absolute
        top -3px
        left 0

      &:hover
        cursor pointer

  input[type=checkbox]
    & ~ label

      &::before
        border-radius input-border-radius
        width 22px
        height @width
        margin-right 12px

    &:checked ~ label::before
      background-color base-green
      background-image url("../images/icons/check.svg")
      border-color transparent

  input[type=radio]

    & ~ label
      display inline-block

      &::after
        position absolute
        left 6px
        display inline-block
        width 14px
        height @width
        top 3px
        background-color base-green
        border-radius 50%

      &::before
        border-radius 50%

    &:checked ~ label

      &::before
        background-color #fff
        border-color base-green

      &::after
        content ''

  input[type=range]
    appearance none
    height 2px
    background-color grey
    border none

    &::-webkit-slider-thumb
      //&::-moz-range-thumb
      appearance none
      width 24px
      height @width
      border 2px solid accent-color
      border-radius 50%
      background-color #fff
      cursor pointer

.f-group-2

  &.error
    label
      color base-orange !important

  input[type=text]
  input[type=password]
  input[type=tel]
  input[type=email]
  textarea
    padding 16px 16px

    &:focus

      & ~ label
        color base-green

    & ~ label
      position absolute
      pointer-events none
      left 10px
      top 16px
      color darck-grey
      transition .3s

    &.active

      & ~ label
        top -9px
        padding 0 7px
        background-color #fff
        font-size 12px
        border-radius 4px
