a
  color base-green
  text-decoration none

  &:visited
    color base-green

  &:hover
    text-decoration none
    color #2B8C10

  &:active
    color base-green

  &:focus
    text-decoration none

  &.ln-black
    color primary-black

    &:hover
      color #101210

  &.ln-grey
    color primary-grey

    &:hover
      color #737773