body
  background-color background-color
  padding 0
  margin 0
  //overflow-x hidden
  min-width 320px
  font base-font
  color primary-black
  font-weight normal

  // for macos fonts
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing auto

  // for mobile menu
  &.m-menu-open
    overflow-y hidden

  *
    outline none
    box-sizing border-box
    min-width 0

  p
    margin 8px 0 !important
    font base-font

  .site-wrapper
    height 100vh
    padding 0

    .content-wrapper

      .content
        min-height 100vh

        // костиль
        border-top 1px solid transparent
        transform translateY(-1px)

      @media (min-width 768px)
        margin-left navigation-width

        &.collapsed-menu
          margin-left navigation-collapsed-width

  .container
    width calc(100% - 80px)
    max-width container-width
    margin auto

    &.thin
      max-width container-thin-width

    &.text-page
      max-width container-text-width

    &.not-centered
      margin 0

    .row
      margin 0 -40px

    @media (max-width 1439px)
      width calc(100% - 48px)

      .row
        margin 0 -24px

    @media (max-width 767px)
      width calc(100% - 32px)

      .row
        margin 0 -16px

  img
    max-width 100%
    vertical-align bottom

  .hiding-block
    position relative
    background-color #fff
    padding 40px 0

    .hiding-block-toggle-btn:hover
      cursor pointer

    &.active
      .hiding-block-content
        height auto

        &::after
          content none

      .hiding-block-bottom
        margin-top 0
        padding-top 5px

        .hiding-block-toggle-btn
          transform rotate(-90deg)

    &-title
      padding 0

    &-content
      height 130px
      overflow-y hidden
      position relative
      z-index 0

      &::after
        content ''
        display block
        position absolute
        bottom 0
        height 50px
        width 100%
        z-index 1
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.26) 7%, rgba(255, 255, 255, 0.63) 16%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);

    &-bottom
      margin-top -20px

    &-toggle-btn
      width 44px
      height @width
      border-radius 50%
      transform rotate(90deg)
      background transparent url("../images/icons/right_g.svg") no-repeat center
      border 1px solid light-grey

.disabled
  position relative
  user-select none

  &::before
    content ''
    position absolute
    width 100%
    height 100%
    z-index 100
    background-color #fff
    opacity .5

.disabled-darck
  @extend .disabled

  &::before
    background-color #000
    opacity .4

table
  width 100%
  border-collapse collapse

  @media (max-width 767px)
    display none

  tr
    padding 6px 0

    &:nth-child(1)
      border-bottom 1px solid light-grey

    td
    th
      text-align left
      padding 16px 10px 16px 0

// mobile table
.m-table

  @media (min-width 768px)
    display none

  .m-table-item
    padding 24px
    border-radius 4px
    border 1px solid light-grey
    margin-bottom 8px

    .m-table-row
      display flex
      margin-bottom 14px

      &:last-child
        margin-bottom 0

      &.separator
        margin-top 24px
        padding-top 24px
        border-top 1px solid light-grey

      &.row-head
        margin-bottom 5px

      .m-table-col
        flex 0 1 100%

        &.head
          font second-font
          font-weight bold

        for i in (1..10)

          &.col-{i}
            flex 0 1 'calc(100% / %s)' % i

.head-text-1
  font-size 29px
  letter-spacing -.54px
  line-height 33px

.head-text-2
  font-size 23px
  letter-spacing -.43px
  line-height 27px

.head-text-3
  font-size 19px
  letter-spacing -.36px
  line-height 23px

.head-text-4
  font-size 17px
  letter-spacing -.32px
  line-height 21px

.head-text-1
.head-text-2
.head-text-3
.head-text-4

  &.strong
    font-weight bold

.price-rub
  display inline-block

  &::after
    content '₽'
    font-size 12px
    margin-left 3px
    line-height 14px


@title
  font-weight bold

h1
h2
h3
h4
  @extend @title

h1
  @extend .head-text-1
  margin 14px 0 32px 0


h2
  @extend .head-text-2
  margin 32px 0 22px


h3
  @extend .head-text-3
  margin 32px 0 22px


h4
  @extend .head-text-4
  margin 32px 0 22px


ul
  margin 0
  padding-left 16px

  li
    list-style disc
    padding-bottom 3px

    li
      list-style circle

ol
  padding-bottom 3px

  .light-text
    color primary-grey

.hidden
  display none


.modern-scroll
  &::-webkit-scrollbar-track
    -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.1)
    background-color lightest-grey
    border-radius 10px

  &::-webkit-scrollbar
    width 10px
    background-color light-tgrey

  &::-webkit-scrollbar-thumb
    border-radius 10px
    background-color primary-grey

.ecommerce_info
  display none
