side-gutter = 32px
mobile-side-gutter = side-gutter / 2

.vuedal
  width 944px !important
  max-width calc(100% - 30px)
  padding 25px 0 !important
  border-radius 8px !important
  text-align left
  font-family Open Sans, sans-serif

  @media screen and (max-width: 767px)
    max-width 100%
  
  header
    text-align left !important
    padding 0 side-gutter
    border-bottom none !important
    margin-bottom: 18px !important

    @media screen and (max-width: 767px)
      padding 0 mobile-side-gutter
    
    .title
      font-size 20px !important
      font-weight bold !important
      color #2E332D !important
    
    .close
      font-size: 32px !important
      opacity .4 !important

.youtube-modal
  iframe
    width 100%
    max-width 570px
