container-width = 1320px
container-thin-width = 1080px
container-text-width = 777px

navigation-width = 280px
navigation-opened-width = 600px

navigation-collapsed-width = 64px

header-height = 76px

gutter = 24px

// colors
background-color = #fff
primary-black = #2e332d
primary-grey = #959991
grey = #bfc2be
darck-grey = #999e98
light-grey = #ebebeb
lightest-grey = #f2f2f2
accent-color = #3abe16
base-green = #34a814
light-green = #e6fae1
base-orange = #ff5021
base-yellow = #ffce00
light-yellow = #fff3c2

fb-color = #385591
vk-color = #4c75a3

// fonts

font-family = Museo Sans Cyrl, sans-serif

base-font = 15px\/19px font-family
second-font = 14px\/18px font-family