<div class="section">

    <div class="category-caption">
        <h1 class="title-s-1">{{ good_type_name }}</h1>
        <div class="counter">
            <span>{{ products|length }}</span>
        </div>
    </div>

    <div class="category-nav">

        <a href="" class="category-nav-item ln-black">
            <img src="{{ 'themes/shara/assets/images/modern/test/v-menu/detskie_divany.svg' }}" alt="" class="">
            <div>Диваны для детской</div>
        </a>

        <a href="" class="category-nav-item ln-black active">
            <img src="{{ 'themes/shara/assets/images/modern/test/v-menu/priamoy_divan.svg' }}" alt="" class="">
            <div>Прямые диваны</div>
        </a>

        <a href="" class="category-nav-item ln-black">
            <img src="{{ 'themes/shara/assets/images/modern/test/v-menu/divan_dlia_kukhni.svg' }}" alt="" class="">
            <div>Диваны для кухни</div>
        </a>

        <a href="" class="category-nav-item ln-black">
            <img src="{{ 'themes/shara/assets/images/modern/test/v-menu/divany_krovati.svg' }}" alt="" class="">
            <div>Диваны и кровати</div>
        </a>

        <a href="" class="category-nav-item ln-black">
            <img src="{{ 'themes/shara/assets/images/modern/test/v-menu/uglovoy_divan.svg' }}" alt="" class="">
            <div>Диваны угловые</div>
        </a>

    </div>

    <!--<div class="caption">-->
        <!--<h2 class="title">{{ good_type_name }}</h2>-->
    <!--</div>-->
    <div class="product-grid-wrap">
        {% for product in products %}
        {% if product.banner %}
        <div class="product-grid-item {{ good_types_class }} banner">
            <a href="#" class="img-wrap"></a>
        </div>
        {% else %}
        <div class="product-grid-item {{ good_types_class }}">

            <div class="product-grid-item-inner">

                <div class="promo-labels">
                    {% if product.installments %}
                    <div class="mega">
                        <div>
                            <div>Мега</div>
                            <div>0-0-24</div>
                        </div>
                    </div>
                    {% endif %}
                    {% if not product.isWeekPromo() and product.activeDiscount > 0%}
                    <div class="discount">
                        <div><span>-{{ product.activeDiscount }}</span><span>%</span></div>
                    </div>
                    {% endif %}
                    {% if product.new%}
                    <div class="new">
                    <div>New</div>
                    </div>
                    {% endif %}
                </div>

                <a href="{{ url('/catalog/'~product.category~'/'~product.slug) }}" class="img-container">
                    <img src="{{ product.img }}" alt="">
                </a>
                <a href="" class="product-color">{{ good_type_name }}</a>
                <a href="{{ url('/catalog/'~product.category~'/'~product.slug) }}" class="product-name">
                    {{ product.name }} {{ product.subname }}
                </a>

                <div class="product-reviews">
                    <div class="stars">
                        {% for i in 1..5 %}
                        {% if product.rand >= i %}
                        {% set classStarActive = 'active' %}
                        {%endif%}
                        <i class="fa fa-star {{ classStarActive }}" aria-hidden="true"></i>
                        {% set classStarActive = '' %}
                        {% endfor %}
                    </div>

                    <a href="#" class="revs-text">{% if product.countReviews %} {{ product.countReviews }} {{ product.reviewTitle }} {% else %} Оставить отзыв {% endif %}</a>
                    <!--<div class="revs-text">{{ product.countReviews }}</div>-->

                </div>

                <div class="product-actions">
                    <div class="price">
                        <div class="old-price">
                            <span>{{ product.oldPrice[0] }} {{ product.oldPrice[1] }}</span><span>₽</span></div>
                        <div class="active-price">
                            <span>{{ product.priceSplit[0] }} {{ product.priceSplit[1] }}</span><span>₽</span>
                        </div>
                    </div>

                    <div class="action">
                        <a href="" class="favorites"></a>

                        <span class="shopping-cart"
                              onclick="Application.$bus.$emit('cart.pickOffer', { nid: '{{ product.nid }}', offerId: '{{ product.offerId }}', price: '{{ product.activePrice }}' })"></span>
                    </div>
                </div>

                <div class="product-type-info">
                <span>
                     {% for item in product.specifications %}
                            {% set i = 0 %}
                            {% for value in item.items %}
                                {% set i = i + 1 %}
                                {{ value.name }}
                                {% if i < item.items|length %}
                                    /
                                {% endif %}
                            {% endfor %}
                      {% endfor %}
                </span>
                </div>
                {% if product.width or product.height or product.depth %}
                <div class="dimensions">
                    <div>
                        <div class="dm-text">Размеры:</div>
                        <div class="dm-numbers">
                            {% if product.width %}
                            <div class="arrow-v">
                                <span>{{ product.width/10 }}</span><span>см</span>
                            </div>
                            {% endif %}
                            {% if product.height %}
                            <div class="arrow-h">
                                <span>{{ product.height/10 }}</span><span>см</span>
                            </div>
                            {% endif %}
                            {% if product.depth %}
                            <div class="arrow-d">
                                <span>{{ product.depth/10 }}</span><span>см</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>


    <div class="p-pagination">

        <div><span>1</span></div>
        <div><span>2</span></div>
        <div><span>3</span></div>
        <div class="active"><span>4</span></div>
        <div><span>5</span></div>
        <div><span>...</span></div>
        <div><span>20</span></div>
        <div><span></span></div>

    </div>
</div>
