/* Variables */

$bg_color_input_message: #efeef2;
$bg_color_output_message: #CFEDFB;
$bg_color_tm_message: #EEFBCF;
$color_gray: #66696a;
$color_light_gray: #9ca4a7;


/* Styles */

.message-title {
    margin-bottom: 50px;
}
.message-list {
    margin-bottom: 50px;

    &>.message {
        margin-bottom: 30px;

        .input {
            .message-text {
                text-align: left;
                background-color: $bg_color_input_message;
            }
        }

        .output {
            .message-text {
                background-color: $bg_color_output_message;
            }
        }

        .tm {
            .message-text {
                background-color: $bg_color_tm_message;
            }
        }

        .title {
            color: $color_gray;
            margin-bottom: 5px;
            text-align: right;
        }

        .message-text {
            color: $color_gray;
            margin-bottom: 5px;
            padding: 15px;
            display: inline-block;
            border-radius: 3px;
            border: none;
            width: 100%;
            resize: none;
        }

        .message-tools-holder {
            margin-bottom: 5px;

            .message-tools {
                text-align: right;
                >button {
                    opacity: .7;
                    margin-bottom: 5px;
                }
                >button:hover {
                    opacity: 1;
                }
            }

            .loading-indicator-container {
                min-height: 26px;
            }


            .loading_message {
                position: relative;

                &.success {
                    color: #8DA85E;
                }
                &.error {
                    color: #cc3300;
                }

                >span {
                    position: absolute;
                    top: 6px;
                    font-size: 16px;
                }

                >div {
                    font-size: 11px;
                    padding-top: 7px;
                    padding-left: 20px;
                }
            }
        }
    }

    .publication-block {
        text-align: center;
        margin-bottom: 30px;

        .publication-line {
            border-bottom: 1px solid rgba(149, 149, 149, 0.23);
            height: 11px;
            margin: 0 15px;

            .publication-text {
                color: #9ca4a7;
                background-color: #f9f9f9;
                border: 1px solid rgba(149, 149, 149, 0.23);
                padding: 2px 10px 3px;
                border-radius: 15px;
                font-size: 12px;
            }
        }
    }
}
.message-form {
    margin-bottom: 50px;

    .form-title {
        margin-bottom: 30px;
    }
}