.account-sidebar
  width 294px

  .sidebar

    &-item
      border 1px solid light-grey
      border-radius 4px
      margin-bottom 24px

    .bonuses
      padding 16px 24px

      .card-code
        font-size 23px
        letter-spacing -.43px
        line-height 27px
        font-weight bold
        margin-top 8px

      &-info
        display flex
        justify-content space-between
        margin-top 8px

        > div

          &:nth-child(2)
            font-size 17px
            letter-spacing -.32px
            line-height 21px
            font-weight bold

            & > :nth-child(2)
              font-size 12px
              line-height 15px

  .account-nav
    nav-item-height = 50px

    li
      padding 0

      &.active
        background-color accent-color

        a
          color #fff
          cursor pointer

      a
        display flex
        height 100%
        line-height nav-item-height
        cursor pointer

      .img
        width 60px
        background-position center
        background-repeat no-repeat

  @import "_media.styl"