/* Variables */
/* Styles */
.message-title {
  margin-bottom: 50px; }

.message-list {
  margin-bottom: 50px; }
  .message-list > .message {
    margin-bottom: 30px; }
    .message-list > .message .input .message-text {
      text-align: left;
      background-color: #efeef2; }
    .message-list > .message .output .message-text {
      background-color: #CFEDFB; }
    .message-list > .message .tm .message-text {
      background-color: #EEFBCF; }
    .message-list > .message .title {
      color: #66696a;
      margin-bottom: 5px;
      text-align: right; }
    .message-list > .message .message-text {
      color: #66696a;
      margin-bottom: 5px;
      padding: 15px;
      display: inline-block;
      border-radius: 3px;
      border: none;
      width: 100%;
      resize: none; }
    .message-list > .message .message-tools-holder {
      margin-bottom: 5px; }
      .message-list > .message .message-tools-holder .message-tools {
        text-align: right; }
        .message-list > .message .message-tools-holder .message-tools > button {
          opacity: .7;
          margin-bottom: 5px; }
        .message-list > .message .message-tools-holder .message-tools > button:hover {
          opacity: 1; }
      .message-list > .message .message-tools-holder .loading-indicator-container {
        min-height: 26px; }
      .message-list > .message .message-tools-holder .loading_message {
        position: relative; }
        .message-list > .message .message-tools-holder .loading_message.success {
          color: #8DA85E; }
        .message-list > .message .message-tools-holder .loading_message.error {
          color: #cc3300; }
        .message-list > .message .message-tools-holder .loading_message > span {
          position: absolute;
          top: 6px;
          font-size: 16px; }
        .message-list > .message .message-tools-holder .loading_message > div {
          font-size: 11px;
          padding-top: 7px;
          padding-left: 20px; }
  .message-list .publication-block {
    text-align: center;
    margin-bottom: 30px; }
    .message-list .publication-block .publication-line {
      border-bottom: 1px solid rgba(149, 149, 149, 0.23);
      height: 11px;
      margin: 0 15px; }
      .message-list .publication-block .publication-line .publication-text {
        color: #9ca4a7;
        background-color: #f9f9f9;
        border: 1px solid rgba(149, 149, 149, 0.23);
        padding: 2px 10px 3px;
        border-radius: 15px;
        font-size: 12px; }

.message-form {
  margin-bottom: 50px; }
  .message-form .form-title {
    margin-bottom: 30px; }
