<div class="page-404-wrap">

    <div class="page-404-col-left">

        <div class="page-404-col-left-inner">
            <div class="page-404-title">Страница не найдена</div>

            <div>Похоже, запрошенная вами страница не существует или переехала!</div>
            <div>Попробуйте воспользоваться меню, или перейдите на главную</div>

            <nav class="page-404-nav">

                {% for item in collection %}

                    <a href="{{ item.url ?  item.url : 'javascript:void(0)' }}" class="page-404-nav-item">
                        {% if item.icon_id %}
                            {{ item.icon.content|raw }}
                        {% endif %}
                    </a>

                {% endfor %}
            </nav>

        </div>

    </div>

    <div class="page-404-col-right">
        <img src="/public/static/banners/404/404@2x.jpg" alt="">
    </div>

</div>
