{% if breadcrumbs %}
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.url and loop.last == false %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
            {% else %}
                <li class="breadcrumb-item active">{{ breadcrumb.title }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
