{# <div class="sorting">
    <span class="label">Сортировать:</span>

    <div class="select js-select">

        <div class="selected">Чебоксары</div>

        <div class="dropdown-list">
            <div class="dropdown-list-item"><a href="">По дате</a></div>
            <div class="dropdown-list-item"><a href="">Не по дате</a></div>
            <div class="dropdown-list-item"><a href="">Чебоксары</a></div>
        </div>
    </div>
</div>
#}
{% if reviews.count > 0 %}
<div class="review-list">
    {% for review in reviews %}

    {% set product = products.where('slug', review.product_slug).first %}

    <div class="review-list-item">
        <div class="left-coll">
            <div class="review-img"><a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}">
                    <img src="{{ product.detail_images[0].getSource() }}" alt=""></a></div>
            <div class="raiting"></div>
        </div>
        <div class="right-coll">
            <div class="review-title"><a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" class="ln-black">
                    {{ product.type_name_for_page ~' '~ product.name }}</a></div>
            <div class="review-info"><span>{{ review.name }}</span> · <span>{{ review.created_at|date('d.m.Y') }}</span></div>
            <div class="review-text">
                {% if review.messages.count > 0 %}
                    {{ review.messages.first.text|raw }}
                {% else %}
                    {{ review.text|raw }}
                {% endif %}
            </div>
            <div class="review-vote">
                <div class="vote">
                    <div>Полезен ли отзыв?</div>
                    <div class="like">
                        <div class="counter">{{ review.likes }}</div>
                    </div>
                    <div class="dislike">
                        <div class="counter">{{ review.dislikes }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if reviews.hasPages %}
    {% include 'partials.grid.pagination' with { 'pagination' : reviews  } %}
{% endif %}

{% else %}
    <div>Отзывов пока нет. Вы можете стать первым!</div>
{% endif %}

