    {# <div class="sorting">
     <span class="label">Сортировать:</span>

     <div class="select js-select">

         <div class="selected">Чебоксары</div>

         <div class="dropdown-list">
             <div class="dropdown-list-item"><a href="">По дате</a></div>
             <div class="dropdown-list-item"><a href="">Не по дате</a></div>
             <div class="dropdown-list-item"><a href="">Чебоксары</a></div>
         </div>
     </div>
 </div>
 #}


    <div class="product-reviews-list">

        <div class="product-reviews-list-header">

            <div>
                <h2 class="tab-title">Отзывы <span>{{ product.type_name_for_page }} {{ product.name }}</span></h2>


                {% if reviews.count > 0 %}
                <div class="product-reviews-list-header-params">
                    <div class="rating">
                        <div class="rating-box active-{{ product.stars|round }}">
                            <div class="stars size-l">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="rb-text">{{product.stars}} из 5</div>
                        </div>
                    </div>
                    {#<div class="sorting">#}
                        {#<span>Сортировать по</span>#}
                        {#<span style="padding-left: 10px">#}
                               {#<form method="POST" action="#">#}
                                {#<select name="sorting" class="form-control js-reviews_filter">#}
                                     {#{% for key, value in __SELF__.getSortingValues() %}#}
                                         {#<option value="{{ key }}"#}
                                                 {#{% if __SELF__.filter['sorting'] == key %}#}
                                             {#selected="selected"#}
                                                 {#{% endif %}>#}
                                    {#{{ value }}</option>#}
                                     {#{% endfor %}#}
                                {#</select>#}
                                {#</form>#}
                            {#</span>#}
                    {#</div>#}
                </div>
                {% endif %}

            </div>

            <div>
               <button class="btn-1 write-review">Написать отзыв</button>
            </div>

        </div>

        <div class="product-reviews-list-content">
            {% for review in reviews %}
                <div class="product-reviews-list-content-item">

                    <div class="product-reviews-list-content-item-top">

                        <div class="text">
                            {% if review.messages.count > 0 %}
                                {{ review.messages.first.text|raw }}
                            {% else %}
                                {{ review.text|raw }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="product-reviews-list-content-item-bottom">

                        <div class="author">
                            <span>{{ review.name }}</span>
                            <span>·</span>
                            <span>{{ review.city.name }}, {{ review.created_at|date('d.m.Y') }}</span>
                        </div>
                            <ms-review-likes :review-id="{{ review.id }}" :review-likes="{{ review.likes|default(0) }}"
                                             :review-dislikes="{{ review.dislikes|default(0) }}"></ms-review-likes>
                    </div>
                </div>
            {% endfor %}

            {% if reviews.count == 0 %}
                <div>Отзывов пока нет. Вы можете стать первым!</div>
            {% endif %}
        </div>
        {% if reviews.hasPages %}
            {% include 'partials.grid.pagination' with { 'pagination' : reviews  } %}
        {% endif %}
    </div>
