<template>
    <div class="vote">
        <div>Полезен ли отзыв?</div>
        <div class="like" @click="onLike">
            <div class="counter">{{ likes }}</div>
        </div>
        <div class="dislike"  @click="onDislike">
            <div class="counter">{{ dislikes }}</div>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce'

    export default {
        name: "MsReviewLikes",
        props: {
            reviewId: Number,
            reviewLikes: Number,
            reviewDislikes: Number
        },
        data:()=> ({
            likes: null,
            dislikes: null
        }),
        mounted: function() {
            this.likes = this.reviewLikes
            this.dislikes = this.reviewDislikes
        },
        methods: {
            onLike: debounce(async function () {
                const response = await this.$apiClient.$post('/catalog/review/'+this.reviewId+'/like')
                this.likes =  response.likes
                this.dislikes = response.dislikes
                console.log('liked!~')
            },1000,{
                leading: true,
                trailing: false
            }),
            onDislike: debounce(async function(){
                const response = await this.$apiClient.$post('/catalog/review/'+this.reviewId+'/dislike')
                this.likes =  response.likes
                this.dislikes = response.dislikes
                console.log('disliked!~')
            }, 1000,  {
            leading: true,
            trailing: false
            }),
        }
    }
</script>