<template>
    <div>
        <div>
            <p>
                Для обратной связи по Вашему отзыву просим указывать верные контактные данные. В течение двух рабочих
                дней на почту. Вы получите ответ от службы поддержки клиентов.
            </p>
        </div>
        <div class="f-group-2" :class="{  error: errors.has('name') }">
            <input :class="{ active: activeName, disabled: isAuthenticated }"
                   @blur="activeClass.name = false"
                   @focus="activeClass.name = true"
                   name="name"
                   type="text"
                   v-model="model.name"
                   v-validate="'required'">
            <label>Имя</label>
            <div class="error-message" v-if="errors.has('name')">{{ errors.first('name') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('phone') }">
            <input :class="{ active: activePhone, disabled: isAuthenticated }"
                   @blur="activeClass.phone = false"
                   @focus="activeClass.phone = true"
                   name="phone"
                   type="text"
                   v-model="model.phone"
                   v-validate="'required|phone'"
                   v-phone-mask>
            <label>Телефон</label>
            <div class="error-message" v-if="errors.has('phone')">{{ errors.first('phone') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('email') }">
            <input :class="{ active: activeEmail, disabled: isAuthenticated }"
                   @blur="activeClass.email = false"
                   @focus="activeClass.email = true"
                   name="email"
                   type="text"
                   v-model="model.email"
                   v-validate="'required|email'">
            <label>Ел. адрес</label>
            <div class="error-message" v-if="errors.has('email')">{{ errors.first('email') }}</div>
        </div>

        <div class="f-group-2">
            <input id="isClient"
                   type="checkbox"
                   v-model="isClient"
                   v-validate
                   name="isClient">
            <label for="isClient">Вы уже являетесь клиентом нашей компании?</label>
        </div>

        <div class="f-group-2" v-if="isClient" :class="{  error: errors.has('contractNumber') }">
            <input :class="{ active: activeContractNumber }"
                   @blur="activeClass.contractNumber = false"
                   @focus="activeClass.contractNumber = true"
                   name="contractNumber"
                   type="text"
                   v-model="model.contractNumber"
                   v-validate="'required'">
            <label>Номер договора</label>
            <div class="error-message" v-if="errors.has('contractNumber')">{{ errors.first('contractNumber') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('text') }">
            <textarea :class="{ active: activeText }"
                      @blur="activeClass.text = false"
                      @focus="activeClass.text = true"
                      name="text"
                      v-model="model.text"
                      v-validate="'required'">
            </textarea>
            <label>Текст отзыва</label>
            <div class="error-message" v-if="errors.has('text')">{{ errors.first('text') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('isAccepted') }">
            <input id="isAccepted"
                   type="checkbox"
                   name="isAccepted"
                   v-model="isAccepted"
                   v-validate="'required'">
            <label for="isAccepted">
                Я принимаю условия размещения отзывов и
                <a href="/storage/app/media/documents/privacy_policy.pdf" target="_blank">
                    политику конфиденциальности
                </a>
            </label>
            <div class="error-message" v-if="errors.has('isAccepted')">{{ errors.first('isAccepted') }}</div>
        </div>

        <div>
            <button class="btn-1 submit"
                    :class="{ disabled: loading }"
                    @click="onSubmit">Отправить
            </button>
        </div>
    </div>
</template>

<script>
    import phoneMask from '@/support/phoneMask'

    export default {
        name: "MsReviewForm",

        mixins: [phoneMask],

        props: ['product'],

        data: () => ({
            loading: false,
            isClient: false,
            isAccepted: false,
            activeClass: {
                name: '',
                email: '',
                phone: '',
                contractNumber: '',
                text: '',
            },
            model: {
                name: '',
                email: '',
                phone: '',
                contractNumber: '',
                text: '',
            }
        }),

        computed: {
            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            },

            user () {
                return this.$store.state.user.user
            },

            activeName () {
                return this.activeClass.name || this.model.name.length > 0
            },

            activeEmail () {
                return this.activeClass.email || this.model.email.length > 0
            },

            activePhone () {
                return this.activeClass.phone || this.model.phone.length > 0
            },

            activeContractNumber () {
                return this.activeClass.contractNumber || this.model.contractNumber.length > 0
            },

            activeText () {
                return this.activeClass.text || this.model.text.length > 0
            }

        },

        created () {
            if (this.isAuthenticated) {
                this.model.name = this.user.name
                this.model.phone = this.user.phone
                this.model.email = this.user.email
            }
        },

        methods: {
            async onSubmit () {
                this.loading = true

                if (await this.$validator.validateAll()) {
                    const data = {
                        ...this.model,
                        product: this.product
                    }

                    const response = await this.$apiClient.$post('/catalog/review', data)

                    this.$modals.close()
                }

                this.loading = false
            }
        },
    }
</script>

<style scoped>
    .submit {
        width: 100%;
    }
</style>
