<template>
    <vu-modal>
        <div slot="header">
            Разместить отзыв
        </div>

        <ms-review-form :product="product"></ms-review-form>
    </vu-modal>
</template>

<script>
    import MsReviewForm from './MsReviewForm'

    export default {
        name: "MsReviewModal",

        props: ['product'],

        components: {
            MsReviewForm
        }
    }
</script>
