<h2 class="m-b-20 text-left">Мои Промокоды</h2>

{% if __SELF__.promoCodes.count() > 0 %}
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        {% for promoCode in __SELF__.promoCodes %}
        <tr>
            <td>{{ promoCode.code }}</td>
            <td>
                {% if promoCode.promo_code.status and promoCode.applied_at == null
                and promoCode.promo_code.expired_at|date('Y-m-d') >= "now"|date('Y-m-d') and
                promoCode.created_at|date_modify("+10 day")|date('Y-m-d') >= "now"|date('Y-m-d') %}
                Действителен до {{ promoCode.created_at|date_modify("+10 day")|date('Y-m-d') }}
                {% elseif promoCode.promo_code.status and promoCode.promo_code.expired_at|date('Y-m-d') <
                "now"|date('Y-m-d') %}
                Промокод недействительный
                {% else%}
                Промокод неактивный
                {% endif %}
            </td>
            <td>Сумма скидки {{ promoCode.promo_code.amount|number_format(0, '.', "\xc2\xa0") }}&#160;₽</td>
            <td>Действителен при покупке от {{ promoCode.promo_code.available_from|number_format(0, '.', "\xc2\xa0") }}&#160;₽</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="font18">Список промокодов пуст</p>
{% endif %}
