@media (max-width 1443px)

  .offers

    .offer

      .offer-item

        &.total
          flex 100%
          margin-top gutter

      .operator

        &.equal
          display none

@media (max-width 1366px)

  .offers

    .offer
      padding gutter

@media (max-width 1079px)

  .offers

    .offer

      .offer-item

        &.total
          flex none
          margin-top 0

      .operator

        &.equal
          display block


@media (max-width 991px)

  .offers

    .offer

      .offer-item

        &.total
          flex 100%
          margin-top gutter

      .operator

        &.equal
          display none

@media (max-width 767px)

  .offers

    .offer

      .offer-item

        &.total
          flex none
          margin-top 0

      .operator

        &.equal
          display block


@media (max-width 650px)

  .offers

    .offer

      .offer-item

        &.total
          flex 100%
          margin-top gutter

      .operator

        &.equal
          display none


@media (max-width 500px)

  .offers

    .offer
      align-items center
      flex-direction column

      .offer-item

        &.total
          align-self stretch
          margin-top 0

          button
            width 100%

      .operator
        margin gutter auto

        &.equal
          display block
