.together-cheaper

  .together-cheaper-title
    margin 0 0 26px

  .offers

    .offer
      border 2px solid accent-color
      margin-bottom 16px
      border-radius 8px
      display flex
      flex-wrap wrap
      justify-content space-between
      padding 40px 64px

      &:last-child
        margin-bottom 0

      &-item

        &-img
          width 160px
          height 110px
          margin-bottom 8px

          img
            max-height 100%
            border-radius 4px

        &-category
          font second-font
          color primary-grey
          margin-bottom 6px

        &-name
          margin-bottom 6px

        &-price
          @extend .head-text-2
          font-weight bold

        .price-rub

          &::after
            font-size 14px

        .select-other-product
          margin-top 4px
          color accent-color
          cursor pointer

        &.total
          background-color light-yellow
          padding 24px 16px 16px
          align-self flex-start

          .old-price
            @extend .head-text-3
            color primary-grey

          .active-price
            @extend .head-text-2
            font-weight bold

          .discount
            @extend .head-text-4
            margin-top 4px
            margin-bottom 10px

      .operator
        width 15px
        height 15px
        margin auto
        background transparent center no-repeat

        &.plus
          background-image url("../images/icons/plus_big_g.svg")

        &.equal
          background-image url("../images/icons/equal_big_g.svg")

  @import "_media.styl"
