item-color-hover = light-grey
item-color-active = accent-color

menu-width = navigation-width
menu-opened-width = navigation-opened-width

link-transition = .3s

.side-menu
  position fixed
  top 80px
  left 0
  width menu-width
  border-right 1px solid light-grey
  background-color #fff
  overflow-y auto
  overflow-x hidden
  white-space nowrap
  z-index 110
  text-align left

  &.animate
    transition top .4s

  &.mini
    width navigation-collapsed-width

    .bottom-nav
      display none

  &.opened
    width menu-width

    .bottom-nav
      display block

  &.active
    width menu-opened-width

    .bottom-nav
      display block

  a
    color #000
    text-decoration none

  svg
    stroke #000
    stroke-width 2px
    fill #fff

  ul
    padding-left 0

  .menu-list-wrap
    min-height 100vh
    display inline-block

    .menu-list

      &.active
        width menu-opened-width

      & > ul
        width menu-width
        margin 0

        & > li
          position relative
          padding 0
          list-style none
          text-align left
          transition background ease .25s, .5s, .25s, .5s

          &:hover
          &.hover
            background-color item-color-hover

            &::after
              right 15px
              opacity 1

          &:first-child
            margin-top 12px

          &::after
            content ''
            height 12px
            width 8px
            position absolute
            top 50%
            right 35px
            transform translateY(-50%)
            background transparent url("../images/icons/right_g.svg") center / contain no-repeat
            transition all ease .25s, .5s, .25s, .5s
            opacity 0

          &.active
            background-color item-color-hover

          &.selected
            background-color item-color-active

            &:hover
              background-color darken(item-color-active, 5%) !important

            a
              color #fff

          a
            display inline-block
            width 100%
            line-height 44px
            text-decoration none
            color rgba(0, 0, 0, .8)

            svg
              display inline-block
              position absolute
              max-width 36px
              max-height 36px
              margin auto
              margin-left 15px
              top 0
              bottom 0

            span
              padding-left 66px

  .menu-sub-list
    display none
    width menu-opened-width - menu-width
    border-left 1px solid light-grey
    height 100vh
    vertical-align top
    padding 34px 22px
    position relative

    &.active
      display inline-block

    .sub-list-category

      display none

      &.active
        display block

      .sub-list-category-top
        display flex
        flex-wrap wrap
        justify-content space-between
        margin-bottom 12px 0 -8px

        .category-title
          @extend .head-text-4
          color primary-black
          font-weight bold
          margin-bottom 12px
          margin-right 12px

          &:hover
            color #101210

      .sub-list-category-content
        display flex
        flex-wrap wrap

        .sub-list-category-item

          &:not(.banner)
            width 50%
            height 145px
            border-radius 4px
            transition link-transition

          &.banner
            width 100%
            margin-top gutter

            img
              display block
              border-radius 4px
              margin-bottom 8px

            &:first-child
              margin-top 0

          &:not(.banner):hover
            background-color light-grey

          .category
            white-space normal
            font second-font
            display flex
            flex-direction column
            justify-content flex-start
            height 100%

            .icon
              height 96px
              display flex
              justify-content center
              align-items flex-end
              padding-bottom 34px

            .name
              display inline-block
              text-align center


  .bottom-nav
    border-top 1px solid light-grey
    padding 26px

    > div
      padding 6px 0

      &:nth-child(1)
        padding-top 0

  @import "_media.styl"
