<div class="row m-t-50 m-b-50">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="text-center">
            <div class="modal-message-icon warning">
                <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
            <h3>Письмо с дальнейшими инструкциями по активации было выслано на указанный адрес электронной почты.</h3>
            <p>
                Проверьте свою почту и завершите регистрацию.
            </p>
        </div>
    </div>
</div>