<div class="js-account_container">

    {% if not user %}

        {% if isActivation %}
            {% partial __SELF__ ~ '::activation_check' %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="m-b-30">Личный кабинет</h3>

                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <h4 class="m-b-10">Уже есть аккаунт?</h4>
                            <button class="btn btn-default ms-button-vacancy" onclick="Application.$bus.$emit('auth.modal')">Войти</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="m-b-10">Вы у нас впервые?</h4>
                            <button class="btn btn-default ms-button-vacancy js-signup_button" onclick="Application.$bus.$emit('auth.modal')">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}
        {% partial __SELF__ ~ '::info' %}
    {% endif %}

</div>

<script>
    AccountData = {
        isOpenQuestionary: {{ isOpenQuestionary ? 'true' : 'false' }}
    }
</script>