<h2 class="m-b-50">{{ showWelcomeMessage ? user.name~', добро пожаловать в личный кабинет!' : 'Ваши персональные данные'}}</h2>

<div class="personal-info">

    <div class="row field">
        <div class="col-sm-12">
            <div class="title">Ф.И.О:</div>
            <div class="value">{{ user.last_name~' '~user.name~' '~user.other_name }}</div>
        </div>
    </div>

    <div class="row field">
        <div class="col-sm-12">
            <div class="title">Email:</div>
            <div class="value">{{ user.email }}</div>
        </div>
    </div>

    <div class="row field">
        <div class="col-sm-12">
            <div class="title">Телефон:</div>
            <div class="value">{{ user.phone|phone }}</div>
        </div>
    </div>

    {% if user.birth_date %}
        <div class="row field">
            <div class="col-sm-12">
                <div class="title">Дата рождения:</div>
                <div class="value">{{ user.birth_date|date('d.m.Y') }}</div>
            </div>
        </div>
    {% endif %}

    {% if user.gender_id %}
        <div class="row field">
            <div class="col-sm-12">
                <div class="title">Пол:</div>
                <div class="value">{{ user.gender_id == 1 ? 'Мужской' : 'Женский' }}</div>
            </div>
        </div>
    {% endif %}

    {% if user.extended.additional.city %}
        <div class="row field">
            <div class="col-sm-12">
                <div class="title">Город:</div>
                <div class="value">{{ user.extended.additional.city }}</div>
            </div>
        </div>
    {% endif %}

    {% if user.extended.additional.viber %}
        <div class="row field">
            <div class="col-sm-12">
                <div class="title">Viber:</div>
                <div class="value">{{ user.extended.additional.viber|phone }}</div>
            </div>
        </div>
    {% endif %}

    {% if user.extended.additional.whatsapp %}
        <div class="row field">
            <div class="col-sm-12">
                <div class="title">WhatsApp:</div>
                <div class="value">{{ user.extended.additional.whatsapp|phone }}</div>
            </div>
        </div>
    {% endif %}

    {% if user.extended.additional.telegram %}
        <div class="row field">
            <div class="col-sm-12">
                <div class="title">Telegram:</div>
                <div class="value">{{ user.extended.additional.telegram|phone }}</div>
            </div>
        </div>
    {% endif %}

</div>

<div class="row m-t-50 m-b-50">
    <button class="btn btn-default ms-button-vacancy js-update_button">Редактировать данные</button>
    <button class="btn btn-default ms-button-vacancy" data-request="onPasswordChangeForm">Сменить пароль</button>
    <br/>
    <hr/>
    <div class="social-buttons" style="display: inline-block;">
        <p class="title">Привязать аккаунт соцсетей для быстрого входа на сайт</p>
        <p class="description">После нажатия, откроется окно авторизации соцсети</p>
        <div class="buttons">
            <a href="/auth/vkontakte" rel="nofollow" class="vk" title="VKontakte">
                <i class="fa fa-vk"></i>
            </a>
            <a href="/auth/facebook" rel="nofollow" class="fb" title="Facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="/auth/google" rel="nofollow" class="google" title="Google">
                <div style="height: 20px" class="google-icon-svg"></div>
            </a>
        </div>
    </div>
</div>
