<form class="js-update_password_form">

    <h2 class="m-b-50">Изменение пароля</h2>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row js-password_input_row">
                <div class="col-sm-8 text-left">
                    <div class="form-group">
                        <label class="control-label">Новый пароль</label>
                        <input type="password" name="password" class="form-control" placeholder="Новый пароль" value="">
                    </div>
                </div>
                <div class="col-sm-4 text-left inline-button">
                    <button type="button" class="btn btn-default js-show_password_button">Показать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row js-password_input_row">
                <div class="col-sm-8 text-left">
                    <div class="form-group">
                        <label class="control-label">Подтверждение пароля</label>
                        <input type="password" name="password_confirmation" class="form-control" placeholder="Подтверждение пароля" value="">
                    </div>
                </div>
                <div class="col-sm-4 text-left inline-button">
                    <button type="button" class="btn btn-default js-show_password_button">Показать</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-50 m-b-50">
        <button type="submit" class="btn btn-default ms-button-vacancy">Изменить</button>
        <button class="btn btn-default ms-button-vacancy" data-request="onShowInfo">Отмена</button>
    </div>

</form>