<div class="row">
    <div class="col-md-12">
        <h1 class="m-b-30 m-t-30">Для активации 1000 бонусных рублей - заполните анкету</h1>
    </div>
</div>

<form class="js-questionary_form">
    <section class="banner-form">
        <div class="row">
            <div class="col-md-9">
                <div class="form">

                    {% for group in structure %}
                        {% set value = user.extended.questionary[group.code_group] %}

                        <div class="row js-q_row">
                            <div class="col-md-12">
                                <div class="floating-header m-b-30">
                                    <h3>{{ group.name }}</h3>
                                    <p>Вы можете выбрать вариантов: {{ group.max_answer > 0 ? group.max_answer : 'не ограничено' }}</p>
                                </div>

                                {% if group.items.radiobutton %}
                                    <div class="radio-group js-q_group">
                                        {% for item in group.items.radiobutton %}

                                            {% if item.is_clarification %}
                                                <div class="row js-check_text">
                                                    <div class="col-sm-4">
                                                        <label class="css-radio with-input m-r-10">
                                                            <input class="js-q_radio js-q_with_input" {% if (loop.index == 1 and not value) or (item.code_item in value.items.radiobutton) %}checked="checked"{% endif %} data-action="{{ item.enable_checkbox ? 'enable' : 'disable' }}" type="radio" name="q[{{ group.code_group }}][items][radiobutton][]" value="{{ item.code_item }}"><span></span> {{ item.name }}
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="floating">
                                                            <input class="css-text" name="q[{{ group.code_group }}][clarification][{{ item.code_item }}]" value="{{ value.clarification[item.code_item] }}" disabled="disabled">
                                                            <div class="warning-block" data-code="q.{{ group.code_group }}.clarification.{{ item.code_item }}">
                                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <label class="css-radio m-r-10">
                                                    <input class="js-q_radio js-q_with_input js-q_no_input" {% if (loop.index == 1 and not value) or (item.code_item in value.items.radiobutton) %}checked="checked"{% endif %} data-action="{{ item.enable_checkbox ? 'enable' : 'disable' }}" type="radio" name="q[{{ group.code_group }}][items][radiobutton][]" value="{{ item.code_item }}"><span></span> {{ item.name }}
                                                </label>
                                            {% endif %}

                                            {% if loop.index == 1 %}
                                                <div class="warning-block" data-code="q.{{ group.code_group }}.items.radiobutton">
                                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                                    <span></span>
                                                </div>
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if group.items.checkbox %}
                                    <div class="checkbox-group js_control_element js-checkbox_group" data-max="{{ group.max_answer }}">
                                        {% for item in group.items.checkbox %}

                                            {% if item.is_clarification %}
                                                <div class="row js-check_text">
                                                    <div class="col-sm-4">
                                                        <label class="css-checkbox with-input"><input class="js-q_with_input" {% if item.code_item in value.items.checkbox %}checked="checked"{% endif %} name="q[{{ group.code_group }}][items][checkbox][]" value="{{ item.code_item }}" type="checkbox"><span></span> {{ item.name }}</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="floating">
                                                            <input class="css-text" name="q[{{ group.code_group }}][clarification][{{ item.code_item }}]" value="{{ value.clarification[item.code_item] }}" disabled="disabled">
                                                            <div class="warning-block" data-code="q.{{ group.code_group }}.clarification.{{ item.code_item }}">
                                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <label class="css-checkbox"><input {% if item.code_item in value.items.checkbox %}checked="checked"{% endif %} name="q[{{ group.code_group }}][items][checkbox][]" value="{{ item.code_item }}" type="checkbox"><span></span> {{ item.name }}</label>
                                            {% endif %}

                                        {% endfor %}

                                        <div class="warning-block" data-code="q.{{ group.code_group }}.items.checkbox">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            <span></span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}

                    <div class="row js-q_row">
                        <div class="col-md-12">
                            <div class="floating-header m-b-30">
                                <h3>Мы регулярно проводим распродажи по детской мебели.</h3>
                                <p>Укажите год рождения ребенка/детей.</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="floating">
                                        <input class="css-text js-year {{ user.extended.additional.child_birth_year.0 ? 'open' : '' }}" name="child_birth_year[]" value="{{ user.extended.additional.child_birth_year.0 }}">
                                        <label>Первого ребенка</label>
                                        <div class="warning-block" data-code="q.child_birth_year.0">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="floating">
                                        <input class="css-text js-year {{ user.extended.additional.child_birth_year.1 ? 'open' : '' }}" name="child_birth_year[]" value="{{ user.extended.additional.child_birth_year.1 }}">
                                        <label>Второго ребенка</label>
                                        <div class="warning-block" data-code="q.child_birth_year.1">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="floating">
                                        <input class="css-text js-year {{ user.extended.additional.child_birth_year.2 ? 'open' : '' }}" name="child_birth_year[]" value="{{ user.extended.additional.child_birth_year.2 }}">
                                        <label>Третьего ребенка</label>
                                        <div class="warning-block" data-code="q.child_birth_year.2">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="banner">
                    <p><b>При регистрации Личного Кабинета, просим Вас указывать реальные данные</b></p>
                    <p>Корректное ФИО необходимо для осуществления возврата денежных средств после оплаты.</p>
                    <p>Адрес электронной почты необходим, чтобы Вы всегда были в курсе всех акций и статусов Ваших заказов.</p>
                    <p>Номер телефона необходим, чтобы в день доставки с Вами мог связаться наш курьер. Так же, по Вашему желанию, Вам могут приходить смс уведомления о текущих акциях и специальных предложениях.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-sm-12">
            <button class="action">Дальше</button>
        </div>
    </div>

</form>

<script>
    $(function(){
        normalizeModal();
        $("[name='child_birth_date']").inputmask({mask: '99.99.9999', showMaskOnHover: false});
        $('.js-year').inputmask({mask: '9999', showMaskOnHover: false});
        $('.js-q_control:checked').change();
        $('.js-q_with_input:checked').change();
    });
</script>