<form class="js-register_form">
    <div class="form-group">
        <label class="control-label" for="registerEmail">Ваша почта</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="Введите Вашу почту" />
    </div>

    <div class="form-group">
        <label class="control-label" for="registerPassword">Новый пароль</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="Придумайте пароль" />
    </div>

    <button type="submit" class="btn btn-default ms-button-vacancy">Зарегистрироваться</button>
</form>
