<form class="js-signin_form">
    <div class="form-group">
        <label class="control-label" for="userSigninLogin">Ваша почта</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Введите Вашу почту" />
    </div>

    <div class="form-group">
        <label class="control-label" for="userSigninPassword">Пароль</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Введите Ваш пароль" />
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-default ms-button-vacancy">Войти</button>
        </div>
        <div class="col-sm-6 text-right">
            <a href="{{ 'account-reset-password'|page }}">Восстановить пароль</a>
        </div>
    </div>
</form>