<form class="js-update_info_form">

    <h2 class="m-b-50">Изменение персональных данных</h2>

    <div class="text-left">

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Фамилия</label>
                    <input type="text" name="last_name" class="form-control js-cyrCapitalize" placeholder="Фамилия" value="{{ user.last_name }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Имя</label>
                    <input type="text" name="name" class="form-control js-cyrCapitalize" placeholder="Имя" value="{{ user.name }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Отчество</label>
                    <input type="text" name="other_name" class="form-control js-cyrCapitalize" placeholder="Отчество" value="{{ user.other_name }}">
                </div>
            </div>
        </div>

        <div class="row">
            {#<div class="col-md-4 col-sm-6">#}
                {#<div class="form-group">#}
                    {#<label class="control-label">Email</label>#}
                    {#<input type="text" name="email" class="form-control" placeholder="Email" value="{{ user.email }}">#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Телефон</label>
                    <input type="text" name="phone" class="form-control" placeholder="Телефон" value="{{ user.phone|phoneEdit }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Дата рождения</label>
                    <input type="text" name="birth_date" class="form-control" placeholder="Дата рождения" value="{{ user.birth_date|date('d.m.Y') }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Город</label>
                    <input type="text" name="city" class="form-control" placeholder="Город" value="{{ user.extended.additional.city }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Viber</label>
                    <input type="text" name="viber" class="form-control" placeholder="Viber" value="{{ (user.extended.additional.viber ? user.extended.additional.viber : user.phone)|phoneEdit }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">WhatsApp</label>
                    <input type="text" name="whatsapp" class="form-control" placeholder="WhatsApp" value="{{ (user.extended.additional.whatsapp ? user.extended.additional.whatsapp : user.phone)|phoneEdit }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Telegram</label>
                    <input type="text" name="telegram" class="form-control" placeholder="Telegram" value="{{ (user.extended.additional.telegram ? user.extended.additional.telegram : user.phone)|phoneEdit }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender_id" value="1" {% if user.gender_id == 1 %}checked="checked"{% endif %}>
                        Мужской
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender_id" value="2" {% if user.gender_id == 2 %}checked="checked"{% endif %}>
                        Женский
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="row m-t-50 m-b-50">
        <button type="submit" class="btn btn-default ms-button-vacancy">Сохранить</button>
        <button class="btn btn-default ms-button-vacancy" data-request="onShowInfo">Отмена</button>
    </div>

</form>