<template>
    <div class="search-categories-item">
        <a class="ln-black" v-if="isProductTypes" :href="'/search?query='+categoryName">{{ categoryName }}</a>
        <a class="ln-black" v-else="" :href="category.slug" >{{ categoryName }}</a>
    </div>
</template>

<script>
    export default {
        name: "MsSearchCategories",
        data:() => ({
            categoryName: null,
            isProductTypes: false
        }),
        props: {
            category: {
                type: [Object, String],
                default: () => ({})
            }
        },
        watch: {
            category: function (val) {
                this.calculateLink(val)
            }
        },
        methods:{
            calculateLink (category) {
                const isCategory = category.hasOwnProperty('name')

                this.categoryName = isCategory ? category.name : category
                this.isProductTypes = ! isCategory
            },
        },
        created () {
            this.calculateLink(this.category)
        }
    }
</script>