<template>
    <a :href="'/catalog/'+ product['category'].slug+'/'+product['slug']" class="search-products-item ln-black">
        <div class="img-wrap">
            <!--<img src="/themes/shara/assets/images/modern/test/product/1@2x.jpg"/>-->
            <img :src="product['image_preview_mobile']"/>
        </div>
        <div class="info">
            <div class="type"> {{ product.good_type_site.type_name}}</div>
            <div class="name"> {{ product.name }} {{ product.subname }} </div>
        </div>
    </a>
</template>

<script>
    export default {
        name: "MsSearchProduct",
        props: {
            product: {
                default: () => ([])
            }
        }
    }
</script>
