<template>
    <div v-click-outside="hideModal" class="search-form" :class="{ 'active': isActive }">
        <div>
            <button class="search-form-btn" @click="searchPage"></button>
            <input type="text" placeholder="Поиск по сайту" @input="showModal" @focus="showModal"
                   v-model.trim="query">
        </div>
        <ms-search-dropdown :query=query :product-list="productList"
                            v-show="query && isShowDropdown"></ms-search-dropdown>
    </div>
</template>

<script>
    import MsSearchDropdown from './MsSearchDropdown'
    import debounce from 'lodash/debounce'

    export default {
        name: "MsSearch",

        components: {
            MsSearchDropdown
        },

        data: () => ({
            query: '',
            isShowDropdown: false,
            productList: null,
        }),

        computed: {
            isActive () {
                return this.query.length > 0 && this.isShowDropdown
            }
        },

        watch: {
            query: debounce(function (val, old) {
                if (!val || val.length < 3 || val === old) {
                    return
                }
                this.sendQuery(val)
            }, 400)
        },
        directives: {
            clickOutside:{
                bind: function (el, binding, vnode) {
                    el.clickOutsideEvent = function (event) {
                        // here I check that click was outside the el and his childrens
                        if (!(el == event.target || el.contains(event.target))) {
                            // and if it did, call method provided in attribute value
                            vnode.context[binding.expression](event);
                        }
                    };
                    document.body.addEventListener('click', el.clickOutsideEvent)
                },
                unbind: function (el) {
                    document.body.removeEventListener('click', el.clickOutsideEvent)
                }
            }
        },

        methods: {
            hideModal() {
                this.isShowDropdown = false
            },
            showModal() {
                if (this.query.length > 0) {
                    this.isShowDropdown = true
                }
            },
            searchPage() {
                var query = this.query
                //window.location.href = '/search?query=' + query
            },
            async sendQuery(query) {
                let product_count = 15
                try {
                    const response = await this.$apiClient.get('/luckyweb/search/products/' + query + '/' + product_count)
                    this.productList = response
                } catch (e) {
                    console.error(e)
                }
            }
        }
    }
</script>