<template>
    <div class="dropdown-menu" id="search-dropdown"
         aria-labelledby="query">
        <div class="dropdown-wrapper">

            <div v-if="products">
                <div class="caption">
                    <h4>Предполагаемое</h4>
                    <a :href="'/search?query='+query">Смотреть все</a>
                </div>

                <div class="search-products">
                    <div class="search-products-item-wrap">
                            <ms-search-product v-for="product in productsWithoutGroup" :key="product.id" :product="product">
                            </ms-search-product>
                    </div>
                </div>
                <!--<div class="search-products">

                    <a href="" class="search-products-item ln-black">
                        <div class="img-wrap">
                            <img src="/themes/shara/assets/images/modern/test/product/2.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="type">Диван</div>
                            <div class="name">Твист Шоколад</div>
                            <div class="price"><span>29 800</span><span>₽</span></div>
                        </div>
                    </a>

                    <a href="" class="search-products-item ln-black" v-for="item in products" :key="item.id">
                        <div class="img-wrap">
                            <img src="/themes/shara/assets/images/modern/test/product/1@2x.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="type">Диван</div>
                            <div class="name">Твист Шоколад Какойто</div>
                            <div class="price"><span>29 800</span><span>₽</span></div>
                        </div>
                    </a>
                </div>-->

                <div v-if="categories">
                    <h4> Категории </h4>
                    <div v-if="categories" class="search-categories">
                        <div v-for="(category, index) in categories" :key="index">
                            <ms-search-categories :category="category"></ms-search-categories>
                        </div>
                    </div>

                    <!--<div class="search-categories">
                        <div class="search-categories-item"><a href="" class="ln-black">Детская мебель из массива дерева</a></div>
                        <div class="search-categories-item"><a href="" class="ln-black">Мебель для маленькой кухни</a></div>
                        <div class="search-categories-item"><a href="" class="ln-black">Детская мебель из массива дерева</a></div>
                        <div class="search-categories-item"><a href="" class="ln-black">Мебель для маленькой кухни</a></div>
                    </div>-->
                </div>
            </div>
            <div v-else>По вашему запросу ничего не найдено. Уточните свой запрос</div>

        </div>
    </div>
</template>

<script>
    import MsSearchProduct from './MsSearchProduct.vue'
    import MsSearchCategories from './MsSearchCategories.vue'
    import keys from 'lodash/keys'

    export default {
        name: "MsSearchDropdown",
        components: {
            MsSearchProduct,
            MsSearchCategories
        },
        data: () => ({
        }),
        props: {
            query: String,
            productList: {
                type: Object,
                default: () => ({})
            }
        },
        computed:{
            categories: function() {
                if(this.productList != null){
                    if(this.productList.data.hasOwnProperty('categories')) {
                        if(this.productList.data.categories.length > 0){   //check if there is categories entries
                            return this.productList.data.categories;
                        } else {
                            let product_types = new Set();            // if not, create set of unique entries from products
                            for(var i in this.productList.data.groups){
                                product_types.add(i);
                            }
                            return product_types;
                        }
                    }
                }
                return false;
            },
            products: function() {
                if(this.productList != null){
                    if(this.productList.data.groups.constructor.name !== 'Array') {
                        return this.productList.data.groups;
                    }
                }

                return false;
            },

            productsWithoutGroup () {
                const products = []

                for (let group of keys(this.products)) {
                    for (let product of this.products[group]) {
                        products.push(product)
                    }
                }

                return products
            }
        },
        methods: {}
    }
</script>
