<div class="page-component-box" data-type="title">
    <div class="product-view-rows-wrap">
        <div class="product-view-row">
            <div class="product-view-background">

                <div class="product-view-background-elem" title="Добавить продукты">
                    <div class="product-view-add-wrap">
                        <i class="icon-plus-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>