<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Бесплатный дизайн проект</h4>
</div>
<div class="modal-body">
    <form class="text-left">
        <input type="hidden" name="product_id" value="{{ product_id }}">
        <input type="hidden" name="product_name" value="{{ product_name }}">
        <input type="hidden" name="type" value="{{ type }}">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label' for="first_name">Имя <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="first_name" class="form-control" placeholder="Имя">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label' for="phone">Телефон <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="phone" class="form-control js-phone" placeholder="Телефон">
                </div>
            </div>
        </div>
        <div class="row m-b-5">
            <div class="col-sm-12 text-right">
                <p class="font12">* - поля обязательные к заполнению</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-xlg ms-action-button m-b-20">Отправить запрос</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 email-text">
                <p class="font11">Удобное время (исходя из рабочего времени с 10 до 18 ежедневно)</p>
            </div>
            <div class="col-sm-6">
                <input type="text" name="time" class="form-control" placeholder="Удобное время">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="form-group checkbox">
                    <label class="font12">
                        <input type="hidden" name="is_accept" value="0" />
                        <input name="is_accept" type="checkbox" value="1">
                        Ставя отметку, я подтверждаю согласие на <a href="{{ 'documents/personal_data.pdf'|media }}?1" target="_blank">обработку моих персональных данных</a> в соответствии с <a href="{{ 'documents/privacy_policy.pdf'|media }}" target="_blank">политикой конфиденциальности</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted font12">Нажимая на кнопку "Отправить запрос" Вы соглашаетесь с условиями <a href="{{ 'documents/public_offer.pdf'|media }}" target="_blank">Публичной оферты</a></p>
            </div>
        </div>
    </form>
</div>