subject = "mebelshara.ru | Вопрос на сайте"
==
Ваш вопрос отправлен менеджеру. Скоро мы свяжемся с Вами.

Текст вопроса:
{{ text }}

==
<p>Ваш вопрос отправлен менеджеру. Скоро мы свяжемся с Вами.</p>

<p><b>Текст вопроса:</b></p>
<p>{{ text }}</p>