subject = "[mebelshara.ru отзыв #{{ id }}] Отзыв на сайте Мебель Шара"
==
Здравствуйте, {{ name }}!

Ваш отзыв на сайте www.mebelshara.ru принят в обработку.

Спасибо!

==
<p><strong>Здравствуйте, {{ name }}!</strong></p>
<p>Ваш отзыв на сайте www.mebelshara.ru принят в обработку.</p>
<p>Спасибо!</p>
