/* Mobile nav */

.m-menu
  position fixed
  top 0
  left -101%
  width 100%
  height 100vh
  padding 0
  overflow-y auto
  text-align left
  transition .3s
  color #fff
  background-color #000
  z-index 999

  &.active
    left 0

  .m-btn-close
    position: absolute
    top 10px
    right 10px
    padding 5px
    z-index 999

  & > .list
    position relative
    height 100vh
    padding 50px 15px 0 15px
    margin 0
    background-color: #000

  .list
    .item
      font-size 18px
      padding 10px 0
      border-bottom 1px solid #232323
      list-style none

      & > .arrow
        float right
        display inline-block
        width 10px
        height 10px
        background url("../images/icons/arrow_right_white.svg") no-repeat center


    a
      color #fff
      font-weight 300
      text-decoration none

  .sub-menu
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding 50px 15px 0 15px
    transition .3s
    background-color #000
    display none

    .parent-name
      margin-bottom 15px
      padding 10px 0
      border-bottom 1px solid #232323

      .arrow
        margin-right 10px
        display inline-block
        width 10px
        height 10px
        background url("../images/icons/arrow_left_white.svg") no-repeat center

    .list
      padding: 0 0 0 15px
      background-color #000
      margin 0
      max-height 80vh

      li
        &:first-child
          margin-bottom 5px

        padding 3px 0 3px 0
        color #dadada
        list-style none
        font-size 16px

        &:last-child
          margin-bottom 20px

    &.active
      display block

  @import "_media.styl"

// todo delete
// it's for test icons
.divan-icon
  &.cls-1
    fill #fff
    stroke #231f20
    stroke-miterlimit 10
