@media (max-width 1199px)

  .info

    .contacts

      > div
        text-align left


  .footer-bottom

    > div
      flex 100%

      &:nth-child(1)
        margin-bottom 16px

@media (max-width 1100px)

  .info
    justify-content flex-start

@media (max-width 767px)

  .info

    .info-item
      margin-right 0
      margin-left 0

@media (min-width 580px)

  .info

    .info-item

      .expand-block
        border-bottom none

        &-content
          max-height 250px !important

@media (max-width 579px)

  .info

    .info-item
      max-width 100%
      flex 100%

      &:last-child
        margin-bottom 0

      .expand-block

        &-header

          &-btn
            display block

  .footer-bottom

    .payment

      span

        &:first-child
          flex 100%