#footer
  background-color lightest-grey
  margin-top 100px

  ul
  li
    padding 0
    list-style none

  .info

    .info-wrap
      display flex
      justify-content space-between
      flex-wrap wrap
      padding 24px 0

    .info-item
      flex 1
      margin 0 12px 24px
      max-width 252px
      min-width 199px

      .expand-block

        &-header
        &-content
          padding 0

        &-header

          &-btn
            display none

      li
        margin-bottom 11px

        a
          line-height 20px

    .social

      .header

        > *
          margin 0 0 16px

    .contacts

      > div
        display block
        text-align right

        &:nth-child(3)
          color primary-grey
          margin-bottom 4px
          margin-top 4px

        .phone
            margin-top 10px
            font-size 24px
            font-weight bold
            display inline-block
            text-decoration none

  .footer-bottom
    padding 20px 0
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

    a
    span
      line-height 20px
      font-size 14px
      color grey

    .copyright
      ul
        li
          display inline-block
          margin-right 8px

    .payment
      display flex
      align-items center
      flex-wrap wrap

      span
        margin-right 15px

      img
        max-width 173px

  @import "_media.styl"

  @import "_subscribe-form/subscribe-form.styl"
  @import "_advantages/advantages.styl"