<template>
    <div class="order-detail">
        <div class="expand-block">

            <div class="expand-block-header">
                <div>
                    <h3 class="order-detail-title">Детали заказа № {{order.agreement_number}}</h3>
                    <span class="order-detail-date">{{agreementDate}}</span>
                </div>

                <div>{{count}} штук на {{formatPrice(order.product_amount)}}</div>
                <div class="expand-block-header-btn js-ex-btn"></div>
            </div>

            <div class="expand-block-content">
                <div class="expand-block-content-inner">

                    <ms-waiting-surcharge v-if="order.status_id === 33" :order="order"
                                          :formatPrice="formatPrice"></ms-waiting-surcharge>

                    <div class="order-detail-total">
                        <div class="shop">
                            <div>Место покупки: {{order.extended.purchase_place}}</div>
                        </div>

                        <div class="prices">
                            <div class="price">
                                <div>Стоимость товаров:</div>
                                <div class="price-rub">{{formatPrice(order.product_amount)}}</div>
                            </div>
                            <div class="price">
                                <div>Стоимость доставки:</div>
                                <div class="price-rub">{{formatPrice(order.delivery_amount)}}</div>
                            </div>
                            <div class="price total">
                                <div>Итого:</div>
                                <div class="price-rub">{{formatPrice(order.total_amount)}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="products-list">
                        <ms-product-item v-for="(item, index) in order.items" :key="index"
                                         :product="item" :formatPrice="formatPrice"></ms-product-item>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import MsProductItem from './MsProductItem'
    import MsWaitingSurcharge from './MsWaitingSurcharge'

    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsItem",
        mixins: [formatPrice],
        components: {MsProductItem, MsWaitingSurcharge},
        props: {
            order: Object
        },
        computed: {
            agreementDate() {
                const date = new Date(this.order.agreement_date.date)
                return date.toLocaleString('ru-Ru')
            },
            count() {
                let count = 0
                this.order.items.forEach(item => {
                    count += item.quantity
                })
                return count
            }
        }
    }
</script>
