<template>
    <div class="account">

        <div class="account-page">

            <div class="account-header">
                <h1>История заказов</h1>
            </div>

            <div class="account-content">

                <div class="history-list">
                    <ms-item v-for="(item, index) in orders" :key="index" :order="item"></ms-item>
                </div>
            </div>

        </div>

        <div class="account-sidebar">
            <ms-aside></ms-aside>
        </div>

    </div>
</template>

<script>
    import MsAside from '../MsAside'
    import MsItem from './MsItem'
    import initExpandBlock from '@/nativeListeners/expandBlock'


    export default {
        name: "MsOrderHistory",
        components: {MsAside, MsItem},
        methods: {
            fetch() {
                return this.$store.dispatch('user/order')
            }
        },
        computed: {
            orders() {
                return this.$store.getters['user/orders']
            }
        },
        mounted() {
            this.fetch()
            this.$nextTick(() => {
                initExpandBlock('.order-detail .expand-block')
            })
        }
    }
</script>
