<template>
    <div class="products-list-item">
        <div class="product">
            <!--            <div class="product-img">-->
            <!--                <img src="/themes/shara/assets/images/modern/test/5.jpg" alt="">-->
            <!--            </div>-->
            <div class="product-description">
                <div>{{product.name}} {{product.color}}</div>
                <!--                <div class="category">Категория</div>-->
                <div class="prices">
                    <div class="product-price price-rub">{{formatPrice(price)}}</div>
                    <div class="product-count">{{quantity}} шт</div>
                    <div class="product-price price-rub">{{formatPrice(product.amount)}}</div>
                </div>
            </div>
        </div>

        <div class="product-status">
            <div class="status-title">Статус заказа</div>
            <div class="status-val" :class="{canceled:product.status_id===11}">{{status}}</div>
            <div class="status-description">Ожидайте звонок от оператора для
                получения
                информации о возможном времени доставки
            </div>
        </div>
    </div>
</template>

<script>

    const status = [
        {key: 1, title: 'В производстве'},
        {key: 4, title: 'Готовится к отгрузке в ваш город'},
        {key: 5, title: 'Согласование времени доставки'},
        {key: 7, title: 'Едет в ваш город'},
        {key: 10, title: 'Отсрочен'},
        {key: 11, title: 'Отменен'},
        {key: 12, title: 'Товар доставлен'},
        {key: 13, title: 'Возврат'},
        {key: 33, title: 'Ожидается оплата'}
    ]

    export default {
        name: "MsProductItem",
        props: {
            product: Object,
            formatPrice: Function
        },
        computed: {
            price() {
                return (this.product.amount / this.product.quantity)
            },
            quantity() {
                return parseInt(this.product.quantity)
            },
            status() {
                const index = status.findIndex(item => {
                    return item.key === this.product.status_id
                })
                return status[index].title
            }
        }
    }
</script>
