<template>
    <div class="waiting-surcharge">

        <div class="pay">
            <div class="waiting-surcharge-title">Ожидается доплата</div>
            <div>Один или несколько заказаных вами товаров готовы к отгрузке.
                Произведите
                доплату до {{appliedAt}} чтобы мы смогли его вам доставить.
            </div>
        </div>
        <div class="prices">
            <div class="price">
                <div>Сумма внесенной предоплаты:</div>
                <div class="price-rub">{{formatPrice(order.product_debt)}}</div>
            </div>

            <div class="price">
                <div>Требемая доплата:</div>
                <div class="price-rub price-total">{{formatPrice(requiredAmount)}}</div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "MsWaitingSurcharge",
        props: {
            order: Object,
            formatPrice: Function
        },
        computed: {
            requiredAmount() {
                return this.order.product_amount - this.order.product_debt
            },
            appliedAt() {
                const date = new Date(this.order.applied_at)
                return date.toLocaleDateString('ru-Ru')
            }
        }
    }
</script>
