@media (max-width 1365px)

  .advantages-wrap

    .advantages-item
      padding 24px
      flex-direction column

      .ico
        margin 0 0 24px

      .text
        text-align center

@media (max-width 1199px)

  .advantages-wrap
    margin 0

    .advantages-item
      padding 12px
      flex-direction row
      flex 50%
      margin 0

      &::after
        content none

      .ico
        margin 0 24px 0

      .text
        text-align left

@media (max-width 579px)

  &
    display none