.advantages
  background-color #fff

  .advantages-wrap
    display flex
    align-items center
    //margin 0 -24px
    flex-wrap wrap

    .advantages-item
      display flex
      flex 1
      align-items center
      padding 12px
      min-height 96px
      margin 0 24px
      position relative

      &::after
        content ''
        display block
        position absolute
        top 50%
        right -23.5px
        transform translateY(-50%)
        height 40px
        border-right 1px solid rgba(0,0,0,0.08)

      &:last-child

        &::after
          content none

    .ico
      margin-right 32px

      img
        min-width 43px
        max-height 36px

    .text
      font-weight bold

  @import "_media.styl"