<!-- searchGrid component -->
{% set products = __SELF__.products %}
{% set query = __SELF__.query %}
{% set nextTile = __SELF__.nextTile %}
{% set pagination = __SELF__.pagination %}
{% set title = 'Результаты поиска ' ~ query %}

<div class="container">
    {{ breadcrumbsManager.render('page', title , 'search')|raw }}

    <div class="product-grid">
        <div class="product-grid-head">
            <h1>{{ title }}</h1>
        </div>

        <div class="product-grid-list">
            {% set columnClass = 'cols-4' %}

            {% for product in pagination.items %}
                {% if loop.index == banner.index %}
                    {% include 'partials.grid.banner' %}
                {% else %}
                    {% include 'partials.grid.product' %}
                {% endif %}
            {% endfor %}

            {% if pagination.hasMorePages %}
                {% include 'partials.grid.next' with {} %}
            {% endif %}

            {% if pagination.hasPages %}
                {% include 'partials.grid.pagination' %}
            {% endif %}
        </div>
    </div>
</div>