{% if __SELF__.categories.count > 0 %}
    <div class="widget m-b-40">
        <div class="cat-title white font-bold uppercase"><i class="fa fa-align-justify"></i> Категории</div>
        <div class="cat-list">
            <ul>
                {% for category in __SELF__.categories %}
                    <li><a data-popupmenu="popmenu1" href="{{ category.url }}"><i class="fa fa-angle-right"></i> {{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}