<div class="banner">
    <img src="/public/static/banners/installments/june@2x.jpg" alt="0-0-24">

    <div class="video-btn info-hint youtube-modal" data-code="dWt8LhnOxBI" data-title="Рассрочка 0-0-24"></div>
</div>

<div class="conditions">

    <div class="timer">
        <div class="timer-head">
            <div>Спеши!</div>
            <div>До конца акции осталось:</div>
        </div>

        <ms-installment-countdown></ms-installment-countdown>
    </div>

    <div class="conditions-info">
        <div class="valid">
            <span class="status">Действует</span>
            <span class="dates">{{ startOfMonth }} - {{ endOfMonth }}</span>
        </div>
        <div class="description">
            Только в этом месяце Вы можете приобрести товары из определенной категории со скидками 50%.
            Акция действует на ограниченное число товаров.
            Специальная цена доступна при оформлении заказа в течение текущего месяца.
        </div>
    </div>

</div>
