<div class="installments-page">
    <div class="row">
        <div class="text-center page-title">
            В мае акция<br/> «МЕГА РАССРОЧКА 0-0-24» на всё<span class="star">*</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="installments-video">
                <iframe src="https://www.youtube.com/embed/xMEaUHN55bk" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-4">
            <div class="installments-question">
                <div class="title">Поспеши!</div>
                <div class="sub-title">До завершения акции осталось:</div>
                <div class="timer" datetime="2019-05-31T23:59:59+0300"></div>
                <div class="timer-bottom">
                    <div>{{ days_form }}</div>
                    <div>часов</div>
                    <div>минут</div>
                    <div>секунд</div>
                </div>
                <div class="rectangle">
                    <div class="title">Остались вопросы?</div>
                    <div class="sub-title">Мы с радостью на них ответим</div>
                    <form id="call-request">
                        <div class="form-group">
                            <input type="text" class="form-control" name="call-phone" required placeholder="+7 (987) 123-45-67">
                            <div class="error-block"></div>
                        </div>
                        <div class="btn-container">
                            <button type="submit" class="btn btn-danger">Заказать звонок</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 block-title">
            ОНЛАЙН РАССРОЧКА В ИНТЕРНЕТ-МАГАЗИНЕ
        </div>
    </div>

    <div class="row">
        <div class="installments-image">
            <img src="{{ 'assets/images/installments/internet.jpeg'|theme }}" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 block-title">
            РАССРОЧКА В РОЗНИЧНОМ МАГАЗИНЕ
        </div>
    </div>

    <div class="row">
        <div class="installments-image">
            <img src="{{ 'assets/images/installments/aground.jpeg'|theme }}" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 block-title">
            КАТЕГОРИИ УЧАСТВУЮЩИЕ В АКЦИИ <br/> «МЕГА РАССРОЧКА 0-0-24»<span class="star">*</span>
        </div>
    </div>
</div>

<div class="modal fade installments-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close-outer rotate-close" data-dismiss="modal" aria-hidden="true"></button>
                <div class="modal-title">
                    <img src="{{ 'assets/images/installments/smile.svg' | theme }}">
                    <div class="h4">Спасибо!</div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="order-done">
                            <p>Наш консультант свяжется с вами в ближайшее время.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
