.installments

  .banner
    border-radius 4px
    margin-bottom 36px
    position relative

    .video-btn
      width 42px
      height @width
      border-radius 50%
      position absolute
      left 50%
      transform translateX(-50%)
      bottom 40px
      box-shadow 0 0 0 2px rgba(255, 255, 255, 0)
      animation btn-pulse 1s infinite
      cursor pointer
      background transparent url("../images/icons/play.svg")

      @keyframes btn-pulse
        0%
          box-shadow 0 0 2px 0 rgba(255, 255, 255, 0)

        70%
          box-shadow 0 0 2px 8px rgba(255, 255, 255, .4)

        100%
          box-shadow 0 0 2px 0 rgba(255, 255, 255, .6)


  .conditions
    display flex
    margin-bottom 50px

    .timer
      margin-right gutter

    .timer-head
      font second-font
      font-weight bold
      margin-bottom 12px

    .conditions-info
      flex 1

      .status
        background-color accent-color
        color #fff
        opacity .64
        border-radius 4px
        padding 6px
        font-size 13px
        line-height 14px
        margin-right 16px
        display inline-block

      .dates
        display inline-block
        font second-font
        color primary-grey

      .description
        margin-top gutter
        line-height 24px

  .description
    margin-top 50px

    .footnote
      font second-font
      color primary-grey


