<div class="md-form-title">
    <div class="h2">Приветствуем!</div>
    <div class="h3">Выберите удобный способ авторизации</div>
</div>
<div class="md-switch">
    <ul class="menu-list" role="tablist">
        <li class="menu-item active" role="presentation">
            <a href="#phone" aria-controls="phone" role="tab" data-toggle="tab" class="menu-link">Телефон</a>
        </li>
        <li class="menu-item" role="presentation">
            <a class="menu-link" href="#card" aria-controls="home" role="tab" data-toggle="tab">Карта</a>
        </li>
        <li class="menu-item" role="presentation">
            <a href="#mail" aria-controls="mail" role="tab" data-toggle="tab" class="menu-link">Email</a>
        </li>
        <li class="menu-before"></li>
    </ul>
</div>
<div class="md-main">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="phone">
            <form class="js-signin_form">
                <input type="hidden" name="type" value="1">

                <div class="autoriz-section">
                    <div class="md-left">
                        <p>Номер телефона</p>
                        <input name="phone" type="tel" placeholder="">
                        <div class="warning-block">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span></span>
                        </div>
                    </div>
                    <div class="md-right">
                        <div class="pin-block">
                            <p>Пароль</p>
                            <a href="#" class="js-reset_password_button">Забыли?</a>
                        </div>
                        <input name="password" type="password">
                        <div class="warning-block">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="md-footer">
                    <button class="submit-btn">Войти</button>

                    {% partial __SELF__~"::social_buttons" %}

                    <a href="#" class="js-signup_button registr-link">Зарегистрироваться</a>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="card">
            <form class="js-signin_form">
                <input type="hidden" name="type" value="2">

                <div class="autoriz-section">
                    <div class="md-left">
                        <p>Номер карты</p>
                        <input name="card_code" placeholder="" maxlength="12">
                        <div class="warning-block">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span></span>
                        </div>
                    </div>
                    <div class="md-right">
                        <div class="pin-block">
                            <p>Pin</p>
                        </div>
                        <input name="card_pin" type="password" maxlength="4">
                        <div class="warning-block">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="md-footer">
                    <button class="submit-btn">Войти</button>

                    {% partial __SELF__~"::social_buttons" %}

                    <a href="#" class="js-signup_button registr-link">Зарегистрироваться</a>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="mail">
            <form class="js-signin_form">
                <input type="hidden" name="type" value="3">

                <div class="autoriz-section">
                    <div class="md-left">
                        <p>Email</p>
                        <input name="email" placeholder="">
                        <div class="warning-block">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span></span>
                        </div>
                    </div>
                    <div class="md-right">
                        <div class="pin-block">
                            <p>Пароль</p>
                            <a href="#" class="js-reset_password_button">Забыли?</a>
                        </div>
                        <input name="password" type="password">
                        <div class="warning-block">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="md-footer">
                    <button class="submit-btn">Войти</button>

                    {% partial __SELF__~"::social_buttons" %}

                    <a href="#" class="js-signup_button registr-link">Зарегистрироваться</a>
                </div>
            </form>
        </div>

    </div>
</div>
