<div class="social-buttons">
    <p class="title">Войти через профиль в соцсетях</p>
    <p class="description">После нажатия, откроется окно авторизации соцсети</p>

    <div class="buttons">
        <a href="{{ __SELF__.getProviderUrl('vkontakte') }}" rel="nofollow" class="vk" title="VKontakte">
            <i class="fa fa-vk"></i>
        </a>
        <a href="{{ __SELF__.getProviderUrl('facebook') }}" rel="nofollow" class="fb" title="Facebook">
            <i class="fa fa-facebook"></i>
        </a>
        {#<a href="{{ __SELF__.getProviderUrl('twitter') }}" rel="nofollow" class="tw" title="Twitter">#}
            {#<i class="fa fa-twitter"></i>#}
        {#</a>#}
        <a href="{{ __SELF__.getProviderUrl('google') }}" rel="nofollow" class="google" title="Google">
            <div class="google-icon-svg"></div>
        </a>
    </div>
</div>
