<div class="js-view_phone_holder m-t-20 m-b-40" style="display: none">
    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group text-left">
                    <label class='control-label' for="city_id">Город <abbr class="text-danger">*</abbr></label>
                    <select name="city_id" class="js-city form-control placeholder">
                        <option value="" disabled selected hidden>Выберите Ваш город</option>
                        {% for city in __SELF__.getCities() %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group text-left">
                    <label class='control-label' for="shop_id">Магазин <abbr class="text-danger">*</abbr></label>
                    <select name="shop_id" class="js-shop form-control placeholder js-shop_select">
                        {% partial __SELF__~'::shop_select' %}
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="js-phone_number"></div>
</div>
