{% if shop %}
    <h4>Позвоните нам и мы ответим на любые Ваши вопросы</h4>
    <h2>{{ shop.phone }}</h2>
    <p>График работы магазина</p>
    <p>{{ shop.mode_1 }}<br>{{ shop.mode_2 }}</p>
{% else %}
    <h2>Извините. Телефон не найден.</h2>
{% endif %}
