<option value="" disabled selected hidden>Выберите магазин</option>
{% for shop in __SELF__.getShops(cityId) %}
    <option value="{{ shop.id }}">{{ shop.mall_name }} - {{ shop.street_address }}</option>
{% endfor %}