<div class="product-grid-list-item {{ columnClass }} banner">
    <a href="{{ banner.bannerObject.properties.href }}" 
       style="background-image: url('{{ banner.bannerObject.image_url }}');"
       class="img-wrap"></a>
</div>
