<div class="p-pagination">
    {% set perPagePagination = perPage|default(6) %}

    {% set offset = ((pagination.currentPage - 1) / perPagePagination)|round(0, 'floor') %}
    {% set firstPage = offset * perPagePagination + 1 %}
    {% set lastPage = min(offset * perPagePagination + perPagePagination, pagination.lastPage) %}
    {% set morePagination = pagination.lastPage > lastPage %}

    {% if firstPage > 1 %}
        <a href="{{ pagination.url(1) }}">
            <span>1</span>
        </a>
        {% if firstPage > 2 %}
            <a href="{{ pagination.url(firstPage - 1) }}">
                <span>...</span>
            </a>
        {% endif %}
    {% endif %}

    {% for i in firstPage..lastPage %}
        {% set activeClass = pagination.currentPage == i ? 'active' : '' %}
        <a href="{{ pagination.url(i) }}" class="{{ activeClass }}">
            <span>{{ i }}</span>
        </a>
    {% endfor %}

    {% if morePagination %}
        <a href="{{ pagination.url(lastPage + 1) }}">
            <span>...</span>
        </a>
        <a href="{{ pagination.url(pagination.lastPage) }}">
            <span>{{ pagination.lastPage }}</span>
        </a>
    {% endif %}

    {% if pagination.hasMorePages %}
        <a href="{{ pagination.nextPageUrl }}">
            <span></span>
        </a>
    {% endif %}
</div>
