{% set imageUrl = imageType|default('preview_image') %}

<div class="product-grid-list-item {{ columnClass }}">

    <div class="product-card">

        <div class="promo-labels">
            {% if product.isNew %}
                <div class="new"></div>
            {% endif %}
            {% if product.isEco %}
                <div class="eco"></div>
            {% endif %}
            {% if product.installments %}
                <div class="mega"></div>
            {% endif %}
        </div>

        <div class="product-card-img">
            <a href="{{ product.url }}">
                    <img src="{{ product[imageUrl].url_preview }}" alt="{{ product.name }} {{ product.subname }}">
            </a>
        </div>

        <div class="status {{ product.residual_indicator ? 'in-stock' : '' }}">В наличии</div>

        {% set categoryNameFallback = product.good_type_site.type_name|default(product.category.name) %}

        <div class="product-card-category">
            <a class="ln-grey" href="{{ product.good_type_site.constructor_page.url }}">
                {{ categoryNameFallback }}
            </a>
        </div>
        <div class="product-card-name">
            <a class="ln-black" href="{{ product.url }}">
                {{ product.name }} {{ product.subname }}
            </a>
        </div>

        <div class="product-actions">
            <div class="price">
                {% set oldPrice = product.primary_offer.getPriceByType('top').value|number_format(0,'','.')|split('.') %}

                {% set activeDiscount = product.getActiveDiscount %} {# TODO move to offer #}

                {% if activeDiscount > 0 %}
                    <div class="old-price price-rub">
                        <span>{{ oldPrice[0] }} {{ oldPrice[1] }}</span>

                        {% if activeDiscount >= 45 %}
                            <div class="product-discount {{ activeDiscount >= 55 ? 'accent' : '' }}">
                                <span>-{{ activeDiscount }}</span>
                                <span>%</span>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

                {% set price = product.primary_offer.active_price.value|number_format(0,'','.')|split('.') %}
                <div class="active-price price-rub">
                    <span>{{ price[0] }} {{ price[1] }}</span>
                </div>
            </div>

            <div class="action">
                <ms-favorite-button offer="{{ product.primary_offer.id }}"></ms-favorite-button>
                <div class="shopping-cart">
                    {% if product.sub_category_id == 2 %}
                        <ms-prod-board-button></ms-prod-board-button>
                    {% else %}
                        <ms-buy-button offer="{{ product.primary_offer.id }}"
                                       :without-cart="{{ withoutCart|default('false') }}"></ms-buy-button>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>


    <div class="product-card-hover-wrap">
        <div class="product-card-hover">
            {% if product.width or product.height or product.depth %}

                <div class="sizes">
                    <div class="sizes-item">
                        <div class="sizes-item-title">Размеры:</div>
                        <div class="sizes-item-props">

                            {% if product.depth %}
                                <div class="size-prop">
                                    <div class="size-prop-info">
                                        <div>Длина</div>
                                        <div>{{ product.depth/10 }} см</div>
                                    </div>
                                    <div class="splitter"></div>
                                </div>
                            {% endif %}
                            {% if product.width %}
                                <div class="size-prop">
                                    <div class="size-prop-info">
                                        <div>Ширина</div>
                                        <div>{{ product.width/10 }} см</div>
                                    </div>
                                    <div class="splitter"></div>
                                </div>
                            {% endif %}
                            {% if product.height %}
                                <div class="size-prop">
                                    <div class="size-prop-info">
                                        <div>Высота</div>
                                        <div>{{ product.height/10 }} см</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="sizes-item">
                        {% for dName, dValue in descriptions %}
                            {% if loop.first %}
                            {% else %}
                                <p>{{ dName }} : {{ dValue }}</p>
                            {% endif %}
                            <!--TODO-->
                        {% endfor %}
                        {% if product.description1|trim %}
                            <div class="sizes-item-title">Спальное место:</div>

                            <div class="sizes-item-props">
                                {% set sizes = product.description1|split('х') %}
                                <div class="size-prop">
                                    <div class="size-prop-info">
                                        <div>Длина</div>
                                        <div>{{ sizes[0] }} см</div>
                                    </div>
                                    <div class="splitter"></div>
                                </div>
                                <div class="size-prop">
                                    <div class="size-prop-info">
                                        <div>Ширина</div>
                                        <div>{{ sizes[1] }} см</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>

            {% endif %}

        </div>
    </div>


    {#<div class="product-grid-item-inner">#}

        {#<div class="promo-labels">
            {% if product.isNew %}
                <div class="new"></div>
            {% endif %}
            {% if product.isEco %}
                <div class="eco"></div>
            {% endif %}
            {% if product.installments %}
                <div class="mega"></div>
            {% endif %}
        </div>#}

        {#<a href="{{ product.url }}" class="img-container">
            <img src="{{ product[imageUrl].url_preview }}" alt="{{ product.name }} {{ product.subname }}">
        </a>#}

        {#<div class="status {{ product.residual_indicator ? 'in-stock' : '' }}">В наличии</div>#}

        {#{% set categoryNameFallback = product.good_type_site.type_name|default(product.category.name) %}#}

        {#<div class="category-name">
            <a class="ln-grey" href="{{ product.good_type_site.constructor_page.url }}">
                {{ categoryNameFallback }}
            </a>
        </div>
        <div class="product-name">
            <a class="ln-black" href="{{ product.url }}">
                {{ product.name }} {{ product.subname }}
            </a>
        </div>#}




        {#<div class="product-reviews">

            <div class="rating-box active-{{ product.stars|round }}">
                <div class="stars size-s">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="rb-text">{{ product.reviews_count ~ ' ' ~ 'отзыв|отзыва|отзывов'|transchoice(product.reviews_count) }}</div>
            </div>
        </div>#}





        {#<div class="product-actions">
            <div class="price">
                {% set oldPrice = product.primary_offer.getPriceByType('top').value|number_format(0,'','.')|split('.') %}

                {% set activeDiscount = product.getActiveDiscount %} #}{# TODO move to offer #}{#

                {% if activeDiscount > 0 %}
                    <div class="old-price price-rub">
                        <span>{{ oldPrice[0] }} {{ oldPrice[1] }}</span>

                        {% if activeDiscount >= 45 %}
                            <div class="product-discount {{ activeDiscount >= 55 ? 'accent' : '' }}">
                                <span>-{{ activeDiscount }}</span>
                                <span>%</span>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

                {% set price = product.primary_offer.active_price.value|number_format(0,'','.')|split('.') %}
                <div class="active-price price-rub">
                    <span>{{ price[0] }} {{ price[1] }}</span>
                </div>
            </div>

            <div class="action">
                <ms-favorite-button offer="{{ product.primary_offer.id }}"></ms-favorite-button>
                <div class="shopping-cart">
                    {% if product.sub_category_id == 2 %}
                        <ms-prod-board-button></ms-prod-board-button>
                    {% else %}
                        <ms-buy-button offer="{{ product.primary_offer.id }}"
                                       :without-cart="{{ withoutCart|default('false') }}"></ms-buy-button>
                    {% endif %}
                </div>
            </div>
        </div>#}

        {#{% if product.width or product.height or product.depth %}

            <div class="sizes">
                <div class="sizes-item">
                    <div class="sizes-item-title">Размеры:</div>
                    <div class="sizes-item-props">

                        {% if product.depth %}
                            <div class="size-prop">
                                <div class="size-prop-info">
                                    <div>Длина</div>
                                    <div>{{ product.depth/10 }} см</div>
                                </div>
                                <div class="splitter"></div>
                            </div>
                        {% endif %}
                        {% if product.width %}
                            <div class="size-prop">
                                <div class="size-prop-info">
                                    <div>Ширина</div>
                                    <div>{{ product.width/10 }} см</div>
                                </div>
                                <div class="splitter"></div>
                            </div>
                        {% endif %}
                        {% if product.height %}
                            <div class="size-prop">
                                <div class="size-prop-info">
                                    <div>Высота</div>
                                    <div>{{ product.height/10 }} см</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="sizes-item">
                    {% for dName, dValue in descriptions %}
                        {% if loop.first %}
                        {% else %}
                            <p>{{ dName }} : {{ dValue }}</p>
                        {% endif %}
                        <!--TODO-->
                    {% endfor %}
                    {% if product.description1|trim %}
                        <div class="sizes-item-title">Спальное место:</div>

                        <div class="sizes-item-props">
                            {% set sizes = product.description1|split('х') %}
                            <div class="size-prop">
                                <div class="size-prop-info">
                                    <div>Длина</div>
                                    <div>{{ sizes[0] }} см</div>
                                </div>
                                <div class="splitter"></div>
                            </div>
                            <div class="size-prop">
                                <div class="size-prop-info">
                                    <div>Ширина</div>
                                    <div>{{ sizes[1] }} см</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>

        {% endif %}#}

        <div class="ecommerce_info"
             data-ecommerce-info='{
                "id" : "{{ product.nid.numeric_id }}",
                "price": "{{ product.primary_offer.active_price.value }}",
                "name" : "{{ product.name ~" "~ product.subname }}",
                "category" : "{{ product.category.name ~ (product.subcategory.name ? '/' ~ product.subcategory.name : '') }}",
                "variant": "{{ product.subname }}" }'
             data-numeric-id="{{ product.nid.numeric_id }}" style="display: none;">
        </div>
    {#</div>#}

</div>
