<div class="grid-carousel">

    <div class="swiper-container">

        <div class="swiper-wrapper product-grid-wrap">

            {% for item in viewed_products %}

                <div class="product-grid-item swiper-slide">

                    <div class="product-grid-item-inner">
                        {% if item.getActiveDiscount >= 45 %}
                            <div class="product-discount {{ item.getActiveDiscount >= 55 ? 'accent' : '' }}">
                                <span>-{{ item.getActiveDiscount }}</span><span>%</span>
                            </div>
                        {% endif %}

                        <a href="{{ item.url }}" class="img-container">
                            <img src="{{ item.preview_mobile_image.url_preview }}" alt="{{ item.name }} {{ item.subname }}">
                        </a>

                        <div class="category-name"><a class="ln-grey">{{ item.good_type_site.type_name }}</a></div>
                        <div class="product-name">
                            <a class="ln-black" href="{{ item.url }}">{{ item.name }} {{ item.subname }}</a>
                        </div>

                        <div class="product-reviews">

                            <div class="rating-box active-{{ product.stars|round }}">
                                <div class="stars size-s">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="rb-text">{{ item.reviews_count ~ ' ' ~
                                    'отзыв|отзыва|отзывов'|transchoice(item.reviews_count) }}
                                </div>
                            </div>
                        </div>
                        <div class="product-actions">
                            <div class="price">
                                {% set oldPrice = item.price_top_b|number_format(0,'','.')|split('.') %}
                                <div class="old-price">
                                    <span>{{ oldPrice[0] }} {{ oldPrice[1] }}</span>
                                    <span>₽</span>
                                </div>
                                {% set price = item.getActivePrice|number_format(0,'','.')|split('.') %}
                                <div class="active-price">
                                    <span>{{ price[0] }} {{ price[1] }}</span>
                                    <span>₽</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next btn-arrow"></div>
        <div class="swiper-button-prev btn-arrow"></div>

        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</div>
