<div class="container">
    {{ breadcrumbsManager.render('constructor-category-list', page)|raw }}

    <h1>{{ page.title }}</h1>

    <div class="category-nav">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for item in menuCategories.children %}
                    <div class="swiper-slide category-nav-item">
                        <a href="{{ item.url ?  item.url : '#' }}" class="ln-black">
                            <div class="category-icon">
                                {% if item.icon %}
                                    {{ item.icon.content|raw }}
                                {% endif %}
                            </div>
                            <div class="category-name">{{ item.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% for category in componentsContent %}
        {{ category|raw }}
    {% endfor %}

</div>