<div class="container installments">

    {{ breadcrumbsManager.render('shares', 'Рассрочка', '/rassrochka_kredit')|raw }}

    <h1>{{ header }}</h1>

    {% include 'page.installments.banner' %}

    {% for component in componentsContent %}
        {{ component|raw }}
    {% endfor %}

</div>