@media (min-width 768px)

  & // & - .header
    height 76px

    .header-logo
      display none

    .logo_animation
      position relative
      max-height 100%
      overflow hidden
      width 76px

      .logo-wrap
        display flex
        flex-direction column
        position absolute
        left 0
        animation replace-logo 6s forwards
        transform translateY(-76px)

        @keyframes replace-logo

          0%
            transform translateY(-76px)

          50%
            transform translateY(-76px)

          75%
            transform translateY(0)

          100%
            transform translateY(76px)

        > div
          height 76px
          display flex
          justify-content center
          align-items center

    .hamburger-btn
      display none

    .home-btn
      display inline-block
      width 48px
      padding 0 16px
      line-height 36px
      background accent-color url("../images/icons/home_w.svg") 10px center no-repeat
      opacity .64
      border-radius 18px
      height 37px
      cursor pointer
      text-align right
      color rgba(255, 255, 255, 0)

@media (max-width 767px)
  padding 16px
  flex-wrap wrap
  justify-content space-between
  user-select none

  .logo_animation
    display none

  & > div

    &:nth-child(1)
      order 1

    &:nth-child(2)
      flex 100%
      order 3
      margin-top 16px

    &:nth-child(3)
      order 2

  .logo
    margin-left 16px

  .phone
  .gotham
  .phone-wrap
    display none

  .services-buttons
    margin-right 0

    > *
      background-color light-grey
      margin-right 0
      border-radius 50%

    .text
      display none

    .user
      .avatar
        margin 0
        width 28px
        height @width

    .shoping-cart
      .ico
        margin 0

    .user
    .favorites
    .shoping-cart
      width 44px
      height @width
      display flex
      cursor pointer

  .substrate
    border-radius 50%
