#header
  @import "_preheader_banner/preheader_banner.styl"

  box-shadow 0 2px 8px 0 rgba(46, 51, 45, .12)
  position relative
  z-index 120

  .header
    padding 0 40px 0 24px
    background-color #fff
    display flex
    flex-wrap wrap

    &.simple

      & > div

        &:nth-child(2)
        .phone-wrap
          justify-content flex-end

    & > div
      display flex
      align-items center

      &:nth-child(2)
        flex 1
        justify-content center
        min-width 0

    a
      transition .3s

    .logo
      //margin-left 24px

      a
        display inline-block

      img
        max-width 78px
        max-height 49px

    .gotham
      justify-content flex-end

    .phone-wrap
      justify-content flex-start

    .gotham
    .phone-wrap
      min-width 160px
      display flex

    .phone
      display flex
      margin-top -1px
      color primary-black
      font-size 16px
      font-weight bold
      line-height 20px
      white-space nowrap
      letter-spacing 0

      &::before
        content ''
        background url("../images/icons/mobile_phone.svg") center / contain no-repeat
        width 12px
        margin-right 14px

    .services-buttons
      display flex
      align-items center
      padding-top 2px

      > *
        width 40px
        height 40px
        border-radius 50%
        transition .3s
        cursor pointer

        &:hover
          background-color #f2f2f2 !important
          color primary-black !important

        .substrate
          display block
          width 40px
          height 40px
          background-color #f2f2f2

      .user
        background url("../images/icons/login.svg") center no-repeat

      .favorites
        background url("../images/icons/favorite.svg") center no-repeat

      .shoping-cart
        background url("../images/icons/shopping_cart.svg") center no-repeat

      .favorites,
      .shoping-cart
        position relative

        .counter
          position absolute
          top 0
          left 20px
          width 19px
          height @width
          background-color base-orange
          color #fff
          border-radius 50%
          display flex
          align-items center
          justify-content center

    @import "_search/search_form.styl"

    @import "_media.styl"
