<div class="row product-item banner-product {{ wrapper_class }}" style="margin-bottom: {{ marginBottom }}px; margin-top: {{ marginTop }}px;"  id="{{ anchor }}">
    <div class="product-desc" {{ productFloat }}>

        {{ componentTitle }} {{ componentText }} {{ componentButton }}
    </div>

    <div class="{{ videoOrImageWrap }} product_image_video" {{ videoOrImageFloat }}>

        {{ videoOrImageContent }}
    </div>

</div>