<div class="section-lg m-t-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="font-black font-bold font30 m-b-30 uppercase">{{ 'luckyweb.blog::components.top.title'|trans }}</h2>

                {% for post in __SELF__.posts %}
                    <div class="blog-post">
                        <div class="row">
                            {% if post.featured_images.first %}
                                <div class="col-md-4 col-sm-6 m-b-30">
                                    <a href="{{ post.url }}">
                                        <img src="{{ post.featured_images.first.thumb(600, 500, {'mode' : 'crop'}) }}" alt="{{ post.featured_images.first.title }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-6 m-b-30">
                            {% else %}
                                <div class="col-md-12 m-b-30">
                            {% endif %}
                                <h3 class="font-thin font20 m-b-10">
                                    <a href="{{ post.url }}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                                <p class="m-b-10 font14 font-grey"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ post.published_at|date('d.m.Y') }}</p>
                                <p>{{ post.excerpt }}</p>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <h2 class="text-center m-t-60">{{ 'luckyweb.blog::components.top.no_posts_message'|trans }}</h2>
                {% endfor %}
            </div>
            <div class="col-md-6 col-sm-6">
                <img src="https://placeholdit.imgix.net/~text?txtsize=80&txt=600%C3%97500&w=800&h=660" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>