{% for post in posts %}
    <div class="col-md-12">
        {% if post.featured_images.first %}
            <a href="{{ post.url }}">
                <img src="{{ post.featured_images.first.thumb(905, auto) }}" alt="{{ post.featured_images.first.title ? post.featured_images.first.title : post.title }}" class="img-responsive">
            </a>
        {% endif %}
        <h3 class="m-b-20 {% if post.featured_images.first %}m-t-40{% endif %} font-thin font30"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
        <div class="post-info m-t-20 m-b-50">
            <i class="fa fa-calendar"></i>{{ post.published_at|date('d.m.Y') }}
            <span class="pull-right">
                {% for category in post.getCategoriesBySite(controller) %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %} - {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
{% else %}
    <h2 class="text-center m-b-80">Постов еще нет</h2>
{% endfor %}

