{% if posts.lastPage > 1 %}
    <div class="pagenation-blog">
        <ul class="pagenation-list">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}


            {% if posts.currentPage > 3 and posts.lastPage > 5 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): 1 }) }}">1</a></li>
            {% endif %}
            {% if posts.currentPage > 4 %}
                <li><span>...</span></li>
            {% endif %}

            {% for page in __SELF__.getPaginationRangeFirst()..__SELF__.getPaginationRangeLast() %}
                <li>
                    {% if posts.currentPage == page %}
                        <span class="current">{{ page }}</span>
                    {% else %}
                        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}

            {% if posts.currentPage < (posts.lastPage-3) %}
                <li><span>...</span></li>
            {% endif %}
            {% if posts.currentPage < (posts.lastPage-2) and posts.lastPage > 5 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): posts.lastPage }) }}">{{ posts.lastPage }}</a></li>
            {% endif %}

            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
