<h3>Классы Google Analytics</h3>
<ol>
    <li>"popup-image-url %popup_name%" - клик на картинку, если есть ссылка</li>
    <li>"close-popup-button %popup_name%" - клик на кнопку закрыть попап</li>
    <li>"button-popup-yes %popup_name%" - клик на кнопку YES</li>
    <li>"button-popup-no %popup_name%" - клик на кнопку NO</li>
    <li>"button-popup-subscribe %popup_name%" - клик по кнопке подписаться</li>
</ol>
