<script type="text/javascript" src="/plugins/luckyweb/ms/assets/js/content_field_url.js"></script>

<div id="list-fields-url" class="block">
    <?php
if($this->widget->formImage->model->urls()->count() > 0){
    foreach($this->widget->formImage->model->urls()->get() as $item){
    $time = uniqid();
    $i = 0;
    ?>
    <div class="form-group first-unlink-input cl-<?= $time ?>" id="<?= $i == 0 ? 'first-url-input' : ''?>">
        <input type="text" class="form-control" name="PagePopup[pattern][]" value="<?= $item->url ?>" placeholder="URL">
        <div class="btn btn-link unlink-input pull-right" id="<?= $time ?>">Удалить</div>
    </div>
    <?php $i++; }}else{ ?>
    <div class="form-group first-unlink-input" id="first-url-input">
        <input type="text" class="form-control" name="PagePopup[pattern][]" placeholder="URL">
        <div class="btn btn-link unlink-input pull-right" id="first-unlink-input">Удалить</div>
    </div>
    <?php } ?>
</div>
<div class="btn btn-primary" id="add-new-url">Добавить URL</div>

