<div class="passport-button">
    <a href="#" class="js-passport_button">
        <img src="{{ __SELF__.passport.logo.getThumb(190, 0,'auto') }}">
    </a>
</div>

<script>
    // Application New variables
    ProductPassportVariables = {
        items: {{ (__SELF__.getPages())|json_encode|raw }}
    };
</script>