<div class="modal-body">
    <form class="text-left order_form_submit" id="{{ product.slug }}">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="product_name" value="{{ product_name }}">
        <div class="row">
            <div class="col-sm-5">
                <div class="instruction">
                    <div class="md-header">Как купить мебель</br>
                    в интернет-магазине “Мебель Шара”?</div>
                    <ol>
                        <li>Заполните форму и нажмите “Отправить заказ”</li>

                        <li>Менеджер интернет-магазина перезвонит Вам
                        для уточнения всех деталей заказа, а также
                        для согласования даты доставки и сборки</li>

                        <li>После согласования всех условий Вы получите
                        ссылку на страницу оплаты заказа банковской
                        картой*</li>

                        <li>Оплатите заказ банковской картой</li>

                        <li>Встречайте нашего курьера с Вашей мебелью!</li>
                    </ol>
                    <p>*к оплате принимаются банковские карты VISA, MasterCard, МИР,
                        MAESTRO.</p>
                    <div class="payment-systems">
                        <div class="item"><img style="height:28px" src="{{ 'assets/images/payment-systems/apay.png'|theme }}"></div>
                        <div class="item"><img style="height:28px" src="{{ 'assets/images/payment-systems/visa.png'|theme }}"></div>
                        <div class="item"><img src="{{ 'assets/images/payment-systems/mc_vrt_pos.png'|theme }}"></div>
                        <div class="item"><img src="{{ 'assets/images/payment-systems/ms_vrt_pos.png'|theme }}"></div>
                        <div class="item"><img style="height:15px" src="{{ 'assets/images/payment-systems/mir.png'|theme }}"></div>
                    </div>
                    <p>все платежи проходят через платежную систему Яндекс.Касса
                    в защищенном сервисе Яндекс.Денег по стандартам платежных
                    систем Visa и Mastercard (сертификат PCI DSS)</p>
                    <p>согласно требований ФЗ-54 - в момент оплаты автоматически
                    формируется фискальный чек и оптравляется Покупателю.
                    Фискальный чек также доступен для проверки на официальном
                    сайте ФНС Российской Федерации.</p>
                </div>
            </div>
            <div class="col-sm-7">
                <button type="button" class="close-x exit_order" id="{{ product.slug }}" data-dismiss="modal" aria-hidden="true"></button>
                <div class="md-form">
                    <h2>Купить в 1 клик</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product">
                                <h3 class="title">{{ product.name }} <span>({{ product.subname }})</span></h3>
                                <div class="prices">
                                    <div class="left">
                                        {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                                        {% set price_description = product.getPriceDescription() %}
                                        <span class="old-price">
                                                    <span>{{ product.getStrikedPrice()|number_format(0,'','.') }}</span>
                                            {% if product.isWeekPromo() %}
                                                <div class="week-promo">
                                                    <span class="discount">-{{ product.getMixedDisount() }}</span>
                                                    <span class="promo-percent">%</span>
                                                </div>
                                            {% endif %}
                                        </span>
                                        <span class="new-price {% if product.isWeekPromo() %} week-promo-price{% endif %}">{{ price[0] }}.<span>{{ price[1] }}<i class="fa fa-rub"></i></span></span>
                                        {#{% component 'productreserve' product=product %}#}
                                        {# {{ product.price_promo }} #}
                                        {% if product.units %}
                                        <div class="discount-condition units">за {{ product.units }}</div>
                                        {% endif %}
                                        {% if price_description != '' %}
                                        <div class="discount-condition units">{{ price_description }}</div>
                                        {% endif %}
                                        {% if product.price_promo==0 and product.discount_condition != '' %}
                                        <div class="discount-condition">{{ product.discount_condition }}<br>Обычная цена {{ product.price_lower_b|number_format(0,'','.') }}
                                        </div>
                                        {% endif %}
                                        {#
                                        {% if product.discount_special > 0 %}
                                        <div class="percent">-{{ product.discount_special }}%</div>
                                        {% endif %}
                                        #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class='control-label' for="first_name">ФИО <abbr class="text-danger">*</abbr></label>
                                <input type="text" name="first_name" class="form-control form-control_name" placeholder="ФИО">
                            </div>
                            <div class="form-group">
                                <label class='control-label' for="phone">Телефон <abbr class="text-danger">*</abbr></label>
                                <input type="text" name="phone" class="form-control js-phone form-control_phone" placeholder="Телефон">
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <p class="font12">* - поля обязательные к заполнению</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class='control-label' for="email">E-mail</label>
                                <input type="text" name="email" class="form-control form-control_email" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <label class='control-label' for="promocode">Промо Код для Скидки</label>
                                <input type="text" name="promocode" class="form-control form-control_promocode" placeholder="Промо Код">
                            </div>
                            <div class="form-group">
                                <label class='control-label' for="comment">Адрес доставки / Комментарии</label>
                                <textarea name="comment" class="form-control form-control_comment" placeholder="Адрес доставки"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-xlg ms-button-vacancy m-b-20">Отправить заказ</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="form-group checkbox">
                                <label class="font12">
                                    <input type="hidden" name="is_accept" value="0" />
                                    <input name="is_accept" type="checkbox" value="1">
                                    Ставя отметку, я подтверждаю согласие на <a href="{{ 'documents/personal_data.pdf'|media }}?1" class="open_soglasie_personal_data" id="{{ product.slug }}" target="_blank">обработку моих персональных данных</a> в соответствии с <a href="{{ 'documents/privacy_policy.pdf'|media }}" class="open_privacy_policy" id="{{ product.slug }}" target="_blank">политикой конфиденциальности</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted font12">Нажимая на кнопку "Отправить заказ" Вы соглашаетесь с условиями <a href="{{ 'documents/public_offer.pdf'|media }}" class="open_public_offer" id="{{ product.slug }}" target="_blank">Публичной оферты</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% if production_mode %}
    <script>
        {% if product %}

        // Ecommerce event for GTM. The product add to cart data
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'ecommerce': {
                'add': {
                    'products': [{
                        'id': '{{ product.id }}',
                        'name': '{{ product.name ~ ' ' ~ product.subname}}',
                        'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                        'quantity': 1
                    }]
                }
            },
            'event': 'gtm-ee-event',
            'gtm-ee-event-category': 'Enhanced Ecommerce',
            'gtm-ee-event-action': 'Adding a Product to a Shopping Cart',
            'gtm-ee-event-non-interaction': 'False'
        });

        {% endif %}
    </script>

    <script src="{{ 'assets/vendor/bpmonline/create-object.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bpmonline/track-cookies.js'|theme }}"></script>
    <script src="{{ 'assets/js/classes/bpmonline.js'|theme }}"></script>
{% endif %}