<div class="text-center m-b-40">
    <div class="modal-message-icon success">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <h1>Спасибо!</h1>
    <p>Ваш заказ успешно отправлен.</p>
</div>

{% if production_mode %}
    <script>

        {% if product %}

        // Ecommerce event for GTM. The product checkout data
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'event': 'checkout',
            'ecommerce': {
                'checkout': {
                    'products': [{
                        'id': '{{ product.id }}',
                        'name': '{{ product.name ~ ' ' ~ product.subname}}',
                        'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                        'quantity': 1
                    }]
                }
            }
        });

        {% endif %}

    </script>
{% endif %}