<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Форма заказа</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <div class="modal-message-icon success">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h1>Спасибо!</h1>
        <p>Ваш заказ успешно отправлен.</p>
    </div>

    <div class="m-t-20">
        {% partial 'social_links' %}
    </div>
</div>

{% if production_mode %}
    <script>

    {% if product %}

    // Ecommerce event for GTM. The product checkout data
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        'ecommerce': {
            'checkout': {
                'products': [{
                    'id': '{{ product.id }}',
                    'name': '{{ product.name ~ ' ' ~ product.subname}}',
                    'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                    'quantity': 1
                }]
            }
        },
        'event': 'gtm-ee-event',
        'gtm-ee-event-category': 'Enhanced Ecommerce',
        'gtm-ee-event-action': 'Checkout Step 1',
        'gtm-ee-event-non-interaction': 'False'
    });

    {% endif %}

    </script>
{% endif %}