<template>
    <tr>
        <td><span>{{promoCode.code}}</span></td>
        <td><span>{{status(promoCode)}}</span></td>
        <td><span>{{formatPrice(parseInt(promoCode.amount))}} ₽</span></td>
        <td>
            <span>
                Действителен при покупке от {{formatPrice(parseInt(promoCode.available_from))}} рублей
            </span>
        </td>
    </tr>
</template>

<script>
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsItem",
        mixins: [formatPrice],
        props: ['promoCode', 'status']
    }
</script>
