<template>
    <div class="m-table-item">
        <div class="m-table-row">
            <div class="m-table-col col-2 head">Код</div>
            <div class="m-table-col col-2">{{promoCode.code}}</div>
        </div>
        <div class="m-table-row">
            <div class="m-table-col col-2 head">Действителен до</div>
            <div class="m-table-col col-2">{{status(promoCode)}}</div>
        </div>
        <div class="m-table-row">
            <div class="m-table-col col-2 head">Сумма скидки</div>
            <div class="m-table-col col-2">{{formatPrice(parseInt(promoCode.amount))}} ₽</div>
        </div>
        <div class="m-table-row separator row-head">
            <div class="m-table-col head">Описание</div>
        </div>
        <div class="m-table-row">
            <div class="m-table-col">Действителен при покупке от {{formatPrice(parseInt(promoCode.available_from))}}
                рублей
            </div>
        </div>
    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsItem",
        mixins: [formatPrice],
        props: ['promoCode', 'status']
    }
</script>

<style scoped>

</style>