<template>

    <div class="account">

        <div class="account-page">

            <div class="account-header">
                <h1>Мои промокоды</h1>
            </div>

            <div class="account-content">

                <table>
                    <tr>
                        <th><span>Код</span></th>
                        <th><span>Действителен до</span></th>
                        <th><span>Сумма скидки</span></th>
                        <th><span>Описание</span></th>
                    </tr>
                    <ms-item v-for="promoCode in promoCodes" :key="promoCode.id" :promoCode="promoCode" :status="status"></ms-item>
                </table>

                <div class="m-table">
                    <ms-item-mobile v-for="promoCode in promoCodes" :key="promoCode.id"
                                    :promoCode="promoCode" :status="status"></ms-item-mobile>
                </div>

            </div>

        </div>

        <div class="account-sidebar">
            <ms-aside></ms-aside>
        </div>

    </div>

</template>

<script>
    import MsAside from '../MsAside'
    import MsItem from './MsItem'
    import MsItemMobile from './MsItemMobile'

    export default {
        name: "MsPromoCodes",
        components: {MsAside, MsItem, MsItemMobile},
        methods: {
            fetchingPromoCodes() {
                return this.$store.dispatch('user/promoCode')
            },
            status(item){
                let createdAt = new Date(item.created_at.date)
                createdAt.setDate(createdAt.getDate() + 10)
                const createdAt10 = createdAt.valueOf()

                const now = new Date().valueOf()
                const expiredAt = new Date(item.expired_at.date).valueOf()


                if (item.status && item.applied_at === null && expiredAt >= now && createdAt10 >= now) {
                    return 'Действителен до ' + [createdAt.getDate(), (createdAt.getMonth() + 1), createdAt.getFullYear()].join('.')
                } else if (item.status && expiredAt < now) {
                    return 'Промокод недействительный'
                } else {
                    return 'Промокод неактивный'
                }
            }
        },
        computed: {
            promoCodes() {
                return this.$store.getters['user/promoCodes']
            }
        },
        mounted() {
            this.fetchingPromoCodes()
        }
    }
</script>
