<div class="row gift-sale" style="{{ backgroundImage }} background-size: cover; margin-bottom: {{ marginBottom }}px; margin-top: {{ marginTop }}px;" id="{{ anchor }}">

    <div class="col-md-6 col-sm-6" {{ mainWrap }}>
        <div class="sale-desc">
            {{ componentTitle }}

            {{ componentText }}

            {{ componentButton }}
        </div>
    </div>
</div>