<template>
    <div class="warning-message">
        Данный пользователь уже зарегистрирован, если это вы <a @click="showAuthModal">авторизируйтесь</a>
    </div>
</template>

<script>
    export default {
        name: "AuthWarningMessage",

        methods: {
            showAuthModal () {
                this.$bus.$emit('auth.modal')
            }
        }
    }
</script>
