<template>
    <div>
        <div class="city field-row">
            <div>Город:</div>
            <div class="f-group" :class="{error: errors.has('city')}">
                <input type="text"
                       name="city"
                       v-model="address.city"
                       v-validate="{required: true}"
                       data-vv-as="'Город'"
                >
                <div class="error-message">{{errors.first('city')}}</div>

                <div class="cities-list">
                    <a v-for="(value, key) in cities" :key="key" @click="address.city = value">{{value}}</a>
                </div>
            </div>
        </div>

        <div class="delivery-address field-row">
            <div>Адрес доставки:</div>
            <div class="f-group">
                <div class="f-row cols-1">
                    <div class="f-col" :class="{error: errors.has('street')}">
                        <input type="text"
                               placeholder="Улица"
                               name="street"
                               v-validate="{required: true}"
                               v-model="address.street"
                               data-vv-as="'Улица'"
                        >
                        <div class="error-message">{{errors.first('street')}}</div>
                    </div>
                </div>
                <div class="f-row cols-2">
                    <div class="f-col" :class="{error: errors.has('house')}">
                        <input type="text"
                               placeholder="Дом"
                               name="house"
                               v-validate="{ required: true }"
                               v-model="address.house"
                               data-vv-as="'Дом'"
                        >
                        <div class="error-message">{{errors.first('house')}}</div>
                    </div>
                    <div class="f-col" :class="{error: errors.has('apartment')}">
                        <input type="text"
                               placeholder="Квартира"
                               name="apartment"
                               v-validate="{ min: 1 }"
                               v-model="address.apartment"
                               data-vv-as="'Квартира'"
                        >
                        <div class="error-message">{{errors.first('apartment')}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce'

    export default {
        name: "DeliveryAddress",

        inject: ['$validator'],

        data: () => ({
            cities: ['Москва', 'Орел', 'Белгород', 'Калуга', 'Клинцы'],
            address: {
                city: '',
                street: '',
                house: '',
                apartment: ''
            }
        }),

        watch: {
            address: {
                deep: true,
                handler: debounce(async function (value) {
                    const fields = ['city', 'street', 'house', 'apartment']

                    if (await this.$validator.validateAll(fields, { silent: true })) {
                        this.$store.commit('checkout/persistDeliveryData', {
                            type: 0, // доставка на адресс
                            city: value.city,
                            street: value.street,
                            house: value.house,
                            apartment: value.apartment,
                        })
                    }
                }, 300)
            }
        }
    }
</script>
