<template>
    <div class="step-content-item">

        <div class="fields">

            <div class="delivery field-row">
                <div>Варианты доставки:</div>
                <div class="f-group radio-group">
                    <div>
                        <input type="radio" id="address" name="delivery" @click="changeVariant('address')"
                               checked>
                        <label for="address">Доставка по адресу</label>
                    </div>
                    <div>
                        <input type="radio" id="point" name="delivery" @click="changeVariant('point')">
                        <label for="point">Самовывоз из пункта выдачи</label>
                    </div>
                </div>
            </div>

            <delivery-address v-if="variant === 'address'"></delivery-address>

            <div class="address-points field-row" v-if="variant === 'point'">
                <div>Адреса пунктов выдачи:
                    <span
                        class="light-text">(Стоимость доставки до пункта выдачи {{ deliveryPrice }} руб.)</span>
                </div>
                <div class="f-group radio-group">
                    <delivery-point v-for="(point, index) in points"
                                    :point="point"
                                    :checked="checkedId === index"
                                    :key="index"
                                    @click="changeDeliveryPoint(point, index)" @input="changeDeliveryPoint($event, index)">
                    </delivery-point>
                </div>
            </div>

            <div class="assembly field-row">
                <div>Сборка:</div>
                <div class="f-group">
                    <input type="checkbox" id="assembly" :value="assemblingValue" :checked="false" @input="changeAssembling">
                    <label for="assembly">Заказать сборку
                        <span class="light-text">(Стоимость услуги {{ formatPrice(assemblingPrice) }} руб.)</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import DeliveryPoint from './DeliveryPoint'
    import DeliveryAddress from './DeliveryAddress'
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "DeliveryAssembling",

        inject: ['$validator'],

        mixins: [formatPrice],

        components: {
            DeliveryAddress,
            DeliveryPoint
        },

        data: () => ({
            variant: 'address',
            points: [
                { value: 'Белгород, ул. Заслонова, 90', type: 1 },
                { value: 'Воронеж, ул.Волгородская, 30', type: 1, },
                { value: 'Калуга, Терепецкое кольцо, 15', type: 1, },
                { value: 'Клинцы, ул. Октябрьская, 5', type: 1, },
                { value: 'Курск, ул. Чайковского, 49', type: 1, },
                { value: 'Орел, Новосильское шоссе, 11а', type: 2, },
                { value: 'Рязань, Московское шоссе, 147', type: 1, },
                { value: 'Смоленск, ул.Индустриальная, 4а', type: 1, },
                { value: 'Старый Оскол, пр.Комсомольский, 83', type: 1, },
                { value: 'Тамбов, ул.Кавалерийская, 17д', type: 1, },
                { value: 'Москва, Щербинка, ул. Южная, 20', type: 1, },
            ],
            checkedId: 0,
        }),

        computed: {
            assemblingValue () {
                const value = this.$store.state.checkout.isAssembling

                return value ? 'true' : '';
            },

            assemblingPrice () {
                return this.$store.getters['cart/costAssembling']
            },

            deliveryPrice () {
                return this.$store.getters['cart/deliveryCost']
            },
        },

        methods: {
            changeVariant (value) {
                this.variant = value

                if (value === 'address') {
                    this.$store.commit('checkout/persistDeliveryType', 1)
                }

                this.$store.dispatch('checkout/calculate')
            },

            changeAssembling () {
                this.$store.commit('checkout/changeAssembling')
                this.$store.dispatch('checkout/calculate')
            },

            changeDeliveryPoint (point, index) {
                this.checkedId = index

                this.$store.commit('checkout/persistDeliveryData', {
                    type: point.type,
                    address: point.value,
                })

                this.$store.dispatch('checkout/calculate')
            }
        }
    }
</script>
