<template>
    <div @click="$emit('input', point)">
        <input type="radio" name="p_address" :value="point.value" :checked="checked" />
        <label>
            {{ point.value }}
            <span v-if="isFree"> (Бесплатно)</span>
        </label>
    </div>
</template>

<script>
    export default {
        name: "DeliveryPoint",

        props: {
            point: {
                default: () => ({
                    value: '',
                    type: 1,
                })
            },

            checked: {
                default: false
            }
        },

        computed: {
            isFree () {
                return this.point.type === 2 // бесплатный самовывоз из Орла
            }
        }
    }
</script>
