<template>
    <div class="bonuses">

        <div class="auth" v-if="!isAuthenticated">
            <a @click="showAuthModal">Авторизуйтесь</a> чтобы воспользоваться средствами бонусного счета
        </div>

        <div class="bonus" v-else>

            <div class="card">
                <div>Номер карты</div>
                <div class="card-number">{{ cardCode }}</div>
            </div>

            <div class="all-bonuses">
                <div>Всего бонусов на карте:</div>
                <div>
                    <span class="price-rub">{{ formatPrice(activatedBonuses) }}</span>
                </div>
            </div>

            <div :class="{ disabled: (activatedBonuses === 0 || totalPrice < 15000 || promoCode !== null) }" class="use-bonusess">
                <div class="text">
                    <span>Списать бонусов: (руб.)</span>

                    <div class="f-group">
                        <input :value="formatPrice(bonuses)" @change="changeUseBonuses" type="text">
                    </div>
                </div>

                <div class="range f-group">
                    <input :max="maxUseBonuses" @change="changeUseBonuses" min="0" step="1" type="range"
                           v-model="bonuses">
                </div>
            </div>

            <div :class="{ disabled: (parseInt(bonuses) !== 0) }" class="use-promo-code">
                <div>Или воспользуйтесь промокодом</div>

                <div class="f-group">
                    <select v-model="promoCode">
                        <option :value="null">Выбрать промокод</option>
                        <option :key="item.id" :value="item" v-for="item in promoCodes">
                            {{ item.code }} - {{ parseInt(item.amount) }} ₽
                        </option>
                    </select>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsBonuses",

        mixins: [formatPrice],

        data: () => ({
            bonuses: 0,
            promoCode: null
        }),

        methods: {
            changeUseBonuses (e) {
                let value = e.target.value.split(' ').join('')

                if (value > this.maxUseBonuses) {
                    this.bonuses = this.maxUseBonuses
                } else if (value < 0) {
                    this.bonuses = 0
                } else {
                    this.bonuses = value
                }

                this.promoCode = null
                this.$store.commit('checkout/persistUserBonuses', this.bonuses)
                this.$store.dispatch('checkout/calculate')
            },

            showAuthModal () {
                this.$bus.$emit('auth.modal')
            },

            fetchingPromoCodes () {
                return this.$store.dispatch('user/promoCodeAvailable')
            }
        },

        computed: {
            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            },

            cardCode () {
                return this.$store.getters['user/cardCode']
            },

            activatedBonuses () {
                return this.$store.getters['user/activatedBonuses']
            },

            promoCodes () {
                return this.$store.getters['user/promoCodesAvailable']
            },

            maxUseBonuses () {
                const bonuses = this.activatedBonuses

                if (bonuses <= this.totalPrice / 2) {
                    return bonuses
                }

                return this.totalPrice / 2
            },

            totalPrice () {
                return this.$store.getters['cart/totalPrice']
            },
        },

        watch: {
            isAuthenticated (value) {
                if (value) {
                    this.fetchingPromoCodes()
                }
            },

            promoCode (item) {
                this.bonuses = 0
                this.$store.commit('checkout/persistUserBonuses', this.bonuses)
                this.$store.commit('checkout/persistPromoCode', item.code)
                this.$store.dispatch('checkout/calculate')
            }
        }
    }
</script>
