<template>
    <div class="checkout-page-wrap">
        <div class="checkout">
            <div class="checkout-header">
                <h2>Оформление заказа</h2>
            </div>

            <div class="checkout-content">
                <div class="checkout-content-steps">
                    <ms-step-one :show-first-step.sync="showFirstStep"></ms-step-one>
                    <ms-step-two v-if="!showFirstStep"></ms-step-two>
                </div>
            </div>

            <div class="checkout-sidebar">
                <ms-order></ms-order>
                <ms-bonuses></ms-bonuses>
            </div>
        </div>
    </div>
</template>

<script>
    import MsStepOne from './MsStepOne'
    import MsStepTwo from './MsStepTwo'
    import MsOrder from './MsOrder'
    import MsBonuses from './MsBonuses'
    import checkoutStore from '@/store/checkout'

    export default {
        name: "MsCheckout",

        components: {
            MsStepOne,
            MsStepTwo,
            MsOrder,
            MsBonuses,
        },

        provide () {
            return {
                $validator: this.$validator,
            }
        },

        computed: {
            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            },

            showFirstStep: {
                get () {
                    return this.$store.state.checkout.isFirstStep
                },

                set (value) {
                    this.$store.commit('checkout/setFirstStep', value)
                }
            }
        },

        watch: {
            showFirstStep (value, old) {
                if (value === false && old === true) {
                    this.$store.dispatch('checkout/calculate')
                }
            }
        },

        methods: {
            async setUserData () {
                const data = this.$store.getters['user/checkoutData']

                this.$store.commit('checkout/persistUserData', data)
                this.showFirstStep = false

                await this.$store.dispatch('cart/syncBackend')
            },
        },

        created () {
            if (this.$store.state.cart.items.length === 0) {
                window.location.replace('/')
            }

            this.$store.registerModule('checkout', checkoutStore)

            this.$store.commit('checkout/presetCalculationFromCart', {
                total: this.$store.getters['cart/totalPrice'],
                delivery: this.$store.getters['cart/deliveryCost']
            })

            if (this.isAuthenticated) {
                this.setUserData()
            }

            this.$store.commit('user/addAfterSuccessAuthCallback', () => {
                this.setUserData()

                return true
            })
        },

        mounted () {
            this.$bus.$on('cart.changed', () => {
                this.$store.dispatch('checkout/calculate')
            })
        },

        destroyed () {
            this.$store.unregisterModule('checkout')
        }
    }
</script>
