<template>
    <div class="checkout-order">
        <div class="order-header">
            <h4>Ваш заказ</h4>
        </div>

        <div class="order-content">
            <ms-order-item v-for="item in offerList" :key="item.id" :item="item"></ms-order-item>
            <a class="ln-edit-order" @click="showCartModal">Редактировать заказ</a>
        </div>

        <div class="order-total">
            <div class="price-list">
                <div class="price-text">
                    <div>Стоимость товаров:</div>
                    <div>Стоимость доставки:</div>
                    <div v-if="calculated.assembling > 0">Стоимость сборки:</div>
                </div>

                <div>
                    <div class="price">
                        <span class="price-rub">{{ formatPrice(calculated.total) }}</span>
                    </div>
                    <div class="price">
                        <span class="price-rub">{{ formatPrice(calculated.delivery) }}</span>
                    </div>
                    <div class="price" v-if="calculated.assembling > 0">
                        <span class="price-rub">{{ formatPrice(calculated.assembling) }}</span>
                    </div>
                </div>
            </div>


            <div class="cart-total">

                <div class="cart-total-text">Итого:</div>

                <div class="cart-total-price-wrap">
                    <ms-total-discount :calculated="calculated"></ms-total-discount>
                    <div class="cart-total">
                        <span class="price-rub">{{ formatPrice(calculated.amount) }}</span>
                    </div>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
    import MsOrderItem from "./MsOrderItem"
    import MsTotalDiscount from "./MsTotalDiscount"
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsOrder",

        mixins: [formatPrice],

        components: {
            MsOrderItem,
            MsTotalDiscount
        },

        methods: {
            showCartModal() {
                this.$bus.$emit('cart.modal')
            }
        },

        computed: {
            calculated () {
                return this.$store.state.checkout.calculated
            },

            offerList () {
                return this.$store.state.cart.items
            }
        },
    }
</script>
