<template>
    <div class="order-item">
        <div class="order-product-img"><img :src="offer.primary.image_preview_mobile" alt=""></div>

        <div class="order-product-desc">
            <div>
                <a class="ln-black" :href="offer.primary.url">{{offer.primary.name}}</a>
            </div>
            <div class="order-product-detail">
                <div class="counter">{{item.quantity}} шт</div>
                <div class="price">
                    <span class="price-rub">{{ formatPrice(parseInt(offer.active_price.value * item.quantity)) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsOrderItem",

        mixins: [formatPrice],

        props: ['item'],

        computed: {
            offer () {
                return this.item.offer
            }
        },
    }
</script>

<style scoped>

</style>
