<template>
    <div class="step step-2"> <!--disabled-->
        <div class="step-header">
            <div class="step-number"><span>2</span></div>
            <h3>Доставка и оплата</h3>
        </div>

        <div class="step-content">

            <delivery-assembling></delivery-assembling>

            <pay-methods></pay-methods>

            <div class="step-content-item">
                <div class="f-group comment">
                    <label for="comment">Комментарий к заказу</label>
                    <textarea id="comment" name="comment" v-model="comment"></textarea>
                </div>

                <div class="privacy">
                    Ставя отметку, я подтверждаю согласие на <a href="/storage/app/media/documents/personal_data.pdf?1">обработку моих персональных данных</a>
                    в соответствии с <a href="/storage/app/media/documents/privacy_policy.pdf">политикой конфиденциальности</a>
                </div>
            </div>

        </div>

        <div class="step-footer">
            <div class="f-group make-order" :class="{ disabled: isLoading }">
                <button class="btn-1" @click="makeOrder">Оформить заказ</button>
            </div>
        </div>
    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'
    import DeliveryAssembling from './DeliveryAssembling'
    import PayMethods from './PayMethods'
    import debounce from 'lodash/debounce'
    import { Sentry } from '@/plugins/sentry'

    export default {
        name: "MsStepTwo",

        components: {
            PayMethods,
            DeliveryAssembling
        },

        inject: ['$validator'],

        mixins: [formatPrice],

        data: () => ({
            isLoading: false
        }),

        computed: {
            comment: {
                get () {
                    return this.$store.state.checkout.comment
                },

                set (value) {
                    this.setComment(value)
                }
            }
        },

        methods: {
            setComment: debounce(function (value) {
                this.$store.commit('checkout/persistComment', value)
            }, 300),

            async makeOrder () {
                this.isLoading = true

                try {
                    if (await this.$validator.validateAll()) {
                        await this.$store.dispatch('checkout/create')
                    }
                } catch ( e ) {
                    Sentry.captureException(e)
                }

                this.isLoading = false
            }
        },
    }
</script>
