<template>
    <div class="step step-1" :class="{finished: isFinished}">
        <div class="step-header">

            <div class="step-number">
                <span>1</span>
            </div>

            <div class="step-header-warp">
                <h3 class="step-title contact-step">Контактные данные</h3>
                <h3 class="step-title user-data"><span>{{ dataFullName }}</span>, <span class="phone">{{ dataPhone }}</span></h3>

                <div class="go-back" v-if="!isAuthenticated">
                    <span @click="$emit('update:showFirstStep', true)">Изменить</span>
                </div>
            </div>

        </div>

        <div class="step-content">
            <div class="step-content-item">

                <div class="login" v-if="!isAuthenticated">
                    <span>Уже есть аккаунт?</span> <a @click="$bus.$emit('auth.modal')">Войдите</a>
                </div>

                <div class="fields">
                    <div class="field-row">
                        <div>Имя и Фамилия:</div>
                        <div class="f-group" :class="{ error: errors.has('fullName') }"> <!--error-->
                            <input name="fullName"
                                   type="text"
                                   v-model="fullName"
                                   v-validate="{ required: true, full_name: true}"
                                   data-vv-as="'Имя и Фамилия'"
                            >
                            <div class="error-message">{{errors.first('fullName')}}</div>
                        </div>
                    </div>

                    <div class="field-row">
                        <div>Номер телефона:</div>
                        <div class="f-group" :class="{error: errors.has('phone'), warning: isUserPhone}"><!--warning-->
                            <input name="phone"
                                   type="text"
                                   v-model="phone"
                                   v-validate="{ required: true, phone: true }"
                                   v-phone-mask
                                   @blur="checkUser"
                                   data-vv-as="'Номер телефона'"
                            >
                            <div class="error-message">{{errors.first('phone')}}</div>
                            <auth-warning-message></auth-warning-message>
                        </div>
                    </div>

                    <div class="field-row">
                        <div>Эл. почта:</div>
                        <div class="f-group" :class="{error: errors.has('email'), warning: isUserEmail}">
                            <input
                                id="email"
                                name="email"
                                type="text"
                                v-model="email"
                                placeholder="example@mail.com"
                                v-validate="'required|email'"
                                @blur="checkUser"
                                data-vv-as="'Эл. почта'"
                            >
                            <div class="error-message">{{errors.first('email')}}</div>
                            <auth-warning-message></auth-warning-message>
                        </div>
                    </div>
                </div>
                <div class="next">
                    <div class="f-group">
                        <button class="btn-1" @click="nextStep">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AuthWarningMessage from './AuthWarningMessage'
    import phoneMask from '@/support/phoneMask'

    export default {
        name: "MsStepOne",

        mixins: [phoneMask],

        components: {
            AuthWarningMessage
        },

        props: {
            showFirstStep: {
                default: true
            }
        },

        data: () => ({
            fullName: '',
            email: '',
            phone: '+7 (',
            isUserEmail: false,
            isUserPhone: false,
            checkExists: {
                email: '',
                phone: ''
            }
        }),

        computed: {
            isFinished () {
                return this.isAuthenticated || ! this.showFirstStep
            },

            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            },

            dataFullName () {
                return this.$store.state.checkout.userData.name
            },

            dataPhone () {
                const phone = this.$store.state.checkout.userData.phone

                if (phone !== '+7 (') {
                    const np = phone.match(/^(\d)(\d{3})(\d{3})(\d{2})(\d{2})$/)

                    return '+' + np[1] + ' (' + np[2] + ') ' + np[3] + ' ' + np[4] + ' ' + np[5]
                }

                return phone
            }
        },

        methods: {
            async nextStep () {
                if (await this.$validator.validateAll()) {
                    this.$store.commit('checkout/persistUserData', {
                        name: this.fullName,
                        email: this.email,
                        phone: this.phone.replace(/\D+/ig, '')
                    })

                    this.$emit('update:showFirstStep', false)
                }
            },

            async checkUser (e) {
                const name = e.target.name
                const query = (name === 'phone') ? e.target.value.replace(/[^\d]/g, '') : e.target.value

                if (query === this.checkExists[name]) {
                    return
                }

                this.checkExists[name] = query
                const valid = await this.$validator.validate(name)

                if (query.length < 3 || !valid) {
                    return name === 'email' ? this.isUserEmail = false : this.isUserPhone = false
                }

                const response = await this.$apiClient.$post('/order/check', {
                    query
                })

                switch (name) {
                    case 'email':
                        this.isUserEmail = response['status']
                        break
                    case 'phone':
                        this.isUserPhone = response['status']
                        break
                }
            }
        }
    }
</script>
