<template>
    <div v-if="calculated.promoDiscounts > 0" class="cart-total-discount">
        <div class="old-price">
            <span class="price-rub">{{ formatPrice(totalPrice) }}</span>
        </div>

        <div class="discount">
            <span class="price-rub"> - {{ formatPrice(calculated.promoDiscounts) }}</span>
        </div>

        <div class="info-hint" v-if="discountInfo">
            <div class="hint">{{ discountInfo }}</div>
        </div>
    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "MsCartTotalDiscount",

        mixins: [formatPrice],

        props: ['calculated', 'discountInfo'],

        computed: {
            totalPrice () {
                return this.calculated.total + this.calculated.delivery + this.calculated.assembling
            }
        }
    }
</script>
