<template>
    <div class="pay-methods">

        <div class="pay-methods-select">

            <div>Способ оплаты:</div>

            <div class="method-switch credit" :class="{ active: activeMethod === 'credit' }"
                 @click="activeMethod = 'credit'">
                <div class="check"></div>
                <div class="text">Рассрочка или кредит</div>
            </div>

            <div class="method-switch card" :class="{ active: activeMethod === 'card' }"
                 @click="activeMethod = 'card'">
                <div class="check"></div>
                <div class="text">Карта</div>
            </div>

            <div class="method-switch invoice" :class="{ active: activeMethod === 'invoice' }"
                 @click="activeMethod = 'invoice'">
                <div class="check"></div>
                <div class="text">Счет предприятия</div>
            </div>

        </div>

        <payment-type-credit v-if="activeMethod === 'credit'"></payment-type-credit>
        <payment-type-card v-if="activeMethod === 'card'"></payment-type-card>
        <payment-type-invoice v-if="activeMethod === 'invoice'"></payment-type-invoice>

    </div>
</template>

<script>
    import PaymentTypeCredit from './PaymentTypeCredit'
    import PaymentTypeCard from './PaymentTypeCard'
    import PaymentTypeInvoice from './PaymentTypeInvoice'

    export default {
        name: "PayMethods",

        components: {
            PaymentTypeInvoice,
            PaymentTypeCard,
            PaymentTypeCredit
        },

        inject: ['$validator'],

        computed: {
            activeMethod: {
                get () {
                    return this.$store.state.checkout.paymentData.activeMethod
                },

                set (value) {
                    this.$store.commit('checkout/persistPaymentMethod', value)
                    this.$store.dispatch('checkout/calculate')
                }
            }
        }
    }
</script>
