<template>
    <div class="pay-methods-method invoice">

        <div class="fields">

            <div class="field-row">
                <div>Наименование банка:</div>
                <div class="f-group" :class="{error: errors.has('orgBankName')}">
                    <div>
                        <input type="text"
                               name="orgBankName"
                               v-validate="{required: true}"
                               v-model="company.bankName"
                               data-vv-as="'Наименование банка'"
                        >
                        <div class="error-message">{{errors.first('orgBankName')}}</div>
                    </div>
                </div>
            </div>

            <div class="field-row">
                <div>БИК:</div>
                <div class="f-group" :class="{error: errors.has('orgBik')}">
                    <div>
                        <input type="text"
                               name="orgBik"
                               v-validate="{required: true}"
                               v-model="company.bik"
                               data-vv-as="'БИК'"
                        >
                        <div class="error-message">{{errors.first('orgBik')}}</div>
                    </div>
                </div>
            </div>

            <div class="field-row">
                <div>ИНН/КПП:</div>
                <div class="f-group" :class="{error: errors.has('orgInn')}">
                    <div>
                        <input type="text"
                               name="orgInn"
                               v-validate="{required: true}"
                               v-model="company.inn"
                               data-vv-as="'ИНН'"
                        >
                        <div class="error-message">{{errors.first('orgInn')}}</div>
                    </div>
                </div>
            </div>

            <div class="legal-address field-row">
                <div>Юридический адрес:</div>
                <div v-if="isDelivery" class="f-group">
                    <div>
                        <input type="checkbox" id="use-address"
                               :value="useDeliveryAddress"
                               :checked="false"
                               @input="onChangeUseDeliveryAddress">
                        <label for="use-address">Использовать адрес доставки</label>
                    </div>
                </div>
            </div>

            <div class="city field-row" :class="{disabled: useDeliveryAddress}">
                <div>Город:</div>
                <div class="f-group" :class="{error: errors.has('orgCity')}">
                    <input type="text"
                           name="orgCity"
                           v-validate="{required: !useDeliveryAddress}"
                           v-model="company.city"
                           data-vv-as="'Город'"
                    >
                    <div class="error-message">{{errors.first('orgCity')}}</div>
                    <div class="cities-list">
                        <a v-for="(value, key) in cities" :key="key" @click="company.city = value">{{value}}</a>
                    </div>
                </div>
            </div>

            <div class="delivery-address field-row" :class="{disabled: useDeliveryAddress}">
                <div></div>
                <div class="f-group">
                    <div class="f-row cols-1">
                        <div class="f-col" :class="{error: errors.has('orgStreet')}">
                            <input type="text"
                                   placeholder="Улица"
                                   name="orgStreet"
                                   v-validate="{required: !useDeliveryAddress}"
                                   v-model="company.street"
                                   data-vv-as="'Улица'"
                            >
                            <div class="error-message">{{errors.first('orgStreet')}}</div>
                        </div>
                    </div>
                    <div class="f-row cols-2">
                        <div class="f-col" :class="{error: errors.has('orgHouse')}">
                            <input type="text"
                                   placeholder="Дом"
                                   name="orgHouse"
                                   v-validate="{required: !useDeliveryAddress}"
                                   v-model="company.house"
                                   data-vv-as="'Дом'"
                            >
                            <div class="error-message">{{errors.first('orgHouse')}}</div>
                        </div>
                        <div class="f-col" :class="{error: errors.has('orgApartment')}">
                            <input type="text"
                                   placeholder="Номер офиса"
                                   name="orgApartment"
                                   v-validate="{required: !useDeliveryAddress}"
                                   v-model="company.apartment"
                                   data-vv-as="'Номер офиса'"
                            >
                            <div class="error-message">{{errors.first('orgApartment')}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-row">
                <div>Ответственное лицо:</div>
                <div class="f-group" :class="{error: errors.has('orgAuthPerson')}">
                    <input type="text"
                           name="orgAuthPerson"
                           v-validate="{required: true}"
                           v-model="company.authPerson"
                           data-vv-as="'ФИО ответственного лица'"
                    >
                    <div class="error-message">{{errors.first('orgAuthPerson')}}</div>
                </div>
            </div>

            <div class="field-row">
                <div>Лицо уполномоченное принять груз:</div>
                <div class="f-group" :class="{error: errors.has('orgDeliveryPerson')}">
                    <input type="text"
                           name="orgDeliveryPerson"
                           v-validate="{required: true}"
                           v-model="company.deliveryPerson"
                           data-vv-as="'ФИО лица уполномоченного принять груз'"
                    >
                    <div class="error-message">{{errors.first('orgDeliveryPerson')}}</div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce'

    export default {
        name: "PaymentTypeInvoice",

        inject: ['$validator'],

        data: () => ({
            cities: ['Москва', 'Орел', 'Белгород', 'Калуга', 'Клинцы'],
            company: {
                bankName: null,
                bik: null,
                inn: null,
                city: null,
                street: null,
                house: null,
                apartment: null,
                authPerson: null,
                deliveryPerson: null
            }
        }),

        computed: {
            isDelivery () {
                return this.$store.state.checkout.deliveryData.type === 0 // доставка по адресу
            },

            useDeliveryAddress () {
                return this.$store.state.checkout.invoiceUseDeliveryAddress
            }
        },

        watch: {
            company: {
                deep: true,
                handler: debounce(async function () {
                    const fields = ['orgBankName', 'orgBik', 'orgInn', 'creditNumberPassport',
                        'orgCity', 'orgStreet', 'orgHouse', 'orgApartment', 'orgAuthPerson',
                        'orgDeliveryPerson']

                    if (await this.$validator.validateAll(fields, { silent: true })) {
                        this.$store.commit('checkout/persistInvoiceData', this.company)
                    }
                })
            }
        },

        methods: {
            onChangeUseDeliveryAddress () {
                this.$store.commit('checkout/persistInvoiceUseDeliveryAddress', !this.useDeliveryAddress)
            }
        }
    }
</script>
