<template>
    <div class="pay-methods-method credit">

        <div class="credit-title">
            <span>Заполните заявку и мы подберем для вас лучшие условия</span>
            <img src="/themes/shara/assets/images/modern/otp@2x.png" alt="">
        </div>

        <div class="credit-options">

            <div class="fields">

                <div class="field-row">
                    <div>Первоначальный взнос:</div>
                    <div class="f-group">
                        <input type="range" :min="initialFeeMin" :max="initialFeeMax"
                               :step="initialFeeMin" v-model="creditInfo.firstInstallment">
                        <div>
                            <input type="text" :value="formatPrice(creditInfo.firstInstallment)"
                                   @change="changeRange"
                                   data-type="initialFee">
                        </div>
                    </div>
                </div>

                <div class="field-row">
                    <div>Скрок кредитования:</div>
                    <div class="f-group">
                        <input type="range" :min="creditTermMin" :max="creditTermMax" step="1"
                               v-model="creditInfo.loanTerms">
                        <div>
                            <input type="text" v-model="creditInfo.loanTerms" @change="changeRange"
                                   data-type="creditTerm">
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="fields">

            <div class="field-row">
                <div>Имя и Фамилия:</div>
                <div class="f-group" :class="{error: errors.has('creditFullName')}">
                    <input type="text"
                           name="creditFullName"
                           v-validate="{ required: true, full_name: true }"
                           v-model="creditInfo.fullName"
                           data-vv-as="'Имя и Фамилия'"
                    >
                    <div class="error-message">{{errors.first('creditFullName')}}</div>
                </div>
            </div>

            <div class="field-row">
                <div>Отчество:</div>
                <div class="f-group" :class="{error: errors.has('creditLastName')}">
                    <input type="text"
                           name="creditLastName"
                           v-validate="{ required: true}"
                           v-model="creditInfo.lastName"
                           data-vv-as="'Отчество'"
                    >
                    <div class="error-message">{{errors.first('creditLastName')}}</div>
                </div>
            </div>

            <div class="field-row">
                <div>Номер телефона:</div>
                <div class="f-group" :class="{error: errors.has('creditPhone')}">
                    <input type="text"
                           name="creditPhone"
                           v-validate="{ required: true, phone: true }"
                           v-model="creditInfo.phone"
                           v-phone-mask
                           data-vv-as="'Номер телефона'"
                    >
                    <div class="error-message">{{errors.first('creditPhone')}}</div>
                </div>
            </div>

            <div class="field-row">
                <div>Номер и серия паспорта:</div>
                <div class="f-group" :class="{error: errors.has('creditNumberPassport')}">
                    <input type="text"
                           name="creditNumberPassport"
                           v-validate="{required: true.credit}"
                           v-model="creditInfo.numberPassport"
                           data-vv-as="'Номер и серия паспорта'"
                    >
                    <div class="error-message">{{errors.first('creditNumberPassport')}}</div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'
    import phoneMask from '@/support/phoneMask'
    import debounce from 'lodash/debounce'

    export default {
        name: "PaymentTypeCredit",

        mixins: [formatPrice, phoneMask],

        inject: ['$validator'],

        data: () => ({
            initialFeeMin: 2000,
            creditTermMin: 6,
            creditTermMax: 24,
            creditInfo: {
                fullName: null,
                lastName: null,
                phone: '+7 (',
                numberPassport: null,
                firstInstallment: 2000,
                loanTerms: 6
            },
        }),

        computed: {
            initialFeeMax () {
                return this.$store.state.checkout.calculated.total
            }
        },

        watch: {
            creditInfo: {
                deep: true,
                handler: debounce(async function (value) {
                    const fields = ['creditFullName', 'creditLastName', 'creditPhone', 'creditNumberPassport']

                    if (await this.$validator.validateAll(fields, { silent: true })) {
                        this.$store.commit('checkout/persistCreditData', {
                            firstInstallment: value.firstInstallment,
                            loanTerms: value.loanTerms,
                            fullName: value.fullName,
                            surname: value.lastName,
                            phone: value.phone,
                            passport: value.numberPassport
                        })
                    }
                }, 300)
            }
        },

        methods: {
            changeRange (e) {
                let type = e.target.getAttribute('data-type')
                let value = e.target.value.split(' ').join('')
                let min = 0
                let max = 0
                let property = 'none'

                switch (type) {
                    case 'initialFee':
                    default:
                        min = this.initialFee.min
                        max = this.initialFeeMax
                        property = 'firstInstallment'
                        break
                    case 'creditTerm':
                        min = this.creditTermMin
                        max = this.creditTermMax
                        property = 'loanTerms'
                        break
                }

                let setValue = value

                if (value < min) {
                    setValue = min
                } else if (value > max) {
                    setValue = max
                }

                this.$set(this.creditInfo, property, value)
            },
        }
    }
</script>
