<template>
    <div class="pay-methods-method card">

        <div class="fields">

            <div class="prepayment field-row">
                <div>Сумма предоплаты: <span class="light-text">Минимальная сумма предоплаты 10%</span>
                </div>
                <div class="f-group">
                    <input type="range" :min="minPrePayment" :max="totalPrice"
                           step="1" v-model="prePayment">
                    <div>
                        <input type="text" :value="formatPrice(prePayment)" @change="changePrePayment">
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'
    import debounce from 'lodash/debounce'

    export default {
        name: "PaymentTypeCard",

        mixins: [formatPrice],

        data: vm => ({
            prePayment: vm.$store.state.checkout.calculated.total * 0.1,
        }),

        computed: {
            totalPrice () {
                return this.$store.state.checkout.calculated.total
            },

            minPrePayment () {
                return this.totalPrice * 0.1
            },
        },

        watch: {
            prePayment: debounce(function (value, old) {
                if (parseInt(value) !== parseInt(old)) {
                    this.$store.commit('checkout/persistCartData', parseInt(value))
                }
            }, 300)
        },

        methods: {
            changePrePayment (e) {
                let value = e.target.value.split(' ').join('')

                if (value < this.minPrePayment) {
                    this.prePayment = this.minPrePayment
                } else if (value > this.totalPrice) {
                    this.prePayment = this.totalPrice
                } else {
                    this.prePayment = value
                }
            },
        }
    }
</script>
