.shares

  .shares-grid
    border-left 1px solid light-grey
    border-top 1px solid light-grey

    .share
      padding gutter
      border-bottom 1px solid light-grey
      border-right 1px solid light-grey

      .share-banner
        margin-bottom 16px
        display flex
        justify-content center
        align-items center

        img
          border-radius 4px
          max-height 100%

      .share-dates
        font second-font
        color primary-grey
        margin-bottom 6px

      .share-description
        margin-bottom 24px

      .share-detail
        display flex
        justify-content space-between