<!-- Modal -->
<div class="modal fade video-modal js-popup_video_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>