{% if title %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
    </div>
{% endif %}
<div class="youtube-wrapper">
    <iframe src="{{ video.getVideoEmbedUrl(true) }}" frameborder="0" allowfullscreen></iframe>
</div>