.auth-modal, .auth-page-wrap
  width 416px

  .vu-modal

    &__cmp

      &-header
        @extend .head-text-2
        padding-bottom 38px

  .f-group-2
    & ~ .btn-1
      width 100%
      margin-top 9px

  .form-text
    margin-bottom 30px
    text-align center

  .form-bottom
    padding-top 24px
    text-align center

    p
      display inline-block

  .auth-form
  .f-group-2

    &:nth-child(2)
      margin-bottom 10px

  .password-recovery
    text-align right

  .registration
    display flex
    align-items center
    justify-content space-between
    margin-top 20px

    .btn-1
      padding-left 40px
      padding-right 40px

  .social
    margin 32px -40px 0
    padding 16px 40px 22px
    border-top 1px solid #ebebeb
    border-bottom 1px solid #ebebeb

    p
      text-align center
      margin-bottom 13px

      @media (min-width 768px)
        padding 0 55px

    .buttons
      display flex
      justify-content center

      a
        display flex
        width 44px
        height @width
        border 1px solid #ebebeb
        border-radius 4px
        margin-right 8px

        > *
          margin auto
          width 24px
          height @width

        &:last-child
          margin-right 0

        .social

          &-fb
            background-image url("../images/icons/social/facebook.svg")

          &-vk
            background-image url("../images/icons/social/vk.svg")

          &-google
            background-image url("../images/icons/social/google.svg")

.auth-form

  .f-group-2

    &:nth-child(2)
      margin-bottom 10px

  .password-recovery
    text-align right

  .registration
    display flex
    align-items center
    justify-content space-between
    margin-top 20px

    .btn-1
      padding-left 40px
      padding-right 40px

  .social
    margin 32px -40px 0
    padding 16px 40px 22px
    border-top 1px solid #ebebeb
    border-bottom 1px solid #ebebeb

    p
      text-align center
      margin-bottom 13px

      @media (min-width 768px)
        padding 0 55px

    .buttons
      display flex
      justify-content center

      a
        display flex
        width 44px
        height @width
        border 1px solid light-grey
        border-radius 4px
        margin-right 8px

        > *
          margin auto
          width 24px
          height @width

        &:last-child
          margin-right 0

        .social

          &-fb
            background-image url("../images/icons/social/facebook.svg")

          &-vk
            background-image url("../images/icons/social/vk.svg")

          &-google
            background-image url("../images/icons/social/google.svg")

.auth-page-wrap
  margin 24px auto
  padding 32px 40px
  border 1px solid #ebebeb
  border-radius 8px

  .auth-header
    @extend .head-text-2
    line-height 28px
    user-select none
    padding 0 0 35px
    text-align left