<div class="faqs">
    <h3 class="title">Вопросы и ответы</h3>

    <div>
        <button type="button" class="btn btn-default btn-action m-b-30 js-question_form_toggle">Задать вопрос</button>
    </div>

    <div class="js-question_form question-form-holder" style="display: none;">
        {% partial __SELF__~"::question_form" %}
    </div>

    <div class="panel-group text-left" id="repayment_accordion">
        {% for faq in __SELF__.faqs %}
            <div class="panel panel-default">
                <div class="js-panel_heading panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#repayment_accordion" href="#q{{ faq.id }}" class="collapsed">
                            {{ faq.question|raw }}
                            <span><i class="js-collapsible_icon fa fa-plus"></i></span>
                        </a>
                    </h4>
                </div>
                <div id="q{{ faq.id }}" class="panel-collapse collapse js-collapsible">
                    <div class="panel-body">
                        {{ faq.answer|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>