<form class="text-left">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class='control-label' for="name">Имя <abbr class="text-danger">*</abbr></label>
                <input type="text" name="name" class="form-control" placeholder="Ваше имя">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class='control-label' for="email">E-mail <abbr class="text-danger">*</abbr></label>
                <input type="text" name="email" class="form-control" placeholder="Ваш E-mail">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class='control-label' for="phone">Телефон</label>
                <input type="text" name="phone" class="form-control" placeholder="Ваш телефон">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class='control-label' for="city">Город</label>
                <input type="text" name="city" class="form-control" placeholder="Ваш город">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class='control-label' for="text">Текст вопроса <abbr class="text-danger">*</abbr></label>
                <textarea name="text" class="form-control" rows="3" placeholder="Ваш вопрос"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="form-group checkbox">
                <label>
                    <input type="hidden" name="is_accept" value="0">
                    <input name="is_accept" type="checkbox" value="1">
                    Ставя отметку, я подтверждаю согласие на обработку моих персональных данных в соответствии с <a href="{{ 'documents/privacy_policy.pdf'|media }}" target="_blank">политикой конфиденциальности</a>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="form-group checkbox">
                <label>
                    <input type="hidden" name="is_duplicate" value="0" />
                    <input name="is_duplicate" type="checkbox" value="1">
                    Отправить копию мне на почту</a>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-lg btn-action m-t-15">Отправить</button>
        </div>
    </div>
</form>
