grid-item-min-width = 256px
el-transition = .3s

.product-grid

  .product-grid-head
    min-height 84px
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

    .title
      margin 0

    .actions
      display flex
      justify-content flex-end
      align-items center

      .sorting
        display flex

        .label
          margin-right 12px
          display inline-block

        .select

          .dropdown-list-item
            padding 8px 0 0

      .type-grid-btns
        display flex
        margin-left 15px

        .type-grid-btn
          width 36px
          height 36px
          background transparent center no-repeat

          &:hover
            background-color lightest-grey

          &.grid-large
            background-image url("../images/icons/grid_view_large.svg")

          &.grid-small
            background-image url("../images/icons/grid_view_small.svg")


  .product-grid-list
    display flex
    flex-wrap wrap
    border-top grid-border = 1px solid lightest-grey
    border-left grid-border

    .product-grid-list-item
      border-right grid-border
      border-bottom grid-border

      &:hover

        .product-card
          z-index 100

          @media (min-width 768px)
            box-shadow 0 4px 12px 0 rgba(0, 0, 0, 0.32)

          .status

            &.in-stock
              opacity 1

          .product-actions

            .action

              .shopping-cart
                background-color accent-color
                background-image url("../images/icons/cart_add.svg")

              .prod-board-btn
                background-color accent-color
                background-image url("../images/icons/envelope_w.svg")

        .product-card-hover-wrap

          .product-card-hover
            box-shadow 0 4px 12px 0 rgba(0, 0, 0, 0.32)
            visibility visible
            opacity 1

      &.banner
        padding 16px

        .img-wrap
          display block
          width 100%
          height 100%
          background-size contain
          background-repeat no-repeat
          background-position center

      &.next-page
        height auto

        &.product-high
          a::before
            top 100px

          span
            bottom 140px

        a
          display block
          height 100%
          position relative
          text-align center
          @extend .head-text-2

          &::before
            content ''
            background accent-color url("../images/icons/next-page@2x.svg") no-repeat center
            display block
            width 83px
            height @width
            border-radius 50%
            position absolute
            left 50%
            top 50px
            transform translateX(-50%)

          > span
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 65px
            text-align center

      &.static-cols-3
        flex 0 0 33.333%

        @media (max-width 1070px)
          flex 0 0 50%

        @media (max-width 767px)
          flex 0 100%

      &.cols-2
      &.cols-3
        flex 0 0 25%

        @media (max-width 1679px)
          flex 0 0 33.333%

        @media (max-width 1439px)
          flex 0 0 33.333%

        @media (max-width 1120px)
          flex 0 0 50%

        @media (max-width 920px)
          flex 0 0 100%

        @media (max-width 767px)
          flex 0 50%

        @media (max-width 580px)
          flex 0 100%


      &.cols-4
        flex 0 0 20%

        .shopping-cart
          width 48px !important

          .counter
            top 1px !important
            right -3px !important

        &.product-high
          height 340px

        @media (max-width 1679px)
          flex 0 0 25%

          .shopping-cart
            width 68px !important

        @media (max-width 1439px)
          flex 0 0 33.333%

          .shopping-cart
            width 48px !important

        @media (max-width 1150px)
          flex 0 0 50%

        @media (max-width 860px)
          flex 0 0 100%

        @media (max-width 767px)
          flex 0 0 50%

        @media (max-width 580px)
          flex 0 0 100%

      .product-card
        padding 44px gutter gutter
        position relative
        border-radius 8px
        transition box-shadow cubic-bezier(0, 0, 0.3, 1) .5s

        .promo-labels
          top 22px
          left -3px
          z-index 10

        .product-discount
          position absolute
          top 0
          right -40px
          width 33px
          height 17px
          background-color rgba(191, 194, 190, 0.66)
          color #fff
          border-radius 22px
          display flex
          align-items center
          justify-content center
          font-size 12px

          &.accent
            background-color #fff
            border 1px solid base-orange
            color base-orange

        .product-card-img
          margin-bottom 8px

          img
            border-radius 4px

          a
            display inline-block

        .status
          opacity 0
          display inline-block
          position relative
          left 100%
          transform translateX(-100%)
          height 17px
          padding 0 8px
          color #fff
          font-size 11px
          letter-spacing -.2px
          line-height @height
          border-radius 22px
          transition el-transition

          &.in-stock
            background-color rgba(58, 190, 22, .4)

        .product-card-category
          margin-top -10px
          font second-font

        .product-card-name
          margin-bottom 4px
          height 38px
          overflow-y hidden

        .product-actions
          display flex
          align-items flex-end
          justify-content space-between
          border-bottom 1px solid transparent

          .price
            display flex
            flex-direction column
            align-items flex-start

            .old-price
              position relative
              display inline-block
              margin-bottom -5px
              padding-right 3px
              font second-font
              color primary-grey

              &::before
                content ''
                margin-top -1px
                top 50%
                position absolute
                width 100%
                border-bottom 1px solid primary-grey

              &::after
                font-size 10px

            .active-price
              @extend .head-text-2
              margin-top 5px
              font-weight bold

              &::after
                font-size 16px

          .action
            display flex
            padding-bottom 5px

            .favorites
              display flex
              width 38px
              height @width
              margin-right 6px
              margin-bottom -2px
              padding-top 2px
              border 1px solid light-grey
              border-radius 50%
              background transparent url("../images/icons/favorite_g.svg") center 9px / 60% no-repeat
              cursor pointer

              &:hover
              &.active
                background-image url("../images/icons/favorite_r.svg")

            .prod-board-btn
            .shopping-cart
              display flex
              width 68px
              margin-bottom -2px
              border-radius 22px
              cursor pointer
              transition el-transition
              position relative

            .prod-board-btn
              background lightest-grey url("../images/icons/envelope.svg") center no-repeat

            .shopping-cart
              background lightest-grey url("../images/icons/cart_add_g.svg") center no-repeat

              &:hover
                background-color darken(accent-color, 5%) !important

              &.in-cart
                background accent-color url("../images/icons/cart_add.svg") 16px center no-repeat
                transition all .3s
                width 74px

                .counter
                  transition all .3s
                  transform translateY(-50%) scale(1)

              .counter
                width 20px
                height @width
                background-color #fff
                color accent-color
                border-radius 50%
                line-height 20px
                text-align center
                position absolute
                top 50%
                right 8px
                transform translateY(-50%) scale(0)

      .product-card-hover-wrap
        position relative
        z-index 110

        @media (max-width 767px)
          display none

        .product-card-hover
          position absolute
          top 0
          left 0
          width 100%
          background-color #fff
          transition opacity cubic-bezier(0, 0, 0.3, 1) .4s
          border-radius 0 0 8px 8px
          opacity 0
          visibility hidden
          padding 0 gutter

          &::before
            content ''
            position absolute
            width 100%
            height 12px
            top -12px
            left 0
            background-color #fff

          .sizes
            padding gutter 0
            border-top 1px solid light-grey
