.p-pagination
  display flex
  width 100%
  align-items center
  justify-content center
  padding 26px 0

  > *
    width 56px
    height @width
    border: 1px solid #EBEBEB
    border-radius 50%
    margin-right 8px
    display flex
    cursor pointer
    transition .3s
    font-size 15px
    letter-spacing -0.2px

    > *
      margin auto
      color primary-black

    &:last-child
      margin-right 0
      background-image url("../images/icons/right_g.svg")
      background-position center
      background-repeat no-repeat

    &:hover:not(.active)
      border-color #3ABE16
      color #3ABE16

    &.active
      background-color #3ABE16

      *
        color #fff


  @media (max-width 767px)
    display none
