tile-min-width = 256px

tile-height = 410px
wide-tile-height = 342px
high-tile-height = 422px

.product-grid

  .product-grid-head
    min-height 84px
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

    .title
      margin 0

    .actions
      display flex
      justify-content flex-end
      align-items center

      .sorting
        display flex

        .label
          margin-right 12px
          display inline-block

        .select

          .dropdown-list-item
            padding 0

      .type-grid-btns
        display flex
        margin-left 15px

        .type-grid-btn
          width 36px
          height 36px
          background transparent center no-repeat

          &:hover
            background-color lightest-grey

          &.grid-large
            background-image url("../images/icons/grid_view_large.svg")

          &.grid-small
            background-image url("../images/icons/grid_view_small.svg")

.product-grid-wrap
  display flex
  flex-wrap wrap
  box-shadow -1px -1px 0 0 lightest-grey
  padding-bottom 1px

  .product-grid-item
    padding 1px // for box-shadow
    height tile-height
    overflow hidden
    min-width tile-min-width
    box-shadow 1px 1px 0 0 lightest-grey

    &.product-high
      height high-tile-height

      //.img-container
      //  height high-tile-img-container-height

    &.product-wide
      height wide-tile-height

      .img-container
        //height wide-tile-img-container-height
        margin-bottom 0

    &.banner
      padding 16px
      height auto

      .img-wrap
        width 100%
        height 100%
        background-size contain
        background-repeat no-repeat
        background-position center

    &.next-page
      height auto

      &.product-high
        a::before
          top 100px

          span
            bottom 140px

      a
        display block
        height 100%
        position relative
        text-align center
        @extend .head-text-2

        &::before
          content ''
          background accent-color url("../images/icons/next-page@2x.svg") no-repeat center
          display block
          width 83px
          height @width
          border-radius 50%
          position absolute
          left 50%
          top 50px
          transform translateX(-50%)

        > span
          position absolute
          left 50%
          transform translateX(-50%)
          bottom 65px
          text-align center

    & > a
      display block

    &.static-cols-3
      flex 0 0 33.333%

      @media (max-width 1070px)
        flex 0 0 50%

      @media (max-width 767px)
        flex 0 100%

    &.cols-3
    &.cols-2
      flex 0 0 25%
      height 360px

      &.product-high
        height 450px

      @media (max-width 1679px)
        flex 0 0 33.333%
        height 415px

        &.product-wide
          height 430px

      @media (max-width 1439px)
        flex 0 0 33.333%
        height 360px

        &.product-wide
          height 380px

      @media (max-width 1120px)
        flex 0 0 50%
        height 310px

        &.product-wide
          height 400px

      @media (max-width 110px)

        &.product-wide
          height 400px

      @media (max-width 920px)
        flex 0 0 100%
        height 480px

        &.product-wide
          height 540px

      @media (max-width 860px)
        height 460px

        &.product-wide
          height 500px

      @media (max-width 767px)
        flex 0 50%
        height 370px

        &.product-wide
          height 400px

      @media (max-width 580px)
        flex 0 100%
        height 470

        &.product-wide
          height 500px

      @media (max-width 450px)
        height 400px

        &.product-wide
          height 420px

      @media (max-width 400px)
        height 365px

        &.product-wide
          height 380px

    &.cols-4
      flex 0 0 20%

      .shopping-cart
        width 48px !important

        .counter
          top 1px !important
          right -3px !important

      &.product-high
        height 340px

      @media (max-width 1679px)
        flex 0 0 25%
        height 370px

        &.product-high
          height 480px

        .shopping-cart
          width 68px !important

      @media (max-width 1439px)
        flex 0 0 33.333%
        height 390px

        .shopping-cart
          width 48px !important

        &.product-high
          height 515px

      @media (max-width 1300px)

        &.product-high
          height 470px

      @media (max-width 1150px)
        flex 0 0 50%
        height 415px

        &.product-high
          height 560px

      @media (max-width 991px)
        height 390px

        &.product-high
          height 475px

      @media (max-width 860px)
        flex 0 0 100%
        height 505px

        &.product-high
          height 680px

      @media (max-width 767px)
        flex 0 0 50%
        height 400px

        &.product-high
          height 510px

      @media (max-width 580px)
        flex 0 0 100%
        height 520px

        &.product-high
          height 705px

      @media (max-width 450px)
        height 450px

        &.product-high
          height 575px

      @media (max-width 400px)
        height 390px

        &.product-high
          height 520px

    &:hover
      overflow visible
      z-index 20

      .product-grid-item-inner
        z-index 10000
        box-shadow 0 4px 12px 0 rgba(0, 0, 0, 0.32)

        .status
          &.in-stock
            visibility visible

        .product-actions

          .action

            .shopping-cart
              background-color accent-color
              background-image url("../images/icons/cart_add.svg")
            .prod-board-btn
              background-color accent-color
              background-image url("../images/icons/envelope_w.svg")

        .sizes
            .prod-board-btn
              background-color accent-color
              background-image url("../images/icons/envelope_w.svg")


        .product-type-info
        .sizes
          visibility visible

    .product-grid-item-inner
      transition box-shadow cubic-bezier(0, 0, 0.3, 1) .5s
      position relative
      padding 44px gutter 28px gutter
      border-radius 8px
      background-color #fff

    .promo-labels
      top 22px
      left -3px
      z-index 10

    .product-discount
      position absolute
      top 0
      right -40px
      width 33px
      height 17px
      background-color rgba(191, 194, 190, 0.66)
      color #fff
      border-radius 22px
      display flex
      align-items center
      justify-content center

      &.accent
        background-color #fff
        border 1px solid base-orange
        color base-orange

      & > :nth-child(1)
        font-size 12px
        letter-spacing -.69px
        line-height 14px

      & > :nth-child(2)
        align-self flex-start
        font-size 8px
        line-height 10px
        transform translateY(2px)

    .img-container
      display flex
      align-items center
      margin-bottom 9px
      position relative

      img
        margin auto
        max-height 100%
        border-radius 4px

    .status
      visibility hidden
      display inline-block
      position relative
      left 100%
      transform translateX(-100%)
      height 17px
      padding 0 8px
      color #fff
      font-size 11px
      letter-spacing -.16px
      line-height @height
      border-radius 22px

      &.in-stock
        background-color rgba(58, 190, 22, .4)

    .category-name
      margin-top -10px
      font second-font

    .product-name
      margin-bottom 4px
      height 38px
      overflow-y hidden

    .product-reviews
      margin 0 0 12px

      .rb-text
        font second-font

    .product-actions
      display flex
      align-items flex-end
      justify-content space-between
      border-bottom 1px solid transparent

      .price
        display flex
        flex-direction column
        align-items flex-start

        .old-price
          position relative
          display inline-block
          margin-bottom -5px
          padding-right 3px

          font second-font
          color primary-grey

          &::before
            content ''
            margin-top -1px
            top 50%
            position absolute
            width 100%
            border-bottom 1px solid primary-grey

          &::after
            font-size 10px

        .active-price
          margin-top 5px
          @extend .head-text-2
          font-weight bold

          &::after
            font-size 16px

      .action
        display flex
        padding-bottom 5px

        .favorites
          display flex
          width 38px
          height @width
          margin-right 6px
          margin-bottom -2px
          padding-top 2px
          border 1px solid light-grey
          border-radius 50%
          background transparent url("../images/icons/favorite_g.svg") center 9px / 60% no-repeat
          cursor pointer

          &:hover
          &.active
            background-image url("../images/icons/favorite_r.svg")

        .prod-board-btn
        .shopping-cart
          display flex
          width 68px
          margin-bottom -2px
          border-radius 22px
          cursor pointer
          transition .3s
          position relative


        .prod-board-btn
          background lightest-grey url("../images/icons/envelope.svg") center no-repeat

        .shopping-cart
          background lightest-grey url("../images/icons/cart_add_g.svg") center no-repeat

          &:hover
            background-color darken(accent-color, 5%) !important

          &.in-cart
            background accent-color url("../images/icons/cart_add.svg") 16px center no-repeat
            transition all .3s
            width 74px

            .counter
              transition all .3s
              transform translateY(-50%) scale(1)

          .counter
            width 20px
            height @width
            background-color #fff
            color accent-color
            border-radius 50%
            line-height 20px
            text-align center
            position absolute
            top 50%
            right 8px
            transform translateY(-50%) scale(0)

          img
            margin auto

    .sizes
      margin-top gutter
      padding gutter 0 0 0
      border-top 1px solid light-grey
      visibility hidden

      .sizes-item-props

        .size-prop
          flex 0 0 calc(100% / 3)
          margin-right 0
