<div class="reset-pin">
    <div class="modal-message-icon m-b-30">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div class="md-form-title">
        <div class="h2">Пароль успешно изменен!</div>
        <div class="h3">Через несколько секунд вы будете автоматически переадресованы в личный кабинет.</div>
    </div>
</div>

<script>
    setTimeout(function(){
        location.href = "{{ 'account'|page }}";
    },5000)
</script>
