<div class="row text-left m-t-20">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="partialUserResetForm">
            {% if __SELF__.code == null %}
                {% partial __SELF__ ~ '::restore' %}
            {% else %}
                {% partial __SELF__ ~ '::reset' %}
            {% endif %}
        </div>
    </div>
</div>