<form class="js-reset_form reset-pin">
    <div class="md-form-title">
        <div class="h2">Спасибо!</div>
        <div class="h3">На Вашу почту было отправлено письмо с кодом активации.</div>
    </div>
    <div class="md-main">
        <div class="autoriz-section">
            <p>Код активации</p>
            <input name="code" value="{{ __SELF__.code }}">
            <div class="warning-block">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span></span>
            </div>
        </div>
        <div class="autoriz-section m-t-10">
            <p>Новый пароль</p>
            <input name="password" type="password">
            <div class="warning-block">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span></span>
            </div>
        </div>
    </div>

    <div class="md-footer">
        <button class="submit-btn">Сбросить пароль</button>
    </div>
</form>
