<form class="js-restore_form reset-pin">
    <div class="md-form-title">
        <div class="h2">Забыли пароль?</div>
    </div>
    <div class="md-main">
        <div class="autoriz-section">
            <p>Ваш почта</p>
            <input name="email" placeholder="">
            <div class="warning-block">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span></span>
            </div>
        </div>
        <div class="disclaimer">
            <p>Вам будут отправлены инструкции по восстановлению пароля</p>
        </div>
    </div>

    <div class="md-footer">
        <button class="submit-btn">Подтвердить</button>
        <div class="call-center">
            Не восстанавливается пароль?<br> Звоните 0 800 505 118
        </div>
    </div>
</form>
