<template>
    <div @keyup.enter.prevent="onSubmit" class="auth-form">
        <div class="f-group-2" :class="{'error' : errors.has('login')}">
            <input :class="[activeLoginClass]"
                    @blur="onBlur('activeLoginClass', 'login')"
                    @focus="activeLoginClass='active'"
                    v-phone-mask
                    autofocus
                    v-validate="{ required: true, regex: /^(\+7\s\([0-9]{3}\)\s([0-9]{3})\s([0-9]{2})\s([0-9]{2}))|(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}))$/ }"
                    data-vv-as="логин"
                    name="login"
                    type="text"
                    v-model.trim="login">
            <label>Эл.почта или телефон</label>
            <div class="error-message" v-if="errors.has('login')">{{ errors.first('login') }}</div>
        </div>

        <div class="f-group-2" :class="{'error' : errors.has('password')}">
            <input :class="[activePasswordClass]" @blur="onBlur('activePasswordClass','password')" @focus="activePasswordClass='active'"
                   v-validate.disable="'required'" id="password" name="password" type="password"
                   data-vv-as=" " v-model="password">
            <label>Пароль</label>
            <div class="error-message" v-if="errors.has('password')">{{ errors.first('password') }}</div>
        </div>

        <div class="password-recovery">
            <a href="#" @click="passwordRecovery">Забыли пароль?</a>
        </div>

        <div class="registration">
            <div>
                <a href="#" @click="registration">Регистрация</a>
            </div>
            <div>
                <button class="btn-1" @click="onSubmit">Войти</button>
            </div>
        </div>

        <div class="social">
            <p>Или войдите через профиль в соцсетях</p>

            <div class="buttons">
                <a href="/auth/facebook" rel="nofollow" title="Facebook">
                    <div class="social-fb"></div>
                </a>
                <a href="/auth/vkontakte" rel="nofollow" title="VKontakte">
                    <div class="social-vk"></div>
                </a>
                <a href="/auth/google" rel="nofollow" title="Google">
                    <span class="social-google"></span>
                </a>
            </div>
        </div>

        <div class="form-bottom">
            <a href="#" @click="cardActivation">Активировать бонусную карту</a>
        </div>
    </div>
</template>

<script>
    import { getValidationErrors } from '@/support/errors'
    import mixinHelper from './mixinHelper'

    export default {
        name: 'AuthForm',

        mixins: [mixinHelper],

        data: () => ({
            mainClass: 'f-group',
            activeLoginClass: '',
            activePasswordClass: '',
            login: '',
            password: ''
        }),

        directives:{
            phoneMask: {
                bind(el) {
                    let flag = 0;

                    el.oninput = function (e) {
                        if (!e.isTrusted) {
                            return;
                        }


                        if(this.value == '') {
                            flag = 0;
                        }

                        if(!this.value.match(/([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})/)) {  //reg for email
                            if(this.value.match(/^(\+|7)[0-9]*/g)) { //if the first symbol is + or 7 OR copy-pasted phone

                                if(this.value.match(/[a-zA-Z@_\-.]/g)) {  //if there is any mail symbol in phone mask
                                    this.value = this.value.replace(/[\s+()]/g, '') //remove mask
                                } else {
                                    if(this.value.startsWith('7')) {  //add + when 7 is typed
                                        this.value = '+' + this.value
                                        flag = 1
                                    }

                                    if(this.value ==='+' && flag === 0 ) { //add 7 when + is typed
                                        this.value = this.value + '7'
                                        flag = 1
                                    }
                                    //mask
                                    let x = this.value.replace(/[^a-zA-Z0-9@\+_\-\.]/g, '').match(/(\+7?)(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})/)
                                    //mask formation
                                    this.value = !x[3] ? x[1]+x[2] : x[1]+' (' + x[2] + ') ' + x[3] + (x[4] ? ' ' + x[4] : '') + (x[5] ? ' ' + x[5]: '')
                                }
                            }
                        }

                        el.dispatchEvent(new Event('input'))
                    }
                }
            }
        },
        methods: {
            cardActivation() {
                this.$emit('change-step', { step: 'CardActivationForm' })
            },

            passwordRecovery() {
                this.$emit('change-step', { step: 'PasswordRecoveryForm' })
            },

            registration() {
                this.$emit('change-step', { step: 'RegistrationForm' })
            },

            async onSubmit() {
                if (await this.$validator.validateAll()) {
                    try {
                        const login = this.login.match(/^\+7\s\(/) ? this.login.replace(/[\s+()]/g, '') : this.login

                        await this.$store.dispatch('user/authenticate', {
                            login,
                            password: this.password
                        })

                        await this.$store.dispatch('user/emitSuccessAuth')

                        this.$modals.close()
                    } catch (e) {
                        if (e) {
                            return this.errors.add(getValidationErrors(e.errors, this.errors))
                        }

                        this.$notify({
                            group: 'error',
                            type: 'error',
                            title: 'Ошибка',
                            text: 'Ой, произошла какая-то ошибка :( Попробуйте позже'
                        })
                    }
                }
            }
        }
    }
</script>
