<template>
    <span class="user" @click="onClick"></span>
</template>

<script>

    export default {
        name: 'MsAuthButton',
        computed: {
            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            }
        },
        methods: {
            onClick () {
                if (this.isAuthenticated) {
                    return window.location = '/account'
                }

                this.$bus.$emit('auth.modal')
            }
        },
    }

</script>
