<template>
    <div>
        <component :is="step" @change-step="onChangeStep" :params="params"></component>
        <!-- Vue component notify -->
        <notifications group="error" />
    </div>
</template>

<script>
    import AuthForm from './AuthForm.vue'
    import NameEmailForm from './Registration/NameEmailForm.vue'
    import CardCreatePassword from './CardActivation/CardCreatePassword.vue'
    import CardActivationForm from './CardActivation/CardActivationForm.vue'
    import PasswordRecoveryForm from './RecoveryPassword/PasswordRecoveryForm.vue'
    import CreatePassword from './Registration/CreatePassword.vue'
    import UpdatePassword from './RecoveryPassword/UpdatePassword.vue'
    import RegistrationForm from './Registration/RegistrationForm.vue'
    import ValidateRegisterCode from './Registration/ValidateRegisterCode.vue'
    import ValidateRecoveryCode from './RecoveryPassword/ValidateRecoveryCode.vue'
    import ResendRecoveryCodeForm from './RecoveryPassword/ResendRecoveryCodeForm.vue'
    import ResendRegisterCodeForm from './Registration/ResendRegisterCodeForm.vue'
    import ChangeResendRecoveryCode from './RecoveryPassword/ChangeResendRecoveryCode.vue'
    import ChangeResendRegisterCode from './Registration/ChangeResendRegisterCode.vue'

    export default {
        name: 'MsAuthWrapper',
        data: () => ({
            step: 'AuthForm',
            params: () => ({}),
            pageOptions: {
                AuthForm: {
                    title: 'Вход'
                },
                CardActivationForm: {
                    title: 'Активация карты'
                },
                PasswordRecoveryForm: {
                    title: 'Восстановление пароля'
                },
                RegistrationForm: {
                    title: 'Регистрация'
                },
                ResendRegisterCodeForm: {
                    title: 'Не получили код?',
                    dismissable: false
                },
                ResendRecoveryCodeForm: {
                    title: 'Не получили код?',
                    dismissable: false
                },
                CreatePassword: {
                    title: 'Придумайте пароль',
                    dismissable: false
                },
                UpdatePassword: {
                    title: 'Придумайте пароль',
                    dismissable: false
                },
                ValidateRegisterCode: {
                    title: 'Подтверждение',
                    dismissable: false
                },
                ValidateRecoveryCode: {
                    title: 'Подтверждение',
                    dismissable: false
                },
                ChangeResendRegisterCode: {
                    title: 'Изменить номер телефона',
                    dismissable: false
                },
                ChangeResendRecoveryCode: {
                    title: 'Изменить номер телефона',
                    dismissable: false
                },
                CardCreatePassword: {
                    title: 'Придумайте пароль',
                    dismissable: false
                },
                NameEmailForm:{
                    title: 'Имя и эл.почта',
                    dismissable: false
                }
            }
        }),
        components: {
            NameEmailForm,
            AuthForm,
            CardActivationForm,
            PasswordRecoveryForm,
            RegistrationForm,
            ResendRegisterCodeForm,
            ResendRecoveryCodeForm,
            CreatePassword,
            UpdatePassword,
            ValidateRegisterCode,
            ValidateRecoveryCode,
            ChangeResendRegisterCode,
            ChangeResendRecoveryCode,
            CardCreatePassword
        },
        methods: {
            onChangeStep({ step, params }) {
                this.step = step
                this.params = params ? params : {}

                this.updatePage()
            },

            updatePage() {
                this.$emit('change-step', this.step, this.pageOptions[this.step] || {
                    title: ''
                })
            }
        },

        mounted() {
            this.updatePage()
        }
    }
</script>
