<template>
    <div>
        <div class="auth-header">
            {{ title }}
        </div>
        <ms-auth-wrapper @change-step="onChangeStep"></ms-auth-wrapper>
    </div>
</template>

<script>
    import MsAuthWrapper from './MsAuthWrapper'

    export default {
        name: 'MsAuthPage',

        components: {
            MsAuthWrapper
        },

        data: () => ({
            title: ''
        }),

        methods: {
            onChangeStep ({ title }) {
                this.title = title
            }
        }
    }
</script>
