<template>
    <vu-modal className="auth-modal">
        <div slot="header">
            {{ title }}
        </div>
        <ms-auth-wrapper @change-step="onChangeStep"></ms-auth-wrapper>
    </vu-modal>
</template>

<script>
    import MsAuthWrapper from './MsAuthWrapper.vue'
    import isEmpty from 'lodash/isEmpty'
    import find from 'lodash/find'

    export default {
        name: 'MsAuthModal',
        props: {
            customTitles: {}
        },
        components: {
            MsAuthWrapper
        },
        data: () => ({
            step: '',
            title: '',
            dismissable: true
        }),

        methods: {
            checkCustomTitle(step){
                if(!isEmpty(this.customTitles)){
                    const current = find(this.customTitles, {
                        'step' : step
                    })

                    current ? this.title = current.title : '';
                }
            },
            
            onChangeStep (step, { title, dismissable = true }) {
                this.step = step
                this.title = title
                this.checkCustomTitle(step)
                // this.$root.$refs.modalWrapper.modals[0].options.dismissable = !!dismissable
            }
        }
    }
</script>
