slider-gutter = 24px
slider-btn-width = 44px

.home-banners
  margin 40px 0 26px
  border-radius 8px
  overflow hidden
  display flex
  align-items stretch

  #main-slider
    flex .7
    overflow hidden
    margin-right 6px
    position relative

    &:hover

      .sw-button-next
      .sw-button-prev
        opacity 1

      .sw-button-next
        right slider-gutter

      .sw-button-prev
        left slider-gutter

    .swiper-pagination-bullets
      width auto
      position absolute
      bottom 16px
      left 50%
      display flex
      padding 8px
      border-radius 18px
      background-color rgba(0, 0, 0, 0.08)
      transform translateX(-50%)

      .swiper-pagination-bullet
        width 12px
        height @width
        background-color #fff
        border-radius 50%
        margin-right 8px
        transition .3s

        &.active
          background-color #3ABE16

        &:last-child
          margin-right 0

    .sw-button-next
    .sw-button-prev
      position absolute
      top 50%
      display block
      width 43px
      height @width
      margin-top - ( @height / 2 )
      border-radius 50%
      background #fff no-repeat center
      border 1px solid #fff
      transition .3s
      z-index 10
      cursor pointer
      opacity 0

      &:hover
        background-color accent-color
        border-color accent-color

    .sw-button-prev
      background-image url("../images/icons/left_g.svg")
      background-position 47% 50%
      left - slider-btn-width

      &:hover
        background-image url("../images/icons/arrow_left_white.svg")

    .sw-button-next
      background-image url("../images/icons/right_g.svg")
      background-position 53% 50%
      right - slider-btn-width

      &:hover
        background-image url("../images/icons/arrow_right_white.svg")

  .small-bns
    flex .32
    display flex
    flex-direction column

    > *
      height 50%
      position relative

      background-color light-grey
      background-position right bottom
      background-size cover
      background-repeat no-repeat

      .bns-title
        position absolute
        top 24px
        left 24px
        text-transform uppercase

        &-accent
          font-weight bold

      &:nth-child(1)
        background-image url("../images/banners/small_banner_home_1.jpg")
        margin-bottom 8px
        margin-top -4px

      &:nth-child(2)
        background-image url("../images/banners/small_banner_home_2.jpg")


  @media (max-width: 1199px)
    #main-slider
      flex 1

    .small-bns
      display none

  @media (max-width 767px)
    margin 0
    border-radius 0

    #main-slider
      margin-right 0

      .sw-button-next
      .sw-button-prev
        display none
