<div class="ms-button-promo">
    <a class="js-reserve_button"
       {% if productionMode %}onclick="{{ product.category.slug == "kukhni" ? "yaCounter33317453.reachGoal('send_zamer');" : "yaCounter33317453.reachGoal('send_bron');" }}"{% endif %}
       data-request="{{ __SELF__ }}::onModalShow"
       data-request-success="$('.js-phone').inputmask('+7(999) 999-99-99');$('.js-reserve_modal').modal('show');$('.js-reserve_modal .js-product_id').val($('.js-reserve_modal').data('id'))" href="#">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        {{ product.category.slug == "kukhni" ? 'Заказать замер' : 'Забронировать' }}
    </a>
</div>

<!-- Modal -->
<div class="modal fade js-reserve_modal" data-id="{{ __SELF__.product.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
