<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Форма заказа</h4>
</div>
<div class="modal-body">
    <form class="text-left">
        <input type="hidden" class="js-product_id" name="product_id" value="{{ __SELF__.product.id }}">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label' for="name">Имя <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="name" class="form-control" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <label class='control-label' for="city_id">Город <abbr class="text-danger">*</abbr></label>
                    <select name="city_id" class="js-city form-control placeholder">
                        <option value="" disabled selected hidden>Выберите Ваш город</option>
                        {% for city in __SELF__.getCities() %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class='control-label' for="city_id">Магазин <abbr class="text-danger">*</abbr></label>
                    <select name="shop_id" class="form-control placeholder js-shop_select">
                        {% partial __SELF__~'::shop_select' %}
                    </select>
                </div>
                <div class="form-group">
                    <label class='control-label' for="name">Телефон <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="phone" class="form-control js-phone" placeholder="Телефон">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label' for="name">Укажите время, когда перезвонить</label>
                    <input type="text" name="time_to_call" class="form-control" placeholder="Укажите время, когда перезвонить">
                </div>
                <div class="form-group">
                    <label class='control-label' for="text">Введите сообщение (при необходимости)</label>
                    <textarea name="message" class="form-control" style="height: 182px;" placeholder="Введите сообщение (при необходимости)"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-lg btn-action m-t-15">Отправить</button>
            </div>
        </div>
    </form>
</div>