<div class="imagegrid-builder-list">
    <div class="page-component-box grid-builder" data-type="title" data-row-index="0" data-items-type="dinamic" data-items-location="left" data-show-mobile="true">
        <div class="page-position-controls">
            <i class="icon-sort-asc top" ></i>
            <i class="icon-sort-desc bottom"></i>
        </div>
        <div class="product-view-rows-wrap">
            <div class="product-view-row">
                <div class="product-view-background"></div>
                <div class="product-bottom-info">
                    <div class="product-info-validation"></div>
                </div>
            </div>
            <div class="product-controls-row-elements">
                <div class="product-contrlors-item buttons">
                    <button class="btn btn-primary add-img-element" data-popup="#img-grid-builder-popup">Добавить Елемент</button>
                    <button class="btn btn-default remove-row">Удалить ряд</button>
                </div>
                <div class="product-contrlors-item controls-type">
                    <label>
                        <input type="radio" data-control="type" name="imagegrid-control-type-0" value="dinamic" checked=""><span>Динамичный</span></label>
                    <label>
                        <input type="radio" data-control="type" name="imagegrid-control-type-0" value="static"><span>Статический</span></label>
                </div>
                <div class="product-contrlors-item controls-location hide">
                    <label>
                        <input type="radio" data-control="location" name="imagegrid-item-location-0" value="left" checked=""><span>По левому</span></label>
                    <label>
                        <input type="radio" data-control="location" name="imagegrid-item-location-0" value="center"><span>По центру</span></label>
                    <label>
                        <input type="radio" data-control="location" name="imagegrid-item-location-0" value="right"><span>По правому</span></label>
                </div>
                <div class="product-contrlors-item controls-show-mobile">
                    <label>
                        <input type="checkbox" data-control="mobile" name="imagegrid-item-show-mobile-0" checked ><span>Отображать на мобильном ?</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="image-info-add-more">
    <button class="btn btn-primary add-image-GridBuilder-row">Добавить</button>
</div>

<div class="page-component-box" data-type="marginBottom">
    <p class="page-component-subtitle">Отступ снизу</p>
    <label>
        <input class="input-text" type="number" name="marginBottom" value="0" step="1" style="min-width: 100px;">
        <span>Отступ в пикселях</span>
    </label>
</div>
<div class="page-component-box" data-type="marginTop">
    <p class="page-component-subtitle">Отступ сверху</p>
    <label>
        <input class="input-text" type="number" name="marginTop" value="0" step="1" style="min-width: 100px;">
        <span>Отступ в пикселях</span>
    </label>
</div>
<div class="page-component-box" data-type="anchor">
    <p class="page-component-subtitle">Якорь</p>
    <label>
        <input class="input-text" type="text" name="anchor" value="" step="1" style="min-width: 100px;">
    </label>
</div>