<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Запрос</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <div class="modal-message-icon success">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h1>Спасибо!</h1>
        <p>Ваш запрос на консультацию успешно отправлен.</p>
    </div>

    <div class="m-t-20">
        {% partial 'social_links' %}
    </div>
</div>

{% if production_mode %}
    <script>
        ga('set', {page: '/order-submitted', url: location.href});
        ga('send', 'pageview');
    </script>
{% endif %}