subject = "MebelShara | Начисление бонусов клиенту"
==
Пользователю начислить бонусы
ID пользователя на сайте: {{ user.id }}
ID пользователя в 1С: {{ user.external_id }}

Сумма бонусов: {{ invite.amount|int }}
Бонусы действительны до: {{ invite.expired_at.date|date('d.m.Y') }}

==
<p>Пользователю начислить бонусы</p>

<p>ID пользователя на сайте: {{ user.id }}</p>
<p>ID пользователя в 1С: {{ user.external_id }}</p>

<p>Сумма бонусов: {{ invite.amount|int }}</p>
<p>Бонусы действительны до: {{ invite.expired_at.date|date('d.m.Y') }}</p>
