{% if discount > 0 %}
<div class="js-banner-timer order-timer">

    <div class="container-fluid cart-timer-container">

        <div class="container p-l-0 p-r-0">
            <div class="cart-timer-wrap">
                <div class="timer-left hidden-sm hidden-xs">

                    {% component 'ordertimer::image' %}
                    {% component 'ordertimer::text' %}

                    <div class="info">
                        <div class="info-text">
                            <span>Скидка не действует при покупке товара в рассрочку</span>
                        </div>
                        <div class="info-ico"><i class="fa fa-info" aria-hidden="true"></i></div>
                    </div>

                </div>

                <div class="timer-right">

                    {% component 'ordertimer::timer' %}
                    {% component 'ordertimer::button' %}

                </div>
            </div>
        </div>

    </div>

    {% if __SELF__.path != 'cart' %}
    <div class="cart-timer-container-bottom visible-lg"></div>
    {% endif %}
</div>
{% endif %}
