{% if discount > 0 %}
<div class="container-fluid cart-timer-container popup-timer js-banner-timer order-timer {{ isShow ? 'active' }}">

    <div class="p-l-0 p-r-0">
        <div class="cart-timer-wrap">
            <div class="timer-left">

                {% component 'ordertimer::image' %}
                {% component 'ordertimer::text' %}

            </div>

            <div class="timer-right">

                {% component 'ordertimer::timer' %}

            </div>
        </div>
    </div>

</div>
{% endif %}
