<div class="timer">
    <div class="numbers">
        <span class="number disabled hidden-xs">0</span>
        <span class="number disabled hidden-xs">0</span>
        <span class="separator disabled hidden-xs">:</span>
        <span class="number hour">0</span>
        <span class="number hour">0</span>
        <span class="separator">:</span>
        <span class="number minute">0</span>
        <span class="number minute">0</span>
        <span class="separator">:</span>
        <span class="number second">0</span>
        <span class="number second">0</span>
    </div>
</div>
