<div class="product-grid">

    <div class="product-grid-head">
        {% if page.type == 'category' %}

            <h1>{{ goodType.plural|default(goodType.type_name) }}</h1>

            <div class="actions">

                <div class="sorting">
                    <span class="label">Сортировать:</span>

                    <div class="select js-select">
                        <div class="selected">{{ currentSort }}</div>
                        <div class="dropdown-list">
                            <div class="dropdown-list-item"><a href="{{ sortUrl.default }}">По популярности</a></div>
                            <div class="dropdown-list-item"><a href="{{ sortUrl.price_asc }}">От дешевых к дорогим</a></div>
                            <div class="dropdown-list-item"><a href="{{ sortUrl.price_desc }}">От дорогих к дешевым</a></div>
                        </div>
                    </div>
                </div>

                <div class="type-grid-btns">
                    <a href="{{ uri ~ '?demonstration' }}" class="type-grid-btn grid-large"></a>
                    <a href="{{ uri }}" class="type-grid-btn grid-small"></a>
                </div>
            </div>

        {% else %}
            <h2>{{ goodType.plural|default(goodType.type_name) }}</h2>
        {% endif %}
    </div>

    <div class="product-grid-list">
        {% for product in pagination.items %}
            {% if loop.index == banner.index %}
                {% include 'partials.grid.banner' %}
            {% else %}
                {% include 'partials.grid.product' %}
            {% endif %}
        {% endfor %}

        {% if nextTile and pagination.hasMorePages %}
            {% include 'partials.grid.next' %}
        {% endif %}

        {% if pagination.hasPages and disablePagination != true %}
            {% include 'partials.grid.pagination' %}
        {% endif %}
    </div>
</div>
