<div class="hiding-block">

    <div class="hiding-block-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="hiding-block-content">

        <!--seo_text_home_start-->

        {{ value|raw }}

        <!--seo_text_home_end-->

    </div>

    <div class="hiding-block-bottom">
        <button class="hiding-block-toggle-btn"></button>
    </div>
</div>
