.breadcrumb
  margin 26px 0 14px 0
  padding 0 !important
  display inline-block

  .breadcrumb-item
    display inline-block
    margin-right 2px

    &::after
      content ''
      display inline-block
      width 21px
      height 15px
      background transparent url("../images/icons/right_g.svg") center 5px/5px no-repeat

    &
    a
      color primary-grey

    a
      margin-right 2px

    &:last-child

      &::after
        content none