.countdown
  display flex
  font-weight bold
  text-align center
  user-select none
  @extend .head-text-1

  &.inverse
    color #fff

  &.size-2
    @extend .head-text-2

    .time
      margin-right 15px

      &:not(:first-child)::before
        left -8px

  .time
    margin-right 24px
    position relative

    &:last-child
      margin-right 0

    &:not(:first-child)::before
      content ':'
      position absolute
      left -16px
      top 0

    & > :nth-child(2)
      font-size 10px
      line-height 18px
      text-transform uppercase
      font-weight normal