.expand-block
  overflow-y hidden

  &.top-border
    border-top 1px solid light-grey

  &.bottom-border
    border-bottom 1px solid light-grey

  &-header
    padding 16px 0
    position relative
    cursor pointer

    > *
      margin 0

    &-btn
      width 12px
      height @width
      background transparent url('../images/icons/show_g.svg') center no-repeat
      transition .2s
      position absolute
      right 0
      top 50%
      transform translateY(-50%)

  &-content
    max-height 0
    transition .3s

    &-inner
      padding 16px 0

  &.active

    .expand-block-content
      max-height 250px // Need to redefine max-height when using a component

    .expand-block-header-btn
      background-image url('../images/icons/hide_g.svg')