.favorite-btn
  width 25px
  height 25px
  background transparent url("../images/icons/favorite_g.svg") center / 25px no-repeat
  position absolute
  top 24px
  right 24px
  cursor pointer

  &:hover
  &.active
    background-image url("../images/icons/favorite_r.svg")