info-btn-size = 12px

.info-hint
  position absolute
  width info-btn-size
  height info-btn-size
  background transparent url("../images/icons/info.svg") center no-repeat
  border-radius 50%
  cursor pointer

  &:before
    position absolute
    width 30px
    height 30px
    bottom 12px
    left 50%
    transform translateX(-50%)
    background-color transparent

  &.active

    &:before
      content ''

    .hint
      display block

  .hint
    position absolute
    left 50%
    transform translate(-50%)
    bottom calc(100% + 10px)
    width 250px
    background-color #fff
    border-radius 4px
    border 1px solid light-grey
    padding 16px
    font second-font
    text-align center
    cursor text
    display none
    box-shadow 0 2px 24px 0 rgba(0, 0, 0, 0.16)

    &:after
      content ''
      position absolute
      bottom 0
      left 50%
      transform translate(-50%, 50%) rotate(45deg)
      background-color #fff
      width 10px
      height 10px
      border-bottom 1px solid light-grey
      border-right 1px solid light-grey