.sizes
  padding 0 gutter gutter

  &-title
    font-weight bold
    margin-bottom 14px

  &-item
    margin-bottom 20px

    &:last-child
      margin-bottom 0

    &-title
      font second-font
      margin-bottom 3px

    &-props
      display flex

      .size-prop
        display flex
        flex 0 0 calc(100% / 3)

        .splitter
          flex 1
          background transparent url("../images/icons/cross.svg") no-repeat center

        .size-prop-info

          &:last-child
            margin-right 0

            &::after
              content none

          & > :nth-child(1)
            font-size 12px
            line-height 14px
            color primary-grey
            margin-bottom 3px