label-mega-color = #FFD91F
label-new-color = #79ADCA
label-eco-color =#9CCC65

label-size = 40px

.promo-labels
  position absolute
  display inline-flex
  justify-content flex-end
  align-items center
  padding 0 24px
  user-select none

  > div
    width label-size
    height label-size
    display flex
    align-items center
    justify-content center
    border-radius 50%

    &:nth-child(n + 2)
      margin-left -6px

  .mega
    background label-mega-color url("../images/icons/0-0-24@2x.svg") no-repeat center

  .eco
    border 1px solid label-eco-color
    background #fff url("../images/icons/eco@2x.svg") no-repeat center

  .new
    background-color #fff
    border 1px solid label-new-color
    color label-new-color
    text-transform uppercase
    font-size 12px
    letter-spacing -.69px

    &::before
      content 'New'
      text-transform uppercase
      display inline-block
      width label-size
      height label-size
      line-height label-size
      text-align center