.rating-box

  &
  .stars
    display flex
    align-items center

  .stars
    margin-right 8px

  .stars

    > *
      width 12px
      height @width
      background transparent url("../images/icons/star_g.svg") center / contain no-repeat

    &.size-s

      > *
        width 12px
        height @width

    &.size-m

      > *
        width 14px
        height @width

    &.size-l

      > *
        width 17px
        height @width


  for num in (1..5)
    &.active-{num}

      .stars

        & > *

          &:nth-child(-n + {num})
            background-image url("../images/icons/star_y.svg")

  .rb-text
    white-space nowrap
    font base-font
    color primary-grey
