.select
  position relative
  min-width 130px
  display inline-block
  background-color #fff
  z-index 100

  &.active

    .dropdown-list
      display block

  *
    user-select none

  .selected
    font-weight bold
    cursor pointer

    &::after
      content ''
      display inline-block
      width 8px
      height 9px
      background transparent url("../images/icons/arrow_g.svg") center/contain no-repeat
      transform rotate(90deg) translate(2px, -5px)

  .dropdown-list
    background-color #fff
    position absolute
    font-weight bold
    box-shadow 0 4px 8px 0 rgba(0,0,0,0.24), 0 12px 24px 0 rgba(0,0,0,0.16)
    border-radius 4px
    width 100%
    margin-top 6px
    display none

    .dropdown-list-item
      line-height 44px
      cursor pointer
      padding 0 16px
      font-weight normal

      &:hover
        background-color lightest-grey

      a
        font base-font
        color primary-black
        padding 0 16px
        display inline-block
        width 100%
        font-weight normal