.social-links
  display inline-block

  li
    display inline-block
    margin-right 4px

    &:last-child
      margin-right 0

    a
      display flex
      width 32px
      height @width
      border 1px solid rgba(0, 0, 0, 0.08)
      border-radius 50%
      justify-content center