.vote
  color primary-grey
  text-align right
  display flex

  .like
  .dislike
    display flex
    margin-left gutter
    color primary-black

    &::before
      content ''
      display block
      width 15px
      height @width
      cursor pointer

    > div
      padding-left 8px

  .like
    &::before
      background transparent url("../images/icons/like.svg") center no-repeat

  .dislike
    &::before
      background transparent url("../images/icons/dislike.svg") center no-repeat
