<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Мой список</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <div class="modal-message-icon warning">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="no-auth-list-head m-t-20">
            <div class="content-text">Чтобы создать Новый список покупок <a href="#" class="js-signin_button" data-dismiss="modal" aria-hidden="true">авторизируйтесь</a> пожалуйста</div>
        </div>
    </div>
</div>
