<!-- Chooser Modal -->
<div class="modal fade js-product_chooser_form_modal product_chooser_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>