<div class="row">
    {% for item in list %}
    <div class="col-sm-4 fav-list">
        <a href="{{ url('/cart/'~item.id) }}" title="{{ item.list_name }}">
            <div class="row fav-list-block">
                <div class="fav-list-item-img col-sm-6">
                    {% set origImageSize = product.images[0].getPreviewSize() %}
                    {% set product = item.items[0].product %}
                    {% if product is not null %}
                    <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}" >
                    {% endif %}
                </div>
                <div class="fav-list-item-img col-sm-6">
                    {% set product = item.items[1].product %}
                    {% if product is not null %}
                    <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}"  >
                    {% endif %}
                </div>
                <div class="fav-list-item-img col-sm-6">
                    {% set product = item.items[2].product %}
                    {% if product is not null %}
                    <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}"  >
                    {% endif %}
                </div>
                <div class="fav-list-item-img col-sm-6">
                    {% set product = item.items[3].product %}
                    {% if product is not null %}
                    <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}"  >
                    {% endif %}
                </div>
            </div>
        </a>
        <div class="fav-list-title m-l-5 fav-list-{{ item.id }}">
            <div class="js-fav-list_name_lbl fav-list-name">{{ item.list_name }}</div>
            <div class="js-fav-list_name_form fav-list-name fav-list-name-form">
                <form data-request="onRenameFavList" data-request-data="list_id: '{{ item.id }}'"  data-request-success="ProductChooser.afterRename({{ item.id }});">
                    <input type="text" name="list_name" placeholder="Создать новый список" value="{{ item.list_name }}" required />
                </form>
            </div>
            <div class="fav-list-count">{{ item.items.count ~ ' '~ "товар|товара|товаров"|transchoice(item.items.count) }}</div>
            {% if not loop.first %}
            <span class="js-rename-list rename-list"><i class="fa fa-pencil"></i></span>
            <button type="button" class="remove-list js-remove_product_item" data-request-confirm="Точно хотите удалить список '{{ item.list_name }}'?" data-request="onDeleteList" data-request-data="list_id: '{{item.id}}' ">
                <i class="fa fa-times"></i>
            </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>