{% if count == 0 %}
    <span class="link product-list" title="Мои списки">
        <i class="my-list" aria-hidden="true"></i>
        <div>Мои списки</div>
        {% if count is empty %}
            {% set count = 0 %}
        {% endif %}
        <span>({{ count }})</span>
    </span>
{% else %}
    <a href="{{ url('/cart') }}" class="link product-list"
       title="Мои списки">
        <i class="my-list" aria-hidden="true"></i>
        <div>Мои списки</div>
        {% if count is empty %}
        {% set count = 0 %}
        {% endif %}
        <span >({{ count }})</span>
    </a>
{% endif %}