{% if count == 0 %}
    <span class="link product-list" title="Мои списки">
        <i class="my-list_mob" aria-hidden="true"></i>
    </span>
{% else %}
    <a href="{{ url('/cart') }}" class="link product-list"
       title="Мои списки">
        <i class="my-list_mob" aria-hidden="true"></i>
        <span >({{ count }})</span>
    </a>
{% endif %}