<div class="product-list">
    {% if products is empty  %}
        <h4 class="m-t-20">Список пуст.</h4>
    {% else %}
        <div class="row product-row-header">
            <div class="hidden-sm col-md-2">Товар</div>
            <div class="hidden-sm col-md-3"></div>
            <div class="hidden-sm col-md-3">Количество</div>
            <div class="hidden-sm col-md-2">Наличие</div>
            <div class="hidden-sm col-md-2">Цена</div>
        </div>
        {% set total = 0 %}
        {% for product in products %}
        <div class="row product-row">
            <div class="col-md-2">
                {% set origImageSize = product.images[0].getPreviewSize() %}
                <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                    <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">
                </a>
            </div>
            <div class="col-md-3">
                <div class="product-title">
                    <div class="product-name">
                        <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                            {{ product.getType()~' '~product.name }}
                        </a>
                    </div>
                    <div class="product-subname">{{ product.type_name_for_page }}</div>
                    <span class="price">
                        {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                        {{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i>
                    </span>
                    {% if (product.isCheaper(param)) %}
                    {% set saveDiscount = (product.getActivePrice() - product.price_special)|number_format(0,'',' ') %}
                    {% if saveDiscount > 0 %}
                    <div class="discount">
                        <span>(-{{ saveDiscount }}<i class="fa fa-rub"></i>)</span>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-count list-product">
                    <div class="plusminus" id="minus" data-request="onChangeCountListItem" data-id="{{ product.id }}" data-request-data="{{ param }}"><i class="my-minus"></i></div>
                    <div class="number">{{ counts[product.id] }}</div>
                    <div class="plusminus" id="plus" data-request="onChangeCountListItem" data-id="{{ product.id }}" data-request-data="{{ param }}"><i class="my-plus"></i></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="availability {{ product.getAvailabilityClass() }} m-t-10">
                    <div class="size"></div>
                    <div class="size"></div>
                    <div class="size"></div>
                    <div class="size"></div>
                    <div class="size"></div>
                </div>
                {% if product.residual_indicator == 0 %}
                <div class="text">предзаказ {{ product.max_order_item~' '~'{0} дней|{1} день|[2,4] дня|[5,Inf] дней'|transchoice(product.max_order_item) }}</div>
                {% elseif product.residual_indicator == 1 %}
                <div class="text">в ограниченном количестве</div>
                {% elseif product.residual_indicator == 2 %}
                <div class="text">в наличии</div>
                {% endif %}
            </div>
            <div class="col-md-2">
                <span class="price summ" id="summ">
                    {% set calc =  product.getActivePrice()*counts[product.id]  %}
                    {% set price = calc|number_format(0,'','.')|split('.') %}
                    {{ price[0] }} {{ price[1] }}
                </span><i class="fa fa-rub"></i>
                <span style="display: none" id="price">
                    {{ product.getActivePrice() }}
                </span>
            </div>
            <button type="button" class="remove-list-item js-remove_product_item" data-request="onDeleteListItem" data-request-data="list_id: '{{ param }}', product_id: '{{product.id}}' ">
                <i class="fa fa-times"></i>
            </button>
        </div>

        {% endfor %}
    {% endif %}
</div>
