<div class="modal-header p-b-0">
    <button type="button" class="close-outer" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Мой список</h4>
</div>
<div class="modal-body">
    <div class="row">
        {% if user %}
            <div class="auth-list-head m-b-20">
                <div class="container">
                    <div class="top-text">Все списки</div>
                    <ul class="js-user-list_product_chooser">
                        {% for item in list %}
                        <li>
                            <input type="radio" id="f-option-{{ item.id }}" name="selector" value="{{ item.id }}" {% if loop.first %}checked{% endif %}>
                            <label for="f-option-{{ item.id }}">{{ item.list_name }}</label>
                            <div class="check"></div>
                        </li>
                        {% endfor %}
                        <li>
                            <form class="add-favorite" data-request="onAddFavoriteListSubmit" data-request-success="ProductChooser.initRadio();">
                                <button type="submit" ><i class="fa fa-plus"></i></button>
                                <input type="text" name="list_name" placeholder="Создать новый список" required/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="no-auth-list-head m-b-20">
                <div class="top-text">Товар добавлен в список покупок</div>
                <div class="content-text">Чтобы создать Новый список покупок <a href="#" class="js-signin_button" data-dismiss="modal" aria-hidden="true">авторизируйтесь</a> пожалуйста</div>
            </div>
        {% endif %}
    </div>
    <div class="row product-row">
        <div class="col-md-2">
            {% set origImageSize = product.images[0].getPreviewSize() %}
            <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">
            </a>
        </div>
        <div class="col-md-4">
            <div class="product-title">
                <div class="product-name">
                    <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                        {{ product.getType()~' '~product.name }}
                    </a>
                </div>
                <div class="product-subname">
                    {{ product.type_name_for_page }}
                </div>
                <span class="price">
                    {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                    {{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="count-wrap">
                <div class="product-count list-product">
                    <div class="plusminus" id="minus" data-request="onChangeCountListItem" data-id="{{ product.id }}" data-request-data="{{ param }}"><i class="fa fa-minus"></i></div>
                    <div class="number">1</div>
                    <div class="plusminus" id="plus" data-request="onChangeCountListItem" data-id="{{ product.id }}" data-request-data="{{ param }}"><i class="fa fa-plus"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="product-sum_wrap">
                <span class="price summ" id="summ">
                {% if counts[product.id] != 0 %}
                    {% set calc =  product.getActivePrice()*counts[product.id]  %}
                    {% set price = calc|number_format(0,'','.')|split('.') %}
                    {{ price[0] }} {{ price[1] }}
                {% else %}
                    {{ price[0] }} {{ price[1] }}
                {% endif %}
                </span><i class="fa fa-rub"></i>
            </div>
            <span style="display: none" id="price">
                {{ product.getActivePrice() }}
            </span>
        </div>
    </div>
    {% if user %}
        <form class="text-left" data-request="onChooserSubmit">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="hidden" name="count" value="1" id="count">
            <input type="hidden" name="selector" value="-1" id="selector">
            <div class="row form-container">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn ms-button-vacancy p-l-70 p-r-70 m-t-20">Добавить в список</button>
                </div>
            </div>
        </form>
    {% endif %}

</div>
