<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Мой список</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <div class="modal-message-icon success">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h1>Спасибо!</h1>
        <p>Добавлено в список.</p>
    </div>
</div>

{% if production_mode and product %}
    <script>
        try {
            // Ecommerce event for GTM. Product Clicks
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
                'event':'addToWishlist',
                'id': '{{ product.id }}',
                'name': '{{ product.name ~ ' ' ~ product.subname}}',
                'price': '{{ product.getActivePrice() }}',
                'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                'variant': '{{ product.subname }}'
            });
        } catch(e){}
    </script>
{% endif %}