{% for item in list %}
<li>
    <input type="radio" id="f-option-{{ item.id }}" name="selector" value="{{ item.id }}" {% if loop.first %}checked{% endif %}>
    <label for="f-option-{{ item.id }}">{{ item.list_name }}</label>
    <div class="check"></div>
</li>
{% endfor %}
<li>
    <form class="add-favorite" data-request="onAddFavoriteListSubmit" data-request-success="ProductChooser.initRadio();">
        <button type="submit" ><i class="fa fa-plus"></i></button>
        <input type="text" name="list_name" placeholder="Создать новый список" required />
    </form>
</li>
