<!--isset_listing_page-->
<!-- productGrid component -->
{% set products = __SELF__.products %}
{% if products.count() > 0 %}

    {% if __SELF__.isSimpleGrid() %}
        <div class="products">
            {% for product in products %}
                <div class="row">
                    <div class="product clearfix" style="width:100%;" data-ecommerce="{{ product.getDataForEcommerce({'list': 'catalog'})|json_encode }}">
                        <!--product_in_listingEX-->
                        {% if __SELF__.mixedPromotion and product.has_mixed_promo %}
                        <div class="mixed-discount">
                            <img src="{{ 'assets/images/mixed-discount-yellow_2.png'|theme}}"><span class="discount">-{{ product.getMixedDisount() }}</span>
                        </div>
                        {% endif %}
                        <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}">
                            <img src="{{ product.getPreviewImage(2).getPreviewSource() }}" title="{{ product.type_name_for_page ~ ' ' ~  product.name}}" alt="{{ product.type_name_for_page ~ ' ' ~  product.name}}" style="width:100%">

                            {% if product.sub_category_id == 2 %}
                                <div class="cat-availability in-stock">в наличии</div>
                            {% else %}
                                <div class="cat-availability {{ product.getAvailabilityClass() }}">
                                    {% if product.residual_indicator == 0 %}
                                        предзаказ {{ product.max_order_item~' '~'{0} дней|{1} день|[2,4] дня|[5,Inf] дней'|transchoice(product.max_order_item|default(0)) }}
                                    {% elseif product.residual_indicator == 1 %}
                                        в ограниченном количестве
                                    {% elseif product.residual_indicator == 2 %}
                                        в наличии
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if (product.getActivePrice()) > 2000 and product.installments %}
                                <div class="btn-icon-credit"></div>
                            {% endif %}

                            <div class="row product-title">
                                <div class="col-xs-12">
                                    <div class="product-name"><span class="product-type">{{ product.type_name_for_page }}</span> {{ product.name }}</div>
                                </div>
                                <div class="col-xs-12 header">
                                    {% if not product.isWeekPromo() and product.getActiveDiscount() > 0 %}
                                        <div class="discount">-{{ product.getActiveDiscount() }}</div>
                                    {% endif %}
                                    {% if product.isWeekPromo() %}
                                        <div class="discount week">-{{ product.getActiveDiscount() }}</div>
                                    {% endif %}
                                    {% if (product.price_special > 0 ? product.price_special : product.getActivePrice()) < product.getStrikedPrice() %}
                                        <div class="old-price">
                                            цена:<br>
                                            <b><del>{{ product.getStrikedPrice()|number_format(0,'','.') }}<i class="fa fa-rub"></i></del></b>
                                        </div>
                                    {% endif %}
                                    <div class="price">
                                        {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                                        {{ price[0] }} {{ price[1] }}<i class="fa fa-rub"></i>
                                    </div>

                                    {% set packageProducts = product.getPackageProducts() %}
                                    {% if packageProducts.count > 0 %}
                                        <div class="tooltip-button-wrapper price-set">
                                            <div class="tooltip-button js-set_popup">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                            <div class="content js-set_content">
                                                <ul>
                                                    {% for item in packageProducts %}
                                                        <li>
                                                            <span>
                                                                <img src="{{ item.getPreviewImage(2).getSource() }}" alt="{{ item.name }}">
                                                                <div class="text">
                                                                    <div class="name">{{ item.name }}</div>
                                                                    <div class="subname">{{ item.subname }}</div>
                                                                    <div class="price">{{ item.getActivePrice()|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
                                                                </div>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="features">
                                {% for item in product.getPopupSpecifications() %}
                                    {% for value in item.items %}
                                        {{ value.name }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            {% if product.sub_category_id == 2 %}
                                <div class="button-wrapper m-t-10 m-b-10">
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.id }}" data-nid="{{ product.nid.numeric_id }}"
                                            data-price="{{ product.getActivePrice() }}" data-type="order" data-title="Заказать консультацию">
                                    Заказать консультацию
                                    </button>
                                    <button class="ms-action-button btn-lg btn order_form_button order-button hidden-xs" data-id="{{ product.id }}" data-request="onSignInProdBoard">
                                        <i class="fa fa-cube" aria-hidden="true"></i>Создать 3D проект
                                    </button>
                                </div>
                            {% else %}
                                <div class="button-wrapper m-t-10 m-b-10">
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.id }}" data-nid="{{ product.nid.numeric_id }}"
                                            data-price="{{ product.getActivePrice() }}">
                                        Купить в 1 клик
                                    </button>
                                    <button class="js-product_cart_button ms-action-button btn-lg btn order-button order_form_button" data-id="{{ product.id }}" data-request-success="alert('Yay!')">
                                        <i class="my-cart_white" aria-hidden="true"></i>В корзину
                                    </button>
                                </div>
                            {% endif %}

                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="products">
            {% set currentRow = -1 %}
            {% set rowProportions = [] %}
            {% for product in products %}
               {% set productRow = __SELF__.productRow(product) %}
               {% set productColumn = __SELF__.productColumn(product) %}
                {% if productRow != currentRow %}
                    {% if currentRow != -1 %}
                    </div>
                    {% endif %}
                    <div class="row" data-product-count="{{ __SELF__.productsInRow(productRow) }}">
                    {% set currentRow = productRow %}
                  {% set rowProportions = __SELF__.rowProportions(currentRow) %}
                {% endif %}

                <div class="product" data-ecommerce="{{ product.getDataForEcommerce({'list': 'catalog'})|json_encode }}" style="width: {{ rowProportions[product.id]['scale_container']*100 }}%;" data-current-row="{{ currentRow }} " data-product-row="{{ productRow }}" data-product-column="{{ productColumn }}">
                    <!--product_in_listingEX-->

                    {% if __SELF__.mixedPromotion and product.has_mixed_promo %}
                    {% if isNYStyle %}
                    <div class="mixed-discount">
                        <img src="{{ 'assets/images/mixed-discount-yellow_2.png'|theme}}"><span class="discount">-{{ product.getMixedDisount() }}</span>
                    </div>
                    {% endif %}
                    {% endif %}

                    <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}">
                        {#<div class="js-image_slider owl-carousel">#}
                            {#{% for image in product.images %}#}
                                {#{% set origImageSize = image.getPreviewSize() %}#}
                                {#<img src="{{ image.getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">#}
                            {#{% endfor %}#}
                        {#</div>#}

                        {% set origImageSize = product.getPreviewImage(1).getPreviewSize() %}
                        <img src="{{ product.getPreviewImage(1).getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">

                        {% if product.sub_category_id == 2 %}
                            <div class="cat-availability in-stock">в наличии</div>
                        {% else %}
                            <div class="cat-availability {{ product.getAvailabilityClass() }}">
                                {% if product.residual_indicator == 0 %}
                                    предзаказ {{ product.max_order_item~' '~'{0} дней|{1} день|[2,4] дня|[5,Inf] дней'|transchoice(product.max_order_item|default(0)) }}
                                {% elseif product.residual_indicator == 1 %}
                                    в ограниченном количестве
                                {% elseif product.residual_indicator == 2 %}
                                    в наличии
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if (product.getActivePrice()) > 2000 and product.installments %}
                            <div class="btn-icon-credit"></div>
                        {% endif %}

                        <div class="row product-title">
                            <div class="col-xs-12">
                                <div class="product-name"><span class="product-type">{{ product.type_name_for_page }}</span> {{ product.name }}</div>
                            </div>
                            <div class="col-xs-12 header">
                                {% if not product.isWeekPromo() and product.getActiveDiscount() > 0 %}
                                    <div class="discount">-{{ product.getActiveDiscount() }}</div>
                                {% endif %}
                                {% if product.isWeekPromo() %}
                                    <div class="discount week">-{{ product.getActiveDiscount() }}</div>
                                {% endif %}
                                {% if (product.price_special > 0 ? product.price_special : product.getActivePrice()) < product.getStrikedPrice() %}
                                    <div class="old-price">
                                        цена:<br>
                                        <b><del>{{ product.getStrikedPrice()|number_format(0,'','.') }}<i class="fa fa-rub"></i></del></b>
                                    </div>
                                {% endif %}
                                <div class="price">
                                    {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                                    {{ price[0] }} {{ price[1] }}<i class="fa fa-rub"></i>
                                </div>

                                {% set packageProducts = product.getPackageProducts() %}
                                {% if packageProducts.count > 0 %}
                                    <div class="tooltip-button-wrapper price-set">
                                        <div class="tooltip-button js-set_popup">
                                            <i class="fa fa-info" aria-hidden="true"></i>
                                        </div>
                                        <div class="content js-set_content">
                                            <ul>
                                                {% for item in packageProducts %}
                                                    <li>
                                                        <span>
                                                            <img src="{{ item.getPreviewImage(1).getSource() }}" alt="{{ item.name }}">
                                                            <div class="text">
                                                                <div class="name">{{ item.name }}</div>
                                                                <div class="subname">{{ item.subname }}</div>
                                                                <div class="price">{{ item.getActivePrice()|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
                                                            </div>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.sub_category_id == 2 %}
                                <div class="col-xs-12 small-text">за 1 погонный метр</div>
                            {% endif %}
                        </div>

                        <div class="product-hover">
                            <div class="features">
                                {% for item in product.getPopupSpecifications() %}
                                    {% for value in item.items %}
                                        {{ value.name }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="button-wrapper m-t-15 {{ rowProportions[product.id]['scale_container'] > 0.3 ? 'inline' : '' }}">
                                {% if product.sub_category_id == 2 %}
                                <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.id }}" data-nid="{{ product.nid.numeric_id }}"
                                        data-price="{{ product.getActivePrice() }}" data-type="order" data-title="Заказать консультацию">
                                Заказать консультацию
                                </button>
                                <button class="ms-action-button btn-lg btn order_form_button order-button hidden-xs" data-id="{{ product.id }}" data-request="onSignInProdBoard">
                                    <i class="fa fa-cube" aria-hidden="true"></i>Создать 3D проект
                                </button>
                                {% else %}
                                    <button class="ms-button-green btn-lg btn order-button quick-order-btn js-quick-order-btn" data-id="{{ product.id }}" data-nid="{{ product.nid.numeric_id }}"
                                            data-price="{{ product.getActivePrice() }}">
                                        Купить в 1 клик
                                    </button>
                                    <button class="js-product_cart_button ms-action-button btn-lg btn order_form_button order-button" data-id="{{ product.id }}" data-request-success="alert('Yay!')">
                                        <i class="my-cart_white" aria-hidden="true"></i>В корзину
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </a>
               </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- /productGrid component -->
{% put scripts %}
    <script>
        ProductGridVariables = {
            productionMode : {{ productionMode ? 'true' : 'false' }}
        }
    </script>

    {% if productionMode %}
        <script type="text/javascript">
            (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
                try { rrApi.categoryView({{ products.first.sub_category_id ? products.first.category_id*100+products.first.sub_category_id : products.first.category_id }}); } catch(e) {}
            });

            <!-- Тэг категории Criteo OneTag -->
            var _productIds = [];

            {% for product in products %}
            _productIds.push("{{ product.nid.numeric_id }}");
            {% endfor %}

            window.criteo_q = window.criteo_q || [];
            var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/
                .test(navigator.userAgent) ? "m" : "d";
            window.criteo_q.push(
                { event: "setAccount", account: 56185},
                { event: "setEmail", email: "{{ user.email }}" },
                { event: "setSiteType", type: deviceType},
                { event: "viewList", item: _productIds});
            <!-- Конец тэга категории Criteo OneTag -->
        </script>
    {% endif %}
{% endput %}
{% endif %}
