{% if user %}
    <div class="info-panel">
        {% if user.card_code %}
            <div class="row field">
                <div class="col-xs-7 title">
                    Моя карта:
                </div>
                <div class="col-xs-5 value">
                    <b>{{ user.card_code }}</b>
                </div>
            </div>
        {% endif %}
        <div class="row field">
            <div class="col-xs-8 title">
                {% if __SELF__.info.allDeactivated.count() > 0 %}<a href="#" class="js-expand_button plus"><i class="fa fa-plus"></i> Доступно бонусов:</a>{% endif %}
            </div>
            <div class="col-xs-4 value">
                <b>{{ user.extended.bonuses.activated ? user.extended.bonuses.activated : 0 }} руб</b>
            </div>
            {% if __SELF__.info.allDeactivated.count() > 0 %}
                <ul class="js-expand_list expand-list">
                    {% for item in __SELF__.info.allDeactivated %}
                        <li>
                            <div class="col-xs-6 text-left">{{ item.Summa }} руб</div>
                            <div class="col-xs-6 text-right">{{ item.DateEnd|date('d.m.Y') }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="row field">
            <div class="col-xs-7 title">
                {% if __SELF__.info.deactivatedThisMonth.count() > 0 %}<a href="#" class="js-expand_button plus"><i class="fa fa-plus"></i> Сгорают:</a>{% endif %}
            </div>
            <div class="col-xs-5 value">
                <img src="{{ 'assets/images/account/icons8-Fire-96.png'|theme }}"><b>{{ __SELF__.deactivatedThisMonthCount() }} руб</b>
            </div>
            {% if __SELF__.info.deactivatedThisMonth.count() > 0 %}
                <ul class="js-expand_list expand-list">
                    {% for item in __SELF__.info.deactivatedThisMonth %}
                    <li>
                        <div class="col-xs-6 text-left">{{ item.Summa }} руб</div>
                        <div class="col-xs-6 text-right">{{ item.DateEnd|date('d.m.Y') }}</div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endif %}