{% set currentItem = __SELF__.menu[this.page.id] %}
<div class="m-b-15">
    <div class="account-menu-dropdown">
        <a href="#" class="item js_account_menu_dropdown">
            <span>Меню кабинета</span>
            <i class="fa fa-chevron-down down"></i>
        </a>
        <span class="item js-current">
            <i class="{{ currentItem.icon }}"></i>
            <span>{{ currentItem.title }}</span>
        </span>
    </div>

    <ul class="js-account_menu account-menu">
        {% for key, item in __SELF__.menu %}
        <li>
            {% set custom = item.custom ? item.custom : '' %}
            <a href="{{ item.link }}" {{ this.page.id == key ? 'class="active"' : '' }}
            {{ item.request ? 'data-request='~item.request : '' }} {{ custom }} {{ item.target ? 'target='~item.target : '' }}>
                <i class="{{ item.icon }}"></i>
                <span>{{ item.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
