<template>
    <div @keyup.enter.prevent="onAttempt">

        <div class="f-group-2" :class="{'error' : errors.has('phone')}">
            <input :class="[activePhoneClass]"
                   @blur="onBlur('activePhoneClass', 'phone')"
                   @focus="activePhoneClass='active'"
                   v-validate="{ required: true, regex: /^(\+7\s\([0-9]{3}\)\s([0-9]{3})\s([0-9]{2})\s([0-9]{2}))$/  }"
                   data-vv-as=" "
                   name="phone"
                   type="text"
                   v-focus
                   v-phone-mask
                   v-model="phone">
            <label>Ваш номер телефона</label>
            <div class="error-message" v-if="errors.has('phone')">{{errors.first('phone')}}</div>
        </div>

        <button class="btn-1" @click="onAttempt">Отправить СМС повторно</button>
    </div>
</template>

<script>
    import {getValidationErrors} from '@/support/errors'
    import mixinHelper from '../mixinHelper'

    export default {
        name: "ChangeResendRecoveryCode",
        mixins: [mixinHelper],
        props: {
            params: {
                type: Object,
                default: () => ({})
            }
        },
        data: vm => ({
            phone: vm.params.phone,
            activePhoneClass:'active'
        }),
        directives:{
            focus: {
                // directive definition
                inserted: function (el) {
                    el.focus()
                }
            },
            phoneMask:{
                bind(el){
                    el.oninput = function(e) {
                        if (!e.isTrusted) {
                            return;
                        }
                        if(this.value.startsWith('+7')){
                            let x = this.value.replace(/\D/g, '').match(/(7?)(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})/);
                            this.value = !x[3] ? '+'+x[1]+' ('+x[2] : '+'+x[1]+' (' + x[2] + ') ' + x[3] + (x[4] ? ' ' + x[4] : '') + (x[5] ? ' ' + x[5]: '');
                        } else {
                            this.value = '+7 (';
                        }
                        el.dispatchEvent(new Event('input'));
                    }
                }
            }
        },
        methods:{
            async sendCode(sign){
                let phone = this.phone
                this.$emit('change-step', { step: 'ValidateRecoveryCode', params: { sign, phone } })
            },
            async onAttempt(){
                if (await this.$validator.validateAll()) {
                    try {
                        const response = await this.$apiClient.post('/password-recovery/attempt', {
                            phone: this.phone.replace(/\D/g,''),
                        })
                        if(response.data.hasOwnProperty('data')){
                            this.sendCode(response.data.data.sign);
                        }
                    } catch (e) {

                        if(e){
                            this.errors.add(getValidationErrors(e.response.data.errors, this.errors));
                        } else {
                            this.$notify({
                                group:  'error',
                                type:   'error',
                                title:  'Ошибка',
                                text:   'Ой, произошла какая-то ошибка :( Попробуйте позже'
                            });
                        }
                        console.error(e);
                    }
                }
            }
        }
    }
</script>
