<template>
    <div @keyup.enter.prevent="resend">

        <div class="form-text">
            <p>Подтвердите номер телефона <strong>{{ this.phone }}</strong> и проверьте входящие сообщения</p>
        </div>

        <div class="f-group-2">
            <div class="error-message" v-if="errors.has('phone')">{{ errors.first('phone') }}</div>
        </div>

        <button class="btn-1" @click="resend">Отправить СМС повторно</button>

        <div class="form-bottom">
            <a href="#" @click="changePhone">Изменить номер телефона</a>
        </div>

    </div>
</template>

<script>
    import {getValidationErrors} from '@/support/errors'
    import mixinHelper from '../mixinHelper'

    export default {
        name: "ResendRecoveryCodeForm",
        mixins: [mixinHelper],
        props: {
            params: {
                type: Object,
                default: () => ({})
            }
        },
        data: vm => ({
            phone: vm.params.phone,
        }),
        methods: {
            async sendCode(sign) {
                let phone = this.phone
                this.$emit('change-step', {step: 'ValidateRecoveryCode', params: {sign, phone}})
            },
            async changePhone() {
                let phone = this.phone
                this.$emit('change-step', {step: 'ChangeResendRecoveryCode', params: {phone}})
            },
            async resend() {
                try {
                    const response = await this.$apiClient.post('/password-recovery/attempt', {
                        phone: this.phone.replace(/\D/g, ''),
                    })
                    if (response.data.hasOwnProperty('data')) {
                        this.sendCode(response.data.data.sign);
                    }
                } catch (e) {

                    if (e) {
                        this.errors.add(getValidationErrors(e.response.data.errors, this.errors));
                    } else {
                        this.$notify({
                            group: 'error',
                            type: 'error',
                            title: 'Ошибка',
                            text: 'Ой, произошла какая-то ошибка :( Попробуйте позже'
                        });
                    }
                    console.error(e);
                }
            }
        }
    }
</script>
