<template>
    <set-password @submit="onSubmit" :customErrors="customErrors"></set-password>
</template>

<script>
    import SetPassword from '../forms/SetPassword'
    import {getValidationErrors} from '@/support/errors'

    export default {
        name: "UpdatePassword",
        props: {
            params: {
                type: Object,
                default: () => ({})
            }
        },
        data: () => ({
            customErrors: []
        }),
        components: {SetPassword},
        methods: {
            async onSubmit(credentials) {
                try {
                    const response = await this.$apiClient.post('/password-recovery', {
                        ...credentials,
                        sign: this.params.sign
                    })

                    //authorize user in store
                    this.$store.commit('user/setUser', {
                        user: response.data.data
                    })

                    if (response) {
                        await this.$store.dispatch('user/emitSuccessAuth')

                        this.$modals.close()
                    }
                } catch (e) {

                    if (e) {
                        this.customErrors = getValidationErrors(e.response.data.errors, this.customErrors)
                    } else {
                        this.$notify({
                            group:  'error',
                            type:   'error',
                            title:  'Ошибка',
                            text:   'Ой, произошла какая-то ошибка :( Попробуйте позже'
                        });
                    }
                }
            }
        }
    }
</script>
