<div data-control="toolbar">
    <a href="<?= Backend::url('luckyweb/customcontent/pages/create') ?>" class="btn btn-primary oc-icon-plus">
        Добавить страницу
    </a>
    <button type="button"
            class="btn btn-default oc-icon-trash"
            disabled="disabled"
            onclick="$(this).data('request-data', {checked: $('.control-list').listWidget('getChecked')})"
            data-request="onDelete"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-confirm="Удалить выбраные страницы?"
    >
        Удалить выбраное
    </button>
</div>
