<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('luckyweb/customcontent/pages') ?>">Pages</a></li>
    <li>
        <?= e($this->pageTitle) ?>
    </li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>
    <div class="hidden_block">

        <div id="img-grid-builder-popup" class="product-view-popup-wrap custom img-grid-builder-popup">
            <div class="close-popup"><i class="icon-times"></i></div>
            <div class="popup-content page-content-wrap">
                <div class="page-components-list-wrap">
                    <div class="page-component-box" data-type="videoOrImage">
                        <p class="page-component-subtitle">Изображение елемента</p>
                        <div data-type="image">
                            <div class="image-preview img-grid-builder-image"></div>
                            <div class="image-control">
                                <input name="backgroundImage" type="file" style="display: none;">
                                <button class="btn btn-primary" type="button" name="fakeOverview">Обзор…</button>
                                <button class="btn btn-primary" type="button" name="imageClear" style="">Очистить…</button>
                            </div>
                        </div>
                    </div>

                    <div class="page-component-box" data-type="text">
                        <p class="page-component-subtitle">Текст</p>
                        <textarea class="textform needCKE" name="img-grid-builder-text"></textarea>
                        <label>
                                <input type="text" name="titleColor" class="color-picker img-grid-builder-text-color" value="">
                                <span>Цвет текста</span>
                            </label>
                    </div>

                    <div class="page-component-box page-component-wrap" data-type="button">
                        <p class="page-component-subtitle">Ссылка</p>
                        <input name="buttonLink" class="input-text img-grid-builder-link" type="text" placeholder="Ссылка…" value="">
                    </div>

                    <div class="page-component-box page-component-wrap" data-type="textAlign">
                        <p class="page-component-subtitle">Размещение текста относительно бэкграунда</p>
                        <label>
                            <input type="radio" name="textAlign" value="center" checked="checked" data-without-reset>
                            <span>По центру</span>
                        </label>
                        <label>
                            <input type="radio" name="textAlign" value="top" data-without-reset>
                            <span>Сверху</span>
                        </label>
                        <label>
                            <input type="radio" name="textAlign" value="bottom" data-without-reset>
                            <span>Снизу</span>
                        </label>
                    </div>

                    <div class="page-component-box done-button">
                        <button name="apply" type="button" class="btn btn-primary">Готово</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="loader-spinner">
            <svg class="lds-spin" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><g transform="translate(80,50)">
                    <g transform="rotate(0)">
                    <circle cx="0" cy="0" r="10" fill="#1991d1" fill-opacity="1" transform="scale(1.07 1.07)">
                      <animateTransform attributeName="transform" type="scale" begin="-0.8333333333333334s" values="1.1 1.1;1 1" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
                      <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0" begin="-0.8333333333333334s"></animate>
                    </circle>
                    </g>
                    </g><g transform="translate(65,75.98076211353316)">
                    <g transform="rotate(59.99999999999999)">
                    <circle cx="0" cy="0" r="10" fill="#1991d1" fill-opacity="0.8333333333333334" transform="scale(1.08667 1.08667)">
                      <animateTransform attributeName="transform" type="scale" begin="-0.6666666666666666s" values="1.1 1.1;1 1" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
                      <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0" begin="-0.6666666666666666s"></animate>
                    </circle>
                    </g>
                    </g><g transform="translate(35.00000000000001,75.98076211353316)">
                    <g transform="rotate(119.99999999999999)">
                    <circle cx="0" cy="0" r="10" fill="#1991d1" fill-opacity="0.6666666666666666" transform="scale(1.00333 1.00333)">
                      <animateTransform attributeName="transform" type="scale" begin="-0.5s" values="1.1 1.1;1 1" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
                      <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0" begin="-0.5s"></animate>
                    </circle>
                    </g>
                    </g><g transform="translate(20,50.00000000000001)">
                    <g transform="rotate(180)">
                    <circle cx="0" cy="0" r="10" fill="#1991d1" fill-opacity="0.5" transform="scale(1.02 1.02)">
                      <animateTransform attributeName="transform" type="scale" begin="-0.3333333333333333s" values="1.1 1.1;1 1" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
                      <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0" begin="-0.3333333333333333s"></animate>
                    </circle>
                    </g>
                    </g><g transform="translate(34.999999999999986,24.019237886466847)">
                    <g transform="rotate(239.99999999999997)">
                    <circle cx="0" cy="0" r="10" fill="#1991d1" fill-opacity="0.3333333333333333" transform="scale(1.03667 1.03667)">
                      <animateTransform attributeName="transform" type="scale" begin="-0.16666666666666666s" values="1.1 1.1;1 1" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
                      <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0" begin="-0.16666666666666666s"></animate>
                    </circle>
                    </g>
                    </g><g transform="translate(65,24.019237886466843)">
                        <g transform="rotate(300.00000000000006)">
                        <circle cx="0" cy="0" r="10" fill="#1991d1" fill-opacity="0.16666666666666666" transform="scale(1.05333 1.05333)">
                          <animateTransform attributeName="transform" type="scale" begin="0s" values="1.1 1.1;1 1" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
                          <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0" begin="0s"></animate>
                        </circle>
                        </g>
                    </g>
                </svg>
        </div>

    </div>

    <div class="tabs-wrap">
        <div class="tab-element active" data-rel="main-data">Основные данные</div>
        <div class="tab-element" data-rel="page-content">Контент страницы</div>
    </div>

    <div class="layout-row" data-rel="main-data">
        <?= $this->formRender() ?>
    </div>

    <div class="layout-row" data-rel="page-content" style="display: none;">
        <div class="custom-content-layout-wrap">
            <div class="component-list">
                <p style="padding: 4px 10px; font-size: 12px">Для добавления компонента, кликните по нему дважды</p>
                <div class="components subitems" style="overflow: visible; display: block; height: auto;">
                    <div class="layout">

                    </div>
                </div>
            </div>

            <div class="components-details-wrap">
                <ul class="page-content-wrap">

                </ul>
            </div>
        </div>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button type="submit" name="save" data-hotkey="ctrl+s, cmd+s" data-load-indicator="Creating PagesController..." class="btn btn-primary">
                    Создать
                </button>
            <button type="button" name="saveAndExit" data-request-data="close:1" data-hotkey="ctrl+enter, cmd+enter" data-load-indicator="Creating PagesController..." class="btn btn-default">
                    Создать и закрыть
                </button>
            <span class="btn-text">
                    или <a href="<?= Backend::url('luckyweb/customcontent/pages') ?>">Отменить</a>
                </span>
        </div>
    </div>

    <?= Form::close() ?>

        <div class="product-view-popup-wrap">
            <div class="close-popup"><i class="icon-times"></i></div>
            <div class="popup-content"></div>
            <div class="popup-button">
                <button name="apply" type="button" class="btn btn-primary">Готово</button>
            </div>
        </div>

        <?php else: ?>

        <p class="flash-message static error">
            <?= e($this->fatalError) ?>
        </p>
        <p><a href="<?= Backend::url('luckyweb/customcontent/pages') ?>" class="btn btn-default">Вернуться к списку страниц</a></p>

        <?php endif ?>