@media (min-width 768px)

  .cart-products
    @extend .modern-scroll

@media (max-width 767px)

  &
    margin-top gutter

  .cart-products
    margin 0 -34px
    max-height initial

    .cart-product-item

      .product
        flex-direction column

        & > :first-child
          margin-bottom 12px

        .del-btn
          order 2
          margin-right 0
          text-align right
          align-self flex-start

        .product-text-wrap
          flex 1

      .product-price

        &.total
          padding-right 0
          width auto

  .cart-buttons
    flex-direction column
    padding-left 0
    padding-right 0

    .close-cart
      order 0
      margin-bottom 12px

  .special-offer

    .special-offer-total
      padding-right 24px
      padding-left 24px

      > div
        flex 1 !important

        &:nth-child(1)

          & > :nth-child(2)
            display none
