.shoping-cart
  .info-hint
    position relative
    margin-left 18px
    background none
    top 25px

    &.empty
      display block

    .hint
      font-size 12px
      line-height 14px
      text-align left
      bottom unset
      top calc(100% + 10px)
      z-index 999
      width 150px
      left -32px

      .hint-title
        font-size 14px
        margin-bottom 4px

      &::after
        left 110px
        top -11px
        border none
        border-left 1px solid light-grey
        border-top 1px solid light-grey
