.cart-total
  display flex
  justify-content flex-end
  padding 28px 15px

  .price-rub

    &::after
      font-size 16px

  .cart-total-text
    @extend .head-text-4
    font-weight bold
    padding-top 5px
    margin-right 6px
    align-self flex-start

  .cart-total-discount
    display flex
    margin-bottom 17px
    padding-right 12px
    position relative

  .cart-total
    font-weight bold

  .old-price
  .discount
  .cart-total
    @extend .head-text-2
    white-space nowrap
    color primary-black
    display flex
    align-items flex-end
    padding 0

  .old-price
    margin-right 16px
    position relative
    padding 0 2px

    &::before
      content ''
      position absolute
      top 50%
      display block
      width 100%
      height 2px
      background-color primary-grey
      margin-top 1px

  .discount
    color accent-color

  .info-hint
    top -4px
    right -6px