cartPopupWidth = 944px

.cart-modal
  width cartPopupWidth !important
  max-width calc(100% - 30px)
  padding 26px 34px
  margin-top 10vh

  .vu-modal__cmp-header
    font-weight bold

  .cart-products
    margin 0 -34px
    max-height 55vh
    overflow-y auto


    .cart-row
      border-bottom 1px solid light-grey
      padding 16px

      &:first-child
        border-top 1px solid light-grey

    .cart-product-item
      display flex
      align-items center
      padding 0 8px

      &.complect
        flex-wrap wrap

      .complect-wrap
        flex 1

      .product
        display flex
        align-items center
        justify-content space-between
        flex 1

        > div
          flex 1
          display flex
          align-items center
          width 100%

          &:nth-child(2)
            justify-content space-between

  .del-btn
    width 32px
    margin-right side-gutter
    margin-top 11px

  .product-img
    display flex
    width 108px
    height 87px
    margin-right 40px

    a
      display flex
      align-items center

    img
      flex 1
      margin auto
      max-width 100%
      max-height 100%

  .product-text

    .name
      color primary-black

    .category
      font second-font
      color primary-grey

  .product-price
    white-space nowrap
    @extend .head-text-3

    &.total
      width 113px
      text-align right
      font-weight bold
      padding-right 32px

  .product-counter
    display flex
    align-items center
    justify-content space-between
    width 88px
    height 36px
    white-space nowrap
    border 1px solid grey
    border-radius 4px
    text-align center
    font-weight bold
    user-select none

    span
      display inline-block
      cursor pointer
      background-position center
      background-repeat no-repeat
      width 15px
      height 100%
      padding 0 17px
      opacity .5

      &:nth-child(1)
        background-image url('../images/icons/hide.svg')
        background-size 10px 3px

      &:nth-child(2)
        background-image url('../images/icons/add@2x.svg')

  .special-offer
    border 2px solid accent-color
    border-radius 8px

    &:nth-child(2)
      margin-top 20px

    .special-offer-content

      .cart-row:first-child
        border-top none

      .cart-product-item

        .product
          border-top 1px solid light-grey
          padding 16px 0

          .del-btn
            visibility hidden
            margin-top 2px


          &:first-child
            border-top none
            padding-top 0

            .del-btn
              visibility visible

          &:last-child
            padding-bottom 0

          > div
            &:nth-child(4)
              text-align right

          .product-img
            height 81px

          .product-price
            &.total
              padding-right 10px

    .special-offer-total
      padding 16px side-gutter
      display flex
      align-items center
      justify-content space-between

      .product-price

        &.total
          padding-right 0

      > :nth-child(1)
        flex 1
        font-weight bold

      > :nth-child(2)
        flex 1
        display flex
        justify-content flex-end

      > :nth-child(3)
        flex 0.55
        text-align right
        display flex
        justify-content flex-end

    .cart-product-item

      .complect
        display: flex;
        flex-wrap: wrap;

  .cart-buttons
    display flex
    justify-content space-between
    padding 0 15px
    margin-bottom 6px

    button
      width 288px
      max-width 100%

  @import "_media.styl"
