<template>
    <div>
        <set-password @submit="onSubmit" :customErrors="customErrors" nameBtn="Изменить"></set-password>
    </div>
</template>

<script>
    import SetPassword from '@/components/Auth/forms/SetPassword'
    import {getValidationErrors} from '@/support/errors'

    export default {
        name: "MsChangePassword",
        components: {SetPassword},
        data: () => ({
            customErrors: []
        }),
        methods: {
            async onSubmit(credentials) {
                try {
                    const response = this.$store.dispatch('user/changePassword', {credentials})
                    if (response) {
                        this.$modals.close()
                    }
                } catch (e) {
                    if (e) {
                        this.customErrors = getValidationErrors(e.response.data.errors, this.customErrors)
                    } else {
                        this.$notify({
                            group: 'error',
                            type: 'error',
                            title: 'Ошибка',
                            text: 'Ой, произошла какая-то ошибка :( Попробуйте позже'
                        });
                    }
                }

            }
        }
    }
</script>
