<template>
    <div class="personal-data" :class="{active: !showEditForm}">
        <div class="personal-data-content">
            <div class="user-data">
                <div class="user-data-item">
                    <div>Имя и Фамилия:</div>
                    <div>{{user.name + " " + user.last_name}}</div>
                </div>
                <div class="user-data-item">
                    <div>Эл. почта:</div>
                    <div>{{user.email}}</div>
                </div>
                <div class="user-data-item">
                    <div>Номер телефона:</div>
                    <div>{{phoneFormat(user.phone)}}</div>
                </div>
                <div class="user-data-item">
                    <div>Дата рождения:</div>
                    <div>{{formatDate(user.birth_date)}}</div>
                </div>
                <div class="user-data-item">
                    <div>Пол:</div>
                    <div>{{gender(user.gender_id)}}</div>
                </div>
            </div>
            <div class="edit-btns">
                <div><span @click="editDataProfile">Редактировать</span></div>
                <div><span @click="changePassword">Изменить пароль</span></div>
                <div><span @click="logout">Выход</span></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MsContent",
        props: {
            user: Object,
            showEditForm: Boolean,
            editDataProfile: Function
        },
        data() {
            return {
                fullName: [this.user.name, this.user.last_name].join(' ')
            }
        },
        methods: {
            syncData() {
                return this.$store.dispatch('user/info')
            },
            phoneFormat(phone) {
                if (phone) {
                    const np = phone.match(/^(\d)(\d{3})(\d{3})(\d{2})(\d{2})$/)
                    return '+' + np[1] + ' (' + np[2] + ') ' + np[3] + ' ' + np[4] + ' ' + np[5]
                }
                return phone
            },
            formatDate(inputDate) {
                if (inputDate) {
                    const date = new Date(inputDate)
                    const curr_date = date.getDate();
                    const curr_month = date.getMonth() + 1;
                    const curr_year = date.getFullYear();
                    return [curr_date, curr_month, curr_year].join('-')
                }
                return null
            },
            gender(value) {
                return (parseInt(value) === 1) ? 'Мужской' : 'Женский'
            },
            changePassword() {
                this.$bus.$emit('account.modal')
            },
            logout() {
                return this.$store.dispatch('user/logout', {})
            }
        },
        mounted() {
            this.syncData()
        }
    }
</script>

