<template>
    <div class="user-extended-data-item edit-personal-data" :class="{active: showEditForm}">
        <div>
            <div>Имя:</div>
            <div class="f-group" :class="{error: errors.has('name')}"> <!--error-->
                <input name="name" type="text" v-model="user.name"
                       v-validate="{ required: true }">
                <div class="error-message">{{errors.first('name')}}</div>
            </div>
        </div>

        <div>
            <div>Фамилия:</div>
            <div class="f-group" :class="{error: errors.has('lastName')}"> <!--error-->
                <input name="lastName" type="text" v-model="user.last_name"
                       v-validate="{ required: true }">
                <div class="error-message">{{errors.first('lastName')}}</div>
            </div>
        </div>

        <div>
            <div>Отчество:</div>
            <div class="f-group" :class="{error: errors.has('surname')}"> <!--error-->
                <input name="surname" type="text" v-model="user.other_name"
                       v-validate="{ required: true }">
                <div class="error-message">{{errors.first('surname')}}</div>
            </div>
        </div>

        <div class="disabled">
            <div>Номер телефона:</div>
            <div class="f-group">
                <input name="phone" type="text" :value="userPhone">
            </div>
        </div>

        <div class="disabled">
            <div>Эл. почта:</div>
            <div class="f-group">
                <input name="email" type="text" placeholder="example@mail.com" :value="user.email">
                <div class="warning-message">
                    Данный пользователь уже зарегистрирован, если это вы <a href="">авторизируйтесь</a>
                </div>
            </div>
        </div>

        <div>
            <div>Дата рождения:</div>
            <div class="f-group">
                <datepicker :minimumView="'day'" :maximumView="'year'" :initialView="'year'"
                            v-model="user.birth_date"></datepicker>
            </div>
        </div>

        <div>
            <div>Пол:</div>
            <div class="f-group radio-group">
                <div>
                    <input type="radio" id="male" name="sex" value="1" v-model="user.gender_id" v-validate="'required'">
                    <label for="male">Мужской</label>
                </div>
                <div>
                    <input type="radio" id="female" name="sex" value="2" v-model="user.gender_id"
                           v-validate="'required'">
                    <label for="female">Женский</label>
                </div>
            </div>
        </div>

        <div class="save">
            <div class="f-group">
                <button class="btn-1" @click="submitForms">Сохранить</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from '@/plugins/datePicker'

    export default {
        name: "MsEditForm",
        components: {Datepicker},
        props: {
            user: Object,
            showEditForm: Boolean,
            saveDataProfile: Function
        },
        methods: {
            submitForms() {
                this.$validator.validateAll().then(valid => {
                    if (valid) {
                        const current_datetime = new Date(this.user.birth_date);
                        const formatted_date = [current_datetime.getFullYear(), (current_datetime.getMonth() + 1), current_datetime.getDate()].join('-');
                        const data = {
                            name: this.user.name,
                            last_name: this.user.last_name,
                            other_name: this.user.other_name,
                            gender_id: this.user.gender_id,
                            birth_date: formatted_date,
                        };

                        const edit = this.$store.dispatch('user/edit', {data});
                        this.saveDataProfile()
                    }
                })
            }
        },
        computed: {
            userPhone() {
                const phone = this.$store.getters['user/phone'];
                if (phone) {
                    const np = phone.match(/^(\d)(\d{3})(\d{3})(\d{2})(\d{2})$/);
                    return '+' + np[1] + ' (' + np[2] + ') ' + np[3] + ' ' + np[4] + ' ' + np[5]
                }
                return phone
            }
        },
        mounted() {
            const dict = {
                custom: {
                    name: {
                        required: 'Поле обязательное'
                    },
                    lastName: {
                        required: 'Поле обязательное'
                    },
                    surname: {
                        required: 'Поле обязательное'
                    },
                    day: {
                        required: 'Поле обязательное',
                        max: 'Не более 2 символов',
                        numeric: 'Только число'
                    },
                    month: {
                        required: 'Поле обязательное',
                        max: 'Не более 2 символов',
                        numeric: 'Только число'
                    },
                    year: {
                        required: 'Поле обязательное',
                        length: '4 символа',
                        numeric: 'Только число'
                    },
                }
            };
            this.$validator.localize('en', dict)
        }
    }
</script>
