<template>

    <div class="account">

        <div class="account-page">

            <div class="account-header">
                <h1>Личные данные</h1>
            </div>

            <div class="account-content">

                <div class="profile">

                    <ms-content :user="user" :showEditForm="showEditForm" :editDataProfile="editDataProfile"></ms-content>

                    <div class="user-extended-data">
                        <ms-edit-form :user="user"
                                      :showEditForm="showEditForm"
                                      :saveDataProfile="saveDataProfile"
                        ></ms-edit-form>
                        <ms-social :showEditForm="showEditForm"></ms-social>
                    </div>

                </div>

            </div>

        </div>

        <div class="account-sidebar">
            <ms-aside></ms-aside>
        </div>

    </div>

</template>

<script>
    import MsContent from './MsContent'
    import MsEditForm from './MsEditForm'
    import MsSocial from './MsSocial'
    import MsAside from '../MsAside'

    export default {
        name: "MsPersonalData",
        components: {MsContent, MsEditForm, MsSocial, MsAside},
        data() {
            return {
                showEditForm: false, //false
                user: this.$store.state.user.user
            }
        },
        methods: {
            editDataProfile() {
                this.showEditForm = true
            },
            saveDataProfile() {
                this.showEditForm = false
            }
        }
    }
</script>
