<template>
    <div @click="socialClick(code)" class="social-btn"
         :class="[{active: social !== undefined}, socialClass]">
        <div>Связать акаунт</div>
        <div>
            <div>{{getFullName(social)}}</div>
            <div>Отменить связь</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MsSocialItem",
        props: {
            code: String,
            social: Object
        },
        data() {
            return {
                socialClass: 'social-' + this.code
            }
        },
        methods: {
            getFullName(social) {
                if (social !== undefined) {
                    let line = [social.name, social.last_name].join(' ')
                    if (line.length > 19) {
                        return line.substring(0, 16) + '...'
                    }
                    return line
                }
                return null;
            },
            socialClick(code) {
                let socialObj = {}
                let href = null
                switch (code) {
                    case 'google':
                        socialObj = this.socialGoogle
                        href = "/auth/google"
                        break
                    case 'fb':
                        socialObj = this.socialFacebook
                        href = "/auth/facebook"
                        break
                    case 'vk':
                        socialObj = this.socialVk
                        href = "/auth/vkontakte"
                        break
                }

                if (socialObj !== undefined) {
                    return this.$store.dispatch('user/socialDestroy', {socialId: socialObj.id})
                } else {
                    location.href = href
                }
            }
        }
    }
</script>
