<template>
    <div class="user-extended-data-item social" :class="{active: !showEditForm}">

        <div>Связывайте учетную запись МебельШара с учетными записями соцсетей и входите на сайт,
            как пользователь
            Facebook или Google
        </div>
        <div class="social-btns">
            <ms-social-item
                    v-for="(social, index) in socials"
                    :key="index"
                    :code="social.code"
                    :social="social.obj"
            ></ms-social-item>
        </div>

    </div>
</template>

<script>
    import MsSocialItem from './MsSocialItem'

    export default {
        name: "MsSocial",
        props: ['showEditForm'],
        components: {MsSocialItem},
        methods: {
            fetchingSocial() {
                return this.$store.dispatch('user/social')
            },

        },
        computed: {
            socialGoogle() {
                return this.$store.getters['user/socialGoogle']
            },
            socialFacebook() {
                return this.$store.getters['user/socialFacebook']
            },
            socialVk() {
                return this.$store.getters['user/socialVk']
            },
            socials() {
                return [
                    {code: 'google', obj: this.socialGoogle},
                    {code: 'fb', obj: this.socialFacebook},
                    {code: 'vk', obj: this.socialVk}
                ]
            }
        },
        created() {
            this.fetchingSocial()
        }
    }
</script>
