<style>
    #credit-popup .modal-body-wrap {
        padding: 15px;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="credit-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body-wrap">

                    <!--Новый блок №1--Название SmallBanner-->
                    <div class="row product-item banner-product align_center"
                         style="margin-bottom: 0px; margin-top: 0px;" id="uniq_5c54790b757b6">

                        <div class=" product_image_video">
                            <img src="/storage/images/5c54601d3bf3c.png" alt="">
                        </div>
                    </div>
                    <div class="row col-12 center TextBlock" style="margin-bottom: 0px; margin-top: 0px;"
                         id="uniq_5c54790b7592b">
                        <div class="center_container TextBlock_container" style=": 105px;">

                            <div style="color: rgb(99,195,61);"><p style="text-align:center">&nbsp;</p>
                                <p style="text-align:center">&nbsp;</p>
                                <p style="text-align:center"><span style="color:null">&nbsp;<span
                                    style="font-size:28px"><strong>КАК ЭТО РАБОТАЕТ</strong></span>&nbsp;</span></p>
                                <p style="text-align:center">&nbsp;</p>
                                <p style="text-align:center">&nbsp;</p>
                            </div>
                        </div>
                    </div><!--END блок №2--Название TextBlock-->
                    <!--Новый блок №3--Название SmallBanner-->
                    <div class="row product-item banner-product align_center"
                         style="margin-bottom: 0px; margin-top: 0px;" id="uniq_5c54790b75a09">
                        <div class="product-desc">

                            <div style="color: rgb(51,51,51); text-align: left; "><p style="text-align:center"><span
                                style="line-height:1.4"><span
                                style="font-size:28px"><strong>В ИНТЕРНЕТ-МАГАЗИНЕ</strong></span></span></p>
                                <div class="more_text"></div>
                            </div>
                        </div>

                        <div class=" product_image_video">

                            <img src="/storage/images/5c5322a78e397.jpeg" alt="">
                        </div>

                    </div><!--END блок №3--Название SmallBanner-->
                    <!--Новый блок №4--Название TextBlock-->
                    <div class="row col-12 left TextBlock" style="margin-bottom: 0px; margin-top: 0px;"
                         id="uniq_5c54790b75ab2">
                        <div class="left_container TextBlock_container" style="left: 105px;">


                            <div style="color: rgb(51,51,51);"><p>&nbsp;</p>

                                <p>&nbsp;</p>

                                <p style="text-align:center">&nbsp;</p>

                                <p style="text-align:center"><span
                                    style="font-size:28px"><strong>В РОЗНИЧНОМ МАГАЗИНЕ</strong></span></p>
                            </div>
                        </div>
                    </div><!--END блок №4--Название TextBlock-->
                    <!--Новый блок №5--Название SmallBanner-->
                    <div class="row product-item banner-product align_left" style="margin-bottom: 0px; margin-top: 0px;"
                         id="uniq_5c54790b75b69">
                        <div class="product-desc">


                        </div>

                        <div class=" product_image_video">

                            <img src="/storage/images/5c5322c751fea.jpeg" alt="">
                        </div>

                    </div><!--END блок №5--Название SmallBanner-->
                    <!--Новый блок №6--Название TextBlock-->
                    <div class="row col-12 left TextBlock" style="margin-bottom: 0px; margin-top: 0px;"
                         id="uniq_5c54790b75c82">
                        <div class="left_container TextBlock_container" style="left: 105px;">


                            <div style="color: rgb(102,102,102);"><p style="text-align:justify">&nbsp;</p>

                                <p style="text-align:justify">&nbsp;</p>

                                <p style="text-align:justify">*размещенная информация не является публичной офертой.
                                    Указанная сумма ежемесячного платежа по кредиту округлена до рубля. Акция &laquo;Мега
                                    рассрочка 0-0-24&raquo; проводится в рамках предоставляемого Банком партнером АО
                                    &laquo;ОТП Банк&raquo;, Лицензия ЦБ РФ на осуществление банковских операций №2766 от
                                    27.11.2014 г., кредитного продукта &laquo;0-0-24 new&raquo;: первоначальный взнос -
                                    0%, срок кредита &ndash; 24 месяца,&nbsp;сумма кредита от 2 000 руб. до 300 000
                                    рублей. Процентная ставка по кредиту - 8,03% годовых, без обеспечения, без комиссий,
                                    с возможностью досрочного погашения. Кредит предоставляется физическим лицам,
                                    достигшим 18 лет, при предъявлении паспорта. Банк оставляет за собой право отказать
                                    в предоставлении кредита без объяснения причин. Магазины розничной сети &laquo;Мебель
                                    Шара&raquo; самостоятельно предоставляют покупателю скидку в размере 7,9% от
                                    первоначальной цены товара (включая&nbsp;копейки), что обеспечивает отсутствие
                                    удорожания товара по сравнению с первоначальной ценой товара без скидки, при
                                    условии, что дополнительные услуги банка не приобретаются. За неисполнение
                                    обязательств по возврату кредита / процентов взимается неустойка - 20 %
                                    годовых.<br/>
                                    В акции участвуют акционные товары, товары со скидкой, скидки суммируются. При
                                    погашении кредита через третьих лиц взимается комиссия согласно их тарифам. Срок
                                    проведения акции в магазинах розничной сети &laquo;Мебель Шара&raquo; и
                                    интернет-магазине с 01.02.2019 г. по 28.02.2019 г.&nbsp;Организатор Акции ООО
                                    &laquo;Мебель Шара&raquo; ИНН/КПП 5751056895/575101001 ОРГН 1155749008007, Адрес:
                                    302011, Россия, г. Орел, Новосильское шоссе, 11.&nbsp;<br/>
                                    &nbsp;</p>
                            </div>
                        </div>
                    </div><!--END блок №6--Название TextBlock-->
                    <!--Новый блок №7--Название TextBlock-->
                    <div class="row col-12 left TextBlock" style="margin-bottom: 0px; margin-top: 0px;"
                         id="uniq_5c54790b75d4b">
                        <div class="left_container TextBlock_container" style="left: 105px;">


                            <div style="color: rgb(102,102,102);"><p style="text-align:center">&nbsp;</p>

                                <p style="text-align:center"><span style="font-family:Arial,Helvetica,sans-serif"><span
                                    style="font-size:18px"><span style="color:black"><span
                                    style="background-color:null">Правила проведения акции</span></span></span></span>
                                </p>
                            </div>
                        </div>
                    </div><!--END блок №7--Название TextBlock-->
                    <!--Новый блок №8--Название TextBlock-->
                    <div class="row col-12 left TextBlock" style="margin-bottom: 0px; margin-top: 0px;"
                         id="uniq_5c54790b75e21">
                        <div class="left_container TextBlock_container" style="left: 105px;">


                            <div style="color: rgb(51,51,51);"><p><span style="font-size:12pt"><span
                                style="font-family:Calibri,sans-serif">Акция &laquo;Мега рассрочка 0-0-24&raquo; проводится в рамках предоставляемого Банком партнером кредитного продукта &laquo;0-0-24 new&raquo;</span></span>
                            </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Условия кредитного продукта &laquo;0-0-24 new&raquo;:</span></span>
                                </p>

                                <ul>
                                    <li>Ассортимент товаров &ndash; вся мебель, кроме встроенной техники</li>
                                    <li><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Сумма кредита:&nbsp;от 2 000 до 300 000 руб;</span></span>
                                    </li>
                                    <li><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Первоначальный взнос: 0%;</span></span>
                                    </li>
                                    <li><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Процентная ставка: &nbsp;8,03% годовых. </span></span>
                                    </li>
                                    <li><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Срок кредита: 24 месяца</span></span>
                                    </li>
                                </ul>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Кредит предоставляется Банком партнёром АО &laquo;ОТП Банк&raquo;, Лицензия ЦБ РФ на осуществление банковских операций №2766 от 27.11.2014 г. </span></span>
                                </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Банк оставляет за собой право отказать в предоставлении кредита без объяснения причин. </span></span>
                                </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Магазины розничной сети &laquo;Мебель Шара&raquo; самостоятельно предоставляют покупателю скидку в размере 7,9% от первоначальной цены товара (включая копейки), что обеспечивает отсутствие удорожания товара по сравнению с первоначальной ценой товара без скидки, при условии, что дополнительные услуги банка не приобретаются. </span></span>
                                </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">В акции участвуют акционные товары, товары со скидкой, скидки суммируются. При погашении кредита через третьих лиц взимается комиссия согласно их тарифам. </span></span>
                                </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Досрочное погашение на условиях Банка. Срок проведения акции в магазинах розничной сети &laquo;Мебель Шара&raquo; с 01.02.2019 г. по 28.02.2019 г. </span></span>
                                </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Перечень товаров, подробности приобретения товаров в кредит в рамках акции уточняйте у продавцов &ndash; консультантов магазинов розничной сети &laquo;Мебель Шара&raquo; и на сайте mebelshara.ru. </span></span>
                                </p>

                                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">Организатор Акции ООО &laquo;Мебель Шара&raquo; ИНН/КПП 5751056895/575101001 ОРГН 1155749008007, Адрес: 302011, Россия, г. Орел, Новосильское шоссе, 11.</span></span>
                                </p>
                            </div>
                        </div>
                    </div><!--END блок №8--Название TextBlock-->

                </div>
            </div>
        </div>
    </div>
</div>
