<template>
    <vu-modal>
        <div slot="header">
            Заполните анкету, чтобы мы могли пригласить Вас на собеседование
        </div>

        <ms-employee-form :city_id="city_id" :vacancy_id="vacancy_id"></ms-employee-form>
    </vu-modal>
</template>

<script>
    import MsEmployeeForm from './MsEmployeeForm'

    export default {
        name: "MsEmployeeModel",

        props: {
            city_id: null,
            vacancy_id: null
        },

        components: {
            MsEmployeeForm
        }
    }
</script>
