<template>
    <div>
        <div>
            <p>
                Для обратной связи по Вашему отзыву просим указывать верные контактные данные. В течение двух рабочих
                дней на почту. Вы получите ответ от службы поддержки клиентов.
            </p>
        </div>
        <div class="f-group-2" :class="{  error: errors.has('last_name') }">
            <input :class="{ active: activeLastname }"
                   @blur="activeClass.last_name = false"
                   @focus="activeClass.last_name = true"
                   name="last_name"
                   type="text"
                   v-model="model.last_name"
                   v-validate="'required'">
            <label>Фамилия</label>
            <div class="error-message" v-if="errors.has('last_name')">{{ errors.first('last_name') }}</div>
        </div>
        <div class="f-group-2" :class="{  error: errors.has('first_name') }">
            <input :class="{ active: activeName }"
                   @blur="activeClass.first_name = false"
                   @focus="activeClass.first_name = true"
                   name="first_name"
                   type="text"
                   v-model="model.first_name"
                   v-validate="'required'">
            <label>Имя</label>
            <div class="error-message" v-if="errors.has('first_name')">{{ errors.first('first_name') }}</div>
        </div>
        <div class="f-group-2" :class="{  error: errors.has('middle_name') }">
            <input :class="{ active: activeMiddlename }"
                   @blur="activeClass.middle_name = false"
                   @focus="activeClass.middle_name = true"
                   name="middle_name"
                   type="text"
                   v-model="model.middle_name"
                   v-validate="'required'">
            <label>Отчество</label>
            <div class="error-message" v-if="errors.has('middle_name')">{{ errors.first('middle_name') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('birth_date') }">
            <input name="birth_date"
                   hidden
                   type="text"
                   v-model="model.birth_date"
                   v-validate="'required'">
            <label>Дата рождения</label>
        </div>
        <div class="f-group-2"  :class="{  error: errors.has('birth_date') }">
            <div>Дата рождения</div>
            <div class="f-group">
                <datepicker name="birth_date"
                            :minimumView="'day'" :maximumView="'year'" :initialView="'year'"
                            :input-class="{ active: activeBirthdate }"
                            :format="'dd.MM.yyyy'"
                            v-model="birthdate"></datepicker>
            </div>
            <div class="error-message" v-if="errors.has('birth_date')">{{ errors.first('birth_date') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('citizenship') }">
            <input :class="{ active: activeNationality }"
                   @blur="activeClass.citizenship = false"
                   @focus="activeClass.citizenship = true"
                   name="citizenship"
                   type="text"
                   v-model="model.citizenship"
                   v-validate="'required'">
            <label>Гражданство</label>
            <div class="error-message" v-if="errors.has('citizenship')">{{ errors.first('citizenship') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('phone') }">
            <input :class="{ active: activePhone }"
                   @blur="activeClass.phone = false"
                   @focus="activeClass.phone = true"
                   name="phone"
                   type="text"
                   v-model="model.phone"
                   v-validate="'required|phone'"
                   v-phone-mask>
            <label>Телефон</label>
            <div class="error-message" v-if="errors.has('phone')">{{ errors.first('phone') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('education') }">
            <input :class="{ active: activeEducation }"
                   @blur="activeClass.education = false"
                   @focus="activeClass.education = true"
                   name="education"
                   type="text"
                   v-model="model.education"
                   v-validate="'required'">
            <label>Образование</label>
            <div class="error-message" v-if="errors.has('education')">{{ errors.first('education') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('email') }">
            <input :class="{ active: activeEmail }"
                   @blur="activeClass.email = false"
                   @focus="activeClass.email = true"
                   name="email"
                   type="text"
                   v-model="model.email"
                   v-validate="'email'">
            <label>Ел. адрес</label>
            <div class="error-message" v-if="errors.has('email')">{{ errors.first('email') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('specialty') }">
            <input :class="{ active: activeSpecialty }"
                   @blur="activeClass.specialty = false"
                   @focus="activeClass.specialty = true"
                   name="specialty"
                   type="text"
                   v-model="model.specialty"
                   v-validate="'required'">
            <label>Специальность</label>
            <div class="error-message" v-if="errors.has('specialty')">{{ errors.first('specialty') }}</div>
        </div>


        <div class="f-group-2" :class="{  error: errors.has('experience') }">
            <textarea :class="{ active: activeExperience }"
                      @blur="activeClass.experience = false"
                      @focus="activeClass.experience = true"
                      name="experience"
                      v-model="model.experience">
            </textarea>
            <label>Опыт работы</label>
            <div class="error-message" v-if="errors.has('experience')">{{ errors.first('experience') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('additional_information') }">
            <textarea :class="{ active: activeText }"
                      @blur="activeClass.additional_information = false"
                      @focus="activeClass.additional_information = true"
                      name="additional_information"
                      v-model="model.additional_information">
            </textarea>
            <label>Дополнительные сведения</label>
            <div class="error-message" v-if="errors.has('additional_information')">{{ errors.first('additional_information') }}</div>
        </div>

        <div class="f-group-2" :class="{  error: errors.has('isAccepted') }">
            <input id="isAccepted"
                   type="checkbox"
                   name="isAccepted"
                   v-model="isAccepted"
                   v-validate="'required'">
            <label for="isAccepted">
                Ставя отметку, я подтверждаю согласие на обработку моих персональных данных в соответствии с
                <a href="/storage/app/media/documents/privacy_policy.pdf" target="_blank">
                    политикой конфиденциальности
                </a>
            </label>
            <div class="error-message" v-if="errors.has('isAccepted')">{{ errors.first('isAccepted') }}</div>
        </div>

        <div>
            <button class="btn-1 submit"
                    :class="{ disabled: loading }"
                    @click="onSubmit">Отправить
            </button>
        </div>
    </div>
</template>

<script>
    import phoneMask from '@/support/phoneMask'
    import Datepicker from '@/plugins/datePicker'

    export default {
        name: "MsEmployeeForm",

        mixins: [phoneMask],
        components:{Datepicker},
        props: {
            city_id: null,
            vacancy_id: null
        },

        data: () => ({
            loading: false,
            isAccepted: false,
            activeClass: {
                first_name: '',
                last_name: '',
                middle_name: '',
                birth_date: '',
                citizenship: '',
                education: '',
                specialty: '',
                email: '',
                phone: '',
                additional_information: '',
                experience: ''
            },
            model: {
                first_name: '',
                last_name: '',
                middle_name: '',
                birth_date: '',
                citizenship: '',
                education: '',
                specialty: '',
                email: '',
                phone: '',
                additional_information: '',
                experience: ''
            }
        }),

        computed: {
            birthdate: {
                get(){
                    return this.model.birth_date
                },
                set(value){
                    this.model.birth_date = this.formatToString(value)
                }
            },
            activeName () {
                return this.activeClass.first_name || this.model.first_name.length > 0
            },

            activeLastname () {
                return this.activeClass.last_name || this.model.last_name.length > 0
            },

            activeMiddlename () {
                return this.activeClass.middle_name || this.model.middle_name.length > 0
            },

            activeExperience () {
                return this.activeClass.experience || this.model.experience.length > 0
            },

            activeSpecialty () {
                return this.activeClass.specialty || this.model.specialty.length > 0
            },

            activeEducation () {
                return this.activeClass.education || this.model.education.length > 0
            },

            activeNationality () {
                return this.activeClass.citizenship || this.model.citizenship.length > 0
            },

            activeBirthdate () {
                return this.activeClass.birth_date || this.model.birth_date.length > 0
            },

            activeEmail () {
                return this.activeClass.email || this.model.email.length > 0
            },

            activePhone () {
                return this.activeClass.phone || this.model.phone.length > 0
            },

            activeContractNumber () {
                return this.activeClass.contractNumber || this.model.contractNumber.length > 0
            },

            activeText () {
                return this.activeClass.additional_information || this.model.additional_information.length > 0
            },
        },

        methods: {
            formatToString(value){
                return `${value.getDate()}.${value.getMonth()}.${value.getFullYear()}`;
            },
            async onSubmit () {
                this.loading = true

                if (await this.$validator.validateAll()) {
                    const data = {
                        first_name: this.model.first_name,
                        last_name: this.model.last_name,
                        middle_name: this.model.middle_name,
                        birth_date: this.model.birth_date,
                        citizenship: this.model.citizenship,
                        education: this.model.education,
                        specialty: this.model.specialty,
                        email: this.model.email,
                        phone: this.model.phone.replace(/\D+/ig, ''),
                        additional_information: this.model.additional_information,
                        experience: this.model.experience,
                        'is_accept' : this.isAccepted,
                        'city_id' : this.city_id,
                        'vacancy_id' : this.vacancy_id
                    }

                    const response = await this.$apiClient.$post('/vacancies', data)

                    this.$modals.close()
                }

                this.loading = false
            }
        },
    }
</script>

<style scoped>
    .submit {
        width: 100%;
    }
</style>
