<template>
    <div>
        <div class="city-celect">

            <span class="city-label">Ваш город</span>

            <div class="select js-select">
                <div class="selected">Выберите</div>

                <div class="dropdown-list">
                    <div class="dropdown-list-item"
                         v-for="city in availableCities"
                         @click="citySelect(city)" :key="city.id">{{ city.name }}</div>
                </div>
            </div>
        </div>

        <ms-employee-list v-if="currentCity" :vacancies="vacanciesList" :city="currentCity"></ms-employee-list>
    </div>
    </template>

<script>
    import MsEmployeeList from '@/components/Employee/MsEmployeeList'
    import expandBlock from '@/nativeListeners/expandBlock'


    export default {
        name: "MsEmployeeCities",
        components: {MsEmployeeList},
        props: {
            availableCities: {},
        },
        data: ()=>({
            vacanciesList: null,
            currentCity: null
        }),
        methods:{
            async citySelect(city){
                this.currentCity = city;
                try {
                    const response = await this.$apiClient.$get(`/vacancies/${city.id}`)
                    this.vacanciesList = response

                    this.$nextTick(() => {
                        expandBlock()
                    })
                } catch (e){
                    console.error(e)
                }
            }
        }
    }
</script>

<style scoped>

</style>