<template>
    <div>
        <div class="vacancies-list" v-for="vacancy in vacancies" :key="vacancy.id">

            <div class="expand-block top-border">
                <div class="expand-block-header">
                    <h4> {{ vacancy.name }} </h4>
                    <div class="expand-block-header-btn js-ex-btn"></div>
                </div>

                <div class="expand-block-content">
                    <div class="expand-block-content-inner">

                        <h4>Обязанности:</h4>
                        <p v-html="vacancy.duties"> {{ vacancy.duties }}</p>

                        <h4>Условия:</h4>
                        <p v-html="vacancy.conditions">{{ vacancy.conditions }}</p>

                        <h4>Требования:</h4>
                        <p  v-html="vacancy.conditions">{{ vacancy.demands }}</p>

                        <div class="respond">
                            <button class="btn-1" @click="buttonClick(vacancy.id)">Откликнтуться</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '@/plugins/eventBus'

    export default {
        name: "MsEmployeeList",
        props: {
            city: {},
            vacancies: {}
        },
        methods:{
            buttonClick(vacancyId){
                EventBus.$emit('employee.modal', this.city.id, vacancyId);
            }
        }
    }
</script>

<style scoped>

</style>