
.image-modal
  height calc(100% - 160px)
  width calc(100% - 160px)
  padding 40px
  top 50%
  transform translate(-50%, -50%) !important

  .image-modal-title
    @extend .head-text-2
    margin-bottom 34px
    font-weight bold

  .vu-modal__cmp-body
    height calc(100% - 61px) !important // 61px - title height

  .swiper-wrapper
  .gallery-popup-slider-container
  .gallery-popup-slider
  .swiper-slide
  .swiper-slide-active
    height 100% !important
    max-height 100%

  .gallery-popup-slider-container
    display flex

    .sw-button-next
    .sw-button-prev
      position absolute
      top 50%
      display block
      width 43px
      height @width
      margin-top - ( @height / 2 )
      border-radius 50%
      background #fff no-repeat center
      border 1px solid #fff
      transition .3s
      z-index 10
      cursor pointer

      &:hover
        background-color accent-color
        border-color accent-color

    .sw-button-prev
      background-image url("../images/icons/left_g.svg")
      background-position 47% 50%
      left 44px

      &:hover
        background-image url("../images/icons/arrow_left_white.svg")

    .sw-button-next
      background-image url("../images/icons/right_g.svg")
      background-position 53% 50%
      right 44px
      left initial

      &:hover
        background-image url("../images/icons/arrow_right_white.svg")

    .gallery-popup-slider
      flex 1

      .swiper-slide
        display flex
        justify-content center
        align-items center

        img
          max-height 100%
          align-self center


    .gallery-popup-slider-nav-wrap
      width 92px
      margin-left 40px
      align-self center
      overflow hidden
      height 367px
      max-height 100%

      .gallery-popup-slider-nav
        height 367px
        max-height 100%

        .swiper-slide
          flex-basis 63px
          border 1px solid light-grey
          border-radius 4px
          padding 6px
          cursor pointer
          margin-bottom 8px
          display flex
          align-items center
          justify-content center

          img
            display block
            max-height 100%

          &.video
            position relative

            .play-btn
              position absolute
              top 50%
              left 50%
              transform translate(-50%, -50%)

        .swiper-slide-thumb-active
          border 1px solid accent-color