<div class="modal-header">
    <button type="button" class="close-outer rotate-close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Заказ в один клик</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="order-done">
                <p>Заказ успешно оформлен.</p>
                <p>Мы свяжемся с Вами в ближайшее время.</p>
            </div>
        </div>
    </div>
</div>