<form class="js-quick_order_form" data-id="">
    <div class="modal-header">
        <button type="button" class="close-outer rotate-close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Заказ в один клик</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" name="user_name">
                    <div class="error-block"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Номер телефона</label>
                    <input type="text" class="form-control" name="tel">
                    <div class="error-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Купить</button>
    </div>
</form>