<div data-control="toolbar">

    <a
        data-control="popup"
        data-size="huge"
        data-handler="onRelationButtonCreate"
        href="javascript:;"
        class="btn btn-sm btn-primary oc-icon-file">
        Создать
    </a>

    <?php if ($relationViewMode == 'single'): ?>
        <button
                class="btn btn-sm btn-secondary oc-icon-trash-o"
                data-request="onRelationButtonDelete"
                data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
                data-stripe-load-indicator>
            Удалить
        </button>
    <?php else: ?>
        <button
                class="btn btn-sm btn-secondary oc-icon-trash-o"
                onclick="$(this).data('request-data', {
                    checked: $('#<?= $this->relationGetId('view') ?> .control-list').listWidget('getChecked')
                })"
                disabled="disabled"
                data-request="onRelationButtonDelete"
                data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
                data-trigger-action="enable"
                data-trigger="#<?= $this->relationGetId('view') ?> .control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-stripe-load-indicator>
            Удалить
        </button>
    <?php endif ?>

    <button
            id="updatePosition"
            class="btn btn-sm btn-reorder oc-icon-list-ol"
            onclick="$(this).data('request-data', {
            checked: $('.index_reposition').map(function(){  return $(this).val() }).get(), model_id: <?php echo $this->formGetModel()->id; ?>
        })"
            data-request-success="initializeSorting();"
            data-request="onUpdatePosition"
            data-stripe-load-indicator>
        Сортировать
    </button>
</div>
