<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('luckyweb/ms/promoblocks') ?>">Блоки</a></li>
        <li>Редактирование</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Сохранение..."
                    class="btn btn-primary">
                    Сохранить
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Сохранение..."
                    class="btn btn-default">
                    Сохранить и закрыть
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Удаление..."
                    data-request-confirm="Вы действительно хотите удалить блок?">
                </button>
                <span class="btn-text">
                    или <a href="<?= Backend::url('luckyweb/ms/promoblocks') ?>">Отмена</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('luckyweb/ms/promoblocks') ?>" class="btn btn-default">Return to promo blocks list</a></p>

<?php endif ?>