<template>
    <div @keyup.enter.prevent="onSubmitCard">

        <div class="form-text">
            <p>Чтобы активировать Вашу бонусную карту, заполните поля ниже</p>
        </div>
        <div class="f-group-2" :class="{'error' : errors.has('card')}">
            <input :class="[activeCardClass]"
                   @blur="onBlur('activeCardClass', 'card')"
                   @focus="activeCardClass='active'"
                   v-validate="'required'"
                   id="card"
                   name="card"
                   pattern="[0-9]*"
                   type="text"
                   v-focus
                   data-vv-as=" "
                   v-model="card">
            <label for="card">Номер карты </label>
            <div class="error-message" v-if="errors.has('card')">{{errors.first('card')}}</div>
        </div>

        <div class="f-group-2" :class="{'error' : errors.has('cardPin')}">
            <input :class="[activeCardPINClass]"
                   @blur="onBlur('activeCardPINClass', 'cardPin')"
                   @focus="activeCardPINClass='active'"
                   v-validate="'required|digits:4'"
                   id="cardPin"
                   name="cardPin"
                   pattern="[0-9]*"
                   type="text"
                   v-numbers-only
                   data-vv-as=" "
                   v-model="cardPin">
            <label for="cardPin">PIN код </label>
            <div class="error-message" v-if="errors.has('cardPin')">{{errors.first('cardPin')}}</div>
        </div>

        <button class="btn-1" @click="onSubmitCard">Активировать</button>

        <div class="form-bottom">
            <p>Нет бонусной карты? <a href="#" @click="backToRegistration">Зарегистрируйтесь</a></p>
        </div>

    </div>
</template>

<script>
    import {getValidationErrors} from '@/support/errors'
    import mixinHelper from '../mixinHelper'

    export default {
        name: "CardActivationForm",
        mixins: [mixinHelper],
        data: ()=> ({
            activeCardClass:'',
            activeCardPINClass:'',
            cardPin: '',
            card: ''
        }),
        directives:{
            focus: {
                inserted: function (el) {
                    el.focus()
                }
            }
        },
        methods: {
            async sendCode(sign){
                this.$emit('change-step', {step: 'CardCreatePassword' ,params: { sign }} );
            },
            async onSubmitCard(){
                if (await this.$validator.validateAll()) {
                    try {
                        const response = await this.$apiClient.post('/card-activation/attempt', {
                            card_code: this.card,
                            card_pin: this.cardPin
                        })

                        this.sendCode(response.data.data.sign);
                    } catch (e) {

                        if(e){
                            this.errors.add(getValidationErrors(e.response.data.errors, this.errors));
                        } else {
                            this.$notify({
                                group:  'error',
                                type:   'error',
                                title:  'Ошибка',
                                text:   'Ой, произошла какая-то ошибка :( Попробуйте позже'
                            });
                        }
                        console.error(e);
                    }
                }
            },
            async backToRegistration(){
                this.$emit('change-step', {step: 'RegistrationForm' });
            },
        }
    }
</script>
