.category-nav
  margin-bottom 18px

  &-item
    width 120px
    height 135px

    a
      display block
      width 100%
      height 100%
      border-radius 4px
      border 1px solid light-grey

      &.active
      &:hover
        background-color light-grey

      .category-icon
        height 80px
        display flex
        justify-content center
        align-items flex-end
        padding-bottom 12px

      .category-name
        font-size 12px
        line-height 14px
        margin 0 16px
        text-align center
