.account
  display flex
  flex-wrap wrap

  .account-page
    flex 1
    margin-right 64px

    .account-header
      padding 24px 0 34px

      > *
        margin 0

  .account-sidebar
    margin-top 32px

  ul
    padding 0

    li
      list-style none

  @import "_media.styl"

  @import "_personal_data/personal_data.styl"
  @import "_promo_codes/promo_codes.styl"
  @import "_bonuses/_bonuses.styl"
  @import "_sidebar/sidebar.styl"
  @import "_orders_history/order_history.styl"
