<template>
    <div @keyup.enter.prevent="submitPassword">
        <div class="f-group-2" :class="{'error' : errors.has('password')}">
            <input :class="[activePasswordClass]"
                   @blur="onBlur('activePasswordClass', 'password')"
                   @focus="activePasswordClass='active'"
                   v-validate="{ required: true, min:8 }"
                   data-vv-as="паролем"
                   ref="password"
                   id="password"
                   name="password"
                   type="password"
                   v-focus
                   v-model="password">
            <label for="password">Пароль</label>
            <div class="error-message" v-if="errors.has('password')">{{errors.first('password')}}</div>
        </div>
        <div class="f-group-2" :class="{'error' : errors.has('password_confirmation')}">
            <input :class="[activePasswordConfirmationClass]"
                   @blur="onBlur('activePasswordConfirmationClass', 'password_confirmation')"
                   @focus="activePasswordConfirmationClass='active'"
                   v-validate="{ required: true, is: password }"
                   v-model="password_confirmation"
                   name="password_confirmation"
                   id="password_confirmation"
                   type="password"
                   data-vv-as=" ">
            <label for="password_confirmation">Повторите пароль</label>
            <div class="error-message" v-if="errors.has('password_confirmation')">{{errors.first('password_confirmation')}}</div>
        </div>

        <button class="btn-1" @click="submitPassword">{{nameBtn}}</button>
    </div>
</template>

<script>
    import forEach from 'lodash/forEach'
    import mixinHelper from '../mixinHelper'

    export default {
        name: "SetPassword",
        mixins: [mixinHelper],
        props: {
            customErrors: {
                type: Array,
                default: () => ([])
            },
            nameBtn: {
                type: String,
                default: () => ('Войти'),
            }
        },
        data: () => ({
            activePasswordClass: '',
            activePasswordConfirmationClass: '',
            password: '',
            password_confirmation: ''
        }),
        methods: {
            async onBlur(activeClass, field){
                this[activeClass] = this[field].length > 0 ? "active" : ""
            },
            async submitPassword() {
                if (await this.$validator.validateAll()) {
                    this.$emit('submit', {
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    })
                }

            }
        },
        directives:{
            focus: {
                // directive definition
                inserted: function (el) {
                    el.focus()
                }
            }
        },
        watch: {
            customErrors(errors) {
                forEach(errors, error =>this.errors.add(error))
            }
        },
        mounted() {
            this.$validator.localize('ru', {
                custom: {
                    password_confirmation: {
                        is: 'Пароль не совпадает'
                    }
                }
            });
        }
    }
</script>