<template>
    <div @keyup.enter.prevent="codeValidation">

        <div class="form-text">
            <p>Введите код из смс который мы вам отправили на номер <strong>{{phone}}</strong>. Ожидайте смс в течении минуты </p>
        </div>

        <div class="f-group-2" :class="{'error' : errors.has('code')}">
            <input :class="[activeCodeClass]"
                   @blur="onBlur('activeCodeClass', 'code')"
                   @focus="activeCodeClass='active'"
                   v-validate="{ required: true, digits:4 }"
                   data-vv-as=" "
                   id="code"
                   v-focus
                   name="code"
                   v-numbers-only
                   type="text"
                   v-model="code">
            <label for="code">PIN:</label>
            <div class="error-message" v-if="errors.has('code')">{{errors.first('code')}}</div>
        </div>

        <button class="btn-1" @click="codeValidation">Продолжить</button>

        <div class="form-bottom">
            <a href="#" @click="resendCode">Я не получил код</a>
        </div>

    </div>
</template>


<script>
    import forEach from 'lodash/forEach'
    import mixinHelper from '../mixinHelper'

    export default {
        name: "ValidateCodeForm",
        mixins: [mixinHelper],
        props: {
            customErrors: {
                type: Array,
                default: () => ([])
            },
            phone: {
                type: String,
                default:    ''
            }
        },
        data: () => ({
            code: '',
            activeCodeClass:'',
        }),
        directives: {
            focus: {
                // directive definition
                inserted: function (el) {
                    el.focus()
                }
            }
        },
        methods:{
            async resendCode(){
                    this.$emit('resendCode');
            },
            async codeValidation(){
                if (await this.$validator.validateAll()) {
                    this.$emit('submitCode', this.code);

                }
            }
        },
        watch: {
            customErrors(errors) {
                forEach(errors, error =>this.errors.add(error))
            }
        }
    }
</script>