<div class="row">

    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="m-b-30 m-t-30">Введите номер карты и PIN-код</h1>
            </div>
        </div>

        <form class="js-card_form">
            <section class="block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="floating">
                                <input class="css-text" name="card_code" maxlength="12">
                                <label>Номер карты</label>
                                <div class="warning-block inline">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="floating m-b-0">
                                <input class="css-text" name="card_pin" type="password" maxlength="4">
                                <label>PIN-код</label>
                                <div class="warning-block inline">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="action">Дальше</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script>$(function(){normalizeModal();});</script>
