<div class="row">

    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

        <div class="row m-b-20">
            <div class="col-md-12">
                <div class="modal-message-icon">
                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="row m-b-30">
            <div class="col-md-12 modal-message-text">
                <h1 class="m-b-10">Внимание!</h1>
                <p>Пользователь с таким номером карты уже зарегистрирован. Войдите или пройдите регистрацию с другим номером карты.</p>
            </div>
        </div>

        <div class="row m-b-15">
            <div class="col-sm-12">
                <a href="#" class="action js-signin_button">Войти</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="action js-signup_button">Зарегистрироваться</a>
            </div>
        </div>
    </div>

</div>

<script>$(function(){normalizeModal();});</script>