<div class="row">

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="row m-b-30">
            <div class="col-md-12">
                <h1>Для регистрации в личном кабинете получите бонусную карту в ближайшем салоне Мебель Шара</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <a href="{{ 'address'|page }}" class="action">Адреса</a>
            </div>
        </div>
    </div>

</div>

<script>$(function(){normalizeModal();});</script>