<div class="row">

    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="row m-b-30">
            <div class="col-md-12">
                <h1>У вас есть бонусная карта Мебель Шара?</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <a href="#" class="action" data-request="onCardForm">Да</a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="action" data-request="onSocialRegistrationForm">Нет</a>
            </div>
        </div>
    </div>

</div>

<script>$(function(){normalizeModal();});</script>