<div class="row">
    <div class="col-md-12">
        <h1 class="m-b-30 m-t-30">Регистрация</h1>
    </div>
</div>

<form class="js-signup_form">
    <section class="banner-form">
        <div class="row">
            <div class="col-md-9">
                <div class="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="floating">
                                <input class="css-text js-cyrCapitalize {{ user.last_name ? 'open' : '' }}" name="last_name" value="{{ user.last_name }}">
                                <label>Фамилия <abbr class="text-danger">*</abbr></label>
                                <div class="warning-block">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating">
                                <input class="css-text js-cyrCapitalize {{ user.name ? 'open' : '' }}" name="name" value="{{ user.name }}">
                                <label>Имя <abbr class="text-danger">*</abbr></label>
                                <div class="warning-block">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="floating">
                                <input class="css-text {{ user.email ? 'open' : '' }}" name="email" value="{{ user.email }}">
                                <label>Email <abbr class="text-danger">*</abbr></label>
                                <div class="warning-block">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating">
                                <input class="css-text {{ user.phone ? 'open' : '' }}" name="phone" value="{{ user.phone|phoneEdit }}">
                                <label>Телефон <abbr class="text-danger">*</abbr></label>
                                <div class="warning-block">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="floating">
                                <input class="css-text" type="password" name="password">
                                <label>Пароль <abbr class="text-danger">*</abbr></label>
                                <div class="warning-block">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating">
                                <input class="css-text" type="password" name="password_confirmation">
                                <label>Подтверждение пароля <abbr class="text-danger">*</abbr></label>
                                <div class="warning-block">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox-group">
                                <label class="css-checkbox">
                                    <input type="checkbox" name="policy_accept" value="1"><span></span>
                                    Я принимаю <a href="{{ 'documents/privacy_policy.pdf'|media }}" target="_blank">политику конфиденциальности <abbr class="text-danger">*</abbr></a>
                                    <div class="warning-block">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                        <span></span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p>* - поля обязательные к заполнению.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="banner">
                    <p><b>При регистрации Личного Кабинета, просим Вас указывать реальные данные</b></p>
                    <p>Адрес электронной почты необходим, чтобы Вы всегда были в курсе всех акций и статусов Ваших заказов.</p>
                    <p>Номер телефона необходим, чтобы в день доставки с Вами мог связаться наш курьер. Так же, по Вашему желанию, Вам могут приходить смс уведомления о текущих акциях и специальных предложениях.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="action">Дальше</button>
        </div>
    </div>

</form>

<script>
    $(function(){
        normalizeModal();
          $(".banner-form [name='phone'],[name='viber'],[name='whatsapp'],[name='telegram']").inputmask({mask: '+7(999) 999-99-99', showMaskOnHover: false});
        $("[name='birth_date']").inputmask({mask: '99.99.9999', showMaskOnHover: false});
        SignUp.initFullNameFields();
    });
</script>
