<div class="row">

    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <form class="js-signup_form">
        <div class="social-register">

            <div class="row">
                <div class="col-md-12 m-b-25 m-t-10">
                    <h1 class="title">Регистрация</h1>
                </div>
            </div>

            <div class="register-buttons">
                <a href="{{ __SELF__.getProviderUrl('facebook') }}" class="fb" title="Facebook">
                    <div class="icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div>
                        <div class="text-btn">Войти через Facebook</div>
                        <div class="desc-btn">Мы не отправляем вам уведомления или публикации</div>
                    </div>
                </a>
                <a href="{{ __SELF__.getProviderUrl('vkontakte') }}" class="vk" title="VKontakte">
                    <div class="icon">
                        <i class="fa fa-vk"></i>
                    </div>
                    <div>
                        <div class="text-btn">Войти через Вконтакте</div>
                        <div class="desc-btn">Мы не отправляем вам уведомления или публикации</div>
                    </div>
                </a>
                <a href="{{ __SELF__.getProviderUrl('google') }}" class="google" title="Google">
                    <div class="google-icon-svg"></div>
                    <div>
                        <div class="text-btn">Войти через Google</div>
                        <div class="desc-btn">Мы не отправляем вам уведомления или публикации</div>
                    </div>
                </a>
            </div>

            <a href="#" class="sign-up-email-btn" data-request="onRegistrationForm">Войти или зарегистрироваться с помощью электронного адреса</a>

            <p class="policy">Я подтверждаю согласие на <a
                    href="{{ 'documents/personal_data.pdf'|media }}?1" class="open_soglasie_personal_data"
                    id="{{ product.slug }}" target="_blank">обработку моих персональных данных</a> в соответствии с
                <a href="{{ 'documents/privacy_policy.pdf'|media }}" class="open_privacy_policy"
                   id="{{ product.slug }}" target="_blank">политикой конфиденциальности</a></p>

        </div>

        </form>
    </div>

</div>

<script>$(function () {
    normalizeModal();
});</script>
