.vacancies

  .banner:not(:first-child)
    margin-top 40px

  .city-celect
    margin-bottom 20px

    .city-label
      margin-right 10px

  .vacancies-list
    border-bottom 1px solid light-grey

    .respond
      margin gutter 0

    .expand-block

      &.active

        .expand-block-content
          max-height 1000px