<h1>Акции</h1>

<div class="shares">

    <div class="grid shares-grid">


        {% for share in __SELF__.shares %}
        <div class="col sc-992-6 sc-1366-4 sc-1440-4 share">

            <a href="{{share.link }}" class="share-banner">
                <img src="{{ share.image.getThumb(350, null) }}" alt="{{ share.name }}">
            </a>

            <!--todo-->
            <!--<div class="share-dates">10.05.2019 - 31.05.2019</div>-->

            <div class="share-description">{{ share.name }}</div>

            <div class="share-detail">

                <!--todo-->
                <!--<div class="countdown size-2">-->
                    <!--<div class="days">00</div>-->
                    <!--<div class="hours">00</div>-->
                    <!--<div class="minutes">00</div>-->
                    <!--<div class="seconds">00</div>-->
                <!--</div>-->

                <a href="{{share.link }}" class="btn-1">Подробней</a>

            </div>

        </div>
        {% endfor %}

    </div>

</div>
