{% if share.type_id == 1 %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ share.name }}</h4>
        </div>
        <div class="modal-body">
            {{ share.text|raw }}
        </div>
    </div>
</div>
{% elseif share.type_id == 3 %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ share.name }}</h4>
        </div>
        <div class="modal-body">
            <img src="{{ share.popup_image.getPath() }}" alt="{{ share.name }}">
        </div>
    </div>
</div>
{% endif %}