{% if __SELF__.availableCities %}

{% set cities = __SELF__.jsonCities %}

<div class="vacancies">

    <div class="banner">
        <img src="/themes/shara/assets/images/modern/banners/work/people.jpg" alt="">
    </div>

    <ms-employee-cities :available-cities="{{ cities }}"></ms-employee-cities>

    <h2>Работа в сети «Мебель Шара»</h2>

    <ul>
        <li>
            <p>Становясь частью нашей команды, Вы получаете стабильную работу в молодой стремительно растущей
                Компании.
                Перед Вами откроются огромные возможности, которые позволят, как просто зарабатывать хорошие деньги,
                так
                и построить головокружительную карьеру, ведь стремительный рост нашей Компании постоянно открывает
                множество новых вакансий.</p>
        </li>
        <li>
            <p>Одно из главных преимуществ компании «Мебель Шара» - это возможность постоянного обучения. С первых
                дней
                работы в Компании Вы будете участвовать в различных адаптационных программах: например,
                познакомитесь с
                ценностями Компании и с основами ее корпоративной культуры. Кроме того, Вы пройдете целый ряд
                обучающих
                тренингов высочайшего класса, которые самым непосредственным образом связаны с Вашей работой.</p>
        </li>
        <li>
            <p>Один из принципов управления персоналом в «Мебель Шара» - продвижения собственных сотрудников. У всех
                сотрудников абсолютно равные шансы подняться по крьерной лестнице.</p>
        </li>
        <li>
            <p>Компания «Мебель Шара» уже заработала на рынке труда имидж привлекательного работодателя,
                предоставляя
                своим работникам честные, открытые рабочие взаимоотношения и реальную возможность заработать.</p>
        </li>
        <li>
            <p>Многие сотрудники, узнавая нашу компанию, приводят за собой родственников и друзей. У нас формируется
                по-настоящему семейная атмосфера, люди трудятся у нас в прямом смысле семьями! </p>
        </li>
    </ul>

    <div class="banner">
        <img src="/themes/shara/assets/images/modern/banners/work/people3.jpg" alt="">
    </div>
</div>
{% endif %}