<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Заполните анкету, чтобы мы могли пригласить Вас на собеседование</h4>
</div>
<div class="modal-body">
    <form class="text-left">
        <input type="hidden" name="vacancy_id" value="{{ vacancy.id }}">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='control-label' for="last_name">Фамилия <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="last_name" class="form-control" placeholder="Фамилия">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='control-label' for="first_name">Имя <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="first_name" class="form-control" placeholder="Имя">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='control-label' for="middle_name">Отчество</label>
                    <input type="text" name="middle_name" class="form-control" placeholder="Отчество">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label' for="birth_date">Дата рождения <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="birth_date" class="form-control js-masked-date" placeholder="Дата рождения">
                </div>
                <div class="form-group">
                    <label class='control-label' for="phone">Контактный телефон <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="phone" class="form-control js-phone" placeholder="Контактный телефон">
                </div>
                <div class="form-group">
                    <label class='control-label' for="email">Email</label>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class='control-label' for="experience">Опыт работы</label>
                    <textarea name="experience" class="form-control" rows="4" placeholder="Укажите опыт работы"></textarea>
                </div>
                <div class="form-group">
                    <label class='control-label' for="photo">Прикрепить фото</label>
                    <div class="file-upload js-file_upload">
                        <div class="file-value js-file_value"></div>
                        <div class="file-button">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </div>
                        <input type="file" name="photo" class="form-control">
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label' for="citizenship">Гражданство <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="citizenship" class="form-control" placeholder="Гражданство">
                </div>
                <div class="form-group">
                    <label class='control-label' for="education">Образование <abbr class="text-danger">*</abbr></label>
                    <input type="text" name="education" class="form-control" placeholder="Образование">
                </div>
                <div class="form-group">
                    <label class='control-label' for="specialty">Специальность</label>
                    <input type="text" name="specialty" class="form-control" placeholder="Специальность">
                </div>

                <div class="form-group">
                    <label class='control-label' for="additional_information">Дополнительные сведения</label>
                    <textarea name="additional_information" class="form-control" rows="4" placeholder="Укажите дополнительные сведения"></textarea>
                </div>
                <div class="form-group">
                    <label class='control-label' for="photo">Прикрепить резюме</label>
                    <div class="file-upload js-file_upload">
                        <div class="file-value js-file_value"></div>
                        <div class="file-button">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </div>
                        <input type="file" name="resume" class="form-control">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="form-group checkbox">
                    <label>
                        <input type="hidden" name="is_accept" value="0">
                        <input name="is_accept" type="checkbox" value="1">
                        Ставя отметку, я подтверждаю согласие на обработку моих персональных данных в соответствии с <a href="{{ 'documents/privacy_policy.pdf'|media }}" target="_blank">политикой конфиденциальности</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-lg ms-button-vacancy m-t-15 m-b-15">Отправить</button>
            </div>
        </div>
    </form>
</div>