<!--<div class="vacancies-list">-->

    <!--<div class="expand-block top-border">-->
        <!--<div class="expand-block-header">-->
            <!--<h4> {{ vacancy.name }}</h4>-->
            <!--<div class="expand-block-header-btn js-ex-btn"></div>-->
        <!--</div>-->

        <!--<div class="expand-block-content">-->
            <!--<div class="expand-block-content-inner">-->

                <!--<h4>Обязанности:</h4>-->
                <!--<p>{{ vacancy.duties|raw }}</p>-->

                <!--<h4>Условия:</h4>-->
                <!--<p>{{ vacancy.conditions|raw }}</p>-->

                <!--<h4>Требования:</h4>-->
                <!--<p>{{ vacancy.demands|raw }}</p>-->

                <!--<div class="respond">-->
                    <!--<button class="btn-1">Откликнтуться</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->