.characteristics
  display flex
  flex-wrap wrap
  justify-content space-between

  .product-characteristics-list
    flex 1
    margin-right gutter

    &-items

      & .list-item
        margin-bottom 12px
        display flex

        > div
          flex 1

  .banners
    display flex
    flex-wrap wrap

    > div
      background-color #f2f2f2
      border-radius 4px
      padding 16px
      width 140px
      height @width
      margin-right 8px
      display flex
      align-items center
      justify-content center

      &:last-child
        margin-right 0

      img
        max-height 100%