.page-404-wrap
  margin auto
  margin-top 147px
  display flex
  padding-bottom 100px

  .page-404-col-left
    align-self flex-start
    margin-top 157px
    flex 1
    display flex
    justify-content flex-end
    margin-right 20px

    &-inner
      max-width 330px

    .page-404-title
      @extend .head-text-2
      font-weight bold
      margin-bottom 12px

    .page-404-nav
      margin-top 28px

      &-item
        display inline-flex
        width 66px
        height 44px
        transition .3s
        justify-content center
        align-items center

        &:hover
          background-color light-grey

  .page-404-col-right
    flex 1.4
    display flex
    align-items flex-start
    justify-content flex-end

  @media (max-width 767px)
    flex-direction column
    margin-top 50px

    .page-404-col-left
      order 2
      margin-top 20px