
<div class="page-component-tabs">
    <div class="page-component-tabs-head">
        <div class="tabs-head-elem active">Настольная версия</div>
        <div class="tabs-head-elem">Мобильная версия</div>
    </div>
    <div class="page-component-tabs-holder">
        <div class="page-component-tabs-item active" data-device="desktop">
            <!-- desctop -->
            <div class="page-component-box" data-type="title">
                <p class="page-component-subtitle">Заглавие</p>
                <div class="label">
                    <div class="page-flex-wrap">
                        <div class="pseudo-selector">
                            <select name="captionTagFake" class="pseudo-select-tag" placeholder="Тег&hellip;">
                                <option value="p">&lt;p&gt;</option>
                                <option value="h1">&lt;h1&gt;</option>
                                <option value="h2">&lt;h2&gt;</option>
                                <option value="h3">&lt;h3&gt;</option>
                                <option value="h4">&lt;h4&gt;</option>
                                <option value="h5">&lt;h5&gt;</option>
                                <option value="h6">&lt;h6&gt;</option>
                                <!--<option value="span">&lt;span&gt;</option>
                                <option value="strong">&lt;strong&gt;</option>-->
                            </select>
                            <input name="captionTag" class="pseudo-input-tag" type="text" placeholder="Тег&hellip;" style="width: 85px;" value="p">
                        </div>

                        <input name="title" class="input-text" type="text" placeholder="Текст заглавия&hellip;" value="">
                        <input name="titleColor" class="color-picker" type="text" value="#333333">
                        
                        <span>Текст и цвет заглавия</span>
                    </div>
                    <input name="titleSize" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="14">
                    <span>Размер шрифта</span>
                </div>
                <div>
                    <p class="page-component-subtitle">Выравнивание</p>
                    <label>
                        <input type="radio" name="titleAlign" value="left" checked="checked">
                        <span>Слева</span>
                    </label>
                    <label>
                        <input type="radio" name="titleAlign" value="center">
                        <span>По центру</span>
                    </label>
                    <label>
                        <input type="radio" name="titleAlign" value="right">
                        <span>Справа</span>
                    </label>
                </div>
                <div>
                    <input name="titleLeftPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ слева</span>
                    <input name="titleRightPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ справа</span>
                </div>
            </div>

            <div class="page-component-box" data-type="text">
                <hr>
                <p class="page-component-subtitle">Текст</p>
                <textarea class="textform needCKE" name="ckeditor"></textarea>
                <label>
                    <input type="text" name="titleColor" class="color-picker" value="#333333">
                    <span>Цвет текста</span>
                </label>
                <div>
                    <p class="page-component-subtitle">Выравнивание</p>
                    <label>
                        <input type="radio" name="contentAlign" value="left" checked="checked">
                        <span>Слева</span>
                    </label>
                    <label>
                        <input type="radio" name="contentAlign" value="center">
                        <span>По центру</span>
                    </label>
                    <label>
                        <input type="radio" name="contentAlign" value="right">
                        <span>Справа</span>
                    </label>
                </div>
                <div>
                    <input name="contentLeftPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ слева</span>
                    <input name="contentRightPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ справа</span>
                </div>
                <hr>
            </div>
            <div class="page-component-box" data-type="typeSelector">
                <p class="page-component-subtitle">Выбор типа кнопки</p>
                <label>
                    <input type="radio" class="type_selector" name="type_selector" value="href" >
                    <span>Ссылка</span>
                </label>
                <label>
                    <input type="radio" class="type_selector" name="type_selector" value="text" checked="checked">
                    <span>Текст</span>
                </label>
                <div class="txt_btn_container">
                    <p class="page-component-subtitle">Текст подробнее для кнопки</p>
                    <textarea class="textform needCKE" style="dispaly:none;" name="btn_text"></textarea>
                </div>
            </div>
            <div class="page-component-box" data-type="button">
                <p class="page-component-subtitle">Кнопка</p>
                <label>
                    <input name="buttonCaption" class="input-text" type="text" placeholder="Текст кнопки&hellip;" value="">
                    <input type="text" name="titleColor" class="color-picker" value="#ffffff">
                    <span>Текст и его цвет</span>
                </label>
                
                <div>
                    <input name="buttonLeftPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ слева</span>
                    <input name="buttonRightPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ справа</span>
                </div>

                <label class="href_input" style="display: none;">
                    <input name="buttonLink" class="input-text" type="text" placeholder="Ссылка&hellip;" value="">
                    <span>Ссылка</span>
                </label>
                <label>
                    <input type="text" name="buttonColor" class="color-picker" value="#ed4f20">
                    <span>Цвет кнопки</span>
                </label>
                <label>
                    <input type="text" name="hoverColor" class="color-picker" value="#63c33d">
                    <span>Цвет ховера</span>
                </label>
            </div>

            <div class="page-component-box" data-type="background">
                <p class="page-component-subtitle">Изображение бэкграунда</p>
                <div>
                    <div class="image-preview"></div>
                    <div class="image-control">
                        <input name="backgroundImage" type="file" style="display: none;">
                        <button class="btn btn-primary" type="button" name="fakeOverview">Обзор&hellip;</button>
                        <button class="btn btn-primary" type="button" name="imageClear" style="display: none;">Очистить&hellip;</button>
                    </div>
                </div>
                <p class="page-component-subtitle">Размеры картинки</p>
                <div>
                    <input name="imgWidth" class="input-text" type="number" style="min-width: 80px; width: 80px; padding: 8px 3px;" value="0">
                    <span>Ширина</span>
                    <input name="imgHeight" class="input-text" type="number" style="min-width: 80px; width: 80px; padding: 8px 3px;" value="0">
                    <span>Высота</span>
                </div>
            </div>

            <div class="page-component-box" data-type="textAlign">
                <p class="page-component-subtitle">Размещение блока относительно бэкграунда</p>
                <label>
                    <input type="radio" name="textAlign" value="left" checked="checked">
                    <span>Слева</span>
                </label>
                <label>
                    <input type="radio" name="textAlign" value="center">
                    <span>По центру</span>
                </label>
                <label>
                    <input type="radio" name="textAlign" value="right">
                    <span>Справа</span>
                </label>
            </div>

            <div class="page-component-box" data-type="marginBottom">
                <p class="page-component-subtitle">Отступ снизу</p>
                <label>
                    <input class="input-text" type="number" name="marginBottom" value="0" step="1" style="min-width: 100px;">
                    <span>Отступ в пикселях</span>
                </label>
            </div>
            <div class="page-component-box" data-type="marginTop">
                <p class="page-component-subtitle">Отступ сверху</p>
                <label>
                    <input class="input-text" type="number" name="marginTop" value="0" step="1" style="min-width: 100px;">
                    <span>Отступ в пикселях</span>
                </label>
            </div>
            <div class="page-component-box" data-type="anchor">
                <p class="page-component-subtitle">Якорь</p>
                <label>
                    <input class="input-text" type="text" name="anchor" value="" step="1" style="min-width: 100px;">
                </label>
            </div>
        </div>
        <div class="page-component-tabs-item" data-device="mobile">
            <!-- mobile -->
            <div class="page-component-box" data-type="title">
                <p class="page-component-subtitle">Заглавие</p>
                <div class="label">
                    <div class="page-flex-wrap">
                        <div class="pseudo-selector">
                            <select name="captionTagFake" class="pseudo-select-tag" placeholder="Тег&hellip;">
                                <option value="p">&lt;p&gt;</option>
                                <option value="h1">&lt;h1&gt;</option>
                                <option value="h2">&lt;h2&gt;</option>
                                <option value="h3">&lt;h3&gt;</option>
                                <option value="h4">&lt;h4&gt;</option>
                                <option value="h5">&lt;h5&gt;</option>
                                <option value="h6">&lt;h6&gt;</option>
                                <!--<option value="span">&lt;span&gt;</option>
                                <option value="strong">&lt;strong&gt;</option>-->
                            </select>
                            <input name="captionTag" class="pseudo-input-tag" type="text" placeholder="Тег&hellip;" style="width: 85px;" value="p">
                        </div>

                        <input name="title" class="input-text" type="text" placeholder="Текст заглавия&hellip;" value="">
                        <input name="titleColor" class="color-picker" type="text" value="#333333">
                        <span>Текст и цвет заглавия</span>
                    </div>
                    <input name="titleSize" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="14">
                    <span>Размер шрифта</span>
                </div>
                <div>
                    <p class="page-component-subtitle">Выравнивание</p>
                    <label>
                        <input type="radio" name="titleAlignMobile" value="left" checked="checked">
                        <span>Слева</span>
                    </label>
                    <label>
                        <input type="radio" name="titleAlignMobile" value="center">
                        <span>По центру</span>
                    </label>
                    <label>
                        <input type="radio" name="titleAlignMobile" value="right">
                        <span>Справа</span>
                    </label>
                </div>
                <div>
                    <input name="titleLeftPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ слева</span>
                    <input name="titleRightPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ справа</span>
                </div>
            </div>

            <div class="page-component-box" data-type="text">
                <hr>
                <p class="page-component-subtitle">Текст</p>
                <textarea class="textform needCKE" name="ckeditor_mobile"></textarea>
                <label>
                    <input type="text" name="titleColor" class="color-picker" value="#333333">
                    <span>Цвет текста</span>
                </label>
                <div>
                    <p class="page-component-subtitle">Выравнивание</p>
                    <label>
                        <input type="radio" name="contentAlignMobile" value="left" checked="checked">
                        <span>Слева</span>
                    </label>
                    <label>
                        <input type="radio" name="contentAlignMobile" value="center">
                        <span>По центру</span>
                    </label>
                    <label>
                        <input type="radio" name="contentAlignMobile" value="right">
                        <span>Справа</span>
                    </label>
                </div>
                <div>
                    <input name="contentLeftPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ слева</span>
                    <input name="contentRightPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ справа</span>
                </div>
                <hr>
            </div>
            <div class="page-component-box" data-type="typeSelector">
                <p class="page-component-subtitle">Выбор типа кнопки</p>
                <label>
                    <input type="radio" class="type_selector" name="type_selector_mobile" value="href" >
                    <span>Ссылка</span>
                </label>
                <label>
                    <input type="radio" class="type_selector" name="type_selector_mobile" value="text" checked="checked">
                    <span>Текст</span>
                </label>
                <div class="txt_btn_container">
                    <p class="page-component-subtitle">Текст подробнее для кнопки</p>
                    <textarea class="textform needCKE" style="dispaly:none;" name="btn_text_mobile"></textarea>
                </div>
            </div>
            <div class="page-component-box" data-type="button">
                <p class="page-component-subtitle">Кнопка</p>
                <label>
                    <input name="buttonCaption" class="input-text" type="text" placeholder="Текст кнопки&hellip;" value="">
                    <input type="text" name="titleColor" class="color-picker" value="#ffffff">
                    <span>Текст и его цвет</span>
                </label>

                <div>
                    <input name="buttonLeftPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ слева</span>
                    <input name="buttonRightPadding" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="0">
                    <span>Отступ справа</span>
                </div>

                <label class="href_input" style="display: none;">
                    <input name="buttonLink" class="input-text" type="text" placeholder="Ссылка&hellip;" value="">
                    <span>Ссылка</span>
                </label>
                <label>
                    <input type="text" name="buttonColor" class="color-picker" value="#ed4f20">
                    <span>Цвет кнопки</span>
                </label>
                <label>
                    <input type="text" name="hoverColor" class="color-picker" value="#63c33d">
                    <span>Цвет ховера</span>
                </label>
            </div>

            <div class="page-component-box" data-type="background">
                <p class="page-component-subtitle">Изображение бэкграунда</p>
                <div>
                    <div class="image-preview"></div>
                    <div class="image-control">
                        <input name="backgroundImage" type="file" style="display: none;">
                        <button class="btn btn-primary" type="button" name="fakeOverview">Обзор&hellip;</button>
                        <button class="btn btn-primary" type="button" name="imageClear" style="display: none;">Очистить&hellip;</button>
                    </div>
                </div>
                <p class="page-component-subtitle">Размеры картинки</p>
                <div>
                    <input name="imgWidth" class="input-text" type="number" style="min-width: 80px; width: 80px; padding: 8px 3px;" value="0">
                    <span>Ширина</span>
                    <input name="imgHeight" class="input-text" type="number" style="min-width: 80px; width: 80px; padding: 8px 3px;" value="0">
                    <span>Высота</span>
                </div>
            </div>

            <div class="page-component-box" data-type="textAlign">
                <p class="page-component-subtitle">Размещение блока относительно бэкграунда</p>
                <label>
                    <input type="radio" name="textAlignMobile" value="left" checked="checked">
                    <span>Слева</span>
                </label>
                <label>
                    <input type="radio" name="textAlignMobile" value="center">
                    <span>По центру</span>
                </label>
                <label>
                    <input type="radio" name="textAlignMobile" value="right">
                    <span>Справа</span>
                </label>
            </div>

            <div class="page-component-box" data-type="marginBottom">
                <p class="page-component-subtitle">Отступ снизу</p>
                <label>
                    <input class="input-text" type="number" name="marginBottom" value="0" step="1" style="min-width: 100px;">
                    <span>Отступ в пикселях</span>
                </label>
            </div>
            <div class="page-component-box" data-type="marginTop">
                <p class="page-component-subtitle">Отступ сверху</p>
                <label>
                    <input class="input-text" type="number" name="marginTop" value="0" step="1" style="min-width: 100px;">
                    <span>Отступ в пикселях</span>
                </label>
            </div>
            <div class="page-component-box" data-type="anchor">
                <p class="page-component-subtitle">Якорь</p>
                <label>
                    <input class="input-text" type="text" name="anchor" value="" step="1" style="min-width: 100px;">
                </label>
            </div>
        </div>
    </div>
</div>
