<div class="row col-12 bannerwithbackgroundimage {{ no_img_class }} {{ mainWrap }}" style="margin-bottom: {{ marginBottom }}px; margin-top: {{ marginTop }}px;" id="{{ anchor }}">

    {{ backgroundImage }}

    <div class="{{ secondaryWrap }}">

        {{ componentTitle }}

        {{ componentText }}

        {{ componentButton }}
    </div>
</div>