.sticky-product
  width 307px
  position sticky
  top 24px

  .product-info-wrap
    padding gutter
    border 1px solid light-grey
    border-radius 4px
    margin-bottom gutter

    .product-info
      display flex

      &-img
        width 100px
        margin-right 10px

      &-description
        flex 1

        & .category
          font second-font
          color primary-grey

        & .name
          margin-bottom 8px

        & .reviews
          margin-bottom 11px

    .product-buy
    .prod-board-btn

      button
        width 100%

  @import "_media.styl"
