@media (max-width 1023px)

  .checkout-content

    .checkout-content-steps

      .step

        &.finished

          .step-header

            .step-header-warp
              flex-direction column
              align-items flex-start

              .phone
                white-space nowrap

        .step-content

          &-item
            padding-left gutter
            padding-right gutter


          .fields
          .pay-method

            .field-row
              flex-direction column
              align-items flex-start

              > :nth-child(1)
                margin-top 0
                margin-bottom 12px

              > :nth-child(2)
                max-width 100%

        &.step-1

          .step-content

            .next
              padding-left 0

        &.step-2

          .step-content

            .pay-methods
              padding-left gutter
              padding-right gutter

              .pay-methods-select
                flex-wrap wrap
                justify-content flex-start

                & > :first-child
                  flex 100%

              .method-switch
                margin-right 4px
                height 75px
                max-width 75px
                background-size 20px 20px
                background-position-y 15px

                .check
                  transform scale(0.7)
                  transform-origin 0 0

                .text
                  padding-left 4px
                  padding-right 4px
                  font-size 10px
                  line-height 12px

          .step-footer
            padding-right gutter
            padding-left gutter

@media (max-width 666px)

  .checkout-content
    flex 100%
    order 2
    margin-right 0

  .checkout-sidebar
    width 100%
    margin-bottom gutter
