input-width = 340px

.checkout
  margin auto
  display flex
  flex-wrap wrap

  &-header
    flex 100%
    margin 30px 0 25px
    background-color #fff

    *
      margin 0

  &-content
    display flex
    align-self flex-start
    margin-right 32px
    border 1px solid light-grey
    border-radius 8px
    flex 1

    &-steps
      flex 100%

      .light-text
        color primary-grey
        font second-font

      .step
        padding-bottom 65px

        &.finished
        &.disabled
          height 74px !important
          overflow-y hidden !important
          user-select none

        &.finished

          .step-header

            .step-header-warp
              display flex
              align-items center
              flex 1

            .step-title
              margin 0

            .step-number
              background accent-color url("../images/icons/check.svg") center no-repeat

              span
                display none

            .contact-step
              display none

            .user-data
              display block

            .go-back
              display block


        &.disabled

          .step-header

            > *
              opacity .2

            .step-number
              border-color primary-black

        .step-header
        .step-footer
          display flex
          align-items center
          padding 0 24px
          height 78px

          > *
            margin 0

          .step-number
            height 28px
            width 28px
            display flex
            border 1px solid accent-color
            border-radius 50%
            margin-right 16px

            > *
              margin auto

          .user-data
            display none
            font-weight 400

          .go-back
            display none
            flex 1
            text-align right

            span
              cursor pointer
              color base-green

              &:hover
                color #2B8C10

        .step-content

          &-item
            padding 0 68px

          .fields

            > *.disabled
              opacity .5
              user-select none
              position relative

              &::before
                content ''
                display block
                position absolute
                width 100%
                height 100%
                z-index 1

            > *.hidden
              display none

            .city
              margin-bottom 24px

              .cities-list
                display flex
                padding-top 6px

                *
                  margin-right 8px
                  border-bottom 1px dashed base-green
                  cursor pointer

          .fields
          .pay-method
            margin-top 41px

            .field-row
              display flex
              align-items center
              margin-bottom 18px
              flex-wrap wrap

              .f-group
                margin 0

                input
                  width input-width
                  max-width 100%

              > :nth-child(1)
                width 204px
                align-self flex-start
                margin-top 11px

              > :nth-child(2)
                flex 1
                max-width input-width

        .step-footer
          border-top 1px solid light-grey
          padding 24px

          .step-number
            border-color primary-black

        &.step-1

          .step-content

            .login
              display flex
              align-items center

              a
                border-radius 20px
                background-color rgba(58, 190, 22, 0.64)
                padding 5px 15px
                cursor pointer
                font second-font
                color #fff
                font-weight bold

              > :nth-child(1)
                margin-right 10px

            .next
              padding-left 204px

              .f-group
                margin-bottom 0

                button
                  width input-width
                  max-width 100%
                  margin-top 5px

          .step-footer
            > *
              opacity .2


        &.step-2

          border-top 1px solid light-grey

          .step-content

            .fields
              margin-top 15px

              .delivery
                margin-bottom 39px

                > :nth-child(1)
                  margin-top 0

              .address-points

                > :nth-child(1)
                  margin-top 0

                .f-group

                  &.radio-group
                    max-width 345px

              .assembly
                margin-bottom 52px

                & > :nth-child(1)
                  margin-top 0


              .legal-address
                margin 39px 0 13px

                & > :nth-child(1)
                  margin-top 0

              .privacy
                color primary-black

                a
                  text-decoration underline

              .prepayment
                align-items flex-start
                margin-top 61px
                margin-bottom 20px

                .f-group
                  max-width 100%
                  display flex
                  align-items center
                  flex 1
                  padding-top 3px

                  input
                    width auto

                    &[type=text]
                      height 36px
                      padding-right 30px

                  > input
                    flex 1
                    margin-right 40px

                  > div
                    width 112px
                    position relative

                    &::after
                      content '₽'
                      color primary-grey
                      font second-font
                      position absolute
                      top 10px
                      right 13px

            .comment
              margin-bottom 28px

              textarea
                height 116px

            .pay-methods
              margin-bottom 56px
              border-bottom 1px solid light-grey
              border-top 1px solid light-grey
              padding 40px 68px

              &-select
                display flex
                flex 100%
                align-items center
                justify-content flex-end

                > :nth-child(1)
                  flex 1

                .method-switch
                  height 128px
                  width 125px
                  border 1px solid grey
                  border-radius 4px
                  margin-right 16px
                  position relative
                  cursor pointer
                  transition .3s
                  background-position center 27px
                  background-repeat no-repeat
                  display flex
                  align-items flex-end
                  justify-content center
                  padding-bottom 12px

                  &:hover
                    border-color darck-grey

                  &:last-child
                    margin-right 0

                  &.active
                    border-color accent-color

                    .check
                      border-color accent-color
                      background accent-color url("../images/icons/check.svg") center no-repeat

                  &.credit
                    background-image url("../images/icons/credit@2x.svg")

                  &.card
                    background-image url("../images/icons/card@2x.svg")

                  &.invoice
                    background-image url("../images/icons/invoice@2x.svg")

                  .check
                    width 22px
                    height @width
                    border 1px solid grey
                    border-radius 50%
                    position absolute
                    top 8px
                    left 8px

                  .text
                    text-align center
                    padding 0 15px
                    font second-font



              &-method

                &.credit

                  .credit-title
                    border 1px solid light-grey
                    border-radius 4px
                    margin 30px 0 37px
                    padding gutter
                    text-align center

                    img
                      display block
                      margin gutter auto 0
                      max-width 125px

                  .credit-options
                    margin-bottom 62px

                    .fields

                      & > *
                        margin-bottom 0

                        &:nth-child(1)
                          margin-bottom 13px

                        .f-group

                          & > div

                            input
                              padding-right 30px

                            &::after
                              content '₽'

                        &:nth-child(2)

                          .f-group

                            & > div

                              input
                                padding-right 50px

                              &::after
                                content 'мес.'

                      .f-group
                        max-width 100%
                        display flex
                        align-items center
                        flex 1
                        padding-top 3px

                        input
                          width auto

                          &[type=text]
                            height 36px

                        > input
                          flex 1
                          margin-right 40px

                        > div
                          width 112px
                          position relative

                          &::after
                            color primary-grey
                            font second-font
                            position absolute
                            top 8px
                            right 13px

                &.invoice
                  margin-top 53px

          .step-footer
            padding 7px 68px 0
            display block
            border none

            .make-order
              margin-top 24px

              button
                text-transform uppercase
                width 100%
                height 52px
                max-height 52px !important

  &-sidebar
    width 304px
    max-width 100%

    > *
      width 100%
      border-radius 8px
      padding 16px 24px
      margin-bottom 16px
      border 1px solid light-grey

      &:last-child
        margin-bottom 0

    .checkout-order
      border none
      background-color light-green

      .order-header
        margin-bottom 18px

        > *
          margin 0

      .order-content

        .order-item
          display flex
          margin-bottom 12px

          .order-product-img
            width 64px
            height 49px
            display flex
            margin-right 12px
            align-items center

            img
              max-width 100%
              max-height 100%


          .order-product-desc
            flex 1

            .order-product-detail
              display flex
              justify-content space-between
              margin-top 6px

              .counter
                font second-font
                color primary-grey

              .price
                width 60px
                flex 1
                text-align right
                margin-top -1px
                @extend .head-text-4
                font-weight bold

      .ln-edit-order
        cursor pointer

      .order-total
        margin-top 10px
        border-top 1px solid rgba(0, 0, 0, 0.08)
        padding-top 17px

        .price-list
          display flex
          justify-content flex-end

          .price-text
            line-height 21px

          .price
            margin-left 8px
            text-align right
            @extend .head-text-4

        .cart-total
          padding 13px 7px 13px 0

          .cart-total-discount
            margin-bottom 12px

            .old-price
              margin-right 0

            .discount
              margin-left 4px

          .cart-total
            padding 0 3px 0

    .bonuses
      color primary-black

      .auth
        margin-left -1px

        &, a
          cursor pointer

      .bonus

        .card
          margin-bottom 12px

          .card-number
            @extend .head-text-2
            font-weight bold

        .all-bonuses
          display flex
          justify-content space-between
          margin-bottom 10px

        .use-bonusess
          border-top 1px solid light-grey
          border-bottom 1px solid light-grey
          padding 12px 0 24px
          margin-bottom 16px

          .text
            display flex
            justify-content space-between
            align-items center
            margin-bottom 24px

            input[type=text]
              width 85px
              height 36px

          .range

            input[type=range]
              width 100%

          .f-group
            margin 0

        .use-promo-code

          div
            margin-bottom 12px

  @import "_media.styl"