<div class="page-component-box" data-type="title">
    <p class="page-component-subtitle">Заглавие</p>
    <div class="label">
        <div class="page-flex-wrap">
            <div class="pseudo-selector">
                <select name="captionTagFake" class="pseudo-select-tag" placeholder="Тег&hellip;">
                    <!--<option value="p">&lt;p&gt;</option>-->
                    <option value="h1">&lt;h1&gt;</option>
                    <option value="h2">&lt;h2&gt;</option>
                    <option value="h3">&lt;h3&gt;</option>
                    <option value="h4">&lt;h4&gt;</option>
                    <option value="h5">&lt;h5&gt;</option>
                    <option value="h6">&lt;h6&gt;</option>
                    <!--<option value="span">&lt;span&gt;</option>
                    <option value="strong">&lt;strong&gt;</option>-->
                </select>
                <input name="captionTag" class="pseudo-input-tag" type="text" placeholder="Тег&hellip;" style="width: 85px;" value="h1">
            </div>

            <input name="title" class="input-text" type="text" placeholder="Текст заглавия&hellip;" value="">
            <input name="titleColor" class="color-picker" type="text" value="#333333">
            <span>Текст и цвет заглавия</span>
        </div>
        <input name="titleSize" class="input-text" type="number" style="min-width: 40px; width: 40px; padding: 8px 3px;" value="14">
        <span>Размер шрифта</span>
    </div>
</div>

<div class="page-component-box" data-type="text">
    <p class="page-component-subtitle">Текст</p>
    <textarea class="textform needCKE" name="text"></textarea>
    <label>
        <input type="text" name="titleColor" class="color-picker" value="#333333">
        <span>Цвет текста</span>
    </label>
</div>
<div class="page-component-box" data-type="textAlign">
    <p class="page-component-subtitle">Размещение блока относительно бэкграунда</p>
    <label>
        <input type="radio" name="textAlign" value="left" checked="checked">
        <span>Слева</span>
    </label>
    <label>
        <input type="radio" name="textAlign" value="center">
        <span>По центру</span>
    </label>
    <label>
        <input type="radio" name="textAlign" value="right">
        <span>Справа</span>
    </label>
</div>
<div class="page-component-box" data-type="btn_render">
    <p class="page-component-subtitle">Отображение кнопки разворота/сворота текста</p>
    <label>
        <input type="checkbox" name="btn_render" value="1">
        <span>Отображать</span>
    </label>
    <div class="close_text_cke" style="display: none;">
        <p class="page-component-subtitle">Текст</p>
        <textarea class="textform needCKE" name="ckeditor"></textarea>
    </div>

</div>

<div class="page-component-box" data-type="marginBottom">
    <p class="page-component-subtitle">Отступ снизу</p>
    <label>
        <input class="input-text" type="number" name="marginBottom" value="0" step="1" style="min-width: 100px;">
        <span>Отступ в пикселях</span>
    </label>
</div>
<div class="page-component-box" data-type="marginTop">
    <p class="page-component-subtitle">Отступ сверху</p>
    <label>
        <input class="input-text" type="number" name="marginTop" value="0" step="1" style="min-width: 100px;">
        <span>Отступ в пикселях</span>
    </label>
</div>
<div class="page-component-box" data-type="anchor">
    <p class="page-component-subtitle">Якорь</p>
    <label>
        <input class="input-text" type="text" name="anchor" value="" step="1" style="min-width: 100px;">
    </label>
</div>