<div class="row col-12 {{ mainWrap }}" style="margin-bottom: {{ marginBottom }}px; margin-top: {{ marginTop }}px;" id="{{ anchor }}">
    <div class="{{ secondaryWrap }}" style="{{ secondaryWrapStyle }}: 105px;">

        {{ componentTitle }}

        {{ componentText }}
    </div>
</div>