<div class="js-cart-header">
    {% if cart_products.count==0 %}
        <h5 class="m-b-20 m-t-30">Корзина пуста</h5>
    {% else %}
        {% set total = 0 %}
        {% set i = 0 %}
        {% for product in cart_products %}
        <div class="row product-row m-t-20 p-b-10">
            <div class="col-md-3">
                {% if (product.getActivePrice()) > 2000 and product.installments %}
                    <div class="btn-icon-credit"></div>
                {% endif %}
                {% set origImageSize = product.images[0].getPreviewSize() %}
                <a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                    <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">
                </a>
            </div>
            <div class="col-md-5">
                <div class="product-title">
                    <div class="product-name">
                        <a class="product-name-a" href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                            {{ product.getType()~' '~product.name }}
                        </a>
                    </div>
                    <div class="product-subname">{{ product.type_name_for_page }}</div>
                        <span class="price">
                            {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                            {{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i>
                        </span>
                        {% if (cart_supports[product.id]>0) %}
                            {% set saveDiscount = (product.getActivePrice() - product.price_special) %}
                            {% if saveDiscount > 0 %}
                            <div class="discount">
                                <span>(-{{ saveDiscount|number_format(0,'',' ') }}<i class="fa fa-rub"></i>)</span>
                            </div>
                            {% endif %}
                        {% endif %}
                </div>
            </div>
            <div class="col-md-1">
                <div class="count-wrap">
                    <span class="count">{{ cart_counts[i] }}шт.</span>
                </div>
            </div>
            <div class="col-md-3 product-sum">
                <div class="product-sum_wrap">
                     <span>
                        {% set calc = (product.getActivePrice()*cart_counts[i])-(cart_supports[product.id]*saveDiscount) %}
                        {% set price = calc|number_format(0,'','.')|split('.') %}
                        {{ price[0] }} {{ price[1] }}
                    </span><i class="fa fa-rub"></i>
                </div>
                {% if cart_supports[product.id]>0 %}
                    {% set price = (product.getActivePrice()*cart_counts[i])|number_format(0,'','.')|split('.') %}
                    <div class="del-summ">
                        <del>
                            {{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i>
                        </del>
                    </div>
                    </br>
                {% endif %}
            </div>
            <button type="button" class="remove-list-item js-remove_cart_item" data-ecommerce="{{ product.getDataForEcommerce()|json_encode }}" data-request="{{ __SELF__ }}::onDeleteCartItem" data-request-data="cart_id: '{{ param }}', product_id: '{{product.id}}' ">
                <span>Удалить товар </span>
            </button>
        </div>

        {% component 'ordertimer::popup_banner' %}

        {% set total = total + calc %}
        {% set i = i + 1 %}
        {% endfor %}
        <div class="row total m-b-15 m-t-15">
            <div class="cart_popup_total">

                {% set buy_today_discount = orderPrice.getBuyTodayDiscount() %}
                {% set promoPrice = (orderPrice.getTotalPrice() - buy_today_discount) | number_format(0,'','.') | split('.') %}
                {% set price = orderPrice.getTotalPrice() | number_format(0,'','.') | split('.') %}

                {% if buy_today_discount > 0 %}
                <div>Итого:&#160;
                    <div class="pull-right cart-total-price">
                        <span class="old-price">{{ price[0] }}  {{ price[1] }}<span class="rub">₽</span></span>
                        <span class="pull-right promo-sum"> -{{ buy_today_discount }}
                            <span class="rub">₽</span>
                        </span>
                        <div class="info">
                            <div class="info-text">
                                <span>Скидка не действует при покупке товара в рассрочку</span>
                            </div>
                            <div class="info-ico"><i class="fa fa-info" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <span class="pull-right cart-total-price">
                        <span>{{ promoPrice[0] }} {{ promoPrice[1] }}
                            <span class="rub">₽</span>
                        </span>
                    </span>
                </div>
                <div class="clearfix"></div>
                {% else %}
                <div>Итого:&#160;
                    <span class="pull-right cart-total-price">
                        <span>{{ price[0] }}  {{ price[1] }}<span class="rub">₽</span></span>
                    </span>
                </div>
                {% endif %}

            </div>
        </div>
        <div class="row buttons">
            <div class="col-sm-6 col-sm-push-6"><a href="{{ url('/cart') }}" class="btn ms-action-button ">Перейти к оформлению</a></div>
            <div class="col-sm-6 col-sm-pull-6"><a class="btn ms-button-vacancy js-close" data-dismiss="modal" aria-hidden="true">Продолжить покупки</a></div>
        </div>
    {% endif %}
</div>
