<div class="favorites-buttons">
    <h4 class="title-row m-l-0">Мои списки: </h4>
    {% for item in list %}
    {% set link = url('/cart/'~item.id) %}
    {% if item.id==param %}
    <a href="{{ link }}" title="{{ item.list_name }}" class="active item">
        {{ item.list_name }}
    </a>
    {% else %}
        {% if loop.first and param is null %}
            <a href="{{ link }}" title="{{ item.list_name }}" class="active item">
                {{ item.list_name }}
            </a>
        {% else %}
            <a href="{{ link }}" title="{{ item.list_name }}" class="item">
                {{ item.list_name }}
            </a>
        {% endif %}
    {% endif %}
    {% endfor %}
</div>