{% if cart_products.count!=0 %}

{% set total = orderPrice.getTotalPrice() %}
{% set total_delivery = orderPrice.getDeliveryPrice() %}
{% set total_assembling = orderPrice.getAssemblingPrice() %}
{% set use_bonuses = orderPrice.getUseBonuses() %}
{% set buy_today_discount = orderPrice.getBuyTodayDiscount() %}
{% set promo_code_amount = orderPrice.getPromoCodeDiscount() %}

{% if delivery_method == "option1" %}
    {% set total_delivery = 0 %}
{% endif %}

{% if use_bonuses > 0 %}
    {% set discount = use_bonuses %}
{% elseif promo_code_amount > 0 %}
    {% set discount = promo_code_amount %}
{% elseif buy_today_discount > 0 %}
    {% set discount = buy_today_discount %}
{% else %}
    {% set discount = 0 %}
{% endif %}

{% set amount = total + total_delivery - discount %}

<div class="row">
    <div class="col-sm-6">
        <div class="text-left">
            <h4 class="text-uppercase">Итого к оплате</h4>
            <div>
                <p>
                    <strong>Стоимость товаров
                        <span class="pull-right "><span class="cost_of_goods">{{ total|number_format(0, '.', ' ') }}</span> ₽</span>
                    </strong>
                </p>
                <p>Стоимость доставки <span class="pull-right total_delivery">{{ total_delivery|number_format(0, '.', ' ') }} ₽</span></p>
                {% if total_assembling > 0 and assembly %}
                    <p>Стоимость сборки <span class="pull-right">{{ total_assembling|number_format(0, '.', ' ') }} ₽</span></p>
                {% endif %}
                <!-- <p>Оплачено бонусами <span class="pull-right">{{ use_bonus ? use_bonus|number_format(0, '.', ' ') : 0 }} ₽</span></p> -->
                {% if discount > 0 %}
                    <div>Итого
                        <div class="pull-right cart-total-price">
                            <span class="old-price">{{ (amount + discount + (assembly ? total_assembling : 0))|number_format(0, '.', "\xc2\xa0") }}<span class="rub"> ₽</span></span>
                            <span class="pull-right promo-sum"> -{{ discount|number_format(0, '.', ' ') }}<span class="rub"> ₽</span></span>

                            <div class="info">
                                <div class="info-text">
                                    <span>Скидка не действует при покупке товара в рассрочку</span>
                                </div>
                                <div class="info-ico"><i class="fa fa-info" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p>
                        <span class="pull-right cart-total-price">
                            <span>{{ ( amount + (assembly ? total_assembling : 0))|number_format(0, '.', "\xc2\xa0") }}<span class="rub"> ₽</span></span>
                        </span>
                    </p>
                    <div class="clearfix"></div>
                {% else %}
                    <p>Итого
                        <span class="pull-right cart-total-price">
                            <span>{{ ( amount + (assembly ? total_assembling : 0))|number_format(0, '.', "\xc2\xa0") }}<span class="rub"> ₽</span></span>
                        </span>
                    </p>
                {% endif %}

                <div class="checkbox">
                    <input name="assembly" type="checkbox" value="1" data-request-data="{{ param }}"  id="assembly"{{ assembly ? ' checked' : '' }}>
                    <label for="assembly">Заказать сборку</label>
                </div>
                <div class="hidden" id="dataAmount">{{ amount }}</div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endif %}
