<div class="modal-header">
    <button type="button" class="close-outer rotate-close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="h3 modal-title m-l-20">Моя корзина ({{ count }})</div>
    <div class="row">
        <div class="content-text m-l-35 m-t-15">Товар добавлен в корзину</div>
    </div>
</div>
<div class="modal-body">
{% if cart_products.count==0 %}
    <h5 class="m-b-20 m-t-30">Корзина пуста</h5>
{% else %}
    {% set total = 0 %}
    {% set i = 0 %}
    {% for product in cart_products %}
    <div class="row product-row m-t-10 p-b-10">
        <div class="col-md-3">
            {% if (product.getActivePrice()) > 2000 and product.installments %}
                <div class="btn-icon-credit"></div>
            {% endif %}
            {% set origImageSize = product.images[0].getPreviewSize() %}
            <a href="{{ product.images[0].getPreviewSource() }}" title="{{ product.name ~ ' ' ~ product.subname}}" class="img_link click_picture_in_cart">
                <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">
            </a>
        </div>
        <div class="col-md-5">
            <div class="product-title">
                <div class="product-name">
                    <a class="product-name-a click_product_link_in_cart" href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">
                        {{ product.getType()~' '~product.name }}
                        <span>{{ product.variant_of_design ? '('~product.variant_of_design~')' : '' }}</span>
                    </a>
                </div>
                <div class="product-subname">{{ product.type_name_for_page }}</div>
                    <span class="price">
                        {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                        {{ price[0] }} {{ price[1] }}&#160;₽
                    </span>
                    {% if (cart_supports[product.id]>0) %}
                        {% set saveDiscount = (product.getActivePrice() - product.price_special) %}
                        {% if saveDiscount > 0 %}
                            <div class="discount">
                                <span>(-{{ saveDiscount|number_format(0,'',' ') }}<i class="fa fa-rub"></i>)</span>
                            </div>
                        {% endif %}
                    {% endif %}
            </div>
            {% set packageProducts = product.getPackageProducts() %}
            {% if packageProducts.count > 0 %}
            <div class="price-set m-t-5">
                В цену входит: <a href="#" class="js-set_popup-cart">развернуть <i class="fa fa-chevron-down"></i></a>
                <div class="content js-set_content">
                    <ul>
                        {% for item in packageProducts %}
                        <li>
                            <a href="{{ url('/catalog/'~item.category.slug~'/'~item.slug) }}">
                                <img src="{{ item.images.first.getSource() }}" alt="{{ item.name }}">
                                <div class="text">
                                    <div class="name">{{ item.name }}</div>
                                    <div class="subname">{{ item.subname }}</div>
                                    <div class="price">{{ item.getActivePrice()|number_format(0,'',' ') }} <i class="fa fa-rub"></i></div>
                                </div>
                                <div class="quantity">{{ item.set_qunatity }}шт.</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="count-wrap">
                <div class="product-count cart-product">
                    <div class="plusminus minus_product" id="minus" data-id="{{ product.id }}"><i class="fa fa-minus"></i></div>
                    <div class="number">{{ cart_counts[i] }}</div>
                    <div class="plusminus plus_product" id="plus" data-id="{{ product.id }}"><i class="fa fa-plus"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 {% if cart_supports[product.id]>0 %}product-sum{% endif %}">
            <div  class="product-sum-price" >
                <span class="price summ" id="summ">
                    {% set calc = (product.getActivePrice()*cart_counts[i])-(cart_supports[product.id]*saveDiscount) %}
                    {% set price = calc|number_format(0,'','.')|split('.') %}
                    {{ price[0] }} {{ price[1] }}
                </span><i class="fa fa-rub"></i>
            </div>
            {% if cart_supports[product.id]>0 %}
                {% set price = (product.getActivePrice()*cart_counts[i])|number_format(0,'','.')|split('.') %}
                <div class="del-summ">
                    <del>
                        {{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i>
                    </del>
                </div>
                </br>
            {% endif %}
            <span style="display: none" id="price">
                {{ product.getActivePrice() }}
            </span>
        </div>
        <button type="button" class="remove-list-item js-remove_cart_item js-product_cart_button" data-ecommerce="{{ product.getDataForEcommerce()|json_encode }}" data-request="onDeleteCartItemFromForm" data-request-data="cart_id: '{{ param }}', product_id: '{{product.id}}'" data-request-success="Cart.initAddMinus();">
            <span>Удалить товар </span>
        </button>
    </div>

    {% set total = total + calc %}
    {% set i = i + 1 %}
    {% endfor %}

    {% component 'ordertimer::popup_banner' %}

    <div class="row total m-t-25">

        <div class="cart_popup_total">

            {% set buy_today_discount = orderPrice.getBuyTodayDiscount() %}
            {% set promoPrice = (orderPrice.getTotalPrice() - buy_today_discount) | number_format(0,'','.') | split('.') %}
            {% set price = orderPrice.getTotalPrice() | number_format(0,'','.') | split('.') %}

            {% if buy_today_discount > 0 %}
                <div>Итого:&#160;
                    <div class="pull-right cart-total-price">
                        <span class="old-price">{{ price[0] }}  {{ price[1] }}<span class="rub">₽</span></span>
                        <span class="pull-right promo-sum"> -{{ buy_today_discount }}
                            <span class="rub">₽</span>
                        </span>
                        <div class="info">
                            <div class="info-text">
                                <span>Скидка не действует при покупке товара в рассрочку</span>
                            </div>
                            <div class="info-ico"><i class="fa fa-info" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <span class="pull-right cart-total-price">
                        <span>{{ promoPrice[0] }} {{ promoPrice[1] }}
                            <span class="rub">₽</span>
                        </span>
                    </span>
                </div>
                <div class="clearfix"></div>
            {% else %}
                <div>Итого:&#160;
                    <span class="pull-right cart-total-price">
                        <span>{{ price[0] }}  {{ price[1] }}<span class="rub">₽</span></span>
                    </span>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="row buttons m-l-20 m-r-20  m-t-30">
        <div class="col-sm-6 col-sm-push-6"><a href="{{ url('/cart') }}" class="btn ms-action-button ">Перейти к оформлению</a></div>
        <div class="col-sm-6 col-sm-pull-6"><a class="btn ms-button-vacancy js-close" data-dismiss="modal" aria-hidden="true">Продолжить покупки</a></div>
    </div>
    <!--<div class="row">-->
        <!--<div class="content-text m-t-15 m-b-15">С товаром покупают</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--{% for product in more_products %}-->
        <!--<div class="col-md-3">-->
            <!--{% set origImageSize = product.images[0].getPreviewSize() %}-->
            <!--<a href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">-->
                <!--<img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" style="width:100%" data-orig-width="{{ origImageSize[0] }}" data-orig-height="{{ origImageSize[1] }}">-->
            <!--</a>-->
            <!--<div class="product-title">-->
                <!--<div class="product-name">-->
                    <!--<a class="product-name-a" href="{{ url('/catalog/'~product.category.slug~'/'~product.slug) }}" title="{{ product.name ~ ' ' ~ product.subname}}">-->
                        <!--{{ product.getType()~' '~product.name }}-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="product-subname">{{ product.subname }}</div>-->
                    <!--<span class="price">-->
                        <!--{% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}-->
                        <!--{{ price[0] }} {{ price[1] }}-->
                    <!--</span><i class="fa fa-rub"></i>-->
            <!--</div>-->
            <!--<button class="js-product_cart_button ms-action-button btn-lg btn order-button m-b-10" data-id="{{ product.id }}" data-request-success="alert('Yay!')" data-dismiss="modal" aria-hidden="true" >-->
                <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>Купить-->
            <!--</button>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
{% endif %}
</div>

{% if production_mode %}
    <script>
        {% if addedProducts %}
            // Ecommerce event for GTM. The product add to cart data
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
                'ecommerce': {
                    'add': {
                        'products': [
                            {% for product in addedProducts %}
                            {{ loop.index > 1 ? ',' : '' }}
                            {
                                'id': '{{ product.id }}',
                                'name': '{{ product.name ~ ' ' ~ product.subname}}',
                                'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                                'quantity': 1
                            }
                            {% endfor %}

                        ]
                    }
                },
                'event': 'gtm-ee-event',
                'gtm-ee-event-category': 'Enhanced Ecommerce',
                'gtm-ee-event-action': 'Adding a Product to a Shopping Cart',
                'gtm-ee-event-non-interaction': 'False'
            });

            <!-- RetailRocket -->
            (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
                try {
                    {% for product in addedProducts %}
                        rrApi.addToBasket("{{ product.nid.numeric_id }}");
                    {% endfor %}
                } catch (e) {}
            });
            <!-- /RetailRocket -->
        {% endif %}
            // Rating@Mail.ru counter dynamic remarketing appendix
            // add product to cart
            window._tmpProductCartList = []

            {% for product in cart_products %}
                window._tmpProductCartList.push('{{ product.nid.numeric_id }}');
            {% endfor %}

            window._tmr = window._tmr || (window._tmr = []);
            _tmr.push({
                type: 'itemView',
                pagetype: 'cart',
                list: 1,
                productid: _tmpProductCartList,
                totalvalue: '{{ orderPrice.getTotalPrice() }}'
            });
    </script>
{% endif %}
