<div class="newcartform js-cart_order_form">
    <form class="text-left" id="orderForm">
        <h3 class="text-uppercase text-muted">Оформление заказа</h3>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="bonusTab">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle active">1</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        </div>
                    </div>
                </div>
                <h4 class="m-b-50 text-muted">Используйте бонусы</h4>

                <div class="card">
                    {% if not user %}
                    <div class="no-card">
                        <div class="message">Бонусная карта доступна для зарегистрированных пользователей</div>
                        <!--<a href="" class="signin js-signin_button">Войти</a>-->
                        <a href="" class="signin js-signin_button">Войти</a>
                        <div class="auto-register-text">Автоматическая регистрация при оформлении заказа</div>
                    </div>
                    {% endif %}

                    {% if user %}
                    <div class="card-header clearfix">
                        <span class="number">{{ user.card_code }}</span>
                        <span class="title">Бонусная карта</span>
                    </div>
                    <div class="card-body">
                        <img src="{{ 'assets/images/cart/bonus-card-logo.png'|theme }}" alt="">
                    </div>
                    <div class="card-footer">
                        <span class="name"> {{user.name}} {{user.last_name}}</span>
                    </div>
                    {% endif %}
                </div>

                {% if not user %}
                <p class="m-t-30">Бонусные рубли начисляются из расчета 500 р на каждые 15000 рублей покупки</p>
                {% endif %}
                {% if user %}
                <p class="m-t-50">На вашем бонусном счету {{ user.extended.bonuses.activated ?: 0 }} р. Вы можете использовать их при покупке товаров на сумму от 15 000 рублей</p>
                <div class="m-t-30">
                    {% if __SELF__.info.allDeactivated.count() > 0 %}
                    <h4>
                        <a data-toggle="collapse" href="#extendedAllDeactivated" aria-expanded="false" aria-controls="extendedAllDeactivated">
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Доступно бонусов:
                            <span class="pull-right">{{ user.extended.bonuses.activated ?: 0 }} <small>₽</small></span>
                        </a>
                    </h4>
                    <div class="collapse" id="extendedAllDeactivated">
                        <ul class="list-unstyled">
                            {% for item in __SELF__.info.allDeactivated %}
                                <li class="row">
                                    <div class="col-xs-6 text-left">{{ item.Summa }} руб</div>
                                    <div class="col-xs-6 text-right">{{ item.DateEnd|date('d.m.Y') }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if __SELF__.info.deactivatedThisMonth.count() > 0 %}
                    <h4>
                        <a data-toggle="collapse" href="#extendedDeactivatedThisMonth" aria-expanded="false" aria-controls="extendedDeactivatedThisMonth">
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Сгорают:
                            <span class="pull-right">{{ __SELF__.info.deactivatedThisMonth.sum('Summa') }} <small>₽</small></span>
                        </a>
                    </h4>
                    <div class="collapse" id="extendedDeactivatedThisMonth">
                        <ul class="list-unstyled">
                            {% for item in __SELF__.info.deactivatedThisMonth %}
                            <li class="row">
                                <div class="col-xs-6 text-left">{{ item.Summa }} руб</div>
                                <div class="col-xs-6 text-right">{{ item.DateEnd|date('d.m.Y') }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                    {% if user.extended.bonuses.activated > 0 %}
                        <div class="form-group m-t-30">
                            <input type="number" name="use_bonus" class="form-control" placeholder="Оплатить бонусами"
                                   min="0" max="5000" data-bonuses="{{ user.extended.bonuses.activated ?: 0 }}" step="1" value="">
                        </div>
                    {% endif %}
                {% endif %}
                {% if user and __SELF__.info.promoCodesArray.count > 0 %}
                    <div class="form-group">
                        <select class="form-control m-bot15" name="promo_code">
                            <option value="default">--Выберите промо-код--</option>
                            {% for item in __SELF__.info.promoCodesArray %}
                                <option value="{{ item.code }}">{{ item.code }} - Сумма скидки {{ item.promo_code.amount|number_format(0, '.', "\xc2\xa0") }}&#160;₽</option>
                            {% endfor %}
                        </select>
                        <!--<input type="text" name="promocode" class="form-control" placeholder="Ввести промо-код" maxlength="50">-->
                    </div>
                {% endif %}
                <div class="m-t-50">
                    <a href="#infoTab" onclick="GTMCartStep2()" class="btn btn-lg ms-button-green pull-right nextstep" id="step2next" role="tab" data-toggle="tab">Далее</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="infoTab">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle" data-toggle="tab" data-target="#bonusTab">1</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle active">2</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        </div>
                    </div>
                </div>
                <h4 class="m-b-50 text-muted">Введите личные даные</h4>
                <div class="form-group">
                    <input type="text" name="second_name" class="form-control" placeholder="Фамилия" maxlength="50" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control" placeholder="Имя*" maxlength="50" value="{{ user.name }}">
                </div>
                <!-- <div class="form-group">
                    <input type="text" name="middle_name" class="form-control " placeholder="Отчество" maxlength="50" value="{{ user.other_name }}">
                </div> -->
                <div class="form-group">
                    <input type="tel" name="phone" class="form-control" placeholder="Телефон*" value="{{ user.phone }}" autocomplete="false">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email*" value="{{ user.email }}">
                </div>
                <div class="m-t-50">
                    <a href="#bonusTab" class="btn btn-lg ms-button-light-gray pull-left prevstep" role="tab" data-toggle="tab">Назад</a>
                    <a href="#addressTab" onclick="GTMCartStep3()" class="btn btn-lg ms-button-green pull-right nextstep disabled" id="step3next" role="tab" data-toggle="tab">Далее</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="addressTab">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle" data-toggle="tab" data-target="#bonusTab">1</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle" data-toggle="tab" data-target="#infoTab">2</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle active">3</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        </div>
                    </div>
                </div>
                <h4 class="m-b-50 text-muted">Информация о доставке</h4>
                {# <div class="form-group">
                    <label>Геолокация</label>
                    <select class="form-control">
                        <option value="">г. Орел, Орловский район</option>
                    </select>
                </div> #}
                <div class="form-group">
                    <label>Варианты доставки</label>
                    <select name="delivery_method" class="form-control">
                        <option value="option3" data-target="#tabRadio3">До пункта выдачи</option>
                        <option value="option2" data-target="#tabRadio2" selected>По адресу</option>
                        <option value="option1" data-target="#tabRadio1">Самовывоз</option>
                    </select>
                </div>
                <div class="tab-content">
                    <div id="tabRadio3" class="tab-pane schedule-pane">
                        <div class="form-group">
                            <label>Адреса пунктов выдачи:</label>
                            <select name="issue_point" class="form-control">
                                <option selected="">- выберите -</option>
                                <option value="Белгород, ул. Заслонова, 90">Белгород, ул. Заслонова, 90</option>
                                <option value="Воронеж, ул. Волгоградская, 30">Воронеж, ул. Волгоградская, 30</option>
                                <option value="Калуга, Терепецкое кольцо, 15">Калуга, Терепецкое кольцо, 15</option>
                                <option value="Клинцы, ул. Октябрьская, 5">Клинцы, ул. Октябрьская, 5</option>
                                <option value="Курск, ул. Чайковского, 49">Курск, ул. Чайковского, 49</option>
                                <option value="Орел, Новосильское шоссе, 11а">Орел, Новосильское шоссе, 11а</option>
                                <option value="Рязань, Московское шоссе, 147">Рязань, Московское шоссе, 147</option>
                                <option value="Смоленск, ул.Индустриальная, 4а">Смоленск, ул.Индустриальная, 4а</option>
                                <option value="Старый Оскол, пр.Комсомольский, 83">Старый Оскол, пр.Комсомольский, 83</option>
                                <option value="Тамбов, ул.Кавалерийская, 17д">Тамбов, ул.Кавалерийская, 17д</option>
                            </select>
                        </div>
                    </div>
                    <div id="tabRadio2" class="tab-pane schedule-pane active">
                        <label>Адрес доставки:</label>
                        <div class="form-group">
                            <input type="text" name="city" class="form-control " placeholder="Город" maxlength="50" value="{{ user.extended.additional.city }}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="street" class="form-control " placeholder="Улица" maxlength="50">
                        </div>
                        <div class="row">
                            <div class="form-group"><input type="text" name="house" class="form-control" placeholder="Дом/Корпус"></div>
                            <div class="col-sm-1"></div>
                            <div class="form-group"><input type="text" name="apartment" class="form-control" placeholder="Квартира"></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="checkbox">
                                    <input name="elevator" type="checkbox" value="1"  id="elevator">
                                    <label for="elevator">Грузовой лифт</label>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="form-group"><input type="text" name="floor" class="form-control" placeholder="Этаж"></div>
                        </div>

                        <p class="text-muted">При доставке товара за пределы городов с присутствием салонов Мебель Шара, рассчитывается дополнительная стоимость доставки в зависимости от адреса доставки</p>
                    </div>
                    <div id="tabRadio1" class="tab-pane schedule-pane">
                        <label>Ближайщие к вам склады:</label>
                        <select name="storage" class="form-control">
                            <option value="г.Орел, Новосильское шоссе, 11а" selected="">г.Орел, Новосильское шоссе, 11а</option>
                        </select>
                    </div>
                </div>
                <div class="m-t-50">
                    <a href="#infoTab" class="btn btn-lg ms-button-light-gray pull-left prevstep" role="tab" data-toggle="tab">Назад</a>
                    <a href="#payTab" onclick="GTMCartStep4()" class="btn btn-lg ms-button-green pull-right nextstep disabled" id="step4next" role="tab" data-toggle="tab">Далее</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="payTab">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle" data-toggle="tab" data-target="#bonusTab">1</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle" data-toggle="tab" data-target="#infoTab">2</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle" data-toggle="tab" data-target="#addressTab">3</button>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-circle active">4</button>
                        </div>
                    </div>
                </div>
                <h4 class="m-b-50 text-muted">Способ оплаты</h4>
                <div class="form-group">
                    <label>Способ оплаты</label>
                    <select name="payment_method" class="form-control">
                        <option value="card" selected>Оплатить картой</option>
                        <option value="credit">Купить в кредит</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="hidden" name="is_accept" value="0"/>
                        <input name="is_accept" type="checkbox" value="1" id="is_accept" checked="checked">
                        <label for="is_accept">
                            Ставя отметку, я подтверждаю согласие на <a href="{{ 'documents/personal_data.pdf'|media }}?1" target="_blank">обработку моих персональных данных</a> в соответствии с <a href="{{ 'documents/privacy_policy.pdf'|media }}" target="_blank">политикой конфиденциальности</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Комментарий к заказу</label>
                    <textarea name="comment" class="form-control form-control_comment" placeholder="Комментарий к заказу"></textarea>
                </div>
                <div class="m-t-50">
                    <input type="hidden" name="list" value="{{ param }}" />
                    <input type="hidden" name="assembling" />
                    <a href="#addressTab" class="btn btn-lg ms-button-light-gray pull-left prevstep" role="tab" data-toggle="tab">Назад</a>
                    <button data-p-type="card" onclick="GTMCartStep5()" class="btn btn-lg ms-action-button js-product_cart_order_button pull-right paystep" id="paystep">Оформить заказ</button>
                    <button data-p-type="credit" data-toggle="modal" data-target=".js-credit-modal" class="btn btn-lg ms-action-button pull-right paystep" id="credit">Купить в кредит</button>
                    <div id="payment-error" class="text-danger text-center"></div>
                </div>
            </div>
        </div>
    </form>
</div>

{% component 'credit' %}

{% if productionMode %}
    <script>

        {% if cart_products %}

        // Ecommerce event for GTM. The product checkout data
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'ecommerce': {
                'checkout': {
                    'actionField': {'step': 1},
                    'products': [
                        {% for product in cart_products %}
                        {{ loop.index > 1 ? ',' : '' }}
                        {
                            'id': '{{ product.id }}',
                            'name': '{{ product.name ~ ' ' ~ product.subname}}',
                            'category': '{{ product.category.name~(product.subcategory.name ? '/'~product.subcategory.name : '') }}',
                            'quantity': 1
                        }
                        {% endfor %}
                    ]
                }
            },
            'event': 'gtm-ee-event',
            'gtm-ee-event-category': 'Enhanced Ecommerce',
            'gtm-ee-event-action': 'Checkout Step 1',
            'gtm-ee-event-non-interaction': 'False'
        });

        function GTMCartStep2() {
            dataLayer.push({
                'ecommerce': {
                    'checkout': {
                        'actionField': {'step': 2},
                    }
                },
                'event': 'gtm-ee-event',
                'gtm-ee-event-category': 'Enhanced Ecommerce',
                'gtm-ee-event-action': 'Checkout Step 2',
                'gtm-ee-event-non-interaction': 'False'
            });
        }

        function GTMCartStep3() {
            dataLayer.push({
                'ecommerce': {
                    'checkout': {
                        'actionField': {'step': 3},
                    }
                },
                'event': 'gtm-ee-event',
                'gtm-ee-event-category': 'Enhanced Ecommerce',
                'gtm-ee-event-action': 'Checkout Step 3',
                'gtm-ee-event-non-interaction': 'False'
            });
        }

        function GTMCartStep4() {
            dataLayer.push({
                'ecommerce': {
                    'checkout': {
                        'actionField': {'step': 4},
                    }
                },
                'event': 'gtm-ee-event',
                'gtm-ee-event-category': 'Enhanced Ecommerce',
                'gtm-ee-event-action': 'Checkout Step 4',
                'gtm-ee-event-non-interaction': 'False'
            });
        }

        function GTMCartStep5() {
            dataLayer.push({
                'ecommerce': {
                    'checkout': {
                        'actionField': {'step': 5},
                    }
                },
                'event': 'gtm-ee-event',
                'gtm-ee-event-category': 'Enhanced Ecommerce',
                'gtm-ee-event-action': 'Checkout Step 5',
                'gtm-ee-event-non-interaction': 'False'
            });
        }

        {% endif %}

    </script>
{% endif %}
