{#<div class="fav-cart-list">
    <div class="js-cart-fav-list">
        {% component 'cart::cart_fav_lists' %}
    </div>
</div>#}

{#<div class="fav-cart-list fav-cart-list-set m-b-35">
    {% if not user %}
        <h4>Мой список</h4>
        <a class="product-list_create link" title="Список покупок">
            <span class="js-order-list_none_auth ">Создать новый список</span>
        </a>
    {% else %}
        <h4>Мой список</h4> <a href="#" class="js-set_popup-list">развернуть <i class="fa fa-chevron-down"></i></a>
        <div class="content js-set_content">
            <div class="js-cart-fav-list">
                {% component 'cart::cart_fav_lists' %}
            </div>
            {% if user %}
            <div class="create-list m-t-25">
                <h4>Создать новый список</h4>
                <form class="add-cart-favorite" data-request="onAddFavoriteListSubmit" data-request-error="ProductChooser.showModal();" data-request-success="ProductChooser.initRename();  this.reset();">
                    <input type="text" name="list_name" placeholder="Название" required />
                    <button type="submit" class="ms-button-gray btn m-t-15">Создать список</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% if user %}
    <div class="fav-cart-list create-list m-t-25">
        <h4>Создать новый список</h4>
        <form class="add-cart-favorite" data-request="onAddFavoriteListSubmit" data-request-error="ProductChooser.showModal();" data-request-success="ProductChooser.initRename(); this.reset();">
            <input type="text" name="list_name" placeholder="Название" required />
            <button type="submit" class="ms-button-gray btn m-t-15">Создать список</button>
        </form>
    </div>
{% endif %} #}



