{% if cart_products.count==0 %}
    <h4 class="m-b-20 m-t-30">Корзина пуста</h4>
{% else %}

<div class="newcart">
    <div class="row">
        <div class="col-xs-12 visible-xs-block">
            <span class="text-uppercase text-muted">Ваш заказ</span>
        </div>
        <div class="col-sm-2 hidden-xs">
            <p class="text-uppercase text-muted">Товар</p>
        </div>
        <div class="col-sm-10 hidden-xs">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-3">
                <p class="text-uppercase text-muted text-center">Цена</p>
            </div>
            <div class="col-sm-3">
                <p class="text-uppercase text-muted text-center">Сумма</p>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
    <hr>
    {% set i = 0 %}
    {% for product in cart_products %}
    <!-- Desktop -->
    <div class="row product desk hidden-xs">
        <div class="col-sm-2">
            {% if (product.getActivePrice()) > 2000 and product.installments %}
                <div class="btn-icon-credit"></div>
            {% endif %}
            {% set origImageSize = product.images[0].getPreviewSize() %}
            <a class="" title="{{ product.name ~ ' ' ~ product.subname}}">
                <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" class="preview js-click_picture_in_cart" data-id="{{ product.id }}">
            </a>
        </div>

        <div class="col-sm-10">
            <div class="row vertical">
                <div class="col-sm-5">
                    <div class="title">
                        {{ product.getType()~' '~product.name }}
                    </div>
                    <!--<p><span class="feature">Характеристики</span><i class="fa fa-chevron-down m-l-10"></i></p>-->
                    <div class="quantity">
                        <div class="plusminus" id="minus" data-id="{{ product.id }}" data-request-data="{{ param }}"><i class="fa fa-minus"></i></div>
                        <div class="number">{{ cart_counts[i] }}</div>
                        <div class="plusminus" id="plus" data-id="{{ product.id }}" data-request-data="{{ param }}"><i class="fa fa-plus"></i></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                    <div class="text-center">
                        <span class="activePrice">{{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    {% set calc = (product.getActivePrice()*cart_counts[i])-(cart_supports[product.id]*saveDiscount) %}
                    {% set price = calc|number_format(0,'','.')|split('.') %}
                    <div class="text-center">
                        <span class="amountPrice">{{ price[0] }} {{ price[1] }} <i class="fa fa-rub"></i></span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <a class="delete js-remove_cart_item" data-id="{{ product.id }}" data-request-data="{{ param }}" data-ecommerce="{{ product.getDataForEcommerce()|json_encode }}" title="Удалить товар"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile -->
    <div class="row product mob visible-xs-block">

        <button class="delete-btn-mob ms-button-light-gray text-center js-remove_cart_item" data-id="{{ product.id }}" data-request-data="{{ param }}" data-ecommerce="{{ product.getDataForEcommerce()|json_encode }}" title="Удалить товар">
            <span class="delete"></span>
        </button>

        <div class="col-xs-10">
            <div class="title">
                {{ product.getType()~' '~product.name }}
            </div>
        </div>
        <div class="col-xs-5">
            {% if (product.getActivePrice()) > 2000 and product.installments %}
                <div class="btn-icon-credit"></div>
            {% endif %}
            {% set origImageSize = product.images[0].getPreviewSize() %}
            <a class="" title="{{ product.name ~ ' ' ~ product.subname}}">
                <img src="{{ product.images[0].getPreviewSource() }}" alt="{{product.name ~ ' ' ~ product.subname}}" class="preview">
            </a>
        </div>
        <div class="col-xs-7 info">
            <p>
                <u>Характеристики</u>
            </p>
            <p>
                <span class="text-uppercase">Цена</span>
                <span class="pull-right">
                    <span class="oldprice">

                    </span>

                    {% set price = product.getActivePrice()|number_format(0,'','.')|split('.') %}
                    {{ price[0] }} {{ price[1] }}
                    <i class="fa fa-rub"></i>
                </span>
            </p>
            <p>
                <span class="text-uppercase">Сумма</span>
                <span class="pull-right">
                    {% set calc = (product.getActivePrice()*cart_counts[i])-(cart_supports[product.id]*saveDiscount) %}
                    {% set price = calc|number_format(0,'','.')|split('.') %}
                    {{ price[0] }} {{ price[1] }}
                    <i class="fa fa-rub"></i>
                </span>
            </p>
        </div>
        <div class="col-xs-12">
            <div class="m-t-20">
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6">
                        <select class="form-control btn btn-lg btn-block ms-button-light-gray text-center changecount" data-id="{{ product.id }}">
                            {% for j in 1..10 %}
                            <option value="{{ j }}"{{ cart_counts[i] == j ? ' selected' : '' }}>{{ j }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% set i = i + 1 %}
    {% endfor %}
</div>
{% endif %}

<div class="modal fade video-modal js-detail_product_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
