<!-- Cart Modal -->
<div class="modal fade js-cart_form_modal cart_form_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    CartVariables = {
        {% if productionMode and cart_products %}
            products: [
                {% for product in cart_products %}
                    {{ loop.index > 1 ? ',' : '' }}
                    {{ product.getDataForEcommerce()|json_encode|raw }}
                {% endfor %}
            ],
        {% endif %}
        productionMode : {{ productionMode ? 'true' : 'false' }}
    }
</script>