<div class="fav-cart-list">
    {% if count == 0 %}
        <h4>Мой список покупок пуст</h4>
    {% else %}
        {% if not user %}
            <h4>Мой список</h4>
            <a class="product-list_create link" title="Список покупок">
                <span class="js-order-list_none_auth ">Создать новый список</span>
            </a>
        {% else %}
            <h4>Мои списки</h4>
        {% endif %}
    {% endif %}
    <div class="js-cart-fav-list">
        {% component 'productchooser::favorite_list_cart_page' %}
    </div>
</div>
<div class="fav-cart-list fav-cart-list-set m-b-35">
    {% if not user %}
        <h4>Мой список</h4>
        <a class="product-list_create link" title="Список покупок">
            <span class="js-order-list_none_auth ">Создать новый список</span>
        </a>
    {% else %}
        <h4>Мой список</h4> <a href="#" class="js-set_popup-list">развернуть <i class="fa fa-chevron-down"></i></a>
        <div class="content js-set_content">
            <div class="js-cart-fav-list">
                {% component 'productchooser::favorite_list_cart_page' %}
            </div>
            {% if user %}
            <div class="create-list m-t-25">
                <h4>Создать новый список</h4>
                <form class="add-cart-favorite" data-request="onAddFavoriteListSubmit" data-request-error="ProductChooser.showModal();" data-request-success="ProductChooser.initRename();  this.reset();">
                    <input type="text" name="list_name" placeholder="Название" required />
                    <button type="submit" class="ms-button-gray btn m-t-15">Создать список</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% if user %}
    <div class="fav-cart-list create-list m-t-25">
        <h4>Создать новый список</h4>
        <form class="add-cart-favorite" data-request="onAddFavoriteListSubmit" data-request-error="ProductChooser.showModal();" data-request-success="ProductChooser.initRename(); this.reset();">
            <input type="text" name="list_name" placeholder="Название" required />
            <button type="submit" class="ms-button-gray btn m-t-15">Создать список</button>
        </form>
    </div>
{% endif %}
<div class="aviable-info m-t-15">
    <h4>Статусы наличия</h4>
    <div class="row m-b-15">
        <div class="availability in-stock">
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
        </div>
        <div class="text">в наличии</div>
    </div>
    <div class="row m-b-15">
        <div class="availability limited">
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
        </div>
        <div class="text">в ограниченном количестве</div>
    </div>
    <div class="row m-b-15">
        <div class="availability pre-order">
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
            <div class="size"></div>
        </div>
        <div class="text">предзаказ</div>
    </div>
</div>
