<span class="link cart" title="Корзина">
    <i class="my-cart" aria-hidden="true"></i>
    <div>Моя корзина</div>
    {% if cart_count is empty %}
        {% set cart_count = 0 %}
    {% endif %}
    <span>({{ cart_count }})</span>
</span>
