<div class="modal-header">
    <button type="button" class="close-x" data-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
    <div class="text-center">
        <div class="modal-message-icon warning">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h1>Список пустой</h1>
    </div>
    <div class="instruction m-t-20">
        <div class="md-header">Нужно добавить товар в список. Перейдите по ссылке - <a href="{{ url('/') }}" >Главная</a> </div>
    </div>
</div>
