bonusesPanelGutter = 8px

.bonuses-panel
  display flex
  flex-wrap wrap
  margin 0 'calc(%s / 2)' % - bonusesPanelGutter
  margin-bottom 24px

  .bonuses-panel-item
    display flex
    justify-content center
    flex-direction column
    margin 0 'calc(%s / 2)' % bonusesPanelGutter
    flex 0 1 'calc(25% - %s)' % bonusesPanelGutter
    border 1px solid light-grey
    height 72px
    font second-font
    padding 0 20px
    border-radius 4px

    &:nth-child(1)
      background-color light-green
      border none

      .value
        font-weight bold

    .value
      font-size 23px
      letter-spacing -.43px
      line-height 27px

      > :nth-child(2)
        font-size 16px
