<div class="layout-row min-size">
    <div class="callout callout-info">
        <div class="header">
            <i class="icon-info"></i>
            <h3><?= e(trans('luckyweb.user::lang.users.guest_hint_title')) ?></h3>
            <p>
                <?= e(trans('luckyweb.user::lang.users.guest_hint_desc')) ?>
                <a href="javascript:;"
                    data-control="popup"
                    data-handler="onLoadConvertGuestForm"
                ><?= e(trans('luckyweb.user::lang.users.convert_guest_manually')) ?></a>.
            </p>
        </div>
    </div>
</div>
