<div class="layout-row min-size">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-ban"></i>
            <h3><?= e(trans('luckyweb.user::lang.users.banned_hint_title')) ?></h3>
            <p>
                <?= e(trans('luckyweb.user::lang.users.banned_hint_desc')) ?>
                <a href="javascript:;"
                    data-request="onUnban"
                    data-request-confirm="<?= e(trans('luckyweb.user::lang.users.unban_confirm')) ?>"
                    data-stripe-load-indicator
                ><?= e(trans('luckyweb.user::lang.users.unban_user')) ?></a>.
            </p>
        </div>
    </div>
</div>
