<div class="layout-row min-size">
    <div class="callout callout-warning">
        <div class="header">
            <i class="icon-warning"></i>
            <h3><?= e(trans('luckyweb.user::lang.users.activate_warning_title')) ?></h3>
            <p>
                <?= e(trans('luckyweb.user::lang.users.activate_warning_desc')) ?>
                <a href="javascript:;"
                    data-request="onActivate"
                    data-request-confirm="<?= e(trans('luckyweb.user::lang.users.activate_confirm')) ?>"
                    data-stripe-load-indicator
                ><?= e(trans('luckyweb.user::lang.users.activate_manually')) ?></a>.
            </p>
        </div>
    </div>
</div>
