<div class="layout-row min-size">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-minus-circle"></i>
            <h3><?= e(trans('luckyweb.user::lang.users.trashed_hint_title')) ?></h3>
            <p><?= e(trans('luckyweb.user::lang.users.trashed_hint_desc')) ?></p>
        </div>
    </div>
</div>
