<a
    href="<?= Backend::url('luckyweb/user/users') ?>"
    class="btn btn-default oc-icon-chevron-left">
    <?= e(trans('luckyweb.user::lang.groups.return_to_users')) ?>
</a>
<a
    href="<?= Backend::url('luckyweb/user/users/update/'.$formModel->id) ?>"
    class="btn btn-primary oc-icon-pencil">
    <?= e(trans('luckyweb.user::lang.users.update_details')) ?>
</a>
<?php
/* @todo
<div class="btn-group">
    <a
        href="<?= Backend::url('luckyweb/user/users/update/'.$formModel->id) ?>"
        class="btn btn-default oc-icon-pencil">
        Deactivate
    </a>
    <a
        href="<?= Backend::url('luckyweb/user/users/update/'.$formModel->id) ?>"
        class="btn btn-default oc-icon-pencil">
        Ban user
    </a>
    <a
        href="<?= Backend::url('luckyweb/user/users/update/'.$formModel->id) ?>"
        class="btn btn-default oc-icon-pencil">
        Delete
    </a>
</div>
*/
?>