.goto-page {
    padding: 20px;
    line-height: 45px;
}

body {
    overflow-y: scroll
}

.label{ display: inline-block;margin-bottom: 5px;font-weight: normal;font-size: 13px;color: #2a3e51;}

/*global style buttons bottom*/

.control-breadcrumb+.layout-row .custom-content-layout-wrap {
    margin-bottom: 70px;
}

.layout-row .form-buttons {
    padding-bottom: 0;
    position: fixed;
    bottom: 10px;
    background: white;
    padding: 10px 20px;
    right: 20px;
}

.tabs-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid #dadadf;
}

.tabs-wrap .tab-element {
    width: 200px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #dadadf;
    border-bottom: none;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabs-wrap .tab-element.active {
    padding: 15px 10px 10px 10px;
    border: 1px solid #0b0b0b;
    border-bottom: none;
    font-weight: bold;
}

.tabs-wrap .tab-element.disactive {
    color: #dadadf;
    cursor: not-allowed;
}

.custom-content-layout-wrap {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.custom-content-layout-wrap .component-list {
    width: 22%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #dadadf;
}

.component-list .components div.layout div.layout-row div.layout-cell>div::before {
    top: -32px !important;
}

.custom-content-layout-wrap .components-details-wrap {
    width: 77%;
    padding: 20px;
    box-sizing: border-box;
}

.email_input_wrapper{list-style-type: none;padding-left: 30px;}
.email_input_wrapper h3{margin-top: 0;}
.email_input_wrapper input{
    position: relative;
    border: 1px solid #d1d6d9;
    box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    min-width: 540px;
    padding: 8px 13px;
    font-size: 14px;
    color: #385487;
    background-color: #fff;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-right: 20px;
}

.page-content-wrap {
    position: relative;
    width: 100%;
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
}

.page-content-wrap .page-content-title {
    font-size: 24px;
    line-height: 32px;
    margin-left: 20px;
}

.page-content-wrap .page-content-title ul {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.page-content-wrap .page-content-title ul li {
    color: #1e88e5;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
}

.page-content-wrap .page-content-title ul li[data-action] {
    cursor: pointer;
}

.page-content-wrap .page-content-title ul li[data-action]:hover {
    text-decoration: underline;
}

.page-content-wrap .page-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-content-wrap .page-components-list-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px 0;
}

.page-content-wrap .page-components-list-wrap:hover {
    background-color: #d1d6d9;
}

.page-content-wrap .page-components-list-wrap .page-position-controls {
    width: 40px;
    height: 40px;
    padding-top: 14px;
    position: relative;
    text-align: center;
}

.page-content-wrap .page-components-list-wrap .page-position-controls>i {
    display: block;
    font-size: 24px;
}

.page-content-wrap .page-components-list-wrap .page-position-controls>i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}

.page-content-wrap .page-components-list-wrap .page-component-wrap {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}

.page-content-wrap .page-components-list-wrap .page-component-box {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.page-content-wrap .page-components-list-wrap .page-component-box img {
    width: 50%;
}

.page-content-wrap .pseudo-selector {
    position: relative;
}

.page-content-wrap .image-control {
    padding: 20px 0;
}

.page-content-wrap .page-components-list-wrap .page-component-title {
    color: #1681ba;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.page-content-wrap .page-components-list-wrap ul.page-component-control-list {
    display: inline-block;
    margin-left: 50px;
}

.page-content-wrap .page-components-list-wrap ul.page-component-control-list li {
    display: inline;
}

.page-content-wrap .page-components-list-wrap .page-component-subtitle {
    font-size: 16px;
    line-height: 20px;
}

.page-content-wrap .page-components-list-wrap .page-component-wrap label {
    display: block;
    width: 100%;
}

.page-content-wrap .page-components-list-wrap .page-component-wrap label span {
    padding: 0 10px;
}

.page-content-wrap .page-components-list-wrap .page-component-wrap .input-text {
    position: relative;
    border: 1px solid #d1d6d9;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    min-width: 540px;
    padding: 8px 13px;
    font-size: 14px;
    color: #385487;
    background-color: #fff;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.page-content-wrap .page-components-list-wrap .pseudo-selector .pseudo-select-tag {
    position: relative;
    border: 1px solid #d1d6d9;
    padding: 8px 13px;
    height: 38px;
    min-width: 100px;
    font-size: 14px;
    color: #385487;
    background-color: #fff;
    border-radius: 3px;
    z-index: 10;
}

.page-content-wrap .page-components-list-wrap .pseudo-selector .pseudo-input-tag {
    border: 1px solid #d1d6d9;
    border-right: none;
    min-width: 80px;
    padding: 8px 13px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.page-content-wrap .page-components-list-wrap .page-component-wrap textarea.textform {
    position: relative;
    border: 1px solid #d1d6d9;
    color: #333333;
    min-height: 200px;
    box-shadow: inset 0 1px 0 rgba(209, 214, 217, 0.25), 0 1px 0 rgba(255, 255, 255, .5);
    width: calc(100% - 50px);
    min-width: 540px;
    padding: 10px;
    resize: vertical;
}

.page-content-wrap .loading-indicator-container {
    padding: 20px 0;
    box-sizing: border-box;
}

.product-view-rows-wrap {
    padding: 20px 0;
    box-sizing: border-box;
}

.product-view-rows-wrap .product-view-row {
    position: relative;
    border: 1px solid #0b0b0b;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 240px;
    flex-wrap: wrap;
}

.product-view-rows-wrap .product-view-row .product-view-background {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-view-rows-wrap .product-view-background .product-view-background-elem {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.product-view-rows-wrap .product-view-background-elem .product-view-add-wrap {
    border: 2px dashed #0b0b0b;
    padding: 25px 55px;
}

.product-view-rows-wrap .product-view-background .product-view-background-elem i {
    font-size: 128px;
    opacity: 0.1;
    cursor: pointer;
}

.product-view-rows-wrap .product-view-background .product-view-background-elem i:hover {
    opacity: 0.2;
}

.product-view-rows-wrap .product-view-row .product-view-row-content-elem {
    width: 25%;
    height: 238px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.product-view-rows-wrap .product-view-row-content-elem .content {
    width: 75%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.product-view-rows-wrap .product-view-row-content-elem .content .ignore-checkbox {
    position: absolute;
    bottom: 2px;
    left: 5px;
}

.product-view-rows-wrap .product-view-row-content-elem .content img {
    max-height: 180px;
    max-width: 210px;
}

.product-view-rows-wrap .product-view-row-content-elem .content .item-title {
    width: 100%;
    text-align: center;
    line-height: 24px;
}

.product-view-rows-wrap .product-view-row-content-elem .content .drop-button-wrap {
    position: absolute;
    top: 0;
    left: 5px;
    display: none;
    cursor: pointer;
}

.product-view-rows-wrap .product-view-row-content-elem:hover .content .drop-button-wrap {
    display: block;
}

.product-view-rows-wrap .product-view-row-content-elem .content .drop-button-wrap i {
    color: #e00;
    font-size: 32px;
}

.product-view-rows-wrap .product-view-row-content-elem .controls {
    width: 25%;
    background-color: #fff;
}

.product-view-rows-wrap .product-view-row-content-elem .controls .control-elem {
    width: 100%;
    height: 25%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.product-view-rows-wrap .product-view-row-content-elem .controls .control-elem:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.product-view-popup-wrap {
    display: none;
    position: fixed;
    width: 80%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 40px;
    min-width: 300px;
    left: 50%;
    border: 2px solid #0b0b0b;
    z-index: 999;
}

.product-view-popup-wrap .close-popup {
    position: absolute;
    top: -25px;
    right: -25px;
    border: 2px solid #0b0b0b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: #fff;
    color: #0b0b0b;
    cursor: pointer;
}

.product-view-popup-wrap .popup-content {
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}

.product-view-popup-wrap .popup-content ul {
    list-style: none;
}

.product-view-popup-wrap .popup-content ul li.category {
    color: #1e88e5;
    cursor: pointer;
}

.product-view-popup-wrap .popup-content ul i.icon-caret-right,
.product-view-popup-wrap .popup-content ul i.icon-caret-down {
    padding: 0 10px;
}

.product-view-popup-wrap .popup-content ul.items-preview {
    display: none;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.product-view-popup-wrap .popup-content li.item {
    color: #0b0b0b;
    text-decoration: none;
    text-align: center;
    max-width: 250px;
    border-bottom: 1px solid #e8eaeb;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.product-view-popup-wrap .popup-content li.item.active:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 185px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(50, 200, 50, 0.7);
}

.product-view-popup-wrap .popup-content li.item img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.product-view-popup-wrap .popup-button {
    text-align: center;
    padding-top: 20px;
}


/*popup product view*/

.product-view-popup-wrap .showProgress {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px;
    bottom: 45px;
}

.product-view-popup-wrap .showProgress progress {
    margin: 0 10px;
    width: 6em;
}


/*Grid-builder*/

.page-component-box.grid-builder {}

.grid-builder-list+.product-info-add-more,
.imagegrid-builder-list+.image-info-add-more {
    padding: 0 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}

.page-content-wrap .page-components-list-wrap .grid-builder-list .grid-builder,
.page-content-wrap .page-components-list-wrap .imagegrid-builder-list .grid-builder {
    padding-top: 0;
    padding-left: 30px;
    position: relative;
}

.page-content-wrap .page-components-list-wrap .grid-builder-list .grid-builder:first-child,
.page-content-wrap .page-components-list-wrap .imagegrid-builder-list .grid-builder:first-child {
    margin-top: 20px;
}

.page-component-box.grid-builder .product-view-rows-wrap,
.page-component-box.grid-builder .image-view-rows-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.page-component-box.grid-builder .product-view-row {
    width: calc(100% - 100px)
}

.page-component-box.grid-builder .product-bottom-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
}

.page-component-box.grid-builder .product-info-add-more {
    width: 100px;
    margin-left: 20px;
}

.page-component-box.grid-builder .product-info-validation {
    width: 100%;
    overflow: hidden;
    margin-right: 100px;
    text-align: center;
    display: none;
}

.page-component-box.grid-builder .product-info-validation.error {
    color: red;
    display: block;
}

.page-component-box.grid-builder .product-controls-row-elements {
    width: 100px;
    padding: 10px 0 10px 5px;
}

.page-component-box.grid-builder .product-controls-row-elements .hide {
    display: none;
}

.page-component-box.grid-builder .product-contrlors-item {
    margin-bottom: 10px;
}

.page-component-box.grid-builder .product-contrlors-item label {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: baseline;
    align-items: baseline;
    cursor: pointer;
}

.page-component-box.grid-builder .product-contrlors-item span {
    padding-right: 0 !important;
    font-size: 13px;
}

.page-component-box.grid-builder .product-view-background.center {
    justify-content: center;
}

.page-component-box.grid-builder .product-view-background.right {
    justify-content: flex-end;
}

.page-component-box.grid-builder .product-view-background.left {
    justify-content: flex-start;
}

.page-component-box.grid-builder .product-view-row-content-elem {
    flex-direction: column;
    transition: width ease .1s;
}

.page-component-box.grid-builder .product-view-row-content-elem .content {
    width: 100%;
    height: 75%;
}

.page-component-box.grid-builder .item-controls {
    width: 100%;
    height: 25%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    background-color: #fcfcfc;
}

.page-component-box.grid-builder .item-controls .control-position {
    width: 30%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.page-component-box.grid-builder .item-controls .control-position .control-elem {
    width: 17px;
    height: 22px;
    margin: 5px;
    font-size: 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page-component-box.grid-builder .item-controls .control-width {
    width: 70%;
    font-size: 13px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.page-component-box.grid-builder .item-controls .control-width span {
    margin: 0 5px;
}

.page-component-box.grid-builder .content img {
    height: 80%;
    max-width: 90%;
    width: 100%;
    object-fit: contain;
}

.page-component-box.grid-builder .drop-button-wrap i {
    font-size: 25px !important;
}

.page-component-box.grid-builder .product-controls-row-elements .buttons {}

.page-component-box.grid-builder .product-controls-row-elements .buttons .btn {
    width: 100%;
    white-space: normal;
    text-align: center;
    padding: 7px;
    margin-bottom: 5px;
}

.page-component-box.grid-builder .page-position-controls {
    width: 20px;
    height: 40px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5px;
    bottom: calc(100% - 60px);
}

.page-component-box.grid-builder .page-position-controls i {
    font-size: 18px;
}


/*image grid-builder*/

.hidden_block {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.hidden_block.show-popup {
    position: static;
}

.hidden_block .page-components-list-wrap {
    display: block;
}

.hidden_block .page-components-list-wrap:hover {
    background-color: transparent;
}

.hidden_block .page-content-wrap {
    padding: 0;
}

.hidden_block .done-button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.product-view-rows-wrap .product-view-row-content-elem .content .drop-button-wrap.edit {
    left: auto;
    right: 5px;
}

.product-view-rows-wrap .product-view-row-content-elem .content .drop-button-wrap.edit i {
    color: #1991d2;
}

li[data-component="ImageGridBuilder"] .product-view-row-content-elem .data-item-hidden-text {
    display: none;
}


/*loader style*/

.loader-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 3;
    height: 200px;
    width: 200px;
}

.loader-spinner.show {
    display: block;
}

body.show-popup:before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
}


/*components tabs*/
.page-component-tabs{}
.page-component-tabs-head{display: flex;align-items: flex-end;justify-content: flex-start;margin-bottom: 10px;border-bottom: 1px solid #dadadf; margin-top: 20px;}
.page-component-tabs-head .tabs-head-elem{width: 160px;text-align: center;padding: 10px;cursor: pointer;box-sizing: border-box;border: 1px solid #dadadf;border-bottom: none;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.page-component-tabs-head .tabs-head-elem.active{padding: 15px 10px 10px 10px;border: 1px solid #0b0b0b;border-bottom: none;font-weight: bold;}
.page-component-tabs-holder{position: relative;}

.page-component-tabs .page-component-tabs-item{position: absolute;left:0;top:0;visibility: hidden;width: 100%;}
.page-component-tabs .page-component-tabs-item.active{position: relative;visibility: visible;}