<template>
    <div v-if="$screen.isMobile" :class="{ 'm-menu': true, 'js-m-menu': true, 'active': isActive }">
        <span class="js-m-btn-close m-btn-close" @click="close">
            <img src="/themes/shara/assets/images/icons/x.png" alt="">
        </span>

        <ul class="list">
            <li v-for="(item, index) in items" :key="item.id" class="item" @click="showSubMenu(index)">
                <a :href="item.url ? item.url : 'javascript:void(0)'">{{ item.name }}</a>
                <template v-if="item.children.length">
                    <span class="arrow left"></span>

                    <div :class="{ 'sub-menu': true, 'active': item.active }">
                        <div class="parent-name js-close-m-sub-menu">
                            <span class="arrow" @click="closeSubMenu(index)"></span>
                            <a :href="item.url ? item.url : 'javascript:void(0)'">{{ item.name }}</a>
                            <!--<span @click="closeSubMenu(index)">{{ item.name }}</span>-->
                        </div>

                        <ul v-for="subcategory in item.children" :key="subcategory.id" class="list">
                            <li class="parent">
                                <a :href="subcategory.url ? subcategory.url : 'javascript:void(0)'">{{ subcategory.name }}</a>
                            </li>

                            <li v-for="subitem of subcategory.children" :key="subitem.id">
                                <a :href="subitem.url">
                                    {{ subitem.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </template>
            </li>
        </ul>
    </div>
</template>

<script>
    import forEach from 'lodash/forEach'

    export default {
        name: "MsMobileMenu",

        props: {
            promotions: {
                default: () => ({})
            },
            value: {
                default: () => []
            }
        },

        data: vm => ({
            items: vm.value.map(item => {
                item.active = false

                return item
            }),
            promotionObjects: [],
            isActive: false
        }),

        methods: {
            close () {
                this.isActive = false
                document.body.classList.remove('m-menu-open')
                this.deActiveAll()
            },

            deActiveAll () {
                this.items.forEach(item => item.active = false)
            },

            showSubMenu (id) {
                this.items[id].active = true
            },

            closeSubMenu (id) {
                this.items[id].active = false
            }
        },

        created () {
            const promo = [];
            forEach(this.promotions, function (e) {
                promo.push({
                    name : e.title,
                    url : e.slug,
                    id: e.id
                })
            })
            promo.push({
                name: 'Условия бонусной программы',
                url: '/share-conditions',
                id: '1488'
            })
            this.items.push({
                id: 300,
                url: '/shares',
                name: 'Акции',
                active: false,
                children: promo
            })
        },

        mounted () {
            this.$bus.$on('navigation.toggle', () => {
                this.isActive = !this.isActive
                document.body.classList.toggle('m-menu-open')
            })
        }
    }
</script>

