<template>
    <div class="menu-sub-list">
        <div v-if="current" class="sub-list-category active">

            <div v-if="currentId == -1">
                <div class="sub-list-category-top">
                    <a class="category-title" href="/shares">Акции</a>
                </div>
                <div class="sub-list-category-content">
                    <div v-for="(item, index) in promotions" :key="index" class="sub-list-category-item banner">
                        <a :href="item.slug">
                            <img :src="item.menu_image.image_url" :alt="item.title">
                            <div>{{ item.title }}</div>
                        </a>
                    </div>
                    <div class="sub-list-category-item banner">
                        <a href="/share-conditions">
                            <img src="/public/static/banners/bonus/bonus_menu@2x.jpg" alt="Условия бонусной программы">
                            <div> Условия бонусной программы </div>
                        </a>
                    </div>
                    <!--<div class="sub-list-category-item banner">-->
                        <!--<a href="/promotion/weekly">-->
                            <!--<img src="/public/static/banners/menu/divany.jpg" alt="Акция недели">-->
                            <!--<div>Акция недели</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="sub-list-category-item banner">-->
                        <!--<a href="/promotion/monthly">-->
                            <!--<img src="/public/static/banners/menu/0024.jpg" alt="Акция месяца">-->
                            <!--<div>Акция месяца</div>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>

            <div v-else>
                <div class="sub-list-category-top">
                    <a :href="current.url" class="category-title">{{ current.name }}</a>
                </div>

                <div class="sub-list-category-content">
                    <div v-for="subcategory of current.children" :key="subcategory.id" class="sub-list-category-item">
                        <a class="category ln-black" :href="subcategory.url ? subcategory.url : 'javascript:void(0)'">
                            <div class="icon" v-if="subcategory.icon" v-html="subcategory.icon.content"></div>
                            <span class="name">{{ subcategory.name }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import find from 'lodash/find'

    export default {
        name: "MsNavigationMenu",

        props: {
            promotions: {
                default: () => ({})
            },
            value: {
                default: () => []
            }
        },

        data: vm => ({
            currentId: null,
            items: vm.value,
        }),

        computed: {
            current() {
                if (this.currentId) {
                    return find(this.items, ['id', this.currentId])
                }

                return null
            }
        },

        mounted() {
            this.items.push({
                id: -1,
                promotions: this.promotions
            })

            this.$bus.$on('navigation.show', id => {
                this.currentId = parseInt(id)
            })
        }
    }
</script>
