{% if __SELF__.popupId %}

    <!-- Modal -->
    <div class="modal fade video-modal js-meta_modal {{ __SELF__.getClass() }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xlg" role="document">
            <div class="modal-content">
                {{ __SELF__.getContent()|raw }}
            </div>
        </div>
    </div>

    <script>
        MetaPopupData = {
            isOpen: {{ __SELF__.popupId != null }}
        }
    </script>

{% endif %}