<div class="ny-gifts-wrapper">
    <img class="ball" src="{{ 'assets/images/popups/ny-gifts/ball.png'|theme }}" alt="Новогодний подарок от Мебель Шара">
    <div class="content">
        <h4 class="title">Новогодний подарок<br> от мебель шара</h4>
        <p>Специально для постоянных клиентов!</p>
        <p>Оформите Бонусную карту в ближайшем фирменном салоне "Мебель Шара"<br> и получите <span class="highlighted">1 000</span> бонусных рублей<br> на покупки с 15 декабря 2017<br> по 15 января 2018 года!</p>
        <a href="{{ 'address'|page }}" class="btn btn-default btn-action m-t-30" title="Адреса магазинов Мебель Шара">Адреса магазинов</a>
    </div>
    <a href="#" class="btn-close" data-dismiss="modal">
        <img src="{{ 'assets/images/popups/ny-gifts/x.png'|theme }}">
    </a>
</div>