.product-detail
  display flex
  justify-content space-between
  flex-wrap wrap

  .product-detail-left
    flex 1
    min-width 0

  .product-detail-header
    position relative

    .product-detail-header-title
      margin 0 0 10px

    &-bottom
      display flex

      .product-article
        color primary-grey
        margin-right 17px

      .product-reviews

        .rb-text

          .separator
            padding 0 7px 0 4px

          .make-review
            cursor pointer

    .promo-labels
      right 0
      top 0

      > div
        width 52px
        height @width

        &.new
          font-weight bold

  &-buy-info
    width 293px
    margin 60px 0 0 60px
    font second-font

    .strong
      font-weight bold

    .info-hint
      display inline-block
      position relative
      margin-left 5px

      .hint
        font-size 12px
        line-height 14px
        text-align left
        bottom unset
        top calc(100% + 10px)
        z-index 999

        &::after
          top -11px
          border none
          border-left 1px solid light-grey
          border-top 1px solid light-grey

    .buy-info-delivery
      margin-bottom 36px

      .buy-info-delivery-item
        margin-bottom 12px
        justify-content space-between
        align-items flex-end
        position relative

        .in-stock
          display inline-block
          padding 3px 8px
          background-color accent-color
          font-size 12px
          line-height 14px
          color #fff
          opacity .46
          border-radius 12px

    .complete-sets

      .complete-sets-title
        margin-bottom 10px

      .select-1
        width 100%
        max-height 44px
        overflow-y hidden
        position relative
        z-index 20
        user-select none

        &.active
          overflow-y visible

          .select-inner
            height auto

            &::after
              transform rotate(-90deg) translate(50%)

        .select-inner
          background-color #fff
          border 1px solid light-grey
          border-radius 4px
          height 44px

          &::after
            content ''
            display inline-block
            width 8px
            height 8px
            position absolute
            top 50%
            right 8px
            background transparent url("../images/icons/arrow_g.svg") center/contain no-repeat
            transform rotate(90deg) translate(-50%)
            cursor pointer
            transition .15s

        .selected
          max-height 44px
          position relative
          padding 8px
          font-weight normal
          display flex
          align-items center
          cursor pointer

        .dropdown-list
          max-height 220px
          overflow-y auto
          @extend .modern-scroll

          .dropdown-list-item
            border-top 1px solid light-grey
            height 44px
            padding 0 8px
            cursor pointer

            &:hover
              background-color lightest-grey

        .selected
        .dropdown-list-item

          a
            height 100%

          &
          a
            display flex
            align-items center
            font second-font
            color primary-black

            .img
              display flex
              align-items center
              justify-content center
              width 52px
              max-height 36px
              margin-right 12px

              img
                max-height 100%
                border-radius 4px

            .text
              flex 1
              font-size 10px

    .buy-info-params

      .params
        margin-bottom 5px

        &:last-child
          margin-bottom 0

        .params-title
          margin-bottom 7px

        .params-items
          display flex
          flex-wrap wrap
          margin 0 -2px

          .params-item
            flex 0 1 25%

            .params-item-content
              display block
              border 1px solid light-grey
              border-radius 4px
              text-align center
              margin 0 2px 4px
              padding 6px
              user-select none
              font-size 13px
              cursor pointer
              color primary-black

              img
                max-height 38px
                border-radius 4px

              &.active
                border-color accent-color

    .buy-wrap
      padding gutter
      margin gutter 0 18px
      background-color light-green
      position relative
      border-radius 4px

      .buy-info-prices
        margin-bottom 14px

        .old-price
          color primary-grey

          > *
            &:nth-child(1)
              position relative

              &::before
                content ''
                position absolute
                display block
                width calc(100% + 3px)
                height 1px
                border-bottom 1px solid primary-grey
                top 50%
                transform translateY(-50%)

            &:nth-child(2)
              font-size 10px
              letter-spacing -.18px
              line-height 11px

        .active-price
          display inline-block
          position relative
          margin-bottom 3px

          > span
            font-weight bold

            &:nth-child(1)
              font-size 29px
              letter-spacing -.54px
              line-height 33px

            &:nth-child(2)
              font-size 20px
              line-height 25px

          .discount
            position absolute
            right -33px
            top -9px
            background-color #FF5021
            color #fff
            height 19px
            border-radius 9.5px
            padding 0 4px
            display flex
            align-items center

            > *

              &:nth-child(1)
                font-size 12px
                font-weight bold
                letter-spacing -.69px
                line-height 14px

              &:nth-child(2)
                font-size 8px
                font-weight 800
                letter-spacing -.08px
                line-height 9px

        .bonuses
          color primary-grey

        .price-description
          font-size 12px
          line-height 14px
          color primary-grey

      .buy-info-buttons
      .prod-board-btn
        display flex

        button
          flex 1

    .bonus
      margin-top 10px

      .accent
        color accent-color

    .buy-complect-wrap
      margin-top 28px

      .buy-complect-title
        font-weight bold
        margin-bottom 12px

      .buy-complect
        border 1px solid light-grey

        .buy-complect-item
          display flex
          padding 12px 16px
          border-bottom 1px solid light-grey

          &:last-child
            border-bottom none

          .product-img
            width 64px
            height 44px
            display flex
            justify-content center
            align-items center
            margin-right 16px

            img
              max-height 100%
              border-radius 4px

          .complect-info
            flex 1

            .product-name
              margin-bottom 6px

              a
                font second-font

            .product-count
              color primary-grey
              margin-right 8px

            .product-price
              font-weight bold

  @import "_media.styl"
