<template>
    <div class="favorites" :class="{ active : inFavoriteList, 'favorite-btn': isProductPage }" @click.prevent="onClick">
        <div :class="{ 'info-hint': true, active: showTooltip }">
            <div class="hint">
                <div class="hint-title"> </div>
                <div class="hint-text">{{ tooltipMessage }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce'

    export default {
        name: 'MsFavoriteButton',
        data: () => ({
            tooltipMessage: '',
            showTooltip: false
        }),
        props: {
            isProductPage: {
                default: null
            },
            offer: {
                required: true
            },
        },

        computed: {
            inFavoriteList () {
                return this.$store.getters['favoriteList/indexOfOfferId'](this.offer) >= 0
            },
            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            }
        },
        methods: {
            showFavoriteTooltip (message) {
                this.tooltipMessage = message
                this.showTooltip = true

                setTimeout(() => {
                    this.showTooltip = false
                }, 1500)
            },
            onClick:
                debounce(async function () {
                    if (this.isAuthenticated ) {
                        if (this.inFavoriteList) {
                            await Application.$store.dispatch('favoriteList/removeFavoriteItem', { offerId : this.offer  })
                            this.showFavoriteTooltip('Удалено из избранного!')

                        } else {
                            await Application.$store.dispatch('favoriteList/pickFavoriteItem', { offerId : this.offer })
                            this.showFavoriteTooltip('Добавлено в избранное!')
                        }
                    } else {
                        Application.$bus.$emit('auth.modal')
                    }
                }, 500, {
                    leading: true,
                    trailing: false
                })
        }
    }
</script>

<style scoped>
    .favorites .info-hint {
        position: relative;
        margin-left: 18px;
        background: none;
        top: 25px;
    }
    .favorites .info-hint .hint .hint-text {
        text-align: center;
    }

    .favorites .info-hint .hint {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        bottom: unset;
        top: calc(-100% - 80px);
        z-index: 999;
        width: 150px;
        left: -35px;
    }

    .favorites .info-hint .hint::after {
        left: 110px;
        top: unset;
        border: none;
        border-left: 1px solid light-grey;
        border-top: 1px solid light-grey;
    }

    .favorites .hint-title {
        font-size: 14px;
        margin-bottom: 4px;
    }
</style>