<template>
    <span class="favorites" @click="onClick">
         <span class="counter" v-if="favListItemsCount > 0">{{ favListItemsCount }}</span>
    </span>
</template>

<script>
    export default {
        name: 'MsFavoriteListButton',

        computed: {
            favListItemsCount (){
                return this.$store.getters['favoriteList/countItems']
            },
            isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            }
        },

        methods: {
            onClick () {
                if (this.isAuthenticated) {
                    return window.location = '/favorite-list'
                }

                this.$bus.$emit('auth.modal')
            }
        }
    }
</script>
