{% set post = __SELF__.post %}

<div class="col-md-12">
    <article>
        {% if post.featured_images.get(1) %}
            <img itemprop="image" src="{{ post.featured_images.get(1).thumb(905, auto) }}" alt="{{ post.featured_images.get(1).title ? post.featured_images.get(1).title : post.title }}" class="img-responsive">
        {% endif %}
        <div class="blog-text m-t-40" itemprop="articleBody">
            {{ post.content|raw }}
        </div>
        <meta itemprop="author" content="Mebelshara">
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Mebelshara">
            <meta itemprop="url" content="{{ 'index'|page }}">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ ('assets/frontend/images/custom/favicons/'~contentManager.getSite().code~'/android-icon-192x192.png')|theme }}">
                <meta itemprop="width" content="192">
                <meta itemprop="height" content="192">
            </div>
        </div>
    </article>
    <div class="row m-t-20">
        <div class="col-md-12">
            {#<script type="text/javascript">(function() {
                    if (window.pluso)if (typeof window.pluso.start == "function") return;
                    if (window.ifpluso==undefined) { window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                    }})();</script>
            <div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,counter,theme=06" data-services="facebook,twitter,google,email,print"></div> #}
        </div>
    </div>
    <div class="post-info m-t-10 m-b-50">
        <span itemprop="datePublished" content="{{ post.published_at|date('Y-m-d') }}"><i class="fa fa-calendar"></i>{{ post.published_at|date('d.m.Y') }}</span>
        <span class="pull-right">
            {% for category in post.getCategoriesBySite(controller) %}
                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %} - {% endif %}
            {% endfor %}
        </span>
    </div>
</div>