<template>
    <v-countdown :time="time" :transform="transform">
        <template slot-scope="props">
            <div class="countdown">
                <div class="time days"><div>{{ props.days }}</div><div>Дней</div></div>
                <div class="time hours"><div>{{ props.hours }}</div><div>Часов</div></div>
                <div class="time minutes"><div>{{ props.minutes }}</div><div>Минут</div></div>
                <div class="time seconds"><div>{{ props.seconds }}</div><div>Секунд</div></div>
            </div>
        </template>
    </v-countdown>
</template>

<script>
    import VCountdown from '@chenfengyuan/vue-countdown'

    export default {
        name: "MsCountdown",

        props: {
            endDate: null
        },

        components: {
            VCountdown
        },

        computed: {
            time () {
                const date = new Date(this.endDate)

                return date.getTime() - Date.now()
            }
        },

        methods: {
            transform (props) {
                Object.entries(props).forEach(([key, value]) => {
                    // Adds leading zero
                    props[key] = value < 10 ? `0${value}` : value
                });

                return props
            }
        }
    }
</script>
