{% if __SELF__.posts.count > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="m-b-30 font-thin font25">Похожие статьи</h3>
        </div>
    </div>
    <div class="row m-b-40">
        {% for post in __SELF__.posts %}
            <div class="col-md-4">
                {% if post.featured_images.first %}
                    <a href="{{ post.url }}">
                        <img src="{{ post.featured_images.first.thumb(905, auto) }}" alt="{{ post.featured_images.first.title }}" class="img-responsive">
                    </a>
                {% endif %}
                <h3 class="m-t-10 font-thin font25"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
        {% endfor %}
    </div>
{% endif %}