<template>
    <div :class="{ 'shopping-cart': true, 'in-cart': inCart }" @click="onClick">
        <div class="counter" v-if="cartCount > 0">
            {{ cartCount }}
        </div>
    </div>
</template>

<script>

    export default {
        name: 'MsBuyButton',

        props: {
            offer: {
                required: true
            },
            withoutCart: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            inCart () {
                return this.$store.getters['cart/indexOfOfferId'](this.offer) >= 0
            },

            cartCount () {
                const index = this.$store.getters['cart/indexOfOfferId'](this.offer)

                if (index >=0) {
                    return this.$store.state.cart.items[index].quantity
                }

                return 0;
            },
        },

        methods: {
            onClick () {
               this.$bus.$emit('cart.pickOffer', { offerId: this.offer , withoutCart: this.withoutCart })
            }
        }
    }
</script>
