<template>
    <div class="shoping-cart" @click="showCartModal">
        <span class="counter" v-if="cartItemsCount > 0">{{ cartItemsCount }}</span>
        <div :class="{ 'info-hint': true, empty: showTooltip }">
            <div class="hint">
                <div class="hint-title">Корзина пуста</div>
                <div>Ознакомьтесь с нашими <a href="/shares">акциями</a></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MsCartButton',

        data: () => ({
            showTooltip: false
        }),

        computed: {
            cartItemsCount() {
                return this.$store.getters['cart/countItems']
            }
        },

        methods: {
            showCartModal() {
                if (this.cartItemsCount > 0) {
                    this.$bus.$emit('cart.modal')
                } else {
                    this.showEmptyTooltip()
                }
            },

            showEmptyTooltip () {
                this.showTooltip = true

                setTimeout(() => {
                    this.showTooltip = false
                }, 2000)
            }
        },
    }

</script>
