<template>
    <vu-modal className="cart-modal">

        <span slot="header">
            Корзина с товарами
        </span>

        <product-list></product-list>

    </vu-modal>
</template>

<script>
import ProductList from './ProductList.vue'

export default {
    name: 'MsCartModal',

    components: {
        ProductList
    },

    computed: {
        cartItemsCount () {
            return this.$store.getters['cart/countItems']
        }
    },

    watch: {
        cartItemsCount (value) {
            if (value === 0) {
                this.$modals.close()
            }
        }
    }
}
</script>
