<template>
    <div class="prod-board-btn" @click="onClick"></div>
</template>

<script>

    export default {
        name: 'MsProdBoardButton',

        methods: {
            onClick() {
                if (this.isAuthenticated) {
                    this.$bus.$emit('cart.prodBoard')
                } else {
                    this.$bus.$emit('auth.modal')
                }
            }
        },
        computed: {
            isAuthenticated() {
                return this.$store.getters['user/isAuthenticated']
            }
        }
    }
</script>
