<template>
    <div class="product-img">
        <a :href="productLink" target="_blank">
            <img :src="productImgSrc" :alt="productImgAlt">
        </a>
    </div>
</template>

<script>
    export default {
        name: "ProductImage",
        props: ['productLink', 'productImgSrc', 'productImgAlt']
    }
</script>

<style scoped>

</style>