<template>
    <div :class="{ 'product-price': true, 'total': isTotal }">
        <span class="price-rub">{{ formatPrice(value) }}</span>
    </div>
</template>

<script>
    import formatPrice from '@/support/formatPrice'

    export default {
        name: "ProductPrice",
        mixins: [formatPrice],
        props: ['value', 'isTotal']
    }
</script>
