<template>
    <div class="product-counter"><span @click="minusQuantity"></span>{{ cartItem.quantity }}<span @click="plusQuantity"></span></div>
</template>

<script>
    export default {
        name: "Counter",
        methods: {
            plusQuantity() {
                if(this.cartItem.quantity < 10) {
                    this.$store.dispatch('cart/updateOffer', { cartItem: this.cartItem, operation: 'increment' })
                }
            },
            minusQuantity() {
                if(this.cartItem.quantity > 1) {
                    this.$store.dispatch('cart/updateOffer', { cartItem: this.cartItem, operation: 'decrement' })
                }
            }
        },
        props: ['cartItem']
    }
</script>
