<template>
    <div class="product-price total">
        <span class="price-rub">{{ formatPrice(productTotalPrice) }}</span>
    </div>
</template>

<script>
    export default {
        name: "ProductTotalPrice",
        props: ['productTotalPrice', 'formatPrice'],
    }
</script>

<style scoped>

</style>
