<template>
    <div class="del-btn">
        <button class="cls-btn" @click="remove"></button>
    </div>
</template>

<script>
    import GoogleTagManager from '@/plugins/ecommerce/googleTagManager'
    export default {
        name: "ProductRemove",
        methods: {
            remove() {
                this.$store.dispatch('cart/removeOffer', { cartItem: this.cartItem })
                GoogleTagManager.pushRemoveCartFormEvent(this.cartItem)
            }
        },
        props: ['cartItem']
    }
</script>
