<template>
    <div class="product-text-wrap">
        <div class="product-text">
            <div><a class="name" :href="product.url">{{ product.name }}</a></div>
            <div>
                <a class="category" :href="categoryUrl">
                    {{ categoryTitle }}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import get from 'lodash/get'

    export default {
        name: "ProductText",
        props: ['product'],
        computed: {
            constructorPage () {
                return get(this.product, 'good_type_site.constructor_page')
            },

            categoryUrl () {
                return this.constructorPage ? this.constructorPage.url : '#'
            },

            categoryTitle () {
                if (this.constructorPage) {
                    return this.constructorPage.title || this.constructorPage.name
                }

                return this.product.category.name
            }
        }
    }
</script>
