<template>
    <div>
        <div class="cart-products">
            <component :is="typeOffer[item.offer.type]" v-for="item in offerList" :key="item.id"
                       :item="item"></component>
        </div>

        <free-delivery-timer></free-delivery-timer>

        <div class="cart-total">

            <div class="cart-total-text">Итого:</div>

            <div class="cart-total-price-wrap">

                <!--<div class="cart-total-discount">
                  <div class="old-price">
                    <span class="price-rub">24 380</span>
                  </div>

                  <div class="discount">
                    <span class="price-rub"> - 470</span>
                  </div>
                </div>-->

                <div class="cart-total">
                    <span class="price-rub">{{ formatPrice(cartTotal) }}</span>
                </div>
            </div>

        </div>

        <div class="cart-buttons">
            <button class="btn-3 close-cart" @click="cartClose">Продолжить покупки</button>
            <button class="btn-1" @click="goToCheckoutPage">Оформить заказ</button>
        </div>
    </div>
</template>

<script>
    import SingleOffer from './SingleOffer'
    import TogetherCheapOffer from './TogetherCheapOffer'
    import PackageOffer from './PackageOffer'
    import formatPrice from '@/support/formatPrice'
    import FreeDeliveryTimer from './FreeDeliveryTimer'

    export default {
        name: 'ProductList',
        mixins: [formatPrice],
        data () {
            return {
                offerList: this.$store.state.cart.items,
                typeOffer: {
                    'single': 'SingleOffer',
                    'together_cheap': 'TogetherCheapOffer',
                    'package': 'PackageOffer'
                }
            }
        },
        components: {
            SingleOffer,
            TogetherCheapOffer,
            PackageOffer,
            FreeDeliveryTimer
        },
        methods: {
            cartClose () {
                this.$modals.close()
            },
            goToCheckoutPage() {
                window.location.href = '/checkout'
            }
        },
        computed: {
            cartTotal () {
                return this.$store.getters['cart/totalPrice']
            },
        },
    }
</script>
