<template>
    <div class="cart-row">
        <div class="cart-product-item">
            <div class="product">
                <div>
                    <product-remove :cartItem="item"></product-remove>
                    <div>
                        <product-image
                            :productLink="productItem.url"
                            :productImgSrc="productItem.image_preview_mobile"
                            :productImgAlt="productItem.name"
                        ></product-image>
                    </div>
                    <product-text :product="productItem"></product-text>
                </div>

                <div>
                    <div>
                        <product-price :value="parseInt(offer.active_price.value)"></product-price>
                    </div>
                    <div>
                        <product-counter :cartItem="item"></product-counter>
                    </div>
                    <div>
                        <product-price :value="(offer.active_price.value * item.quantity)"
                                       :is-total="true"></product-price>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ProductCounter from './ProductCounter'
    import ProductPrice from './ProductPrice'
    import ProductText from './ProductText'
    import ProductImage from './ProductImage'
    import ProductRemove from './ProductRemove'

    export default {
        props: ['item'],
        components: {
            ProductCounter,
            ProductPrice,
            ProductText,
            ProductImage,
            ProductRemove,
        },
        computed: {
            remove () {
                return this.$store.state.remove
            },

            offer () {
                return this.item.offer
            },

            productItem () {
                return this.offer.primary
            }
        }
    }
</script>
