<template>
    <div class="cart-row">
        <div class="special-offer">

          <div class="special-offer-content">
            <div class="cart-row">
              <div class="cart-product-item complect">
                <div class="complect-wrap">
                  <together-cheap-one-product
                    v-for="product in offer.products"
                    :key="product.id"
                    :cartItem="item"
                    :product="product"
                    :quantity="item.quantity"
                    ></together-cheap-one-product>
                </div>
              </div>
            </div>
            <div class="special-offer-total">
              <div>
                <span>Стоимость</span>
                <span>комплекта</span>
              </div>
              <div>
                <product-counter :cartItem="item"></product-counter>
              </div>
              <div>
                <product-price :value="(item.offer.active_price.value * item.quantity)" :is-total="true"></product-price>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
import TogetherCheapOneProduct from './TogetherCheapOneProduct'
import ProductCounter from './ProductCounter'
import ProductPrice from './ProductPrice'
// import ProductRemove from './ProductRemove'

export default {
    props: ['item'],

    components: {
        ProductCounter,
        ProductPrice,
        // ProductRemove,
        TogetherCheapOneProduct
    },

    computed: {
        offer () {
            return this.item.offer
        }
    }
}
</script>

