<template>
    <div class="product">
        <div>
            <product-remove :cartItem="cartItem"></product-remove>

            <div>
                <product-image
                    :productLink="product.url"
                    :productImgSrc="product.image_preview_mobile"
                    :productImgAlt="product.name"
                ></product-image>
            </div>

                <product-text :product="product"></product-text>

        </div>
        <div>
            <div>
                <product-price :value="productPrice"></product-price>
            </div>
            <div>{{ quantity }} шт.</div>
            <div>
                <product-total-price :product-total-price="(productPrice * quantity)" :format-price="formatPrice"></product-total-price>
            </div>
        </div>
    </div>
</template>

<script>
    import find from 'lodash/find'
    import ProductTotalPrice from './ProductTotalPrice'
    import ProductPrice from './ProductPrice'
    import ProductText from './ProductText'
    import ProductImage from './ProductImage'
    import ProductRemove from './ProductRemove'
    import formatPrice from '@/support/formatPrice'

    export default {
        mixins: [formatPrice],
        components: {
            ProductPrice,
            ProductTotalPrice,
            ProductText,
            ProductImage,
            ProductRemove
        },
        props: ['product', 'quantity', 'cartItem'],
        computed: {
            productPrice () {
                const price = find(this.cartItem.offer.prices,
                    price => price.product === this.product.id && price.type === 'lower'
                )

                console.log(price)
                return price ? parseInt(price.value) : 0
            }
        }
    }
</script>

