.search-wrap
  max-width 950px
  width 100%
  margin 0 32px
  height 44px
  background-color lightest-grey
  border-radius 4px
  min-width 0

  .search-form

    &.active
      background-color #fff
      box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 24px 0 rgba(0, 0, 0, 0.24)
      border-radius 8px

      > div

        &:nth-child(1)
          border-bottom 1px solid lightest-grey

      .search-dropdown
        display block

    > div

      &:nth-child(1)
        display flex
        white-space nowrap

      .search-form-btn
        padding 0
        border none
        width 50px
        background transparent url("../images/icons/search_g.svg") no-repeat center

      input
        width 100%
        padding 0 10px 0 0
        border none
        height 44px
        background-color transparent
        font base-font

        &::placeholder
          color darck-grey

    .dropdown-menu
      padding 25px 40px
      background-color #fff
      border-radius 8px
      transform translateY(4px)

      .caption
        display flex
        justify-content space-between
        flex-wrap wrap

        a

          &::after
            content ''
            display inline-block
            width 10px
            height @width
            background transparent url("../images/icons/right_g.svg") no-repeat center
            vertical-align middle
            margin-left 5px

      .dropdown-wrapper
        width 100%
        overflow-x hidden

        h4
          margin 0 0 12px 0

      .search-products
        display flex
        margin 0 -12px
        border-bottom 1px solid lightest-grey
        padding-bottom 32px
        margin-bottom 32px

        &-item-wrap
          display flex

        &-item
          width 104px
          min-width 104px
          white-space normal
          margin 0 12px

          .img-wrap
            display flex
            align-items center
            justify-content center
            height 66px

          .info
            margin-top 8px

            .type
              color grey
              font second-font

            .name
              font second-font

      .search-categories

        &-item
          display block
          padding 12px 0

          &::before
            content ''
            display inline-block
            vertical-align middle
            width 20px
            height @width
            margin-right 20px
            background transparent url("../images/icons/search.svg") no-repeat center

  @import "_media.styl"
