<div data-control="toolbar">
    <a href="<?= Backend::url('luckyweb/blog/categories') ?>" class="btn btn-primary oc-icon-caret-left">
        <?= e(trans('luckyweb.blog::lang.category.return_to_categories')) ?>
    </a>
</div>