<div class="banner">
    <img src="{{ banner }}" alt="0-0-24">

    <!--<div class="video-btn info-hint youtube-modal" data-code="dWt8LhnOxBI" data-title="Рассрочка 0-0-24"></div>-->
</div>

<div class="conditions">

    <div class="timer">
        <div class="timer-head">
            <div>Спеши!</div>
            <div>До конца акции осталось:</div>
        </div>

        <ms-countdown end-date="{{ page.properties.dateEnd }}"></ms-countdown>
    </div>

    <div class="conditions-info">
        <div class="valid">
            {% if date(page.properties.dateStart) < date() and date(page.properties.dateEnd) > date()  %}
            <span class="status">Действует </span>
            {% endif %}
            <span class="dates">{{ page.properties.dateStart|date("d.m.Y") }} - {{ page.properties.dateEnd|date("d.m.Y") }}</span>
        </div>
        <div class="description">
            {{ page.description }}
        </div>
    </div>

</div>
