{% if pagination %}
<div class="product-grid">
    <div class="product-grid-head">
        <h2 class="title">Товары, участвующие в акции</h2>

        <div class="actions">

            <div class="sorting">
                <span class="label">Сортировать:</span>

                <div class="select js-select">
                    <div class="selected">{{ currentSort }}</div>
                    <div class="dropdown-list">
                        <div class="dropdown-list-item"><a href="{{ sortUrl.default }}">По популярности</a></div>
                        <div class="dropdown-list-item"><a href="{{ sortUrl.price_asc}}">От дешевых к дорогим</a></div>
                        <div class="dropdown-list-item"><a href="{{ sortUrl.price_desc}}">От дорогих к дешевым</a></div>
                    </div>
                </div>
            </div>

            <div class="type-grid-btns">
                <a href="{{ zoomIn }}" class="type-grid-btn grid-large"></a>
                <a href="{{ zoomOut }}" class="type-grid-btn grid-small"></a>
            </div>

        </div>
    </div>
    <div class="product-grid-list">
        {% for product in pagination.items %}
            {% include 'partials.grid.product' with { 'product' : product, 'imageType': 'preview_mobile_image' } %}
        {% endfor %}

        {% if pagination.hasMorePages %}
            {% include 'partials.grid.next' %}
        {% endif %}

        {% if pagination.hasPages %}
            {% include 'partials.grid.pagination' %}
        {% endif %}
    </div>
</div>
{% endif %}
