<div class="description">

    <div class="footnote">
        *размещенная информация не является публичной офертой. Указанная сумма ежемесячного платежа по кредиту округлена до рубля. Акция «Мега рассрочка 0-0-24» проводится в рамках предоставляемого Банком партнером АО «ОТП Банк», Лицензия ЦБ РФ на осуществление банковских операций №2766 от 27.11.2014 г., кредитного продукта «0-0-24 new»: первоначальный взнос - 0%, срок кредита – 24 месяца, сумма кредита от 2 000 руб. до 300 000 рублей. Процентная ставка по кредиту - 8,03% годовых, без обеспечения, без комиссий, с возможностью досрочного погашения. Кредит предоставляется физическим лицам, достигшим 21 года, при предъявлении паспорта. Банк оставляет за собой право отказать в предоставлении кредита без объяснения причин. Магазины розничной сети «Мебель Шара» самостоятельно предоставляют покупателю скидку в размере 7,9% от первоначальной цены товара (включая копейки), что обеспечивает отсутствие удорожания товара по сравнению с первоначальной ценой товара без скидки, при условии, что дополнительные услуги банка не приобретаются. За неисполнение обязательств по возврату кредита / процентов взимается неустойка - 20 % годовых.
        В акции участвуют акционные товары, товары со скидкой, скидки суммируются. При погашении кредита через третьих лиц взимается комиссия согласно их тарифам. Срок проведения акции в магазинах розничной сети «Мебель Шара» и интернет-магазине с {{ startOfMonth }} г. по {{ endOfMonth }} г. Организатор Акции ООО «Мебель Шара» ИНН/КПП 5751056895/575101001 ОРГН 1155749008007, Адрес: 302011, Россия, г. Орел, Новосильское шоссе, 11.
    </div>

    <h3>Правила проведения акции</h3>

    <div class="rules">

        <p>Акция «Мега рассрочка 0-0-24» проводится в рамках предоставляемого Банком партнером кредитного продукта
            «0-0-24 new»<br>
            Условия кредитного продукта «0-0-24 new»:
        </p>

        <ul>
            <li>Ассортимент товаров – все товары с отметками «0-0-24»;</li>
            <li>Сумма кредита: от 2 000 до 300 000 руб;</li>
            <li>Первоначальный взнос: 0%;</li>
            <li>Процентная ставка: 8,03% годовых;</li>
            <li>Срок кредита: 24 месяца.</li>
        </ul>

        <p>Кредит предоставляется Банком партнёром АО «ОТП Банк», Лицензия ЦБ РФ на осуществление банковских операций №2766 от 27.11.2014 г.<br>
            Банк оставляет за собой право отказать в предоставлении кредита без объяснения причин.<br>
            Магазины розничной сети «Мебель Шара» самостоятельно предоставляют покупателю скидку в размере 7,9% от первоначальной цены товара (включая копейки), что обеспечивает отсутствие удорожания товара по сравнению с первоначальной ценой товара без скидки, при условии, что дополнительные услуги банка не приобретаются.<br>
            В акции участвуют акционные товары, товары со скидкой, скидки суммируются. При погашении кредита через третьих лиц взимается комиссия согласно их тарифам.<br>
            Досрочное погашение на условиях Банка. Срок проведения акции в магазинах розничной сети «Мебель Шара» и на сайте www.mebelshara.ru. с {{ startOfMonth }} г. по {{ endOfMonth }} г.<br>
            Перечень товаров, подробности приобретения товаров в кредит в рамках акции уточняйте у продавцов – консультантов магазинов розничной сети «Мебель Шара» и на сайте www.mebelshara.ru.
        </p>

    </div>

</div>