<div class="row m-t-30 rewards">
    <div class="col-md-12 text-center">
        {% for reward in __SELF__.rewards %}
            <img src="{{ reward.src }}" alt="Награда {{ reward.year }}">
        {% endfor %}
    </div>
</div>