subject = "MebelShara | Начисление бонусов"
==
Здравствуйте!

В течении 60-ти минут Вам будет начислено {{ amount|int }} бонусных рублей!

Вы можете потратить свои бонусы на покупки* в интернет-магазине {{ online_store_link }},
или в любом из 55 фирменных салонов 
розничной сети Мебель Шара (адреса магазинов {{ contacts_link }})

Срок действия бонусов - до {{ expired_at.date|date('d.m.Y') }}

*при сумме чека от 15 000 рублей, действие бонусов распространяется на все товары, кроме категорий «Акция месяца» и «Акция недели»


Детальные условия бонусной программы {{ bonus_share_link }}

==
<p><b>Здравствуйте!</b></p>

<p>В течении 60-ти минут Вам будет начислено <b>{{ amount|int }}</b> бонусных рублей!</p>

<p>Вы можете потратить свои бонусы на покупки* в интернет-магазине <a href="{{ online_store_link }}">www.mebelshara.ru</a>, или в любом из 55 фирменных салонов 
розничной сети Мебель Шара (<a href="{{ contacts_link }}">адреса магазинов</a>)</p>

<p>Срок действия бонусов - до {{ expired_at.date|date('d.m.Y') }}</p>

<p>*при сумме чека от 15 000 рублей, действие бонусов распространяется на все товары, кроме категорий «Акция месяца» и «Акция недели»</p>


<p><a href="{{ bonus_share_link }}">Детальные условия бонусной программы</a><p>