{% if __SELF__.code %}

    <div class="modal fade js-notification_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% partial __SELF__~"::types/"~__SELF__.code %}
            </div>
        </div>
    </div>

{% endif %}