@media (max-width 767px)

  .product-reviews-list-header
    flex-wrap wrap

    & > div

      &:first-child
        width 100%

  .product-reviews-list-content

    .product-reviews-list-content-item

      .product-reviews-list-content-item-bottom
        flex-direction column
        align-items flex-end

        .author
          margin-bottom gutter