.product-reviews-list

  &-header
    display flex
    justify-content space-between
    margin-bottom 26px
    align-items center

    .btn-1
      height auto
      max-height auto

    &-params
      display flex

      .rating
        display inline-block
        margin-right 16px

      .rating-box

        .rb-text
          font base-font
          font-weight bold
          color primary-black
          transform translateY(2px)

      .sorting
        display inline-block
        color primary-grey

  &-content

    &-item
      margin-bottom 34px

      &-top
        padding 21px 24px 26px
        background-color #f2f2f2
        margin-bottom 10px

        & .text
          margin-bottom 15px

        & .rating

          .rating-box

            .rb-text
              font base-font
              color primary-black
              transform translateY(2px)

      &-bottom
        padding 0 gutter
        display flex
        justify-content space-between

        & .author

          > *

            &:nth-child(2)
              margin 0 7px

            &:nth-child(2)
            &:nth-child(3)
              color primary-grey

  &-footer

    & .p-pagination
      padding 0

  @import '_media.styl'