/*
Backend styles overload
*/
.status-label {
    padding: 1px 5px;
    color: white;
}
.status-new,
.status-disabled {
    background-color: #ed9c28;
}
.status-confirmed,
.status-processing {
    background-color: #4da7e8;
}
.status-paid,
.status-published {
    background-color: #288c4d;
}

.status-cancelled {
    background-color: #ab2a1c;
}

.status-rejected {
    color: #ab2a1c;
    background-color: rgba(171, 42, 28, 0.15);
}

.status-delivered {
    background-color: rgba(77, 167, 232, 0.15);
    color: #4da7e8
}
.status-completed,
.status-approved,
.status-enabled,
.status-activated {
    /*background-color: transparent;*/
    background-color: rgba(23, 154, 45, 0.18);
    color: #288c4d;
}
.status-partial {
    background-color: #DEAB64;
}

/* Reviews info statuses */

.info-status-closed {
    background-color: rgba(98, 158, 212, 0.18);
    color: rgb(98, 158, 212);
}

.info-status-wait_client {
    background-color: rgba(23, 154, 45, 0.18);
    color: #288c4d;
}

.info-status-wait_admin {
    color: #ab2a1c;
    background-color: rgba(171, 42, 28, 0.15);
}

.info-status-sent_to_tm {
    color: #ab008f;
    background-color: rgba(171, 0, 143, 0.15);
}

.info-status-received_from_tm {
    color: #aba910;
    background-color: rgba(171, 169, 16, 0.15);
}

.checkbox-top-padding {
    margin-top: 31px;
}