.tooltip
  position absolute
  left 50%
  width max-content
  max-width 500px
  padding 16px
  background-color #fff
  font second-font
  color primary-black
  box-shadow 0 2px 24px 0 rgba(0, 0, 0, 0.16)
  border-radius 8px
  transform translateX(-50%)
  z-index 100