{% set page = __SELF__.page %}
<div class="promo-board">
    {% for block in page.blocks_published %}
        <div class="promo-item" style="margin-top: {{ block.offset_top }}px; margin-bottom: {{ block.offset_bottom }}px">
            {% if block.is_show_title %}
                <div class="promotion category-promotion">
                    <h2>{{ block.title }}</h2>
                    <div class="subtitle">{{ block.subtitle }}</div>
                </div>
            {% endif %}
            {% if block.items.count %}
                <div class="row promo-items">
                    {% for item in block.items %}
                        <div class="promo-item col-md-{{ item.width }} col-md-offset-{{ item.offset }}"
                             style="margin-top: {{ item.offset_top }}px; margin-bottom: {{ item.offset_bottom }}px">
                            <img src="{{ item.image.getThumb(2340, 'auto') }}" alt="{{ item.image_alt }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>