<form class="review-form">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class='control-label' for="name">Имя <abbr class="text-danger">*</abbr></label>
                <input type="text" name="name" class="form-control" placeholder="Ваше имя">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class='control-label' for="email">E-mail <abbr class="text-danger">*</abbr></label>
                <input type="text" name="email" class="form-control" placeholder="Ваш E-mail">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class='control-label' for="phone">Телефон <abbr class="text-danger">*</abbr></label>
                <input type="text" name="phone-number" class="form-control" placeholder="Ваш телефон">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class='control-label' for="city_id">Город <abbr class="text-danger">*</abbr></label>
                <select name="city_id" class="form-control placeholder">
                    <option value="" disabled selected hidden>Выберите Ваш город</option>
                    {% for city in __SELF__.getCities() %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class='control-label'>Товар</label>
                <select name="product_slug" class="js-product_select" data-placeholder="Выберите товар">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-inline">
            <div class="form-group radio-group">
                <label class='control-label' for="is_client">Вы уже являетесь клиентом нашей компании?</label>
                <div class="radio-holder">
                    <div class="radio">
                        <label><input type="radio" class="js-is_client" name="is_client" checked value="0"> Нет</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="js-is_client" name="is_client" value="1"> Да</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 js-contract_holder">
            <div class="form-group">
                <label class='control-label' for="city_id">№ договора</label>
                <input type="text" name="contract_number" class="form-control" placeholder="Номер Вашего договора" disabled="disabled">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center m-t-15 m-b-15">
            <p>Для обратной связи по Вашему отзыву просим указывать верный e-mail. В течение двух рабочих дней на почту Вы получите ответ от службы поддержки клиентов.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class='control-label' for="text">Текст отзыва <abbr class="text-danger">*</abbr></label>
                <textarea name="text" class="form-control" rows="3" placeholder="Ваш отзыв"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="form-group checkbox">
                <label>
                    <input type="hidden" name="is_accept" value="0" />
                    <input name="is_accept" type="checkbox" value="1">
                    Я принимаю <a href="#" data-toggle="modal" data-target="#termsOfUse">условия размещения отзывов</a> и <a href="{{ 'documents/privacy_policy.pdf'|media }}" target="_blank">политику конфиденциальности</a>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-lg btn-action m-t-15">Отправить</button>
        </div>
    </div>
</form>
