{% if reviews.lastPage > 1 %}
    <nav class="text-right">
        <ul class="pagination">
            {% if reviews.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): ((reviews.currentPage-1) == 1 ? null : (reviews.currentPage-1)) }) }}" aria-label="Previous"><span aria-hidden="true">« Предыдущая</span></a></li>
            {% else %}
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">« Предыдущая</span></a></li>
            {% endif %}


            {% if reviews.currentPage > 3 and reviews.lastPage > 5 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): null }) }}">1</a></li>
            {% endif %}
            {% if reviews.currentPage > 4 %}
                <li><span>...</span></li>
            {% endif %}

            {% for page in __SELF__.getPaginationRangeFirst()..__SELF__.getPaginationRangeLast() %}
                {% if reviews.currentPage == page %}
                    <li class="active"><span>{{ page }}</span></li>
                {% else %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): page == 1 ? null : page }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if reviews.currentPage < (reviews.lastPage-3) %}
                <li><span>...</span></li>
            {% endif %}
            {% if reviews.currentPage < (reviews.lastPage-2) and reviews.lastPage > 5 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): reviews.lastPage }) }}">{{ reviews.lastPage }}</a></li>
            {% endif %}

            {% if reviews.lastPage > reviews.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (reviews.currentPage+1) }) }}" aria-label="Next"><span aria-hidden="true">Следующая »</span></a></li>
            {% else %}
                <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">Следующая »</span></a></li>
            {% endif %}

            <li><a href="{{ 'reviews-all'|page }}"><span aria-hidden="true">Все отзывы</span></a></li>
        </ul>
    </nav>
{% endif %}
