<div class="text-center">
    <h1>Спасибо! Нам важен Ваш отзыв!</h1>
    <p>Ваш отзыв успешно принят и отправлен на модерацию.</p>
    <p>На обработку отзыва необходимо время, поэтому он будет добавлен на сайт, как только пройдет модерацию.</p>
</div>