@media (max-width 1439px)

  .subscribe-form-wrap
    justify-content flex-start

    .subscribe-form-item

      &:nth-child(1)
        flex 100%
        margin-bottom 8px

@media (max-width 1100px)

  .subscribe-form-wrap

    .subscribe-form-item
      margin-bottom 12px

      &:last-child
        flex 100%
        margin-bottom 0

@media (max-width 991px)

  .subscribe-form-wrap
    flex-direction column
    align-items flex-start

@media (max-width 767px)

  .subscribe-form-wrap
    flex-direction row
    align-items center
    padding-left 0
    padding-right 0

    .subscribe-form-item
      margin-right 0
      margin-left 0


@media (max-width 579px)

  .subscribe-form-wrap
    flex-direction column

  .subscribe-form-item

    &
    .f-group

      &
      input[type=text]
      button
        width 100%