.subscribe-form
  background #3abe16 url("../images/envelope.svg")
  background-position-y 50px

  .subscribe-form-wrap
    display flex
    flex-wrap wrap
    align-items center
    justify-content flex-end
    padding 24px
    //margin 0 -8px

  .subscribe-form-item
    margin 0 8px
    display flex
    align-items center

    &:nth-child(1)
      flex 1
      font-size 17px
      letter-spacing -0.32px
      line-height 21px
      color #fff

    .f-group
      margin 0

      input[type=text]
        width 256px
        border: 1px solid rgba(255, 255, 255, .4)
        background-color transparent

        &
        &::placeholder
          color #fff
          font-size 15px
          line-height 19px

      button
        padding-left 32px
        padding-right 32px

  @import "_media.styl"