<form data-request="onForwardCorrespondence">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">×</button>
        <h4 class="modal-title">Выберите менеджеров</h4>
    </div>

    <div class="list-flush">
        <div class="list-widget " id="Lists-relationRelatedManageList">
            <div class="control-list" data-control="listwidget">
                <table class="table data" data-control="rowlink">
                    <thead>
                    <tr>
                        <th class="list-checkbox">
                            <div class="checkbox custom-checkbox nolabel">
                                <input type="checkbox" id="checkboxAll"/>
                                <label for="checkboxAll"></label>
                            </div>
                        </th>
                        <th><span>ID</span></th>
                        <th><span>Имя</span></th>
                        <th><span>Почта</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <?php foreach($managers as $manager):?>
                            <tr class="rowlink">
                                <td class="list-checkbox nolink">
                                    <div class="checkbox custom-checkbox nolabel">
                                        <input name="checked[]" id="checkbox_<?php echo $manager->id?>" value="<?php echo $manager->id?>" type="checkbox" />
                                        <label for="checkbox_<?php echo $manager->id?>"><?php echo $manager->name?></label>
                                    </div>
                                </td>
                                <td><?php echo $manager->id?></td>
                                <td><?php echo $manager->name?></td>
                                <td><?php echo $manager->email?></td>
                            </tr>
                        <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="popup" data-stripe-load-indicator="">
            Переслать
        </button>
        <button type="button" class="btn btn-default" data-dismiss="popup">
            Отмена
        </button>
    </div>
</form>