<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('luckyweb/ms/reviews') ?>">Отзывы</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="control-tabs primary-tabs layout has-tabs">
        <div class="layout-row min-size">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#fields" data-toggle="tab"><span class="title">Поля</span></a></li>
                <li ><a href="#messages" data-toggle="tab"><span class="title">Сообщения</span></a></li>
            </ul>
        </div>

        <div class="tab-content layout-row">
            <div class="tab-pane active layout-cell" id="fields">
                <?= Form::open(['class' => 'layout']) ?>

                    <div class="layout-row">
                        <?= $this->formRender() ?>
                    </div>

                    <div class="form-buttons">
                        <div class="loading-indicator-container">
                            <button
                                type="submit"
                                data-request="onSave"
                                data-request-data="redirect:0"
                                data-hotkey="ctrl+s, cmd+s"
                                data-load-indicator="Сохранение отзыва..."
                                class="btn btn-primary">
                                Сохранить
                            </button>
                            <button
                                type="button"
                                data-request="onSave"
                                data-request-data="close:1"
                                data-hotkey="ctrl+enter, cmd+enter"
                                data-load-indicator="Сохранение отзыва..."
                                class="btn btn-default">
                                Сохранить и закрыть
                            </button>
                            <button
                                type="button"
                                data-control="popup"
                                data-handler="onManagersList"
                                data-size="huge"
                                class="btn btn-default">
                                Переслать переписку
                            </button>
                            <button
                                type="button"
                                class="oc-icon-trash-o btn-icon danger pull-right"
                                data-request="onDelete"
                                data-load-indicator="Удаление отзыва..."
                                data-request-confirm="Вы действительно хотите удалить отзыв?">
                            </button>
                            <span class="btn-text">
                                или <a href="<?= Backend::url('luckyweb/ms/reviews') ?>">Отмена</a>
                            </span>
                        </div>
                    </div>

                <?= Form::close() ?>
            </div>

            <div class="tab-pane layout-cell" id="messages">
                <div class="layout-row">
                    <?= $this->widget->messageHistory->render() ?>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('luckyweb/ms/reviews') ?>" class="btn btn-default">Вернуться к списка отзывов</a></p>

<?php endif ?>