<template>
    <div class="footer-type-buttons">
        <button class="btn-1" style="background-color: " @click="clickLeftBtn">{{leftBtnText}}</button>
        <button class="btn-2" style="background-color: ">{{rightBtnText}}</button>
    </div>
</template>

<script>
    export default {
        name: "MsFooterButton",
        methods: {
            clickLeftBtn() {
                location.href = this.leftBtnLink
            }
        },
        computed: {
            leftBtnId() {
                return this.$store.getters['popup/leftBtnId']
            },
            leftBtnColor() {
                return this.$store.getters['popup/leftBtnColor']
            },
            leftBtnLink() {
                return this.$store.getters['popup/leftBtnLink']
            },
            leftBtnText() {
                return this.$store.getters['popup/leftBtnText']
            },
            rightBtnId() {
                return this.$store.getters['popup/rightBtnId']
            },
            rightBtnColor() {
                return this.$store.getters['popup/rightBtnColor']
            },
            rightBtnText() {
                return this.$store.getters['popup/rightBtnText']
            },
        }
    }
</script>
