<template>
    <div>
        <div class="text">{{textSubscribe}}</div>

        <div v-if="message" class="message-subscribe">{{message}}</div>
        <div v-if="message === null" class="footer-type-subscribe">
            <div class="f-group email">
                <input type="email" placeholder="example@mail.com" v-model="email">
            </div>
            <button class="btn-1" @click="subscribe">Подписатся</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MsFooterSubscribe",
        data() {
            return {
                email: null,
                message: null
            }
        },
        methods: {
            async subscribe() {
                if (this.email !== null) {
                    this.message = await this.$store.dispatch('popup/sendPromoCode', {email: this.email})
                }
            }
        },
        computed: {
            textSubscribe() {
                return this.$store.getters['popup/textSubscribe']
            }
        },
    }
</script>
