<template>
        <a :href="imageUrl" class="banner">
            <img :src="image" alt="">
        </a>
</template>

<script>
    export default {
        name: "MsImage",
        computed: {
            image() {
                return this.$store.getters['popup/image']
            },
            imageUrl() {
                return this.$store.getters['popup/imageUrl']
            }
        }
    }
</script>
