<template>
    <div class="text">{{message}}</div>
</template>

<script>
    export default {
        name: "MsMessage",
        computed: {
            message() {
                return this.$store.getters['popup/message']
            }
        },
    }
</script>
