<template>
    <div v-if="showPopup" class="promo-popup">
        <div class="modal-mask">
            <div class="modal-container" :class="{center: type === 3, left: type === 1, right: type === 2}">
                <div class="close" @click="close"></div>
                <ms-image></ms-image>
                <ms-message></ms-message>
                <ms-footer-button v-if="variantFooter==='button'"></ms-footer-button>
                <ms-footer-subscribe v-if="variantFooter==='subscribe'"></ms-footer-subscribe>
            </div>
        </div>
    </div>
</template>

<script>
    import MsImage from './MsImage'
    import MsMessage from './MsMessage'
    import MsFooterButton from './MsFooterButton'
    import MsFooterSubscribe from './MsFooterSubscribe'

    export default {
        name: "MsPopup",
        data() {
            return {
                showPopup: false
            }
        },
        components: {
            MsImage,
            MsMessage,
            MsFooterButton,
            MsFooterSubscribe
        },
        methods: {
            async fetchPopup() {
                return await this.$store.dispatch('popup/fetch')
            },
            close() {
                this.showPopup = false
                const sessionClosePagePopup = sessionStorage.getItem('closePagePopup')
                const popupIds = (sessionClosePagePopup) ? JSON.parse(sessionClosePagePopup) : []
                const indexId = popupIds.findIndex(item => item === this.popupId)
                if (indexId === -1) popupIds.push(this.popupId)
                sessionStorage.setItem('closePagePopup', JSON.stringify(popupIds))
            }
        },
        computed: {
            popupId() {
                return this.$store.getters['popup/id']
            },
            variantFooter() {
                return this.$store.getters['popup/variantFooter']
            },
            type() {
                return parseInt(this.$store.getters['popup/type'])
            },
            timeout() {
                return this.$store.getters['popup/timeout']
            }
        },
        created() {
            this.fetchPopup()
            setTimeout(() => {
                if (this.popupId !== '') {
                    this.showPopup = true
                }
            }, parseInt(this.timeout) * 1000)
        }
    }
</script>
