@media (max-width 1079px)

  .content-tabs

    &-left
      margin-right 0

    &-right
      display none

@media (max-width 767px)

  .nav-tabs
    flex-direction column

    .nav-tab
      padding-bottom 8px
      margin-bottom 12px
      margin-right 0

  .content-tabs
    padding-top gutter