.tabs
  padding-top 55px

  .nav-tabs
    display flex
    border-bottom 1px solid light-grey

    .nav-tab
      cursor pointer
      font second-font
      font-weight bold
      margin-right 24px
      padding-bottom 18px
      transform translateY(1px)
      transition .3s
      border-bottom 2px solid transparent
      position relative

      &:last-child
        margin-right 0

      &.active
        border-bottom 2px solid accent-color
        color accent-color

      &:hover
        color accent-color

      .label
        display inline-block
        background-color base-orange
        font-size 12px
        letter-spacing -.69px
        line-height 14px
        border-radius 22px
        color #fff
        padding 1px 7px
        margin-left 2px

  .content-tabs
    padding-top 54px
    display flex
    justify-content space-between

    &-left
      flex 1
      margin-right 40px

    .content-tab
      display none

      &.active
        display block

    .tab-title
      margin 0 0 24px

  @import "_media.styl"