<template>
    <div class="offers">
        <ms-together-cheaper-row v-for="(offerGroup, categoryId) in offerGroups" :key="categoryId" :product="product"
                                 :offerGroup="offerGroup"></ms-together-cheaper-row>
    </div>
</template>

<script>
    import MsTogetherCheaperRow from '@/components/Product/TogetherCheaper/MsTogetherCheaperRow'

    export default {
        name: 'MsTogetherCheaperWrap',

        components: {
            MsTogetherCheaperRow,
        },

        props: {
            value: null
        },

        data: () => ({
            offers: [],
            product: {}
        }),

        computed: {
            offerGroups: function() {
                let grouped = {}

                this.offers.forEach(function (offer) {
                    if (grouped[offer.properties.category] === undefined) {
                        grouped[offer.properties.category] = []
                    }

                    grouped[offer.properties.category].push(offer)
                })

                return grouped
            },
        },

        async mounted () {
            const response = await this.$apiClient.$get(`/catalog/product/together-cheaper/${this.value}`)

            this.$set(this, 'product', response.data)
            this.$set(this, 'offers', response.data.together_cheaper)
        }
    }
</script>
