<template>
    <div class="offer js-offer">
        <div class="offer-item">

            <div class="offer-item-img">
                <img :src="product.image_preview_mobile" :alt="product.name+' '+product.subname">
            </div>
            <div class="offer-item-category">{{ productTypeName }}</div>
            <div class="offer-item-name"> {{ product.name }}</div>
            <div class="offer-item-price price-rub">{{ mainPrice }}</div>

        </div>

        <div class="operator plus"></div>

        <div class="offer-item">

            <div class="offer-item-img">
                <img :src="supportProduct.image_preview_mobile" :alt="supportProduct.name+' '+supportProduct.subname">
            </div>

            <div class="offer-item-category">{{ supportTypeName }}</div>
            <div class="offer-item-name">{{ supportProduct.name }}</div>
            <div class="offer-item-price price-rub">{{ supportPrice }}</div>

            <div class="select-other-product">
                <span class="js-select_offer"
                      :data-id="product.id"
                      :data-category-id="mainOffer.properties.category"
                      @click.prevent="showModal"
                >
                    Выбрать другой
                </span>
            </div>
        </div>

        <div class="operator equal"></div>

        <div class="offer-item total">

            <div class="total-wrap">
                <div><span class="old-price price-rub">{{ finalLowerPrice }}</span></div>
                <div><span class="active-price price-rub">{{ finalSpecialPrice }}</span></div>
                <div>Экономия <span class="discount price-rub">{{ mainOffer.properties.saving }}</span></div>
                <button class="btn-1"
                        :data-id="product.id"
                        :data-support-id="mainOffer.properties.supportProduct"
                        @click="pickOffer"
                >
                    Купить комплект
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import find from 'lodash/find'
    import get from 'lodash/get'

    export default {
        name: 'MsTogetherCheaperRow',

        props: {
            offerGroup: {},
            product: {},
        },

        data: () => ({
            mainOffer: null,
        }),

        computed: {
            supportProduct () {
                return find(this.mainOffer.products, item => item.id === this.mainOffer.properties.supportProduct)
            },

            prices () {
                const mainPrices = []
                const supportPrices = []
                const finalPrices = []

                this.mainOffer.prices.forEach(price => {
                    if (price.product === this.product.id) {
                        mainPrices.push(price)
                    }

                    if (price.product === this.mainOffer.properties.supportProduct) {
                        supportPrices.push(price)
                    }

                    if (price.product === null) {
                        finalPrices.push(price)
                    }
                })

                return { 'main': mainPrices, 'support': supportPrices, 'final': finalPrices }
            },

            mainPrice () {
                const price = parseInt(find(this.prices['main'], item => item.type === 'lower').value)

                return new Intl.NumberFormat().format(price)
            },

            supportPrice () {
                const price = parseInt(find(this.prices['support'], item => item.type === 'lower').value)

                return new Intl.NumberFormat().format(price)
            },

            finalLowerPrice () {
                const price = parseInt(find(this.prices['final'], item => item.type === 'lower').value)

                return new Intl.NumberFormat().format(price)
            },

            finalSpecialPrice () {
                const price = parseInt(find(this.prices['final'], item => item.type === 'special').value)

                return new Intl.NumberFormat().format(price)
            },

            productTypeName () {
                return get(this.product.good_type_site, 'type_name')
            },

            supportTypeName () {
                return get(this.supportProduct.good_type_site, 'type_name')
            },
        },

        methods: {
            pickOffer () {
                this.$bus.$emit('cart.pickOffer', {
                    nid: this.product.nid.numeric_id,
                    offerId: this.mainOffer.id,
                })
            },

            showModal () {
                this.$bus.$emit('together-cheaper.modal', this.offerGroup)
            },
        },

        created () {
            this.$set(this, 'mainOffer', find(this.offerGroup, item => item.properties.order === 1))
        },

        mounted () {
            this.$bus.$on('together-cheaper-choose:modal', offer => {
                if (offer.properties.category === this.mainOffer.properties.category) {
                    this.$set(this, 'mainOffer', offer)
                }
            })
        },
    }
</script>
