<template>
    <vu-modal class="together-cheaper-modal">
        <div slot="header">Выбрать другой товар</div>

        <div class="product-list">
            <together-cheaper-model-select-offer v-for="(offer, index) in offers"
                                                 :key="index"
                                                 :value="offer"
                                                 @input="onClick($event)"
            ></together-cheaper-model-select-offer>
        </div>

    </vu-modal>
</template>

<script>
    import TogetherCheaperModelSelectOffer from '@/components/Product/TogetherCheaper/TogetherCheaperModelSelectOffer'

    export default {
        name: 'MsTogetherCheaperModal',

        components: {
            TogetherCheaperModelSelectOffer
        },

        props: {
            offers: {},
        },

        methods: {
            onClick (offer) {
                this.$bus.$emit('together-cheaper-choose:modal', offer)
                this.$modals.close()
            },
        },
    }
</script>
