<template>
    <div class="product">

        <div class="product-image">
            <a href="">
                <img :src="supportProduct.image_preview_mobile" :alt="supportProduct.name">
            </a>
        </div>

        <div class="product-info">
            <div class="product-info-name"><a href="" target="_blank">{{ supportProduct.name }}</a></div>
            <div class="product-info-category"><a href="" target="_blank">{{ supportProductTypeName }}</a></div>
            <div class="product-info-price">
                <span class="price-rub">{{ productPrice }}</span>
            </div>
        </div>

        <div class="product-status-wrap" v-if="supportProduct.availability_indicator">
            <span class="product-status">Есть в наличии</span>
        </div>

        <div class="product-total">
            <div class="discount">
                <div class="discount-text">Экономия</div>
                <div class="discount-value price-rub">{{ value.properties.saving }}</div>
            </div>

            <button class="btn-1" @click="$emit('input', value)">Выбрать</button>

        </div>

    </div>
</template>

<script>
    import find from 'lodash/find'
    import get from 'lodash/get'

    export default {
        name: 'TogetherCheaperModelSelectOffer',

        props: {
            value: null,
        },

        computed: {
            supportProduct() {
                return find(this.value.products, item => item.id === this.value.properties.supportProduct)
            },

            productPrice() {
                const price = find(this.value.prices,
                    item => item.type === 'lower' && item.product === this.value.properties.supportProduct,
                )

                return new Intl.NumberFormat().format(parseInt(price.value))
            },

            supportProductTypeName() {
                return get(this.supportProduct, 'good_type_site.type_name')
            }
        },
    }
</script>
