<div class="together-cheaper">
    <h2 class="together-cheaper-title">Купить комплект с экономией</h2>

    <div class="offers">
        {% for togetherOffer in __SELF__.offers %}
        <div class="offer js-offer">
            {% partial __SELF__~"::offer_item" product=__SELF__.product support=togetherOffer.support_product offer=togetherOffer %}
        </div>
        {% endfor %}

        {#
        {% for support in __SELF__.supportProducts %}
            <div class="offer js-offer">
                {% partial __SELF__~"::offer_item" product=__SELF__.product support=support %}
            </div>
        {% endfor %}
        #}
    </div>
</div>

<!-- Order Modal -->
<div class="modal fade js-together_select_modal together_select_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    ProductTogetherCheaperVariables = {
        productionMode : {{ productionMode ? 'true' : 'false' }}
    }
</script>
