{% set supportProduct = support %}

<div class="offer-item">

    <div class="offer-item-img">
        <img src="{{ product.images.first.getPreviewSource() }}" alt="{{ product.name~' '~product.subname }}">
    </div>
    <div class="offer-item-category">{{ product.type_name_for_page }}</div>
    <div class="offer-item-name"> {{ product.name }}</div>
    <div class="offer-item-price price-rub">{{ product.getActivePrice()|number_format(0,'',' ') }}</div>

</div>

<div class="operator plus"></div>

<div class="offer-item">

    <div  class="offer-item-img">
        <img src="{{ supportProduct.images.first.getPreviewSource() }}" alt="{{ supportProduct.name~' '~supportProduct.subname }}">
    </div>

    <div class="offer-item-category">{{ supportProduct.type_name_for_page }}</div>
    <div class="offer-item-name">{{ supportProduct.name }}</div>
    <div class="offer-item-price price-rub">{{ supportProduct.price_lower_b|number_format(0,'',' ') }}</div>

    <div class="select-other-product">
        <a href="#" class="js-select_offer" data-id="{{ product.id }}" data-category-id="{{ supportProduct.category_id }}">Выбрать другой</a>
    </div>
</div>

<div class="operator equal"></div>

<div class="offer-item total">

    <div class="total-wrap">
        <div><span class="old-price price-rub">{{ (product.getActivePrice()+supportProduct.price_lower_b)|number_format(0,'',' ') }}</span></div>
        <div><span class="active-price price-rub">{{ (product.getActivePrice() + supportProduct.price_lower_b - offer.properties.saving)|number_format(0,'',' ') }}</span></div>
        <div>Экономия <span class="discount price-rub">{{ offer.properties.saving | number_format(0,'',' ') }}</span></div>

        <button class="btn-1" data-id="{{ product.id }}" data-support-id="{{ supportProduct.id }}" onclick="Application.$bus.$emit('cart.pickOffer', { nid: '{{ offer.primary.nid.numeric_id }}', offerId: '{{ offer.id }}', price: '{{ offer.active_price.value }}' })">
            Купить комплект
        </button>

    </div>
</div>
