<div class="modal-body" style="position: relative; padding: 15px;" >
    <a href="#" class="btn-close" data-dismiss="modal">
        <img src="{{ 'assets/images/popups/ny-gifts/x.png'|theme }}">
    </a>

    <div class="title">
        Выбрать другой товар
    </div>
    <ul class="offers" style="list-style: none;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 15px 0 0;">
        {% for item in support %}
            {% set supportProduct = item.getSupportProduct() %}
            <li class="row" style="margin-left: -15px;
                                    margin-right: -15px;padding: 20px 0;
                                    border-bottom: 1px solid #e5e5e5;">
                <div class="col-sm-4" style="
                width: 33.33333333%;
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;">
                    <img src="{{ supportProduct.images.first.getSource() }}"
                         style="    vertical-align: middle;    width: 100%;    border: 0;"
                         alt="{{ supportProduct.name~' '~supportProduct.subname }}">
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-xs-6 name">
                            {{ supportProduct.name }}
                        </div>
                        <div class="col-xs-6 price">
                            {{ supportProduct.price_lower_b|number_format(0,'',' ') }} <i class="fa fa-rub"></i>
                        </div>
                    </div>
                    <div class="features">
                        {% for dName, dValue in supportProduct.getDescriptions() %}
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                {{ dName }}
                            </div>
                            <div class="col-xs-6 text-right">
                                {{ dValue }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="save-money">
                        Экономия <br> {{ item.saving|number_format(0,'',' ') }} <i class="fa fa-rub"></i>
                    </a>

                    <div class="availability">
                        <div class="graph {{ supportProduct.getAvailabilityClass() }}">
                            <div></div><div></div><div></div><div></div><div></div>
                        </div>
                        {% if supportProduct.residual_indicator == 0 %}
                            <div class="text">предзаказ {{ supportProduct.max_order_item~' '~'{0} дней|{1} день|[2,4] дня|[5,Inf] дней'|transchoice(supportProduct.max_order_item|default(0)) }}</div>
                        {% elseif supportProduct.residual_indicator == 1 %}
                            <div class="text">в ограниченном количестве</div>
                        {% elseif supportProduct.residual_indicator == 2 %}
                            <div class="text">в наличии</div>
                        {% endif %}
                    </div>

                    <a href="#" class="js-offer_selected select-offer-link m-t-0" data-id="{{ product.id }}" data-support-id="{{ item.id }}">
                        Выбрать
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>