<template>
    <div v-if="isShow">
        <v-countdown :time="time" :transform="transform">
            <template slot-scope="props">
                <div class="timer-container head-timer">
                    <img src="/public/static/banners/preheader/box@2x.png" alt="">
                    <div class="timer-text">Оформи заказ до конца дня и получи - <span>бесплатную доставку</span></div>
                    <div class="countdown size-2 inverse">
                        <div class="time days"><div>{{ props.days }}</div><div>Дней</div></div>
                        <div class="time hours"><div>{{ props.hours }}</div><div>Часов</div></div>
                        <div class="time minutes"><div>{{ props.minutes }}</div><div>Минут</div></div>
                        <div class="time seconds"><div>{{ props.seconds }}</div><div>Секунд</div></div>
                    </div>
                    <button class="btn-2">Оформить</button>
                </div>
            </template>
        </v-countdown>
    </div>
</template>

<script>
    import VCountdown from '@chenfengyuan/vue-countdown'

    export default {
        name: 'FreeDeliveryHeadBanner',

        components: {
            VCountdown
        },

        computed: {
            time () {
                return (this.expired - parseInt(Date.now() / 1000)) * 1000
            },

            expired () {
                return this.$store.state.promotions.free_delivery_30_plus.expired
            },

            isShow () {
                return this.$store.getters['promotions/isShowFreeDelivery30Plus']
            }
        },

        watch: {
            isShow(value) {

            }
        },

        methods: {
            transform (props) {
                Object.entries(props).forEach(([key, value]) => {
                    // Adds leading zero
                    props[key] = value < 10 ? `0${value}` : value
                });

                return props
            }
        }
    }
</script>
