<template>
    <div class="preheader-banner" :style="{ 'background-color': value.color }">
        <a v-if="image" :href="url">
            <img :src="image" :alt="value.name" @load="$bus.$emit('navigation.calc')">
        </a>
    </div>
</template>

<script>
    import get from 'lodash/get'

    export default {
        name: 'HeadBannerStatic',

        props: ['value'],

        computed: {
            url () {
                return get(this.value, 'properties.href', '#')
            },

            image () {
                return this.value.image_url
            }
        }
    }
</script>
