<template>
    <component v-show="isShow"
               :is="component"
               :value="banner"></component>
</template>

<script>
    import { mapState, mapGetters } from 'vuex'

    export default {
        name: 'MsHeadBanner',

        computed: {
            ...mapState('headBanner', [
                'isShow',
                'banner',
            ]),

            ...mapGetters('headBanner', [
                'component'
            ])
        }
    }
</script>
