@media (max-width 767px)

  .personal-data

    .personal-data-content

      .user-data-item
        display flex
        flex-direction column

@media (max-width 579px)

  .user-extended-data
    width 100%

    .user-extended-data-item

      &.social

        .social-btns

          .social-btn
            width 100%
            margin-right 0
