.profile

  .personal-data
    margin 0 0 60px !important
    display none

    &.active
      display block

    &-content
      display flex

      .user-data
        margin-right 24px

        &-item
          margin-bottom 16px

          &:last-child
            margin-bottom 0

          > *
            display inline-block

            &:nth-child(1)
              width 130px
              margin-right 60px

      .edit-btns
        border-left 1px solid #ebebeb
        padding-left 20px

        span
          color base-green
          cursor pointer

          &:hover
            color #2B8C10

        > *
          margin-bottom 16px

          &:last-child
            margin-bottom 0

  .user-extended-data
    max-width 528px
    margin 0 !important

    &-item:not(.edit-personal-data)
      padding 16px 24px
      border 1px solid #ebebeb
      border-radius 8px

    &-item
      display none
      opacity .5account-nav
      transition opacity .5s

      &.active
        display block
        opacity 1

      &.edit-personal-data

        & > div
          display flex
          justify-content space-between

          & > :nth-child(1)
            align-self flex-start
            transform translateY(12px)

          & > :nth-child(2)
            max-width 344px
            width 100%

      &.social

        .social-btns
          margin 16px 0
          display flex
          flex-wrap wrap

          .social-btn
            width 174px
            height 44px
            border-radius 4px
            border none
            display inline-flex
            align-items center
            cursor pointer
            margin 0 12px 12px 0
            color #fff
            padding-left 44px
            background-repeat no-repeat !important
            background-position 12px center !important


            &:last-child
              margin 0

            & > *
              display inline-block

            & > :nth-child(2)
              display none
              font-weight 500

            &.active
              color primary-black
              background-color #fff !important
              text-align left

              &:hover
                background-color darken(#fff, 5%) !important

              & > :nth-child(1)
                display none

              & > :nth-child(2)
                display block

                & > :nth-child(2)
                  color base-orange
                  font-size 10px
                  letter-spacing -.14px
                  line-height 14px

            &.social-fb
              background fb-color url("../images/icons/facebook_w.svg")
              background-position 17px center !important

              &:hover
                background-color darken(fb-color, 5%)

              &.active
                border 1px solid fb-color
                background-image url("../images/icons/facebook_c.svg")

            &.social-vk
              background vk-color url("../images/icons/vk_w.svg")

              &:hover
                background-color darken(vk-color, 5%)

              &.active
                border 1px solid vk-color
                background-image url("../images/icons/vk_c.svg")

            &.social-google
              background-color #fff
              border 1px solid grey
              color primary-black
              background-image url("../images/icons/google@2x.svg")

              &:hover
                background-color darken(#fff, 5%)

      .save
        justify-content flex-end !important

        .f-group
          flex 1
          max-width 344px

          button
            width 100%

  @import "_media.styl"