{% set miniClass = miniNavigation ? 'mini': '' %}

<div class="side-menu animate {{ miniClass }}">

    <div class="menu-list-wrap">

        <div class="menu-list">

            <ul id="nav">
                {% for item in collection %}
                    <li class="{{ item.isActiveMenuItem() ? 'active': '' }}">
                        <a href="{{ item.url ?  item.url : 'javascript:void(0)' }}" data-cat-id="{{ item.id }}">
                            {% if item.icon_id %}
                                {{ item.icon.content|raw }}
                            {% endif %}
                            <span class="item-name">{{ item.name }}</span>
                        </a>
                    </li>
                {% endfor %}

                <li>
                    <a href="/shares" data-cat-id="-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                            <title>FB22195C-C328-49EC-AC4F-3A9CEFF85AF7@2x</title>
                            <desc>Created with sketchtool.</desc>
                            <g id="Service-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Work-2" transform="translate(-14.000000, -528.000000)">
                                    <g id="1">
                                        <g id="Left-Side-Copy" transform="translate(0.000000, 120.000000)">
                                            <g id="10" transform="translate(0.000000, 404.000000)">
                                                <g id="Иконки-/-1-Copy-2" transform="translate(14.000000, 4.000000)">
                                                    <g id="icons_specia_offer">
                                                        <rect id="Rectangle" stroke="#2E332D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" x="8" y="8" width="6" height="6"/>
                                                        <rect id="Rectangle-Copy" stroke="#2E332D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" x="22" y="22" width="6" height="6"/>
                                                        <path d="M8,28 L28,8" id="Path" stroke="#2E332D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <rect id="Rectangle" stroke="#FFFFFF" stroke-width="0.01" x="0.005" y="0.005" width="35.99" height="35.99"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span class="item-name">Акции</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-nav">
            <div>
                <a href="/dostavka-i-sborka" class="ln-black">Доставка</a>
            </div>
            <div>
                <a href="/oplata" class="ln-black">Оплата</a>
            </div>
            <div>
                <a href="/obmen-i-vozvrat" class="ln-black">Обмен и возврат</a>
            </div>
        </div>

    </div>

    <ms-navigation-menu :promotions="{{ promotions }}" :value="{{ mainNavigationJson }}"></ms-navigation-menu>
</div>
