<ms-mobile-menu :promotions="{{ promotions }}" :value="{{ mainNavigationJson }}"></ms-mobile-menu>

{#<div class="m-menu js-m-menu">#}
{#    <span class="js-m-btn-close m-btn-close"><img src="{{ 'assets/images/icons/x.png'|theme }}" alt=""></span>#}
{##}
{#    <ul class="list">#}
{#        {% for item in collection %}#}
{#            <li class="item">#}
{#                <a href="{{ item.url ?  item.url : 'javascript:void(0)' }}">{{ item.name }}</a>#}
{#                {% if item.children.count() %}#}
{#                    <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>#}
{##}
{#                    <div class="sub-menu">#}
{#                        <div class="parent-name js-close-m-sub-menu">#}
{#                            <span class="arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></span>#}
{#                            <span>{{ item.name }}</span>#}
{#                        </div>#}
{##}
{#                        {% for subcategory in item.children %}#}
{#                            <ul class="list">#}
{#                                <li class="parent"><a href="{{ subcategory.url ? subcategory.url : 'javascript:void(0)' }}">{{ subcategory.name }}</a></li>#}
{#                                {% for subitem in subcategory.children %}#}
{#                                    <li><a href="{{ url(subitem.url) }}">{{ subitem.name }}</a></li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}
