<!--<a href="#" class="js-product_cart_button ms-action-button btn-md btn order-button order_form_button m-t-5" data-id="{{ product.id }}">-->
<!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>Купить-->
<!--</a>-->
<div class="count-wrap m-t-20">
    <div class="product-related-count">
        <div class="pm" id="minus" data-id="{{ __SELF__.product.id }}" data-price="{{ __SELF__.product.getActivePrice() }}"><i class="fa fa-minus"></i></div>
        <div class="number">0</div>
        <div class="pm" id="plus" data-id="{{ __SELF__.product.id }}"  data-price="{{ __SELF__.product.getActivePrice() }}"><i class="fa fa-plus"></i></div>
    </div>
</div>
