{% if data %}
<div class="product_related_count_bar">
    <div class="container">
    <div class="complect-choosen clearfix is_stuck" id="Sticky">
        <div class="row choosen-left pull-left">
            <div class="col-md-10 col-sm-8 col-xs-12 you-choose">
                <span class="mob-choose">Вы выбрали </span><span class="txt-big">{{data[1]}}</span> <span class="txt-human-items"> {{data[2]}}</span> на сумму <span class="txt-red"><span class="txt-big">{{ data[0]|number_format(0,'',' ') }}</span> <i class="fa fa-rub"></i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <a href="#" title="" class="btn ms-action-button pull-left js-complect-buy-button p-l-30 p-r-35">
                    <i class="fa fa-cart"></i>Купить
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
{% endif %}