<div class="m-menu js-m-menu">
    <span class="js-m-btn-close m-btn-close"><img src="{{ 'assets/images/icons/x.png'|theme }}" alt=""></span>

    <ul class="list">
        {% for item in menu_vertical %}
        <li class="item">
            <a href="{{ item.url ?  item.url : 'javascript:void(0)' }}">{{ item.name }}</a>
            {% if item.sub_menu_category.count() %}
            <span class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>

            <div class="sub-menu">
                <div class="parent-name js-close-m-sub-menu">
                    <span class="arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                    <span>{{ item.name }}</span>
                </div>

                {% if item.type_id == 1 %}

                {% for subcategory in item.getColumnByNum(1).sortBy('order') %}
                <ul class="list">
                    <li class="parent"><a href="{{ subcategory.url ? subcategory.url : 'javascript:void(0)' }}">{{ subcategory.name }}</a></li>
                    {% for subitem in subcategory.sub_menu_item.sortBy('order') %}
                    <li><a href="{{ url(subitem.url) }}">{{ subitem.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}

                {% endif %}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
