<div class="side-menu">

    <div class="menu-list-wrap">

        <div class="menu-list">

            <ul id="nav">
                {% for item in menu_vertical %}
                <li class="{{ item.isActiveMenuItem() ? 'active': '' }}">
                    <a href="{{ item.url ?  item.url : 'javascript:void(0)' }}" data-cat-id="{{ item.id }}">
                        {% if item.icon %}
                        <img src="{{ item.icon|media }}"/>
                        {% endif %}
                        <span class="item-name">{{ item.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="bottom-nav">
            <div>
                <a href="/dostavka-i-sborka" class="ln-black">Доставка</a>
            </div>
            <div>
                <a href="/oplata" class="ln-black">Оплата</a>
            </div>
            <div>
                <a href="/obmen-i-vozvrat" class="ln-black">Обмен и возврат</a>
            </div>
        </div>

    </div>
    <div class="menu-sub-list">

        {% for item in menu_vertical %}
        <div class="sub-list-category" data-cat-id="{{ item.id }}">
            <div class="sub-list-category-top">
                <a href="{{ url(item.url) }}" class="category-title">{{ item.name }}</a>
                <a href="{{ url(item.url) }}" class="see-all">Смотреть все </a>
            </div>

            <div class="sub-list-category-content">

                {% if item.type_id == 1 %}

                {% for subcategory in item.getColumnByNum(1).sortBy('order') %}

                <div class="sub-list-category-item">
                    <a href="{{ subcategory.url ?  subcategory.url : 'javascript:void(0)' }}">
                        <img class="img-svg ico" src="{{ subcategory.icon|media }}" alt="">
                        <span>{{ subcategory.name }}</span>
                    </a>
                </div>

                {% set itemsNumber = 2 %}
                {% if loop.index % itemsNumber == 0 %}
                <div class="row"></div>
                {% endif %}

                {% endfor %}

                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>
