.product-detail-gallery
  margin-top gutter

  .gallery-top
    cursor pointer

    &:hover

      .sw-button-prev
        left gutter
        opacity 1

      .sw-button-next
        right gutter
        opacity 1

    .sw-button-next
    .sw-button-prev
      position absolute
      top 50%
      display block
      width 43px
      height @width
      margin-top - ( @height / 2 )
      border-radius 50%
      background #fff no-repeat center
      border 1px solid #fff
      transition .3s
      z-index 10
      cursor pointer
      opacity 0

      &:hover
        background-color accent-color
        border-color accent-color

    .sw-button-prev
      background-image url("../images/icons/left_g.svg")
      background-position 47% 50%
      left - slider-btn-width

      &:hover
        background-image url("../images/icons/arrow_left_white.svg")

    .sw-button-next
      background-image url("../images/icons/right_g.svg")
      background-position 53% 50%
      right - slider-btn-width

      &:hover
        background-image url("../images/icons/arrow_right_white.svg")


    .video-container

      .video-iframe
        width 100%

  .gallery-thumbs
    margin-top 36px
    justify-content center

    .swiper-slide
      width 86px
      max-height 100%
      margin-right 4px
      border 1px solid light-grey
      border-radius 4px
      padding 6px
      cursor pointer

      img
        display block
        margin auto
        max-height 100%

      &.video
        position relative

        .play-btn
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)

    .swiper-slide-thumb-active
      border 1px solid accent-color

  @import "_media.styl"
