.promo-code-wrap
  display flex
  justify-content center
  margin-top 44px
  flex-wrap wrap

  .promo-code-banner
    width 436px
    max-width 100%

  .promo-code
    width 344px
    max-width 100%
    margin-top 50px

    .promo-code-title
      margin-bottom 18px

    .code
      @extend .head-text-1
      text-transform uppercase
      margin gutter 0
      background-color light-green
      height 65px
      line-height @height
      text-align center
      font-weight bold

    .promo-agreement
      font second-font

    .prom-ocode-activation
      width 100%
      margin-top gutter
      height 52px
      max-height 52px !important

  @import "_media.styl"