<template>
    <div @keyup.enter.prevent="submitNameEmail">
        <div class="f-group-2" :class="{'error' : errors.has('name')}">
            <input :class="[activeNameClass]"
                   @blur="onBlur('activeNameClass', 'name')"
                   @focus="activeNameClass='active'"
                   v-validate="{ required: true, regex: /^([0-9A-Za-zА-Яа-яЁё]+)(.*)(\s)([0-9A-Za-zА-Яа-яЁё]+\s?)$/ui}"
                   data-vv-as=" "
                   ref="name"
                   id="name"
                   name="name"
                   type="text"
                   v-focus
                   v-model="name">
            <label for="name">Имя и фамилия</label>
            <div class="error-message" v-if="errors.has('name')">{{errors.first('name')}}</div>
        </div>
        <div class="f-group-2" :class="{'error' : errors.has('email')}">
            <input :class="[activeEmailClass]"
                   @blur="onBlur('activeEmailClass', 'email')"
                   @focus="activeEmailClass='active'"
                   v-validate="'required|email'"
                   data-vv-as=" "
                   ref="email"
                   id="email"
                   name="email"
                   type="text"
                   v-model="email">
            <label for="email">Эл. почта</label>
            <div class="error-message" v-if="errors.has('email')">{{errors.first('email')}}</div>
        </div>
        <button class="btn-1" @click="submitNameEmail">Войти</button>
    </div>
</template>

<script>
        import {getValidationErrors} from '@/support/errors'
        import mixinHelper from '../mixinHelper'


        export default {
            name: "NameEmailForm",
            mixins: [mixinHelper],
            data: () => ({
                activeEmailClass: '',
                activeNameClass: 'active',
                name: '',
                email: ''
            }),
            props: {
                params: {
                    type: Object,
                    default: () => ({})
                }
            },
            directives:{
                focus: {
                    // directive definition
                    inserted: function (el) {
                        el.focus()
                    }
                },
            },
            methods: {
                async submitNameEmail(){
                    if (await this.$validator.validateAll()) {
                        const name = this.name;
                        const email = this.email;
                        const sign = this.params.sign

                        this.$emit('change-step', { step: 'CreatePassword', params: { sign, name, email } })

                    }
                }
            }
        }
</script>
