<template>
    <validate-code-form @resendCode="resendCode" @submitCode="onSubmit" :phone="this.params.phone" :customErrors="customErrors"></validate-code-form>
</template>

<script>
    import ValidateCodeForm from '../forms/ValidateCodeForm'
    import {getValidationErrors} from '@/support/errors'

    export default {
        name: "ValidateRegisterCode",
        props: {
            params: {
                type: Object,
                default: () => ({})
            }
        },
        data: () => ({
            customErrors: []
        }),
        components: {ValidateCodeForm},
        methods: {
            async resendCode(){
                let sign = this.params.sign
                let phone = this.params.phone;

                this.$emit('change-step', { step: 'ResendRegisterCodeForm',  params: { sign, phone }})
            },
            async setPassword(){
                let sign = this.params.sign
                this.$emit('change-step', { step: 'NameEmailForm',  params: { sign }})
            },
            async onSubmit(code){
                try {
                    await this.$apiClient.post('/registration/validation', {
                        code,
                        sign: this.params.sign
                    })
                    this.setPassword();

                } catch (e) {

                    if(e){
                        this.customErrors = getValidationErrors(e.response.data.errors, this.customErrors)
                    } else {
                        this.$notify({
                            group:  'error',
                            type:   'error',
                            title:  'Ошибка',
                            text:   'Ой, произошла какая-то ошибка :( Попробуйте позже'
                        });
                    }
                    console.error(e);
                }
            }
        }
    }
</script>
