<template>

    <div class="swiper-slide">
        <img :src="image.src" :alt="image.alt">
    </div>

</template>

<script>

    export default {
        name: "MsImagesDetailModalSlide",
        props: {
            image: HTMLImageElement
        }
    }
</script>
