<template>
    <vu-modal class="image-modal">

        <div class="image-modal-title">Спальный гарнитур Эшли</div>

        <div class="gallery-popup-slider-container">

            <div class="gallery-popup-slider swiper-container">
                <div class="swiper-wrapper" >
                    <ms-images-detail-modal-slide v-for="(img, index) in images" :key="index" :image="img"></ms-images-detail-modal-slide>
                </div>

                <div class="swiper-button-prev sw-button-prev"></div>
                <div class="swiper-button-next sw-button-next"></div>
            </div>

            <div class="gallery-popup-slider-nav-wrap">
                <div class="swiper-container gallery-thumbs gallery-popup-slider-nav">
                    <div class="swiper-wrapper">
                        <ms-images-detail-modal-slide v-for="(img, index) in images" :key="index" :image="img"></ms-images-detail-modal-slide>
                    </div>
                </div>

            </div>
        </div>

    </vu-modal>
</template>

<script>
    import MsImagesDetailModalSlide from './MsImagesDetailModalSlide'

    export default {
        name: 'MsImageDetailModal',
        props: {
            images: NodeList
        },
        components: {
            MsImagesDetailModalSlide
        }
    }
</script>
