<!--<div class="form-group is-required">-->
    <label>
        <button id="codeGenerate" type="button" class="btn btn-info btn-xs">Сгенерировать</button>
        <span>Промокод</span>
    </label>
    <input
        type="text"
        name="PromoCode[code]"
        class="form-control"
        value="<?= $model->code ?>"
        required/>
<!--</div>-->

<script>
    $('#codeGenerate').on('click', e => {
        e.preventDefault();
        const codeLength = 5;
        $('[name="PromoCode[code]"]').val(
            Math.random()
                .toString(36)
                .split('')
                .reverse()
                .join('')
                .substring(0, codeLength)
                .toUpperCase()
        )
    })
</script>
