<template>

    <div class="account">

        <div class="account-page">

            <div class="account-header">
                <h1>Бонусный счет</h1>
            </div>

            <div class="account-content">

                <div class="bonuses-panel">
                    <div class="bonuses-panel-item">
                        <div class="title">Доступно</div>
                        <div class="value"><span>{{activatedBonuses}}</span><span>₽</span></div>
                    </div>
                    <div class="bonuses-panel-item">
                        <div class="title">Начислено</div>
                        <div class="value"><span>{{accruedBonuses}}</span><span>₽</span></div>
                    </div>
                    <div class="bonuses-panel-item">
                        <div class="title">Использовано</div>
                        <div class="value"><span>{{chargedBonuses}}</span><span>₽</span></div>
                    </div>
                    <div class="bonuses-panel-item">
                        <div class="title">Сгорело</div>
                        <div class="value"><span>{{deactivatedBonuses}}</span><span>₽</span></div>
                    </div>
                </div>

                <table>
                    <tr>
                        <th>Сумма</th>
                        <th>Дата</th>
                        <th>Сгорят</th>
                        <th>Описание</th>
                    </tr>
                    <ms-event v-for="(item, index) in bonusesEvent" :key="index" :item="item"></ms-event>
                </table>

                <div class="m-table">
                    <ms-event-mobile v-for="(item, index) in bonusesEvent" :key="index" :item="item"></ms-event-mobile>
                </div>

            </div>
        </div>

        <div class="account-sidebar">
            <ms-aside></ms-aside>
        </div>

    </div>

</template>

<script>
    import MsAside from '../MsAside'
    import MsEvent from './MsEvent'
    import MsEventMobile from './MsEventMobile'

    export default {
        name: "MsBonuses",
        components: {MsAside, MsEvent, MsEventMobile},
        methods: {
            fetchingBonuses() {
                return this.$store.dispatch('user/bonusesEvent')
            }
        },
        computed: {
            activatedBonuses() {
                return this.$store.getters['user/activatedBonuses']
            },
            accruedBonuses() {
                return this.$store.getters['user/accruedBonuses']
            },
            chargedBonuses() {
                return this.$store.getters['user/chargedBonuses']
            },
            deactivatedBonuses() {
                return this.$store.getters['user/deactivatedBonuses']
            },
            bonusesEvent() {
                return this.$store.getters['user/bonusesEvent']
            }
        },
        mounted() {
            this.fetchingBonuses()
        }
    }
</script>
