<template>
    <div class="m-table-item">
        <div class="m-table-row">
            <div class="m-table-col col-2 head">Сумма</div>
            <div class="m-table-col col-2">{{item.amount}}</div>
        </div>
        <div class="m-table-row">
            <div class="m-table-col col-2 head">Дата</div>
            <div class="m-table-col col-2">{{item.applied_at}}</div>
        </div>
        <div class="m-table-row">
            <div class="m-table-col col-2 head">Сгорят</div>
            <div class="m-table-col col-2">{{item.expired_at}}</div>
        </div>
        <div class="m-table-row separator row-head">
            <div class="m-table-col head">Описание</div>
        </div>
        <div class="m-table-row">
            <div class="m-table-col">{{item.description}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MsEventMobile",
        props: ['item']
    }
</script>

<style scoped>

</style>