<template>
    <tr>
        <td>+{{item.amount}}</td>
        <td>{{item.applied_at}}</td>
        <td>{{item.expired_at}}</td>
        <td>{{item.description}}</td>
    </tr>
</template>

<script>
    export default {
        name: "MsEvent",
        props: ['item']
    }
</script>
