<div class="message-form">
    <h3 class="text-center form-title">Новое сообщение</h3>
    <form class="js-add_message_form">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <div class="field-richeditor size-large" data-control="richeditor">
                        <textarea name="text" placeholder="Введите текст сообщения"></textarea>
                        <div class="height-indicator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Дата создания:</label>
                            <div class="field-datepicker" data-control="datepicker">

                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Date -->
                                        <div class="input-with-icon right-align">
                                            <i class="icon icon-calendar-o"></i>
                                            <input
                                                    type="text"
                                                    class="form-control align-right"
                                                    autocomplete="off"
                                                    data-datepicker />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Time -->
                                        <div class="input-with-icon right-align">
                                            <i class="icon icon-clock-o"></i>
                                            <input
                                                    type="text"
                                                    class="form-control align-right"
                                                    autocomplete="off"
                                                    data-timepicker />
                                        </div>
                                    </div>
                                </div>

                                <!-- Data locker -->
                                <input
                                        type="hidden"
                                        class="js-datetime"
                                        name="datetime"
                                        value=""
                                        data-datetime-value
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group dropdown-field">
                            <label>Отправитель</label>

                            <!-- Dropdown -->
                            <select name="direction" class="form-control custom-select">
                                <option value="1">Клиент</option>
                                <option selected="selected" value="2">Администратор</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </div>
    </form>
</div>