<?php
    use LuckyWeb\MS\Models\ReviewMessage;
?>
<?php if(count($messages)): ?>
    <div class="message-list">
        <?php foreach($messages as $message):?>
        <div class="row js-message message" data-id="<?php echo $message->id; ?>">
            <div class="col-sm-6 <?php echo $this->getMessageClass($message->direction); ?>">
                <div class="row title">
                    <div class="col-xs-12">
                        <?php echo $this->getMessageTitle($message);?>
                    </div>
                </div>
                <div class="row message-tools-holder">
                    <div class="col-xs-6 text-left">
                        <div class="js-loading_indicator loading-indicator-container" style="display: none">
                            <div class="loading-indicator size-small">
                                <span></span>
                                <div>Сохранение...</div>
                            </div>
                        </div>
                        <div class="js-loading_success loading_message success" style="display: none">
                            <span class="icon-check"></span>
                            <div>Сообщение сохранено</div>
                        </div>
                        <div class="js-loading_error loading_message error" style="display: none">
                            <span class="icon-times"></span>
                            <div>Ошибка сохранения</div>
                        </div>
                    </div>
                    <div class="col-xs-6 message-tools">
                        <button type="button" class="btn btn-xs btn-primary js-save">Сохранить</button>
                        <button type="button" class="btn btn-xs btn-default"
                                data-request="<?php echo $this->getEventHandler('onDeleteMessage') ?>"
                                data-request-confirm="Удалить сообщение?"
                                data-request-data="id: <?php echo $message->id; ?>"
                                data-request-complete="MessageHistory.handleDeleteRequestComplete(this, data.responseJSON)">
                            Удалить
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field-richeditor" data-control="richeditor">
                        <textarea class="js-message_text message-text"><?php echo $message->text; ?></textarea>
                        <div class="height-indicator"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="field-datepicker" data-control="datepicker">

                        <div class="row">
                            <div class="col-md-2">
                                Дата создания:
                            </div>
                            <div class="col-md-5">
                                <!-- Date -->
                                <div class="input-with-icon right-align">
                                    <i class="icon icon-calendar-o"></i>
                                    <input
                                            type="text"
                                            class="form-control align-right"
                                            autocomplete="off"
                                            data-datepicker />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <!-- Time -->
                                <div class="input-with-icon right-align">
                                    <i class="icon icon-clock-o"></i>
                                    <input
                                            type="text"
                                            class="form-control align-right"
                                            autocomplete="off"
                                            data-timepicker />
                                </div>
                            </div>
                        </div>

                        <!-- Data locker -->
                        <input
                                type="hidden"
                                class="js-datetime"
                                value="<?php echo $message->created_at->toDateTimeString(); ?>"
                                data-datetime-value
                        />
                    </div>
                </div>
            </div>
        </div>
        <?php if($message->is_publication):?>
            <div class="row publication-block">
                <div class="publication-line"><span class="publication-text">Опубликовано</span></div>
            </div>
        <?php endif;?>
        <?php endforeach;?>
    </div>
<?php else: ?>
    <h3 class="text-center message-title">Список сообщений пуст</h3>
<?php endif; ?>