.together_item_modal .modal-dialog {
    position: absolute;
    bottom: 0;
    z-index: 10040;
}

.together_item_modal .modal-dialog .modal-content{
    padding: 20px 0 0 0;
}

@media screen and (min-width: 768px) {
    .together_item_modal .modal-dialog {
        width: 140vh;
        left: calc(50% - 70vh);
    }
}

@media all and (max-width: 991px) {
    .together_item_modal .order-button {
        margin: 0 0 0 auto;
    }
}

.js-together_item_modal .modal-dialog .js-offer-modal {
    cursor: pointer;
}
