<div class="complete-sets">

    <div class="complete-sets-title">{{ product.getColorTitle() }}:</div>

    <div class="select-1 js-select">

        <div class="select-inner">

            <div class="selected">
                <div class="img">
                    <img src="{{ product.preview_mobile_image.url_preview }}" alt="{{ item.subname }}">
                </div>
                <div class="text">{{ product.subname }} {{ product.variant_of_design ? '('~product.variant_of_design~')' : '' }}</div>
            </div>

            <div class="dropdown-list">
                {% for item in colorProducts %}
                    {% if(item.id != product.id) %}
                        <div class="dropdown-list-item">
                            <a href="{{ item.url }}">
                                <div class="img">
                                    <img src="{{ item.preview_mobile_image.url_preview }}" alt="{{ item.subname }}">
                                </div>
                                <div class="text">{{ item.subname }} {{ item.variant_of_design ? '('~item.variant_of_design~')' : '' }}</div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>