{% if product.category_id != 1 %}
    <div class="buy-info-params">

        {% set colorGroupProducts = product.getColorGroupedProducts() %}
        {% set colorProduct = product.color_id %}

        <div class="params">
            <div class="params-title">Цвет:</div>
            <div class="params-items">
                {% for color, items in colorGroupProducts %}
                    <div class="params-item">
                        <div class="params-item-content
                            {{ color == colorProduct ? 'active': '' }}">
                            <a href="{{items[0].url}}">
                                <img src="{{items[0].detail_images[0].getSource()}}" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#
        {% if colorGroupProducts[colorProduct] and colorGroupProducts[colorProduct][0].description1|trim %}
        {% if colorGroupProducts[colorProduct]|length > 1 %}
            <div class="params">
                <div class="params-title">Размер:</div>
                <div class="params-items">
                    {% for item in colorGroupProducts[colorProduct] %}

                        <div class="params-item">
                            <!--<a href="{{item.url}}">-->
                            <a href="{{item.url}}" class="params-item-content
                            {{ item.description1 == product.description1 ? 'active': '' }}">
                                {{ item.description1 }}</a>
                            <!--</a>-->
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% endif %}
        #}
    </div>
{% endif %}
