<div class="video-wrapper">
    <div class="video" style="background: url({{ video.getVideoPreviewSrc() }});">
        <a href="{{ video.getVideoShortUrl() }}" rel="nofollow" target="_blank" class="js-popup_video_button"
           data-url='{{ video.getVideoShortUrl() }}'
           data-title='{{ promotion.video_title }}'>
            <i class="fa fa-youtube-play" title="{{ promotion.video_title }}"></i>
        </a>
    </div>
</div>

<!--<a href="#" class="js-promo_video promo-video-button"
   data-request="{{ __SELF__ }}::onModalShow"
   data-request-success="$('.js-promo_video_modal').modal('show');">
    <img src="{{ 'assets/images/promo-video-button2.png'|theme }}">
</a>-->

<!-- Modal -->
<!--<div class="modal fade video-modal js-promo_video_modal js-video_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
-->
