<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ promotion.video_title }}</h4>
</div>
<div class="youtube-wrapper">
    <iframe src="{{ promotion.getMonthlyYoutbeVideo().getVideoEmbedUrl(true) }}" frameborder="0" allowfullscreen></iframe>
</div>