<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="gridSystemModalLabel">Поздравляем!</h4>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <p>
                Вам будет начислено <b>{{ __SELF__.data.amount|int }}</b> бонусных рублей на покупку товаров в сети Мебель Шара в течении дня.
            </p>
            <p>
                Бонусы действительны до: {{ __SELF__.data.expired_at|date('d.m.Y') }}
            </p>
            {% if __SELF__.data.bonus_share_link %}
                <p>
                    <a href="{{ __SELF__.data.bonus_share_link }}">Условия бонусной программы</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary center-block" data-dismiss="modal">Закрыть</button>
</div>
