<h2 class="m-b-20 text-left">Мои заказы</h2>

{% if __SELF__.orders.count() > 0 %}
    <ul class="order-list js-order_list">
        {% for order in __SELF__.orders %}
            <li class="js-order">
                <div class="row">
                    <div class="col-sm-5 col-md-5 text-left m-b-5">
                        <a href="#" class="js-expand_button expand-button" data-id="1"><i class="fa fa-chevron-down icon"></i> Детали заказа № {{ order.agreement_number }}</a>
                        <div class="place">{{ order.extended.purchase_place }}</div>
                    </div>
                    <div class="col-sm-7 col-md-7 text-right xs-left">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                {{ __SELF__.getLocalizedDate(order.agreement_date) }}
                            </div>
                            <div class="col-sm-6 text-right xs-left">
                                <a href="#" class="expand-button js-expand_button" data-id="1,2">{{ __SELF__.getProductsString(order) }} <i class="fa fa-rub font15"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-left status-title m-t-5">
                        Статус заказа
                    </div>
                    <div class="col-sm-8 text-right xs-left m-t-5">
                        {% if order.status_id in [10,11,13] %}
                            <div class="status-value">{{ __SELF__.getStatusTitle(order.status_id, order) }}</div>
                        {% else %}
                            {% partial __SELF__ ~ '::status' statusId=order.status_id %}
                        {% endif %}
                    </div>
                </div>
                {% partial __SELF__ ~ '::info' order=order %}
            </li>
        {% endfor %}
    </ul>

    {% partial __SELF__ ~ "::pagination" items=__SELF__.orders %}
{% else %}
    <p class="font18">Список заказов пуст</p>
{% endif %}