<div class="info js-expand_block expand-block m-t-10" data-id="1">
    {% if order.status_id == 33 %}
        <div class="row">
            <div class="col-xs-6 text-left">
                Готов к отгрузке
            </div>
            <div class="col-xs-6 text-right font18 text-danger">
                ожидает оплату
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                Доплату произвести до
            </div>
            <div class="col-xs-6 text-right font18 text-danger">
                {{ order.status_updated_at.addDays(7)|date('d.m.Y') }}
            </div>
        </div>
    {% endif %}
    {% if order.status_id == 1 or order.status_id == 4 %}
        <div class="row">
            <div class="col-xs-6 text-left">
                Ожидаемая дата готовности к отгрузке
            </div>
            <div class="col-xs-6 text-right font18">
                {{ order.delivery_date|date('d.m.Y') }}
            </div>
        </div>
    {% endif %}
    {% if order.status_id == 12 %}
        <div class="row">
            <div class="col-xs-12 text-left">
                {{ 'Принят покупателем '~(order.status_updated_at|date('d.m.Y')) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-6 text-left">
            Стоимость товаров
        </div>
        <div class="col-xs-6 text-right font18">
            {{ order.product_amount|money }} <i class="fa fa-rub font15"></i>
        </div>
    </div>
    {% if order.delivery_amount != 0 %}
        <div class="row">
            <div class="col-xs-6 text-left">
                Стоимость доставки
            </div>
            <div class="col-xs-6 text-right font18">
                {{ order.delivery_amount|money }} <i class="fa fa-rub font15"></i>
            </div>
        </div>
    {% endif %}
    {% if order.service_amount != 0 %}
        <div class="row">
            <div class="col-xs-6 text-left">
                Стоимость сборки
            </div>
            <div class="col-xs-6 text-right font18">
                {{ order.service_amount|money }} <i class="fa fa-rub font15"></i>
            </div>
        </div>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-xs-6 text-left font18">
            <b>Итого по заказу</b>
        </div>
        <div class="col-xs-6 text-right font18">
            <b>{{ order.total_amount|money }} <i class="fa fa-rub font15"></i></b>
        </div>
    </div>
    {% if order.total_debt != 0 %}
        <div class="row">
            <div class="col-xs-6 text-left">
                Сумма предоплаты
            </div>
            <div class="col-xs-6 text-right font18 text-muted">
                {{ order.total_paid|money }} <i class="fa fa-rub font15"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                Требуемая доплата
            </div>
            <div class="col-xs-6 text-right font18 {% if order.status_id == 33 %} text-danger {% endif %}">
                <b>{{ order.total_debt|money }} <i class="fa fa-rub font15"></i></b>
            </div>
        </div>
    {% endif %}

    <div class="m-t-10 text-left">
        <a href="#" class="expand-button js-expand_button" data-id="2"><i class="fa fa-chevron-down font12 icon"></i> Детали по товарам</a>
    </div>
    {% partial __SELF__ ~ '::products' order=order %}
</div>