{% if items.lastPage() > 1 %}
    <nav class="text-right">
        <ul class="pagination">
            {% if items.currentPage() > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ page: (items.currentPage()-1) }) }}" aria-label="Previous"><span aria-hidden="true">« Предыдущая</span></a></li>
            {% else %}
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">« Предыдущая</span></a></li>
            {% endif %}


            {% if items.currentPage() > 3 and items.lastPage() > 5 %}
                <li><a href="{{ this.page.baseFileName|page({ page: 1 }) }}">1</a></li>
            {% endif %}
            {% if items.currentPage() > 4 %}
                <li><span>...</span></li>
            {% endif %}

            {% for page in __SELF__.getPaginationRangeFirst(items)..__SELF__.getPaginationRangeLast(items) %}
                {% if items.currentPage() == page %}
                    <li class="active"><span>{{ page }}</span></li>
                {% else %}
                    <li><a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if items.currentPage() < (items.lastPage()-3) %}
                <li><span>...</span></li>
            {% endif %}
            {% if items.currentPage() < (items.lastPage()-2) and items.lastPage() > 5 %}
                <li><a href="{{ this.page.baseFileName|page({ page: items.lastPage() }) }}">{{ items.lastPage() }}</a></li>
            {% endif %}

            {% if items.lastPage() > items.currentPage() %}
                <li><a href="{{ this.page.baseFileName|page({ page: (items.currentPage()+1) }) }}" aria-label="Next"><span aria-hidden="true">Следующая »</span></a></li>
            {% else %}
                <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">Следующая »</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
