<ul class="products-list js-expand_block expand-block m-t-10" data-id="2">
    {% for item in order.getItemsSorted() %}
        <li class="row">
            <div class="col-sm-2 image">
                <img src="{{ ('assets/images/account/product-images/'~__SELF__.getProductImageName(item)~'.png?1')|theme }}">
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-left xs-center m-b-10">
                        <div>{{ item.name }}</div>
                        <div class="text-muted font14">{{ item.color }}</div>
                    </div>
                    <div class="col-md-3 col-sm-6 xs-center m-b-5">
                        {{ __SELF__.getStatusTitle(item.status_id) }}
                    </div>
                    <div class="col-md-5 col-sm-12 text-right xs-center">
                        {% partial __SELF__ ~ '::status' statusId=item.status_id %}
                    </div>
                </div>
                <div class="row m-t-15 m-b-0">
                    <div class="col-md-7 col-xs-5 text-left">
                        <div class="font18 xs-font-16"><b>{{ item.amount|money }} <i class="fa fa-rub font15"></i></b></div>
                    </div>
                    <div class="col-md-5 col-xs-7 text-right">
                        <div class="row">
                            <div class="col-sm-5 col-xs-5">
                                <div class="font18 xs-font-16"><b>{{ item.quantity|money }} шт.</b></div>
                            </div>
                            <div class="col-sm-7 col-xs-7">
                                <div class="font18 xs-font-16"><b>{{ (item.amount*item.quantity)|money }} <i class="fa fa-rub font15"></i></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>