<ul class="status-list">
    {% for status in __SELF__.prepareStatusArray(statusId) %}
        {% if status.active %}
        <li class="active">
            <a href="#" onclick="return false;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="{{ status.description }}">
                <img src="{{ ('assets/images/account/order-statuses/'~status.icon~'_active.png')|theme }}" alt="{{ status.name }}">
            </a>
        </li>
        {% else %}
            <li>
                <img src="{{ ('assets/images/account/order-statuses/'~status.icon~'.png')|theme }}" alt="{{ status.name }}">
            </li>
        {% endif %}
    {% endfor %}
</ul>