.grid-carousel
  border-top 1px solid #ebebeb
  position relative

  &::after
  &::before
    content ''
    position absolute
    top -1px
    bottom -1px
    z-index 2
    width 96px

  &::before
    left 0
    background linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%)

  &::after
    right 0
    background linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%)


  .swiper-container
    z-index auto
    padding-bottom 13px

    .swiper-button-prev
      transform rotate(180deg)
      left 0

    .swiper-button-next
      right 0

    .product-grid-wrap
      flex-wrap nowrap

      .product-grid-item
        padding 0
        width 186px
        min-width 1px
        height auto
        border-right 1px solid #ebebeb

        &-inner
          box-shadow none !important
          position relative

          .product-discount
            top 20px
            right 24px

            &.accent
              background-color #ff5021
              color #fff

          .img-container
            max-height 100px

  @import "_media.styl"