@media (max-width 991px)

  .services-header
    padding-bottom gutter

    .title
      width 100%

@media (max-width 767px)

  &
    margin-left 0

  .services-nav
    display none

  .services-content-wrap

    .services-content
      margin 0 16px