.services-container
  margin-left navigation-collapsed-width
  display flex

  .services-nav
    width 252px
    min-width 252px
    padding-top 16px

    .services-nav-title
      @extend .head-text-4
      font-weight bold
      margin 10px gutter

    .nav-list
      position sticky
      top 15px
      padding-left 0

      & > li
        padding 0 24px
        border-left 2px solid transparent
        list-style none

        &:hover

          a
            color accent-color

        &.selected
          border-color accent-color

          a
            color accent-color

        a
          font second-font
          color primary-black
          line-height 36px
          transition .3s

  .services-content-wrap
    flex 1
    min-height calc(100vh - 76px) // 101px - hrader height (to do)

    .services-content
      min-height 100vh
      flex 1

    .services-header
      display flex
      justify-content space-between
      align-items center
      flex-wrap wrap

      .title
        margin 14px 0

  @import "_media.styl"

  @import "_vacancies/vacancies.styl"
  @import "_addresses/addresses.styl"
  @import "_reviews/reviews.styl"