.thanks

  .thanks-wrap
    display flex
    flex-wrap wrap
    border 1px solid light-grey
    border-radius 4px
    padding 64px
    margin-top 84px

    .thanks-info
      flex 1

      &-text
        line-height 24px

      &-footnote
        margin-top 100px
        padding-top 16px
        border-top 1px solid light-grey
        font second-font
        color primary-grey

      &-payment
        max-width 173px
        margin-top 12px

    .thanks-banner
      display flex
      justify-content flex-end
      align-items flex-start

      img
        max-width 387px

  .thanks-social
    margin 40px
    text-align center

  @import "_media.styl"
