@media (max-width 767px)

  .product-list

    .product

      .product-status-wrap
        display none

@media (max-width 579px)

  .product-list

    .product
      flex-wrap wrap

      .product-total
        flex 100%

@media (max-width 413px)

  .product-list

    .product
      flex-direction column

      .product-total
        width 100%
        margin-top 24px