.together-cheaper-modal
  width 824px

  .product-list
    max-height 65vh
    overflow-y auto
    @extend .modern-scroll
    padding-right 4px

    .product
      display flex
      padding 16px 16px 16px 0
      border-bottom border = 1px solid light-grey

      &:first-child
        border-top border
        margin-top 8px

      > div:not(.product-image):not(.product-total)
        flex 1

      .product-image
        width 172px
        height 124px
        margin-right 40px

        img
          border-radius 4px

        a
          display inline-block

      .product-info

        &-name

          a
            font base-font
            color primary-black

        &-category

          a
            font second-font
            color primary-grey

        &-price
          margin-top 15px
          @extend .head-text-3
          font-weight bold

      .product-status-wrap

        .product-status
          display inline-block
          height 20px
          padding 0 8px
          border-radius 11.5px
          line-height 20px
          background-color accent-color
          opacity .64
          color #fff
          font-size 12px
          white-space nowrap

      .product-total
        width 160px
        font second-font

        .discount
          background-color light-yellow
          padding 12px 22px
          margin-bottom 8px
          border-radius 4px

          .discount-value
            @extend .head-text-2
            font-weight bold

            &.price-rub

              &::after
                font-size 16px

        button
          width 100%

  @import "_media.styl"
