@media (max-width 1365px)

  .order-detail

    .order-detail-total
      flex-direction column

      .shop
        margin-bottom 24px

    .products-list

      .products-list-item
        flex-direction column

        .product

          .product-description
            padding-right gutter
            padding-left gutter

        .product-status
          margin-top gutter