.history-list

  .expand-block

    &.active

      .expand-block-content
        max-height 2000px // to do
        //overflow-y auto

    .expand-block-header
      justify-content space-between
      padding-right gutter

      &
      & > div
        display flex
        flex-wrap wrap
        align-items center

      .order-detail-title
        margin 0 gutter 0 0

      .order-detail-date
        color primary-grey



    .expand-block-content-inner
      padding 0

  .order-detail

    &:first-child
      border-top 1px solid light-grey

    .waiting-surcharge
      display flex
      background-color #f2f2f2
      padding gutter
      border-left 2px solid base-orange

      .pay
        flex 1

      .waiting-surcharge-title
        color base-orange
        font-weight bold

      .prices
        width 270px
        padding-left gutter

        .price
          display flex
          justify-content space-between
          margin-bottom 12px

          &:last-child
            margin-bottom 0

          & > :nth-child(2)
            white-space nowrap
            padding-left gutter
            @extend .head-text-4

    .order-detail-total
      display flex
      padding 36px 0

      .shop
        flex 1
        display flex
        align-items flex-end

      .prices
        width 294px
        border-left 2px solid #000

        .price
          margin-bottom 12px
          display flex
          justify-content space-between
          padding-left gutter

          &:last-child
            margin-bottom 0

          & > :nth-child(2)
            white-space nowrap
            padding-left gutter
            @extend .head-text-4

          &.total
            font-weight bold
            @extend .head-text-4

            .price-rub::after
              font second-font
              font-weight bold

    .products-list

      .products-list-item
        display flex
        padding 16px 0
        border-top 1px solid light-grey

        .product
          flex 1
          display flex

          .product-img
            width 95px
            height 75px

          .product-description
            flex 1
            padding 0 40px

            .category
              font second-font
              color primary-grey
              margin 6px 0 24px

            .prices
              display flex
              justify-content space-between
              margin-top gutter

              .product-price
                @extend .head-text-4

              .product-count
                font second-font

        .product-status
          width 294px
          font second-font
          padding 0 gutter

          .status-title
            font-weight bold
            margin-bottom 12px

          .status-val
            background-color accent-color
            padding 6px
            border-radius 4px
            display inline-block
            font-size 13px
            line-height 14px
            color #fff
            font-weight bold
            margin-bottom 12px
            opacity .64

            &.canceled
              background-color base-orange

          .status-description
            color primary-grey

  @import "_media.styl"