<div class="modal fade js-credit-modal" id="credit_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close-outer rotate-close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Введите данные</h4>
            </div>

            <form>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Имя<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" name="name" placeholder="">
                                    <div class="error-block text-danger"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Фамилия<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" name="second_name" placeholder="">
                                    <div class="error-block text-danger"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Отчество<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" name="last_name" placeholder="">
                                    <div class="error-block text-danger"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Серия и номер паспорта<span
                                        class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" name="passport" placeholder="">
                                    <div class="error-block text-danger"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Номер телефона<span
                                        class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" name="phone" placeholder="">
                                    <div class="error-block text-danger"></div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="privacy" name="privacy">
                                        <label for="privacy"><span>Ставя отметку, я подтверждаю согласие на
                                            <a target="_blank" href="/storage/app/media/documents/personal_data.pdf?1">обработку моих персональных данных</a>
                                            в соответствии с
                                            <a target="_blank" href="/storage/app/media/documents/privacy_policy.pdf">политикой конфиденциальности</a>
                                        </span><span
                                            class="text-danger"> *</span></label>
                                        <div class="error-block  text-danger"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="footer-wrap">
                        <div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                        <div>
                            <button type="submit" class="btn ms-button-green">Отправить заявку</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
