.timer-container
  height 44px
  background-color base-green
  display flex
  justify-content space-between
  align-items center
  padding 0 24px
  color #fff

  &.cart-timer
    height 88px
    margin 0 -34px

  &.head-timer

    .countdown

      .time

        & > :nth-child(2)
          font-size 8px
          line-height 10px

  img
    max-height 100%

  .timer-text
    transform translateY(4px)
    flex 1
    margin-right 16px

    span
      text-transform uppercase

  .countdown
    margin-right 24px


  button
    height 34px
    padding 0 16px

  @import "_media.styl"