<template>

    <aside class="sidebar">

        <div class="sidebar-item">

            <div class="bonuses">
                <div>Номер карты</div>
                <div class="card-code">{{cardCode}}</div>
                <div class="bonuses-info">
                    <div>Бонусов на карте:</div>
                    <div><span class="price-rub">{{activatedBonuses}}</span></div>
                </div>
                <div class="bonuses-info">
                    <div>Сгорают:</div>
                    <div><span class="price-rub">0</span></div>
                </div>
            </div>

        </div>

        <nav class="sidebar-item">

            <ul class="account-nav">
                <li v-for="(link, index) in links" :key="index" :class="{active: nameLink === link.href}">
                    <a :href="link.href" class="ln-black">
                        <div :style="`background-image: url(/public/static/icons/${ link.icon }.svg)`" class="img"></div>
                        <span>{{link.title}}</span>
                    </a>
                </li>
                <li>
                    <a @click="prodBoard" class="ln-black">
                        <div style="background-image: url('/public/static/icons/constructor.svg')" class="img"></div>
                        <span>Проект кухонь</span>
                    </a>
                </li>
            </ul>

        </nav>

    </aside>

</template>

<script>
    import debounce from 'lodash/debounce'
    export default {
        name: "MsAside",
        data() {
            return {
                nameLink: null,
                links: [
                    {
                        href: "/account-orders",
                        title: "История заказов",
                        icon: "history"
                    },
                    {
                        href: "/account",
                        title: "Личные данные",
                        icon: "personal"
                    },
                    {
                        href: "/account-bonuses",
                        title: "Бонусный счет",
                        icon: 'bonus'
                    },
                    {
                        href: "/account-promo-codes",
                        title: "Мои промокоды",
                        icon: 'promocode'
                    }
                ]
            }
        },
        methods: {
            prodBoard: debounce(function () {
                this.$bus.$emit('cart.prodBoard')
            }, 300)
        },
        computed: {
            cardCode() {
                return this.$store.getters['user/cardCode']
            },
            activatedBonuses() {
                return this.$store.getters['user/activatedBonuses']
            }
        },
        mounted() {
            this.nameLink = location.pathname
        }
    }
</script>
