.reviews

  .sorting
    display flex
    margin-bottom 24px

    .label
      margin-right 12px
      display inline-block

    .select

      .dropdown-list-item
        padding 0

  .review-list-item
    display flex
    border-bottom 1px solid light-grey
    padding gutter 0

    &:first-child
      border-top 1px solid light-grey

    .left-coll
      margin-right gutter

      .review-img
        justify-content center
        align-items center
        width 112px
        height 77px

    .right-coll
      flex 1

      .review-title
        font-weight bold
        margin-bottom 8px

      .review-info
        color primary-grey
        margin-bottom 12px

      .review-text
        line-height 24px
        margin-bottom 30px

      .review-vote
        display flex
        justify-content flex-end

  @import "_media.styl"