<template>
    <vu-modal class="youtube-modal">
        <span slot="header">
            {{ title }}
        </span>

        <youtube :video-id="code" :resize="true"></youtube>
    </vu-modal>
</template>

<script>
    import { Youtube } from 'vue-youtube'

    export default {
        name: "MsYoutubeModal",

        props: ['code', 'title'],

        components: {
            Youtube
        },
    }
</script>
