{% for event in bonusEvents %}
    <div class="row">
        <div class="col-sm-2 amount">
            <span class="bonus {{ __SELF__.getBonusEventTypeClass(event.type_id) }}">{{ __SELF__.formatEventAmount(event) }}</span>
        </div>
        <div class="col-sm-8 description">
            {{ event.description }}
        </div>
        <div class="col-sm-2 date">
            {{ event.applied_at|date('d.m.Y') }}
        </div>
    </div>
{% endfor %}