<form class="form-horizontal bonuses-list-filter">
    <div class="form-group">
        <label class="col-sm-2 control-label">Показать:</label>
        <div class="col-sm-10 js-bonus_filter">
            <label class="radio-inline">
                <input type="radio" name="filter" checked="checked" value="0"> Все
            </label>
            <label class="radio-inline">
                <input type="radio" name="filter" value="1"> Начисление
            </label>
            <label class="radio-inline">
                <input type="radio" name="filter" value="2"> Активация
            </label>
            <label class="radio-inline">
                <input type="radio" name="filter" value="3"> Использование
            </label>
            <label class="radio-inline">
                <input type="radio" name="filter" value="4"> Сгорело
            </label>
        </div>
    </div>
</form>

<div class="bonuses-list-header">
    <div class="row">
        <div class="col-sm-2 col-xs-4">
            Сумма
        </div>
        <div class="col-sm-8 col-xs-4">
            Описание
        </div>
        <div class="col-sm-2 col-xs-4">
            Дата
        </div>
    </div>
</div>

<div class="bonuses-list js-bonuses_list">
    {% partial __SELF__~"::bonuses" bonusEvents=__SELF__.bonusEvents %}
</div>
