<div class="row bonuses-panel">
    <div class="col-sm-3 col-xs-6 block accrued">
        <div class="title">Начислено {% partial __SELF__~"::tooltip" title="Начислено бонусов" content="Сумма начисленных бонусов, бонусы станут активными после получения вами товара" %}</div>
        <div class="value">{{ user.extended.bonuses.accrued ? user.extended.bonuses.accrued : 0 }}</div>
    </div>
    <div class="col-sm-3 col-xs-6 block activated">
        <div class="title">Доступно {% partial __SELF__~"::tooltip" title="Доступно бонусов" content="Сумма доступных бонусов, которые Вы можете использовать при покупке товара" %}</div>
        <div class="value">{{ user.extended.bonuses.activated ? user.extended.bonuses.activated : 0 }}</div>
    </div>
    <div class="col-sm-3 col-xs-6 block charged">
        <div class="title">Использовано {% partial __SELF__~"::tooltip" title="Использовано бонусов" content="Общая сумма использованных вами бонусов за все время" %}</div>
        <div class="value">{{ user.extended.bonuses.charged ? user.extended.bonuses.charged : 0 }}</div>
    </div>
    <div class="col-sm-3 col-xs-6 block deactivated">
        <div class="title">Сгорело {% partial __SELF__~"::tooltip" title="Сгорело бонусов" content="Общая сумма бонусов, у которых, к сожалению, закончился срок действия" %}</div>
        <div class="value">{{ user.extended.bonuses.deactivated ? user.extended.bonuses.deactivated : 0 }}</div>
    </div>
</div>
