<div class="page-component-box" data-type="page-code">
    <p class="page-component-subtitle">HTML</p>
    <pre class="html_builder" style="width: 100%; padding: 10px; min-height: 200px; max-height: 350px; background-color: #fff;" contenteditable="true"></pre>
    <button name="show_code">Показать код</button>
    <button name="show_code_mobile">Показать код Mobile</button>
</div>