subject = "MebelShara | Подтверждения профиля"
layout = account
==

Здравствуйте!

Регистрация на сайте MebelShara почти завершена

Для активация профиля, пожалуйста, перейдите по следующей ссылке:
{{ link }}

==

<p>Здравствуйте!</p>

<p>Регистрация на сайте MebelShara почти завершена</p>

<p>
    Для активация профиля, пожалуйста, перейдите по следующей ссылке:<br />
    <a href="{{ link }}">{{ link }}</a>
</p>
