subject = "MebelShara | Активация промо кода"
layout = account
==

Здравствуйте!

Для активации промо кода перейдите по ссылке.

{{ url }}
==

<p>Здравствуйте!</p>

<p>Для активации промо кода перейдите по ссылке</p>

<p>{{ url }}</p>
