subject = "Регистрация нового пользователя в ProdBoard"
layout = "system"
==

Лид ProdBoard. Детали пользователя:

ID: {{ id }}
Имя: {{ name }}
Email: {{ email }}
Номер телефона: {{ phone }}

==

<p>Лид ProdBoard. Детали пользователя:</p>

<ul>
    <li>ID: {{ id }}</li>
    <li>Name: {{ name }}</li>
    <li>Email: {{ email }}</li>
    <li>Номер телефона: {{ phone }}</li>
</ul>
