subject = "MebelShara | Восставновление пароля"
layout = account
==

Здравствуйте!

Поступил запросу на сброс пароля для Вашего аккаунта. Если это сделали не Вы - просто проигнорируйте это письмо.

Чтобы сбросить пароль, введите этот код в соответствующее поле в форме сброса пароля:
{{ code }}


Чтобы сбросить пароль, перейдите по следующей ссылке:
{{ link }}
==

<p>Здравствуйте!</p>

<p>Поступил запросу на сброс пароля для Вашего аккаунта. Если это сделали не Вы - просто проигнорируйте это письмо.</p>

<p>
    Чтобы сбросить пароль, введите этот код в соответствующее поле в форме сброса пароля:<br />
    {{ code }}
</p>

<p>
    Чтобы сбросить пароль, перейдите по следующей ссылке:<br />
    <a href="{{ link }}">{{ link }}</a>
</p>