subject = "Оформлена заявка в ProdBoard"
layout = "system"
==

Оформлен заказ ProdBoard.

Информация про пользователя:
Имя: {{ account.name }}
Email: {{ account.email }}
Номер телефона: {{ account.phone }}

Номер проекта: {{ number }}

Ссылка на проект: <a href="{{ url }}">{{ url }}</a>

==

<p>Оформлен заказ ProdBoard.</p>
<p>Информация про пользователя:</p>
<ul>
    <li>Имя: {{ account.name }}</li>
    <li>Email: {{ account.email }}</li>
    <li>Номер телефона: {{ account.phone }}</li>
</ul>

Номер проекта: {{ number }}

Ссылка на проект: <a href="{{ url }}">{{ url }}</a>
