subject = "MebelShara | Регистрация успешно завершена"
layout = account
==

Здравствуйте!

Регистрация на сайте MebelShara успешно завершена.

Номер Бонусной карты: {{ card_code }}
ПИН-код: {{ card_pin }}
==

<p>Здравствуйте!</p>

<p>Регистрация на сайте MebelShara успешно завершена.</p>

<p>Номер Бонусной карты: {{ card_code }}</p>
<p>ПИН-код: {{ card_pin }}</p>