<template>
    <div class="promo-code-wrap">

        <div class="promo-code-banner">
            <img src="" alt="Активация промокода">
        </div>

        <div class="promo-code">
            <h1 class="promo-code-title">Активация промокода</h1>

            <div>При регистрации Личного Кабинета, просим Вас указывать реальные данные</div>

            <div class="code">{{ model }}</div>

            <div class="f-group-2" :class="{ error: errors.has('code') }">
                <div class="error-message" v-if="errors.has('code')">{{ errors.first('code') }}</div>
            </div>

            <div class="promo-agreement">Нажимая на кнопку, я подтверждаю согласие на <a href="/storage/app/media/documents/personal_data.pdf?1">обработку моих персональных данных</a> в соответствии с <a href="/storage/app/media/documents/privacy_policy.pdf">политикой конфиденциальности</a></div>

            <div>
                <button class="btn-1 prom-ocode-activation" @click="submit">Активировать промокод</button>
            </div>
        </div>
    </div>
</template>

<script>
    import get from 'lodash/get'

    export default {
        name: 'MsPromoCodeActivation',

        data: () => ({
            model: '',
            focus: false
        }),

        computed: {   isAuthenticated () {
                return this.$store.getters['user/isAuthenticated']
            },

            isActive () {
                return this.focus || this.model.length > 0
            }
        },

        methods: {
            async submit () {
                if (! await this.$validator.validateAll()) {
                    return
                }

                if (! this.isAuthenticated) {
                    this.$bus.$emit('auth.modal')

                    return
                }

                await this.activate(this.model)
            },

            async activate (code) {
                try {
                    const response = await this.$apiClient.$post('/account/promo-code', {
                        code
                    })

                    window.location.replace('/account-promo-codes')
                } catch ( e ) {
                    this.errors.add({
                        field: 'code',
                        msg: 'Не удалось активировать промокод.',
                    })
                }
            }
        },

        async created () {
            this.model = get(window.location.pathname.split('/'), '2', '')
        },

        mounted () {
            this.$store.commit('user/addAfterSuccessAuthCallback', async () => {
                await this.activate(this.model)

                return true
            })
        }
    }
</script>